{% extends path2+"/_layout.html" %}

{% block scoring_content %}




<h1 class="heading-large mt30 mb0">Make your recommendation</h1>

<div class="grid-row">
  <div class="column-two-thirds">

	<div class="exam-content">
	
		<table>
			
			<caption>Descriptors to review</caption>
			
			
			<tr class="complete">
				<th><a href="mobility">Moving around and climbing steps without someone’s help</a></th>
				<td><span class="red">0</span></td>
			</tr>
			<tr>
				<th><a href="#">Standing, sitting and moving between the two</a></th>
				<td><span>Not scored</span></td>
			</tr>
			<tr>
				<th><a href="#">Coping with changes to your daily routine</a></th>
				<td><span>Not scored</span></td>
			</tr>
			<tr>
				<th><a href="#">Meeting and being with people</a></th>
				<td><span>Not scored</span></td>
			</tr>

			
			<tr class="total-score">
				<th>Total score: </th>
				<td>0</td>
			</tr>
		<!--	<tr>
				<th><a href="#">Cardiac</a></th>
				<td><span>Not scored</span></td>
			</tr>
			<tr>
				<th><a href="#">Respiratory</a></th>
				<td><span>Not scored</span></td>
			</tr>
			<tr>
				<th><a href="#">Peripheral vascular</a></th>
				<td><span>Not scored</span></td>
			</tr>
			<tr>
				<th><a href="#">Vision, speech and hearing</a></th>
				<td><span>Not scored</span></td>
			</tr>
			<tr>
				<th><a href="#">Consciousness</a></th>
				<td><span>Not scored</span></td>
			</tr>
			<tr>
				<th><a href="#">Continence</a></th>
				<td><span>Not scored</span></td>
			</tr>
			<tr>
				<th><a href="#">Mental health</a></th>
				<td><span>Not scored</span></td>
			</tr> -->
			
		</table>
		
	</div>
	





<p class="mt30"><a href="other" class="button">Continue</a></p>

 <!-- <p class="mt30"><a href="report-view" class="button">View report</a></p> -->
  
  



{% endblock %}

