{% extends path2+"/_layout.html" %}

{% block scoring_content %}


<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

<h1 class="heading-large mt20 mb20">Make your recommendation</h1>


	  <form>
  
  	<fieldset>
					
	    <legend class="heading-medium mb20">
	       Choose the areas that you have considered relevant to Tomas:
	    </legend>
	    
	 
	    
	    <div class="multiple-choice">
	      <input id="des1" type="checkbox" name="des" value="">
	      <label for="des1">Moving around and climbing steps without someone’s help </label>
	    </div>

		<div class="multiple-choice">
	      <input id="des2" type="checkbox" name="des" value="">
	      <label for="des2">Standing, sitting and moving between the two</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des3" type="checkbox" name="des" value="">
	      <label for="des3">Reaching</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des4" type="checkbox" name="des" value="">
	      <label for="des4">Picking things up and moving them</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des5" type="checkbox" name="des" value="">
	      <label for="des5">Using your hands</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des6" type="checkbox" name="des" value="">
	      <label for="des6">Speaking, writing and typing</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des7" type="checkbox" name="des" value="">
	      <label for="des7">Hearing and reading</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des8" type="checkbox" name="des" value="">
	      <label for="des8">Seeing well enough to get around safely</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des9" type="checkbox" name="des" value="">
	      <label for="des9">Controlling your bowels and bladder</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des10" type="checkbox" name="des" value="">
	      <label for="des10">Staying conscious without fainting, seizures, or blackouts</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des11" type="checkbox" name="des" value="">
	      <label for="des11">Learning to do new tasks</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des12" type="checkbox" name="des" value="">
	      <label for="des12">Being aware of hazards and danger</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des13" type="checkbox" name="des" value="">
	      <label for="des13">Planning, starting and finishing everyday tasks</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des14" type="checkbox" name="des" value="">
	      <label for="des14">Coping with changes to your daily routine</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des15" type="checkbox" name="des" value="">
	      <label for="des15">Going out on your own</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des16" type="checkbox" name="des" value="">
	      <label for="des16">Meeting and being with people</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des17" type="checkbox" name="des" value="">
	      <label for="des17">Behaving appropriately around other people</label>
	    </div>
		  
	<div class="multiple-choice">
	      <input id="des17" type="checkbox" name="des" value="">
	      <label for="des17">Eating and drinking</label>
	    </div>


  </fieldset>
  
  </form>
	

  <p class="mt30"><a href="index-todo" class="button">Continue</a></p>





  <!--  <p class="mt30"><a href="/{{path2}}/record_phys_exam" class="button">Finish assessment</a></p> -->



{% endblock %}

