{% extends path2+"/_layout-review2.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}






<div class="grid-row">

 


  <div class="column-full">
  
  
<p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
  
  
  
  <h1 class="heading-large mt20"><span class="heading-secondary">Review</span>Social and work history</h1>
       <form class="form" id="add_ev">


      <div>
          <textarea id="nugget" class="form-control" name="nugget" style="width:90%;height:150px" placeholder="The statement would appear here ready to be edited"></textarea>
      </div><!-- form-group -->
      <div class="form-group mt20">
        <input class="button secondary" type="submit" value="Update statement" id="submitButton" style="position: absolute; left: -9999px;">
      </div><!-- form-group -->
      
      
      <p class="mt30"><a href="socialWorkHistoryEdit" class="button">Save</a></p>
    </form>
    
       
  </div><!-- column -->

</div><!-- row -->

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
$(document).on('ready',function()
{
  $('#nugget').focus();

  $("#nugget").keydown(function (event) {
    if ((event.keyCode == 13))

  });

  $('#submitButton').on('click',function(e)
  {
    e.preventDefault();
    // get values from the form you're submitting.
    var nugget = $('#nugget').val();
    console.log(nugget)

    // gather values into a data object.
    var formdata = JSON.stringify({"nugget":nugget});
    console.log(formdata)
    console.log({url: '/{{ path }}/saveText'})

    // send data object off to node route for saving.
    $.ajax({
      url: '/{{ path }}/saveText',
      method: "POST",
      contentType: 'application/json',
      data: formdata,
      dataType: 'json',
      complete:  function(data,status,xhr) {
        // sort out the page after data is successfully saved.
        // $('#status_form').hide();
        // $('#status_button').show();
        document.location.reload(true);
      }
    });
  });
});
</script>

{% endblock %}
