<div class="version">
  <div class="grid-row">

    {% set n = 5 %}


    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health assessment</h3>
      <p><a href="/fha/v2/" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">3.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0"> 5 November 2018</h3>
    </div>

    <div class="column-full">
      
      <p>Prototype for call centre</p>
      <h4 class="heading-small">Changes:</h4>
      <ul class="list-bullet">
        <li>Homepage serach instead of caselist view</li>
        <li>Advanced search</li>
        <li>Calendar picker in re-arrange appointment</li>
        <li>Cancel appointment (puts on hold for scutiny review)</li>
      </ul>
    </div>

  </div><!-- .row -->
  
  
  <div class="grid-row">
    <div class="column-two-thirds">
      
    </div>
  </div>

</div><!-- version -->
