{% extends path2+"/_layout-panel.html" %}

{% block scoring_content %}


<a href="javascript: history.go(-1)" class="link-back">Back</a>


  
  
  
  <div class="grid-row">
  
  
    <div class="column-two-thirds">
    
    <h1 class="heading-large mt20"><span class="heading-secondary">Step 2 of 2</span>Moving around and climbing steps without help</h1>

  {% include path2 + "/_mobility_score.html" %}




  </div>
  


  </div>


{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('#change_score').on('click',function(e)
    {
      e.preventDefault();
      console.log('got here')
      $('#been_scored').addClass('js-hidden');
      $('#rescore').removeClass('js-hidden');
    });

    // highlight the right left nav link.
    $($(".nav")[0]).children(":nth-child(1)").addClass('active')
  });
</script>

<script>
  $(".gp-report-show td span").click(function(){
  $(".content-hide").toggleClass("content-show");
  $(".gp-report-show").toggleClass("active-show");
});
</script>
<script>
  $(".esa50-show td span").click(function(){
  $(".content-hide3").toggleClass("content-show3");
  $(".esa50-show").toggleClass("active-show");
});
</script>
<script>
  $(".med3-show td span").click(function(){
  $(".content-hide2").toggleClass("content-show2");
  $(".med3-show").toggleClass("active-show");
});
</script>
{% endblock %}
