{% extends path+"/_layout-case-new-detail-bar.html" %}



   {% block citizen_detail %}
   Jurgen Covault
   {% endblock %}

   {% block citizen_content %}




   <div class="container">
     <div class="grid-row">
       <div class="column-three-quarters">
         <p class="returnRef"><a href="#" class="link-back">Return to case list</a></p>
   <br>
   </div>
   <div class="column-one-quarter">

         <aside class="app-related-items" role="complementary">

           <nav role="navigation" aria-labelledby="subsection-title">



               <h3 class="heading-small">Suggested case action</h3><a href="#" class="button">Issue UC50</a>

           </nav>
         </aside>
   </div>
   </div>

   <div class="grid-row">
     <div class="column-full">

    {# macro #}
  {{ nav.scenario_tabs("appointment",1,path1, customer._id) }}



</div>
</div>

<div class="grid-row">

  <div class="column-full">




<h1 class="heading-large mt10">Appointment</h1>



<!-------- Portal --------->

<div class="portal-display">



<!------ ROW START ------>
<div class="grid-row">

		  	<div class="column-third">

		  	<div class="portal-card">
				<div class="portal-head">
					<h3>Next available</h3>
				</div>
				<!-- / title -->

				<div class="portal-inner">

				<h4>Standard appointment</h4>
			      <ul class="list-bullet">
			          <li>Thursday 29th August 2019</li>
			          <li>10:30am</li>
			          <li>Tresco House</li>
			      </ul>


			      <p class="view-all"><a href="/{{path }}/scenario2/not-testing" class="button">Book this appointment</a></p>
				  <p><a href="/{{path }}/scenario2/not-testing" class="secondary-invert">Choose another date</a></p>


				</div>
				<!-- / inner card -->
			</div>
			<!-- / portal card -->


			<!--<hr>

			<div class="portal-card">
				<div class="portal-head">
					<h3>Booked</h3>
				</div>

				<div class="portal-inner">

				<h4>Standard appointment</h4>
			      <ul class="list-bullet">
			          <li>{{ 'Do MMMM YYYY' | baseDateAdd(8) }}</li>
			          <li>10:30am</li>
			          <li>Tresco House</li>
			      </ul>


			      <p class="view-all"><a href="/{{path }}/scenario2/not-testing" class="secondary-invert">Update appointment</a></p>
				  <p><a href="/{{path }}/scenario2/not-testing" class="secondary-invert">Record change of circumstances</a></p>


				</div>

			</div>
			<!-- / portal card -->




		  	</div>


		  	<div class="column-third">
		  		<!---------------------------------- Card ---------------------------------->

			<div class="portal-card">
				<div class="portal-head">
					<h3>Preferences</h3>
				</div>
				<!-- / title -->

				<div class="portal-inner">


				<h4>Unavailable on</h4>
				<ul class="list-bullet">
               	 <li>Monday <span>afternoons</span></li>
			   	 <li>Tuesdays</li>
                </ul>

            <p class="view-all"> <a href="/{{path }}/scenario2/not-testing" class="secondary-invert">Edit preferences</a></p>

				</div>
				<!-- / inner card -->
			<!-- / portal card -->
		  	</div>

		  	<!--<hr>

		  	<div class="portal-card">
				<div class="portal-head">
					<h3>Preferences</h3>
				</div>


				<div class="portal-inner">


            <p> <a href="/{{path }}/scenario2/not-testing" class="secondary-invert">Add preferences</a></p>

				</div>

		  	</div>
		  	<!-- / portal card -->

  	 </div>


  	 <div class="column-third">

  	 	<div class="portal-card">
				<div class="portal-head">
					<h3>History</h3>
				</div>
				<!-- / title -->

				<div class="portal-inner">

				<h4>Recent appointment events</h4>


					<ul class="action-list appointment-history-list">
						<li>
							<h5>Referred for appointment</h5>

						</li>
					</ul>



            <p> <a href="/{{path }}/scenario2/not-testing" class="secondary-invert">View all history</a></p>

				</div>
				<!-- / inner card -->
			<!-- / portal card -->
		  	</div>

  	 </div>




  </div>
  </div>
  </div>
  </div>

</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
