{% extends path+"/_layout-case-new-detail-bar.html" %}



{% block citizen_detail %}
Jurgen Covault
{% endblock %}

{% block citizen_content %}



<div class="container">
  <div class="grid-row">
    <div class="column-three-quarters">
      <p class="returnRef"><a href="#" class="link-back">Return to case list</a></p>
<br>
</div>
<div class="column-one-quarter">

      <aside class="app-related-items" role="complementary">

        <nav role="navigation" aria-labelledby="subsection-title">



            <h3 class="heading-small">Suggested case action</h3><a href="#" class="button">Issue UC50</a>

        </nav>
      </aside>
</div>
</div>

<div class="grid-row">
<div class="column-full">

    {# macro #}
  {{ nav.scenario_tabs("details-fme-full-width",1,path1, customer._id) }}


     <h1 class="heading-large">
    	Medical</h1>

</div>
</div>




  <div class="portal-display">



  	 <div class="grid-row">

		  	<div class="column-two-thirds">


          <div class="currentPrimary">



            <div class="pCon">
              <h2 class="heading-small">
                Current medical conditions
              </h2>

              <table>

                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Since</th>
                    <th>Source</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Other peripheral nerve injury
                      <!-- <span class="source">Source: Claimant</span> -->
                    </td>
                    <td>12 January 2020</td>
                    <td>GP</td>
                  </tr>

                </tbody>
              </table>

            </div>




          </div>










    				<p class="view-all"><a href="/{{path }}/scenario11/not-testing" class="button-secondary">Add or edit medical conditions</a></p>













      	 </div>


				<!-- / Focus panel -->




				</div>
				<!-- / inner card -->
			</div>
			<!-- / portal card -->











  </div>


  		  	</div>







    	 </div>


<!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
