{% extends path+"/_layout-case-new-detail-bar.html" %}

{% block actioncolumn %}

 <!-- <p class="returnRef"><a href="/{{path }}/scenario11/referrals-fme" class="link-back">Return to case list</a></p> -->

 <div class="caseStatus">
	  <h2 class="main-status"><span>Current case status</span>Ready for review</h2>


</div>

{% endblock %}

{% block citizen_detail %}
Harvey Chamberlain
{% endblock %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">






    <div class="column-full">


    <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>




    <h1 class="heading-large">Make your recommendation</h1>




       <div class="form-group">
 						<fieldset>

 									<div class="multiple-choice">
 											<input id="gpName" type="radio" name="personChoice" value="name-gp">
 											<label for="gpName">Request evidence</label>
                      <span class="form-hint mt5">Further evidence is required to make an accurate recommendation</span>
 										</div>

 										<div class="multiple-choice">
 											<input id="cName" type="radio" name="personChoice" value="name-consultant">
 											<label for="cName">Call for an assessment</label>
                      <span class="form-hint mt5">A relevant appointment needs to be scheduled</span>
 										</div>

                    <div class="multiple-choice">
 											<input id="cName" type="radio" name="personChoice" value="name-consultant">
 											<label for="cName">Outcome</label>
                      <span class="form-hint mt5">There is enough evidence to record an outcome</span>
 										</div>

 							</fieldset>
 						</div>


			      <p><a href="/{{path }}/scenario14c/evidence-step2" class="button">Continue</a></p>






  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
