{% extends path+"/scenario_03k/_layout-case-simple_claimant-portal.html" %}




{% block citizen_detail %}
Aaron Murray
{% endblock %}

{% block actioncolumn %}
<h2 class="main-status"><span>Current case status</span>Ready for review</h2>
{% endblock %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
    
    
    
    <h1 class="heading-large">Do you have enough evidence to make a recommendation?</h1>
    


    	 
  <div class="portal-display">	
  	
  	
  	
  	 <div class="grid-row">
  
		  	<div class="column-third">
		  	
		  
			
			<div class="portal-card">
				<div class="portal-head">
					<h3>No, request evidence</h3>
				</div>
			
				<div class="portal-inner">
				
				<p>We need more medical evidence to support Aaron's case</p>		      
			      
			      <p class="view-all"><a href="#" class="secondary-invert">Request evidence</a></p>

					
				</div>

			</div>
			<!-- / portal card -->
			
			
			
		  	
		  	</div>
		  	
		  	
		  	<div class="column-third">
		  		<!---------------------------------- Card ---------------------------------->
		
			<div class="portal-card">
				<div class="portal-head">
					<h3>No, call for an assessment</h3>
				</div>
				<!-- / title -->

				<div class="portal-inner">
				
				
				<p>Ask Aaron to come in for a face-to-face assessment</p>
              
            <p class="view-all"> <a href="#" class="secondary-invert">Call for assessment</a></p>
														
				</div>
				<!-- / inner card -->
			<!-- / portal card -->
		  	</div>
		  			  
  	 </div>
  	 
  	 
  	 <div class="column-third">
  	 
  	 	<div class="portal-card">
				<div class="portal-head">
					<h3>Yes, make a recommendation</h3>
				</div>
				<!-- / title -->

				<div class="portal-inner">
				
				<p>There is enough evidence to make a recommendation</p>
				
              
            <p> <a href="descriptorSelection" class="secondary-invert">File report</a></p>
														
				</div>
				<!-- / inner card -->
			<!-- / portal card -->
		  	</div>
  	 	
  	 </div>
    

 
    
  </div>

 
    
    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
