{% extends path1+"/_layout-index.html" %} 


{% block assess_content %}
<main id="content" role="main" class="main-content">

      <div class="container">
          <div class="grid-row">
              <div class="column-full">
  <a href="javascript: history.go(-1)" class="link-back">Back</a>  
   <h1 class="heading-large mt10"><span class="heading-secondary">Tresco house</span>Create capacity plan</h1>
   
   
   <div class="form-group">
					                <fieldset>
						                <legend class="heading-medium mb5">
						                Week commencing
						                </legend>
						                <span class="form-hint">For example, 31 3 1980</span>
							                <div class="form-date">
								                     
								                <div class="form-group form-group-month">
									                <label class="form-label" for="field-5">
									                Day 
									                </label>
									                <input class="form-control" id="field-5" name="newillnessday" type="number" pattern="[0-9]*" min="0" max="12">
								                </div>      
								                <div class="form-group form-group-month">
									                <label class="form-label" for="field-6">
									                Month 
									                </label>
									                <input class="form-control" id="field-6" name="newillnessmonth" type="number" pattern="[0-9]*" min="0" max="12">
								                </div>             
								                <div class="form-group form-group-year">
									                <label class="form-label" for="field-7">
									                Year 
									                </label>
									                <input class="form-control" id="field-7" name="newillnessyear" type="number" pattern="[0-9]*" min="0" max="2018">
								                </div>
							                </div>
					                </fieldset>
				                </div>
 
        

        <p><a href="create-plan" class="button">Save and continue</a></p>
    
        
        
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
