{% extends path+"/_layout.html" %}



{% block assess_content %}
<style>


table.profile-table td, table.profile-table th {
 
  border:5px solid white;
  text-align:center;
  width:auto;
  padding:0px;
}

table.profile-table th span {
	font-size: 16px;
	color: #6f777b;
	display: block;
	font-weight: normal;
}

table.profile-table th.col {
  background:#eee;
  width: 12%;
}

table.profile-table input{

  width:100%;
  border-color:#ccc;
  text-align:center;
  font-size:36px;
  font-weight:bold;
}




</style>
<main id="content" role="main" class="main-content">

      <div class="container">
          <div class="grid-row">
              <div class="column-full">
  <a href="javascript: history.go(-1)" class="link-back">Back</a>   

   <h1 class="heading-large"><span class="heading-secondary">Step 2 of 2</span>Create a capacity plan</h1>

   <h2 class="heading-medium">Monday 8 April</h2>


   <form class="form" action="/{{ path }}/planning/create-plan" method="post">
      
  
              <table class="profile-table">

                <thead>
                  <tr>
                    <th></th>
                    <!-- <th>Assessment Centre</th> -->
                    <th><span>Required</span>Appointments</th>
                    <th><span>Skill required</span>Complex neuro</th>
                    <!--<th>Neuro</th> -->
                    <th><span>Skill required</span>Non neuro</th>
                     {% if checked('benefits','ben1') %}
                     <th><span>Benefit type</span>ESA</th>
                     {% endif %}
                     {% if checked('benefits','ben2') %}
                     <th><span>Benefit type</span>UC</th>
                     {% endif %}
                  </tr>
                </thead>

                {% if checked('times','9') %}
                <tr>
                  <th class="col">9:00am</th>
                  <td> <label class="visually-hidden" for="" ></label>
                    <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                  <td><label class="visually-hidden" for=""></label>
                    <input class="form-control" id="" type="text" name=""  value=""></td>
                  <!--<td><label class="visually-hidden" for=""></label>
                    <input class="form-control" id="" type="text" name=""  value=""></td>-->
                  <td><label class="visually-hidden" for=""></label>
                    <input class="form-control" id="" type="text" name=""  value=""></td>
                    {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                </tr>

                {% endif %}
                {% if  checked('times','915') %}

                <tr>
                    <th class="col">9:15am</th>
                    <td> <label class="visually-hidden" for="" ></label>
                      <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                    <td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>
                    <!--<td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>-->
                    <td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>
                      {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                  </tr>

                  {% endif %}
                  {% if checked('times','930')  %}
                  <tr>
                      <th class="col">9:30am</th>
                      <td> <label class="visually-hidden" for="" ></label>
                        <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                      <td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>
                     <!-- <td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>-->
                      <td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>
                        {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                    </tr>

                    {% endif %}
                    
                    {% if checked('times','945')  %}
                  <tr>
                      <th class="col">9:45am</th>
                      <td> <label class="visually-hidden" for="" ></label>
                        <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                      <td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>
                      <!--<td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>-->
                      <td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>
                        {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                    </tr>

                    {% endif %}
                    
                    {% if checked('times','10')  %}
                    <tr>
                        <th class="col">10:00am</th>
                        <td> <label class="visually-hidden" for="" ></label>
                          <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                       <!-- <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>-->
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                          {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                      </tr>
                      {% endif %}

                      {% if checked('times','1015')  %}
                      <tr>
                          <th class="col">10:15am</th>
                          <td> <label class="visually-hidden" for="" ></label>
                            <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                          <!--<td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>-->
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                            {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                        </tr>
                        {% endif %}
                      {% if checked('times','1030')  %}

                      <tr>
                          <th class="col">10:30am</th>
                          <td> <label class="visually-hidden" for="" ></label>
                            <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                         <!-- <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>-->
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                            {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                        </tr>

                        {% endif %}
                        
                        {% if checked('times','1045')  %}

                      <tr>
                          <th class="col">10:45am</th>
                          <td> <label class="visually-hidden" for="" ></label>
                            <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                          <!--<td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td> -->
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                            {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                        </tr>

                        {% endif %}
                        
                        {% if checked('times','11')  %}

                        <tr>
                            <th class="col">11:00am</th>
                            <td> <label class="visually-hidden" for="" ></label>
                              <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                           <!-- <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td> -->
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                              {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                          </tr>

                          {% endif %}
                          {% if checked('times','1115')  %}

                          <tr>
                              <th class="col">11:15am</th>
                              <td> <label class="visually-hidden" for="" ></label>
                                <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                             <!-- <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td> -->
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                                {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                            </tr>

                            {% endif %}
                            
                            {% if checked('times','1130')  %}

                          <tr>
                              <th class="col">11:30am</th>
                              <td> <label class="visually-hidden" for="" ></label>
                                <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                             <!-- <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td> -->
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                                {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                            </tr>

                            {% endif %}
                            
                            {% if checked('times','1145')  %}

                          <tr>
                              <th class="col">11:45am</th>
                              <td> <label class="visually-hidden" for="" ></label>
                                <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                              <!--<td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td> -->
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                                {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                            </tr>

                            {% endif %}
                            
                            
                            {% if checked('times','1')  %}

                <tr>
                    <th class="col">1:00pm</th>
                    <td> <label class="visually-hidden" for="" ></label>
                      <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                    <td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>
                   <!-- <td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>-->
                    <td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>
                      {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                  </tr>
                  {% endif %}
                  {% if checked('times','115')  %}
                  <tr>
                      <th class="col">1:15pm</th>
                      <td> <label class="visually-hidden" for="" ></label>
                        <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                      <td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>
                      <!--<td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>-->
                      <td><label class="visually-hidden" for=""></label>
                        <input class="form-control" id="" type="text" name=""  value=""></td>
                        {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                    </tr>
                    {% endif %}
                    {% if checked('times','130')  %}
                    <tr>
                        <th class="col">1:30pm</th>
                        <td> <label class="visually-hidden" for="" ></label>
                          <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                       <!-- <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>-->
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                          {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                      </tr>
                      {% endif %}
                      {% if checked('times','145')  %}
                    <tr>
                        <th class="col">1:45pm</th>
                        <td> <label class="visually-hidden" for="" ></label>
                          <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                      <!--  <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>-->
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                          {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                      </tr>
                      {% endif %}
                      {% if checked('times','2')  %}

                      <tr>
                          <th class="col">2:00pm</th>
                          <td> <label class="visually-hidden" for="" ></label>
                            <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                        <!--  <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>-->
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                            {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                        </tr>
                        {% endif %}

                        {% if checked('times','215')  %}

                        <tr>
                            <th class="col">2:15pm</th>
                            <td> <label class="visually-hidden" for="" ></label>
                              <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                           <!-- <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>-->
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                              {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                          </tr>
                          {% endif %}
                        {% if checked('times','230')  %}
  
                        <tr>
                            <th class="col">2:30pm</th>
                            <td> <label class="visually-hidden" for="" ></label>
                              <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                           <!-- <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>-->
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                              {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                          </tr>
                          {% endif %}
                          
                          {% if checked('times','245')  %}
  
                        <tr>
                            <th class="col">2:45pm</th>
                            <td> <label class="visually-hidden" for="" ></label>
                              <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                           <!-- <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>-->
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                              {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                          </tr>
                          {% endif %}
                          
                          {% if checked('times','3')  %}
  
                          <tr>
                              <th class="col">3:00pm</th>
                              <td> <label class="visually-hidden" for="" ></label>
                                <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                             <!-- <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>-->
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                                {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                            </tr>

                            {% endif %}
                            {% if checked('times','315')  %}
  
                            <tr>
                                <th class="col">3:15pm</th>
                                <td> <label class="visually-hidden" for="" ></label>
                                  <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                               <!-- <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>-->
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                  {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                              </tr>
  

                              {% endif %}
                              {% if checked('times','330')  %}


                            <tr>
                                <th class="col">3:30pm</th>
                                <td> <label class="visually-hidden" for="" ></label>
                                  <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                <!--<td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>-->
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                  {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                              </tr>
  

                              {% endif %}
                              {% if checked('times','345')  %}


                            <tr>
                                <th class="col">3:45pm</th>
                                <td> <label class="visually-hidden" for="" ></label>
                                  <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                <!--<td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>-->
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                  {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                              </tr>
  

                              {% endif %}
                              
                              {% if checked('times','400')  %}


                            <tr>
                                <th class="col">4:00pm</th>
                                <td> <label class="visually-hidden" for="" ></label>
                                  <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                              <!--  <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>-->
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                  {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                              </tr>
  

                              {% endif %}
                              {% if checked('times','415')  %}


                            <tr>
                                <th class="col">4:15pm</th>
                                <td> <label class="visually-hidden" for="" ></label>
                                  <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                <!--<td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>-->
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                  {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                              </tr>
  

                              {% endif %}
                              {% if checked('times','430')  %}


                            <tr>
                                <th class="col">4:30pm</th>
                                <td> <label class="visually-hidden" for="" ></label>
                                  <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                <!--<td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>-->
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                  {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                              </tr>
  

                              {% endif %}
                              {% if checked('times','445')  %}


                            <tr>
                                <th class="col">4:45pm</th>
                                <td> <label class="visually-hidden" for="" ></label>
                                  <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                              <!--  <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>-->
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                  {% if checked('benefits','ben1') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
					{% if checked('benefits','ben2') %}
                    <td>
                    	<label class="visually-hidden" for=""></label>
						<input class="form-control" id="" type="text" name=""  value="">
					</td>
					{% endif %}
                              </tr>
  

                              {% endif %}


               
              </table>

              <p><button class="button mt25">Save and continue</button></p>
              </form>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
