{% extends path+"/_layout-case-action-required2.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
   
<div class="grid-row">
    <div class="column-full">
    
    
    <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
          
            <h1 class="heading-large mt20">Action required</h1> 
            
            <div class="panel panel-warning">
      <h2 class="heading-small">Assessment centre changed</h2>
      <ul class="list-bullet">
      	
      	<li>Rodney currently has an appointment scheduled at Fiveways on 12 June 2019.</li>
      	<li>Notify Rodney of assessment centre change.</li>
      </ul>
    </div>

<hr>


				<form>
				  	 <fieldset class="inline">
			
				    	<legend class="heading-medium mb10">Does Rodney want to move to a new assessment centre?</legend>
			
					    <div class="multiple-choice" data-target="reasons1">
					      <input id="decide_now" name="whatcando" type="radio" value="Yes">
					      <label for="decide_now"> Yes</label>
					    </div>
			
					    <div class="multiple-choice" data-target="reasons2">
					      <input id="face2face" name="whatcando" type="radio" value="No">
					      <label for="face2face"> No</label>
					    </div>	
					    
					    
					      <div class="panel js-hidden guardme" id="reasons1">
					      	<div class="notice">
					<i class="icon icon-important mt0">
						<span class="visually-hidden">Warning</span>
					</i>
					<strong class="bold-small">
						Rodneys file must now be sent to Tresco House
					</strong>
				</div>
					
					
			          
			            
			              <p class="mt30"><a href="#" class="button">Confirm</a></p>
					      </div>
					      
					      <div class="panel js-hidden guardme" id="reasons2">
					      
					      
					      <div class="notice">
					<i class="icon icon-important mt0">
						<span class="visually-hidden">Warning</span>
					</i>
					<strong class="bold-small">
						Rodneys preferred assessment centre will updated to Fiveways, Birmingham &ndash; current scheduled appointment will remain
					</strong>
				</div>
					      
							 <p class="mt30"><a href="#" class="button">Confirm</a></p>
					      </div>
					    
				    </fieldset>
			
			
			
					
					
           
			  </form>
          
    </div>
</div>

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
