{% extends path+"/_layout-case-action-required.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
   
<div class="grid-row">
    <div class="column-full">
    
    
    <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
          
            <h1 class="heading-large mt20">Action required</h1> 
            
            <div class="panel panel-warning">
      <h2 class="heading-small">Assessment centre changed</h2>
      <ul class="list-bullet">
      	<li>Bobbys updated postcode indicates a transfer to Tresco House.</li>
      </ul>
    </div>

<hr>
		
		<div class="notice">
		<i class="icon icon-important">
			<span class="visually-hidden">Warning</span>
		</i>
		<strong class="bold-small">
			Bobbys file must now be sent to Tresco House
		</strong>
	</div>
		
		
          
            
              <p class="mt30"><a href="#" class="button">Confirm</a></p>
           
        
          
    </div>
</div>

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
