{% extends path+"/scenario_prompts_02b/_layout-case-simple-full-width.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}

<style type="text/css">
  .multiple-choice {
      padding: 4px 10px 9px 40px;
      margin-bottom:10px;}
    .multiple-choice [type=checkbox] + label::before {
      width: 22px;
      height: 22px;
      padding-top: 2px !important;
    }

    .multiple-choice label::after {
      top: 9px !important;
      left: 7px !important;
      width: 10px !important;
      height: 5px !important;
      border-width: 0 0 3px 3px !important;
    }
</style>

<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

<p class="caption-large" class="mb0">Condition history</p>

<h1 class="heading-large mt10">{{ reportedcondition04 }}</h1>

<form action="condition-history_home" method="post">

<div class="grid-row">
  <div class="column-two-thirds">

<div class="form-group">
	<label class="form-label mb10" for="condition04Time">Onset and progression</label>
	<textarea class="form-control form-control-1-1" name="condition04Time" id="condition04Time" rows="3">{{ condition04Time }}</textarea>
</div>

<div class="form-group">
	<label class="form-label" for="condition04Symptoms">Symptoms</label>
	<span class="form-hint mt5 mb5">Types of symptoms, frequency and variability</span>
  <details>

  <summary><span class="summary">Substantial risk factors</span></summary>

  <div class="panel panel-border-narrow mb30">
    <p>If certain conditions are reported you must discuss the following...</p>
    <ul>
      <li>Alcohol and drug use</li>
      <li>Behaviour</li>
      <li>Self-harm</li>
      <li>Suicidal ideation</li>
    </ul>
  </div>

</details>
	<textarea class="form-control form-control-1-1" name="condition04Symptoms" id="condition04Symptoms" rows="10">{{ condition04Symptoms }}</textarea>
</div>

<div class="form-group">
	<label class="form-label mb10" for="condition04Investigations">Investigations, medical input and treatment</label>
	{# <span class="form-hint mt5 mb5">For example, who are they seeing about the condition?<br>Are they receiving treatment?</span> #}
	<textarea class="form-control form-control-1-1" name="condition04Investigations" id="condition04Investigations" rows="8">{{ condition04Investigations }}</textarea>
</div>



<div class="form-group">
	<label class="form-label mb10" for="condition04Impact">Impact on function</label>
  {# <span class="form-hint mt5 mb5">For example, how do their symptoms impact their daily life?</span> #}
	<textarea class="form-control form-control-1-1" name="condition04Impact" id="condition04Impact" rows="4">{{ condition04Impact }}</textarea>
</div>

<p><input type="submit" class="button" value="Save" id="submitButton"></p>
      </form>

  </div><!-- column -->

<div class="column-one-third">

</div>
<!-- right hand column -->

</div><!-- row -->

{% endblock %}