<div class="version">
  <div class="grid-row">

    {% set n = 1 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health Appointment Booking</h3>
      <p><a href="/appoint/v8/appointments" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">8.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">09 April 2018</h3>
     
    </div>

  </div><!-- .row -->

 <div class="grid-row">
    <div class="column-two-thirds">
      <p>Changes made to capacity manageemnt following user research session 04 April 2018</p>
      <h3 class="heading-small mth">Changes Made</h3>
      <ul class="list list-bullet changes mb1">
        <li>Updated appointment slots</li>
        <li>updated navigation of manage centre section to tabs</li>
        <li>changes to add/edit staff</li>
        <li>added edit centre details</li>
      </ul>
    </div>
  </div><!-- row -->

</div><!-- version -->