<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends path+"/_layout.html" %} {% block assess_content %}
  <main class="main-content"
        id="content"
        role="main">
    <div class="container">
      <div class="grid-row">
        <div class="column-full">
          <a class="link-back"
               href="javascript:%20history.go(-1)">Back</a>
          <h1 class="heading-large mt10">Open appointment slots for {% include path+"/scenario5/_ACname.html" %}</h1>
          <h2 class="heading-medium mt30"><span style="font-weight:normal">Week commencing:</span> {% include path+"/scenario5/_Mon_Date.html" %}</h2>

          <div class="grid-row">
            <div class="card-container">
              <div class="card">
                <a href="times">
                <h2>{% if data['monstimes'] %} View and edit <span class="heading-small">Mondays appointments</span> <!--<span class="badge">Updated</span> -->
                 {% else %} <span class="heading-small">Monday</span> {% endif %}</h2></a> {% if data['monstimes'] %}
                <div class="inner">
                  {% if checked('benefits','ben2') %} {% endif %}
                  <table>
                    <thead>
                      <tr>


                        <th scope="col">
                        <div class="panel panel-info">
                               <div class="number">
                               <span class="border">
                              {% if data['sum_mon'] %}  {{sum_mon}}  {% else %} 0 {% endif %}
                                <span>Opened</span>
                                </span>
                                </div>
                                <div class="content">
                              <span class="">Based on {{monfte}} FTE's</span></span>
                               </div>
                              <div>
                              </th>
                        <th class="numeric"
                            scope="col"><span class="heading-xlarge">{% if data['sum_mon'] %} {{sum_mon}} {% else %} 0 {% endif %}<span class="block"><span class="visually-hidden">appointents</span>Available</span></span></th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="ucb"
                            colspan='3'><span class="bold">{% if data['col_mon_6_sum'] %}{{ col_mon_6_sum }} {% else %} 0 {% endif %}</span>of these appointments can be <span class="bold">UCB</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>{% endif %}
              </div>
              <div class="card alt">
                <a href="times-tues">
                <h2>{% if data['tuestimes'] %} View and edit <span class="heading-small">Tuesdays appointments</span> <!--<span class="badge">Updated</span>-->
                 {% else %} <span class="heading-small">Tuesday</span> {% endif %}</h2></a> {% if data['tuestimes'] %}
                <div class="inner">
                  {% if checked('benefitsTue','ben2') %} {% endif %}
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">
                           <div class="panel panel-info">
                               <div class="number">
                               <span class="border">
                             {{sum_tue}}
                                <span>Opened</span>
                                </span>
                                </div>
                                <div class="content">
                              <span class="">Based on {{tuefte}} FTE's</span></span>
                               </div>
                              <div>
                        </th>
                        <th class="numeric"
                            scope="col"><span class="heading-xlarge">{{sum_tue}}<span class="block"><span class="visually-hidden">appointents</span>Available</span></span></th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="ucb"
                            colspan='3'><span class="bold">{% if data['col_tue_6_sum'] %}{{ col_tue_6_sum }} {% else %} 0 {% endif %}</span>of these appointments can be <span class="bold">UCB</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>{% endif %}
              </div>
              <div class="card alt">
                <a href="times-wed">
                <h2>{% if data['wedstimes'] %} View and edit <span class="heading-small">Wednesday's appointments</span> <!--<span class="badge">Updated</span>-->
                 {% else %} <span class="heading-small">Wednesday</span> {% endif %}</h2></a> {% if data['wedstimes'] %}
                <div class="inner">
                  {% if checked('benefitsWed','ben2')%} {% endif %}
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">
                         <div class="panel panel-info">
                               <div class="number">
                               <span class="border">
                             {{sum_wed}}
                                <span>Opened</span>
                                </span>
                                </div>
                                <div class="content">
                              <span class="">Based on {{wedfte}} FTE's</span></span>
                               </div>
                              <div>
                        </th>
                        <th class="numeric"
                            scope="col"><span class="heading-xlarge"> {{sum_wed}} <span class="block"><span class="visually-hidden">appointents</span>Available</span></span></th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="ucb"
                            colspan='3'><span class="bold">{% if data['col_wed_6_sum'] %}{{ col_wed_6_sum }} {% else %} 0 {% endif %}</span>of these appointments can be <span class="bold">UCB</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>{% endif %}
              </div>
              <div class="card alt">
                <a href="">
                <h2>{% if data['wedstimes'] %} View and edit <span class="heading-small">Thursday's appointments</span> <!--<span class="badge">Updated</span>-->
                 {% else %} <span class="heading-small">Thursday</span> {% endif %}</h2></a> {% if data['wedstimes'] %}
                <div class="inner">
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">
                         <div class="panel panel-info">
                               <div class="number">
                               <span class="border">
                             55
                                <span>Opened</span>
                                </span>
                                </div>
                                <div class="content">
                              <span class="">Based on 6FTE's</span></span>
                               </div>
                              <div>
                        </th>
                        <th class="numeric"
                            scope="col"><span class="heading-xlarge">55 <span class="block"><span class="visually-hidden">appointents</span>Available</span></span></th>

                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td class="ucb"
                            colspan='3'><span class="bold">2</span> of these appointments can be <span class="bold">UCB</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>{% endif %}
              </div>
              <div class="card alt">
                <a href="/{{path}}/planning/create-plan-times4">
                <h2>{% if data['wedstimes'] %} View and edit <span class="heading-small">Friday's appointments</span> <!--<span class="badge">Updated</span>-->
                 {% else %} <span class="heading-small">Friday</span> {% endif %}</h2></a> {% if data['wedstimes'] %}
                <div class="inner">
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">
                         <div class="panel panel-info">
                               <div class="number">
                               <span class="border">
                             48
                                <span>Opened</span>
                                </span>
                                </div>
                                <div class="content">
                              <span class="">Based on 6FTE's</span></span>
                               </div>
                              <div>
                        </th>
                        <th class="numeric"
                            scope="col"><span class="heading-xlarge">48<span class="block"><span class="visually-hidden">appointents</span>Available</span></span></th>

                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td class="ucb"
                            colspan='3'><span class="bold">2</span> of these appointments can be <span class="bold">UCB</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>{% endif %}
              </div>
              <div class="card">
                <a href="/{{path}}/create-plan-times2">
                <h2><span class="heading-small">Saturday</span></h2></a>
              </div>
              <div class="card">
                <a href="/{{path}}/create-plan-times2">
                <h2><span class="heading-small">Sunday</span></h2></a>
              </div>
            </div>
          </div>{% if data['monstimes'] %}
          <p><a class="button"
             href="dashboard">Save capacity plan</a></p>{% endif %}
        </div><!-- column -->
      </div><!-- row -->
      <!-- container -->
    </div>
  </main>{% endblock %}
</body>
</html>
