{% extends path+"/scenario_01e/_layout-case-simple_clear-assessment-complete.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}



<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large mb0">Work capability report</h1>
 

<div class="review-wrapper full-report">


<div class="report-item">

	<table class="report-view-table">
	<caption class="heading-small">Assessment overview</caption>
	
		<tbody>
			<tr>
				<th>Date of assessment</th>
				<td>{{ "Do MMM YYYY" | daysAgo }}</td>
			</tr>
			<tr>
				<th>Assessment centre</th>
				<td>Fiveways, Birmingham</td>
			</tr>
			<tr>
				<th>Assessor</th>
				<td>Heather Harrison</td>
			</tr>
			<tr>
				<th>Assessment start</th>
				<td>{{ last_one.time | formatDate("H:mma") }}</td>
			</tr>
			<tr>
				<th>Assessment finish</th>
				<td>{{ first_one.time | formatDate("H:mma") }}</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Personal summary statement</h2> 
	
	<div class="inner-focus">
		<p>{{ statement }}</p>
	</div>
	
	<!--<p class="edit-report"><a href="personalSummaryStatement" class="button-secondary">Edit personal summary statement</a></p>-->
	
</div>
<!-- / report item -->	



<div class="report-item">

	<h2 class="heading-large">Additional attendee</h2> 
	
	<div class="inner-focus">
		<p><span style="font-weight:bold;">Name of attendee:</span> {{ additionalAttendeeName }}</p>
		<p><span style="font-weight:bold;">Relationship to claimant:</span> {{ additionalAttendeeRelationship }}</p>
	</div>
	<!--<p class="edit-report"><a href="addAttendee" class="button-secondary">Edit additional attendees</a></p>-->
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Condition history</h2> 
	
	<div class="inner-focus">
	<p>Has fibromyalgia. </p>
<p>He went off sick in Aug 2017 with what he thought was flu and fatigue. </p>
<p>Returned to work for 1 week in January 2018. </p>
<p>He stopped working after a week as he was a park keeper and working outside all of the time and the pain, he could not fulfil his role. </p>
<p>He was referred to a specialist following this and was referred to a specialist. It was the specialist who diagnosed the condition in Feb 2018. </p>
<p>He was referred to the pain clinic following this and is reviewed by them every 2 months. Last seen the pain clinic a month ago. </p>
<p>The pain clinic has recommended physiotherapy and they were given exercises to do at home by the pain clinic. </p>
<p>He rarely does these due to pain and fatigue. He has never managed to get through the full sheet of exercises as he has pain. </p>
<p>He cannot do things around the house due to pins and needles and pain. </p>
<p>Has widespread pain. The most frustrating is his hands. He has poor grip and cannot lift items. </p>
<p>The pain gets worse on mobilising and activity and he may need to sleep due to this. </p>
<p>Does not have good days anymore and would not be able to function without his mum. Mum does all of the care. </p>
<p>Will stay in bed a couple of times per week at least. </p>
<p>Today is the first day in a week that he has not spent most of the day in bed. </p>
<p>Even when he does get up, he will dose in the lounge for 45 minutes to 4 to 5 hours during the day. There is no pattern to this and no particular activity that makes his fatigue better or worse. </p>
<p>It is just making him very frustrated and he cannot see any end to this.</p>
<!--<p>{{ conditionHistory }}</p>-->
	</div>
	
	<!--<p class="edit-report"><a href="conditionHistory" class="button-secondary">Edit condition history</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Social and work history</h2> 
	
	<div class="inner-focus">

	<p>Got a lift to the centre.</p> 
<p>Mum drove.</p> 
<p>It was 15 to 20 minutes in the car. They do not live far away. </p> 
<p>He could not stay in the car for longer than 15 to 20 minutes due to shoulder pain, hands, forearms, knees and feels like his may lock. </p> 
<p>His knees do not lock as he tries to prevent this by not going far in the car. Parked in the disabled space in the car park. </p> 
<p>Walked 10 yards to walk from the car to the waiting room with a walking stick and assistance from mum. He walked at a very slow pace. </p> 
<p>It took 5 minutes to walk from the car to the waiting area, did not have to stop in this time. Lives with mum in a ground floor flat.</p> 
<p>There is 1 step at the front door. There is no rail.</p> 
<p>Assessment completed at the assessment centre on the ground floor. </p> 
<p>The council are looking at getting a ramp at the front door for ease of access with the wheelchair. The council have been to the property to assess the flat in July and they are waiting to hear from them. </p> 
<p>He went to work for 1 week in Jan 2018 in the park but stopped due to flu like virus, fatigue and pain. </p> 
<p>No current work or study. No plans for work or study. He has no concentration for this. Loved the job he had but this seems like a distant memory.</p> 
<p>Is right-handed. </p> 


	<!--    Outputs social work history 
	    {% for item in socialWorkComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}-->
  
	</div>
	
	<!--<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit social and work history</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Typical day</h2> 
	
	<div class="inner-focus">

	<p>Does not have a set bedtime. This depends how he is feeling. </p> 
<p>Lately he has been spending several days in bed where he has not got up at all due to pain, frustration and fatigue. </p> 
<p>When he is in bed, can sleep, dose or be awake.</p> 
<p>The warm weather has made it hard to sleep so has been awake more. </p> 
<p>The TV can be on, but he often does not watch this due to poor concentration and as he just nods off. </p> 
<p>He cannot concentrate due to pain, brain fog and drugs/medication. </p> 
<p>On the days that he does get up, he does not do much. Occasionally they will go to the park as he likes being outside. This was his life, but he gets embarrassed as people he works with will be there. </p> 
<p>Occasionally goes to the supermarket but will go in his wheelchair. Cannot self-propel at all due to upper limb pain. </p> 
<p>Last went to the supermarket on Saturday. </p> 
<p>Gets a lift to the supermarket. There is a drive at home so will walk from the home to the car, linking mum to get down the step. </p> 
<p>It is about 5 yards from the house to the car. Does this at a very slow pace. It’s more of a shuffle. </p> 
<p>Once home from shopping he will go home and rest. He has pay back and all symptoms are exacerbated. He has more pain, fatigue and frustration. This will last for the rest of the day. He takes medication and will nod off for an hour or two. </p> 
<p>Can sleep for up to 3 hours after going out. They do not plan anything else for these days as he could not manage it. </p> 
<p>There is nowhere else that he goes that he has to mobilise Will attend the GP surgery in the wheelchair. </p> 
<p>Has an overhead shower in the bath and will stand in the shower. Needs help getting in and out of the bath and with washing and dressing due to pain and pins and needles. </p> 
<p>Mum will do the cooking, cleaning and washing. He used to do his own and was self-sufficient and stopped this when he had the flu virus. In Jan 2018 he stopped doing these activities when he finished work. </p> 


		<!--{% for item in typicalDayComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}-->
	</div>
	
	<!--<p class="edit-report"><a href="typicalDayEdit" class="button-secondary">Edit typical day</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Medication and side effects</h2> 
	
	<div class="inner-focus">
	<p>Tramadol 50 mg x 1 once per day before bed.</p>
<p>Morphine tablet 15 mg twice daily.</p>
<p>Oramorph 5 mls once daily - unsure of the dosage of the bottle. </p>
<p>Gets drowsy. Thinks this may be from tramadol.</p>
<p>It’s hard to say what symptoms are from the condition and what is a side effect of medication. </p>
<p>No other side effects of medication. Possible brain fog from medication but thinks this may be part of the condition also. </p>

		<!--<p>{{ medicationSideEffects }}</p>-->
	</div>
	
	<!--<p class="edit-report"><a href="conditionHistory" class="button-secondary">Edit medication and side effects</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<div class="inner-focus">
	<h2 class="heading-large">Physical examination</h2>
	<p>Not assessed</p>
	</div>
</div>
<!-- / report item -->



<div class="report-item">
	<div class="inner-focus">
	<h2 class="heading-large">Mental state examination</h2>
	<p>Not assessed</p>
	</div>
</div>
<!-- / report item -->




<!-- Displays report item based on selection from LCWRA page -->
{% if data['lcwra']==='lcwra1'%}
{% elif data['lcwra']==='lcwra2' or data['lcwra']==='lcwra3' or data['lcwra']==='lcwra4'%}
<div class="report-item">

	<h2 class="heading-large">Special Circumstances</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">Treat as LCWRA</h2>

		<p><span style="font-weight:bold;">Reason:</span>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra2'%}
		Risks associated with pregnancy
		{% elif data['lcwra']==='lcwra3'%}
		Cancer treatment underway
		{% elif data['lcwra']==='lcwra4'%}
		Terminal illness
		{% endif %}
		</p>

		<h4 class="heading-small">Justification:</h4>
		<p>{{ justifyTreatLCWRA }}</p>

	</div>
	
	<!--<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit exceptional circumstances</a></p>-->
	
</div>






{% elif data['lcwra']==='lcwra6' or data['lcwra']==='lcwra7' or data['lcwra']==='lcwra8' or data['lcwra']==='lcwra9' or data['lcwra']==='lcwra10' or data['lcwra']==='lcwra11' or data['lcwra']==='lcwra12' or data['lcwra']==='lcwra13' or data['lcwra']==='lcwra14' or data['lcwra']==='lcwra15' or data['lcwra']==='lcwra16' or data['lcwra']==='lcwra17' or data['lcwra']==='lcwra18' or data['lcwra']==='lcwra19' or data['lcwra']==='lcwra20'%}
<div class="report-item">

	<h2 class="heading-large">Medical opinion</h2> 
	
	<div class="inner-focus">
		<p>I have consided the possible UC activity outcomes and my advice is that the following applies:</p>
		<h2 class="heading-medium">LCWRA</h2>
		<p class="edit-report"><a href="LCWRA-question" class="button-secondary">Change LCWRA recommendation</a></p>
		
		<h4 class="heading-small">Activity</h4>
		<p>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra6'%}
		Moving around and climbing steps without someone’s help
		{% elif data['lcwra']==='lcwra7'%}
		Standing, sitting and moving between the two
		{% elif data['lcwra']==='lcwra8'%}
		Reaching
		{% elif data['lcwra']==='lcwra9'%}
		Picking things up and moving them
		{% elif data['lcwra']==='lcwra10'%}
		Using your hands
		{% elif data['lcwra']==='lcwra11'%}
		Speaking, writing and typing
		{% elif data['lcwra']==='lcwra12'%}
		Hearing and reading
		{% elif data['lcwra']==='lcwra13'%}
		Controlling your bowels and bladder
		{% elif data['lcwra']==='lcwra14'%}
		Learning to do new tasks
		{% elif data['lcwra']==='lcwra15'%}
		Being aware of hazards and danger
		{% elif data['lcwra']==='lcwra16'%}
		Planning, starting and finishing everyday tasks
		{% elif data['lcwra']==='lcwra17'%}
		Coping with changes to your daily routine
		{% elif data['lcwra']==='lcwra18'%}
		Meeting and being with people
		{% elif data['lcwra']==='lcwra19'%}
		Behaving appropriately around other people
		{% elif data['lcwra']==='lcwra20'%}
		Eating and drinking
		{% endif %}
		</p>
		<p class="edit-report"><a href="LCWRA-descriptor" class="button-secondary">Edit activity</a></p>

		

		<h4 class="heading-small">Practitioner consulted</h4>
		<p>{{ consultedPractitioner }}</p>

	</div>
	
	<!--<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit medical opinion</a></p>-->
	
</div>

{% endif %}		
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Recommended review period</h2> 
	
	<div class="inner-focus">

		<p>
		{% if data['reviewPeriod']==='reviewPeriod1'%}
		{% elif data['reviewPeriod']==='3months'%}
		3 months
		{% elif data['reviewPeriod']==='6months'%}
		6 months
		{% elif data['reviewPeriod']==='12months'%}
		12 months
		{% elif data['reviewPeriod']==='18months'%}
		18 months
		{% elif data['reviewPeriod']==='2years'%}
		2 years
		{% elif data['reviewPeriod']==='longerterm'%}
		in the longer term
		{% elif data['reviewPeriod']==='notrequired'%}
		not future assessment required
		{% endif %}
		</p>
	</div>
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit recommended review period</a></p>
	
</div>
<!-- / report item -->	




















<!--
<div class="report-item">

	<h2 class="heading-large">Illnesses, disabilities and medication</h2>  

	<table class="report-view-table">
	<caption class="heading-small">Illnesses and disabilities</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Source</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Diabetes</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Arthritis</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Liver disease</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Urine problems</td>
				<td>Claimant</td>
			</tr>
		</tbody>
	</table>
	
	
	<table class="report-view-table">
	<caption class="heading-small">Medication and side effects</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Dose</th>
				<th>Side effects</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Ibuprofen</td>
				<td>Twice daily</td>
				<td>None</td>
			</tr>
		</tbody>
	</table>
	
	
	
	
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit illnesses, disabilities and medication</a></p>
	
	

</div>-->
<!-- / report item -->























  
   </div>
 <!-- / wrapper -->
  


	<p class="depart"><a href="/{{path}}/scenario-curtailment/curtailDeclaration" class="button">Finish &ndash; sign off report</a></p>



{% endblock %}