{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
    	
    	<h1 class="heading-large"><span class="heading-secondary">Step 2 of 2</span>Rearrange appointment</h1>
    	
    	{% if checked('stoppassess','unfit') or customer.name.first == 'Dillon'%}
								<div class="panel panel-info">
										<p>
								{{customer.name.first}} is unfit to be examined
						    	</p>
					        	</div>
								{% elif checked('stoppassess','specialreq') %}
									
				<div class="panel panel-info mt10">
						<p>
							
								{{customer.name.first}} has a special need they've not previously disclosed
							</p>
						</div>
								{% endif%}
		

		<form method="post" action="/{{path}}/assessment/{{customer._id}}/booked">

		
						<fieldset class="inline mt30">
								<legend class="heading-medium mb5">Do you want to book the appointment now?</legend>
																
					
								<div class="multiple-choice" data-target="other-info2">
										{% if customer.name.first == 'Dominguez' %}
									<input type="radio" name="appointments" id="available-appointments-unable" value="yes" {{checked('appointments-dom', 'yes') }}>
									{% else %}
									<input type="radio" name="appointments" id="available-appointments-unable" value="yes" {{checked('appointments', 'yes') }}>
									{% endif%}
									<label for="available-appointments-unable">Yes</label>
								</div>

								<div class="multiple-choice" data-target="no-reason">
									<input type="radio" name="appointments" id="available-appointments-1" value="no"  {{checked('appointments', 'no') }}>
									<label for="available-appointments-1">No</label>
								</div>
								
								<div class="panel js-hidden" id="other-info2">

									{% include path+"/includes/appointmentsTypeAhead.html" %}  
										
								</div>

								<div class="panel js-hidden" id="no-reason">

										<div class="form-group">
												<label class="form-label-bold">Reason for not rearranging </label>
												<textarea name="changedByCustomerComments" class="form-control " style="height: 150px; width:100%; max-width:650px;"></textarea>
										</div>        
											
									</div>
					
								
								</fieldset>
								
							<p class="mt30"><button class="button">Save and continue</button></p>

				</form>
			

		
    



  </div><!-- row -->
</div><!-- container -->


{% endblock %}

 {% block page_scripts %}

{% include path+"/includes/appointment/_typaheadscript.html" %}
  

 
{% endblock %} 
