{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
			<h1 class="heading-large">Additional attendee</h1>



<form method="post" action="wca-index">
		<div class="form-group">
			<label class="form-label" for="attendeename">Name</label>
			<input class="form-control form-control-1-3" name="additionalAttendeeName" type="text" id="attendeename">
		</div>
		<div class="form-group">
			<label class="form-label" for="attendeerelationship">Relationship</label>
			<input class="form-control form-control-1-3" name="additionalAttendeeRelationship" type="text" id="attendeerelationship">
		</div>

    <p><input type="submit" class="button" value="Confirm - resume assessment" id="submitButton"></p>
		</form>	
		
    



  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
