 {% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}






<div class="grid-row">

 


  <div class="column-full">
  
  
<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
  
  
  
  <h1 class="heading-large mt20"><span class="heading-secondary">Edit</span>Condition history</h1>
       <form class="form" id="add_ev" action="/{{path}}/assessment/{{customer._id}}/evidence/conditionHistoryNew" method="post">


      <div>
          <textarea id="nugget" class="form-control" name="comment" style="width:90%;height:150px" placeholder="The statement would appear here ready to be edited">{{comment.comment}}</textarea>
      </div><!-- form-group -->

      <input type="hidden" name="id" value="{{comment.id}}">
      <p class="mt30"><button class="button">Save</button></p>
       <a href="">Delete</a>
    </form>
    
       
  </div><!-- column -->

</div><!-- row -->

{% endblock %}

{% block page_scripts %}
{{ super() }}

{% endblock %}
