
{% extends path+"/_layout-case-action.html" %} 
{% block citizen_content %} {{ data.nuggets | log }}



<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-large"><span class="heading-secondary">Step 1 of 3</span>Lower back</h1>

		
		
 {% if checked('physicalvisited', 'yes') %}
				<form action="report-physical" method="Post">
	{% else %}	
	       <form action="lower-limbs_left-leg" method="Post">	
	{% endif%}		

																	
																		 
																		 


									
	<div class="form-group">
																			
<fieldset>

  <legend class="heading-medium mb10">Select the examinations you want to complete</legend>																		
<!-- <p class="form-hint mb10" style="max-width:650px">Only add comments if you find abnormalities. If you choose an examination and leave the text box blank, it will be marked as normal.</p> -->
	
<div class="multiple-choice" data-target="issue1open">
		      <input id="issue1" name="issueswith" type="checkbox" value="Lower Back Issue 1" {{ checked('issueswith', 'Lower Back Issue 1') }} >
		      <label for="issue1">Forward flexion</label>
		    </div>
		     <div class="panel js-hidden" id="issue1open">
				 
				 
				 <fieldset>
				 	<legend class="heading-small mb5">Choose:</legend>
					 	<div class="multiple-choice">
					      <input id="test1" name="testingthis" type="radio" value="test1" {{ checked('testingthis', 'test1') }}>
					      <label for="test1">Unrestricted</label>
					    </div>
					    <div class="multiple-choice">
					      <input id="test2" name="testingthis" type="radio" value="test2" {{ checked('testingthis', 'test2') }}>
					      <label for="test2">To knees: can bend forward to reach knees</label>
							</div>
							<div class="multiple-choice">
									<input id="test3" name="testingthis" type="radio" value="test3" {{ checked('testingthis', 'test3') }}>
									<label for="test3">Above knees: cannot bend forward to reach knees</label>
								</div>
				 </fieldset>
				 	
</div>



<div class="multiple-choice" data-target="issue2open">
		<input id="issue2" name="issueswith" type="checkbox" value="Lower Back Issue 2" {{ checked('issueswith', 'Lower Back Issue 2') }} >
		<label for="issue2">Extension</label>
	</div>
	 <div class="panel js-hidden" id="issue2open">
	 
	 
	 <fieldset>
		 <legend class="heading-small mb5">Choose:</legend>
			 <div class="multiple-choice">
					<input id="test1" name="testingthis" type="radio" value="test1" {{ checked('testingthis', 'test1') }}>
					<label for="test1">Full</label>
				</div>
				<div class="multiple-choice">
					<input id="test2" name="testingthis" type="radio" value="test2" {{ checked('testingthis', 'test2') }}>
					<label for="test2">Able to crouch half way down to the floor: reduced to half way</label>
				</div>
				<div class="multiple-choice">
						<input id="test3" name="testingthis" type="radio" value="test3" {{ checked('testingthis', 'test3') }}>
						<label for="test3">Able to crouch less than half way down to the floor: reduced to less than half way</label>
					</div>
	 </fieldset>
		 
</div>
		    
		    
		    
</fieldset>			    
</div>									    
		    
		    
<div class="form-group">
	<label class="heading-small" for="lower-back-issue-open-comments">Other examination findings</label>
	<textarea class="form-control form-control-2-4" name="lowerbackissueopencomments" id="lowerbackissueopencomments" rows="4">{{lowerbackissueopencomments}}</textarea>
</div>
																			
			
												
															    
										
																		 
																		 
																				    
														
												 
												 
												  <p class="mt30"><button class="button">Save and continue</button></p>
												 
		
				</form>


  </div><!-- column -->
</div><!-- row -->
{% endblock %}

{% macro physGroup(name,sel) %}
  {% set s = name | slug %}
  <!-- GROUP -->
  <div class="multiple-choice" data-target="group_{{s}}_yes">
    <input id="group_{{s}}" type="checkbox" name="group_{{s}}" sue="group_{{s}}" {% if sel %} checked="checked"{% endif %}>
    <label for="group_{{s}}">{{name}}</label>
</div>
{% endmacro %} 

{% macro physObs(name, displayname ,sel) %} {% set s = name | slug %}
<div class="multiple-choice" data-target="phys_{{s}}_yes">
    <input id="phys_{{s}}" type="checkbox" name="phys_{{s}}" value="phys_{{s}}" {% if sel %} checked="checked" {% endif %}>
    <label for="phys_{{s}}">{{displayname}}</label>
</div>
<div class="form-group panel js-hidden mt0 mb20" id="phys_{{s}}_yes">
    <p>
        <label class="form-label" for="phys_{{s}}_obs">Comments</label>
        <textarea class="form-control form-control-3-4" name="phys_{{s}}_obs" id="phys_{{s}}_obs" rows="4">
				</textarea>
    </p>
</div>
{% endmacro %} {% block footer_top %} {{ super() }}
<p class="font-xsmall">
    <a href="/{{ path2 }}/phys_exam_1">exam v1</a> |
    <a href="/{{ path2 }}/phys_exam_2">exam v2</a>
</p>
{% endblock %} {% block page_scripts %} {{ super() }} {% endblock %}