{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}



<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large mb0">Work capability report</h1>


<div class="review-wrapper full-report">




<div class="report-item">

	<table class="report-view-table">
	<caption class="heading-small">Assessment overview</caption>
	
		<tbody>
			<tr>
				<th>Date of assessment</th>
				<td>{{ "Do MMM YYYY" | daysAgo }}</td>
			</tr>
			<tr>
				<th>Assessment centre</th>
				<td>Fiveways, Birmingham</td>
			</tr>
			<tr>
				<th>Assessor</th>
				<td>John Logan</td>
			</tr>
			<tr>
				<th>Assessment start</th>
				<td>{{ last_one.time | formatDate("H:mma") }}</td>
			</tr>
			<tr>
				<th>Assessment finish</th>
				<td>{{ first_one.time | formatDate("H:mma") }}</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Personal summary statement</h2> 
	
	<div class="inner-focus">
		<p>{{ statement }}</p>
	</div>
	
	<!--<p class="edit-report"><a href="personalSummaryStatement" class="button-secondary">Edit personal summary statement</a></p>-->
	
</div>
<!-- / report item -->	



<div class="report-item">

	<h2 class="heading-large">Additional attendee</h2> 
	
	<div class="inner-focus">
		<p><span style="font-weight:bold;">Name of attendee:</span> {{ additionalAttendeeName }}</p>
		<p><span style="font-weight:bold;">Relationship to claimant:</span> {{ additionalAttendeeRelationship }}</p>
	</div>
	<!--<p class="edit-report"><a href="addAttendee" class="button-secondary">Edit additional attendees</a></p>-->
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Condition history</h2> 
	
	<div class="inner-focus">
		<p>{{ conditionHistory }}</p>
	</div>
	
	<!--<p class="edit-report"><a href="conditionHistory" class="button-secondary">Edit condition history</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Social and work history</h2> 
	
	<div class="inner-focus">
	<!--    Outputs social work history -->
	    {% for item in socialWorkComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}
  
	</div>
	
	<!--<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit social and work history</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Typical day</h2> 
	
	<div class="inner-focus">
		{% for item in typicalDayComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}
	</div>
	
	<!--<p class="edit-report"><a href="typicalDayEdit" class="button-secondary">Edit typical day</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Medication and side effects</h2> 
	
	<div class="inner-focus">
		<p>{{ medicationSideEffects }}</p>
	</div>
	
	<!--<p class="edit-report"><a href="conditionHistory" class="button-secondary">Edit medication and side effects</a></p>-->
	
</div>
<!-- / report item -->




<div class="report-item">

	<h2 class="heading-large">Observations</h2> 
	
	<div class="inner-focus">
		{% for item in observedBehaviourComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}


	</div>

	<!--<p class="edit-report"><a href="observedBehaviourEdit" class="button-secondary">Edit informal observations</a></p>-->
	
</div>
<!-- / report item -->




<div class="report-item">

	<h2 class="heading-large">Physical assessment</h2> 
	
	<div class="inner-focus">
  
	
		
		<p>Consent was given by {{customer.name.first}} to start the physical assessment.</p>
	
		{% if data['general'] %}
		<h3 class="heading-medium">General health</h3>
	
		<table class="report-view-table">
			
	
				<tbody>
					{% if data['height'] %}
					<tr>
						<th>Stated height</th>
						<td>
								{{ height }}
						</td>
					</tr>
					{% endif %}
	
					{% if data['weight'] %}
					<tr>
						<th>Stated weight</th>
						<td>
								{{ weight }}
						</td>
					</tr>
					{% endif %}
	
					{% if data['bmi'] %}
					<tr>
						<th>Bmi</th>
						<td>
								{{ bmi }}
						</td>
					</tr>
					{% endif %}
				
					{% if data['generalcomments'] %}
					<tr>
						<th>Other examination findings </th>
						<td>
							
								{{ generalcomments }}
						
							</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
	
		{% endif %}
		
				
			<h3 class="heading-medium">Lower back and legs</h3>
	
	
			<!--{% if checked('lowerlimbs', 'Lower') %}-->
	
		
			<table class="report-view-table">
					<caption class="heading-small">Lower back</caption>
		
					<tbody>
							{% if checked('issueswithback', 'Issue 1') %}
							<tr>
								<th>Forward flexion</th>
								<td>
										{% if data['issuewithback1opencomments'] %}
									
										{{ issuewithback1opencomments }}
										{% else %}
										Unrestricted
										{% endif %}
									
									
								</td>
							</tr>
							{% endif %}
							{% if checked('issueswithback', 'Issue 2') %}
							<tr>
								<th>Forward flexion</th>
								<td>
										{% if data['issuewithback2opencomments'] %}
									
										{{ issuewithback2opencomments }}
										{% else %}
										Full
										{% endif %}
									
									
								</td>
							</tr>
							{% endif %}
		
						{% if data['weight'] %}
						<tr>
							<th>Weight</th>
							<td>
									{{ weight }}
							</td>
						</tr>
						{% endif %}
		
						{% if data['bmi'] %}
						<tr>
							<th>Bmi</th>
							<td>
									{{ bmi }}
							</td>
						</tr>
						{% endif %}
					
						{% if data['issuewithbackcomments'] %}
						<tr>
							<th>Other examination findings </th>
							<td>
								
									{{ issuewithbackcomments}}
							
								</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
		
			<!--{% endif %}-->
	

			

			<table class="report-view-table">
				<caption class="heading-small">Lower back</caption>

				<tbody>
					{% if checked('issueswith', 'Lower Back Issue 1') %}
					<tr>
						<th>Forward flexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Unrestricted
								{% elif data['testingthis']==="test2" %}
								To knees: can bend forward to reach knees
								{% elif data['testingthis']==="test3" %}
								Above knees: cannot bend forward to reach knees
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Lower Back Issue 2') %}
					<tr>
						<th>Squat and rise</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Full
								{% elif data['testingthis']==="test2" %}
								Able to crouch half way down to the floor: reduced to half way
								{% elif data['testingthis']==="test3" %}
								Able to crouch less than half way down to the floor: reduced to less than half way
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if data['lowerbackissueopencomments'] %}
					<tr>
						<th>Other examination findings</th>
						<td>
								{{ lowerbackissueopencomments }}
							</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<!-- / issue end -->
			

			<table class="report-view-table">
				<caption class="heading-small">Left leg</caption>

				<tbody>
					{% if checked('issueswith', 'Left Leg Issue 1') %}
					<tr>
						<th>Straight leg raising</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (more than 70°)
								{% elif data['testingthis']==="test2" %}
								Ability to lift straight leg when lying down is reduced by muscle tightness at the back of the leg
								{% elif data['testingthis']==="test3" %}
								Ability to lift straight leg when lying down is reduced due to hip pain
								{% elif data['testingthis']==="test4" %}
								Ability to lift straight leg when lying down is reduced due to low back pain
								{% elif data['testingthis']==="test5" %}
								Ability to lift straight leg when lying down is reduced due to pain below the knee
								{% elif data['testingthis']==="test6" %}
								Ability to lift straight leg when lying down is reduced due to numbness in lower leg
								{% elif data['testingthis']==="test7" %}
								Straight leg raising is reduced by weakness
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Left Leg Issue 2') %}
					<tr>
						<th>Hip flexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (130°)
								{% elif data['testingthis']==="test2" %}
								Hip bending is slightly reduced to between 130° and 110°
								{% elif data['testingthis']==="test3" %}
								Hip bending moderately reduced to  between 100° and 80°
								{% elif data['testingthis']==="test4" %}
								Hip bending is considerably reduced to less than 80°
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Left Leg Issue 3') %}
					<tr>
						<th>Knee flexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (120°)
								{% elif data['testingthis']==="test2" %}
								Knee bending slightly reduced to between 120° and 90°
								{% elif data['testingthis']==="test3" %}
								Knee bending significantly reduced to between 90° and 45°
								{% elif data['testingthis']==="test4" %}
								Knee bending is considerably reduced to less than 45°
								{% elif data['testingthis']==="test5" %}
								Knee grates on movement: accompanied by marked crepitus
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Left Leg Issue 4') %}
					<tr>
						<th>Knee extension</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Full
								{% elif data['testingthis']==="test2" %}
								Unable to fully straighten knee
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Left Leg Issue 5') %}
					<tr>
						<th>External hip rotation</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (45°)
								{% elif data['testingthis']==="test2" %}
								Outward hip rotation is limited by pain to less than 30°
								{% elif data['testingthis']==="test3" %}
								Outward hip rotation is limited by stiffness to less than 30°
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Left Leg Issue 6') %}
					<tr>
						<th>Ankle plantarflexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (50°)
								{% elif data['testingthis']==="test2" %}
								Downward movement of the ankle was reduced to less than 50°
								{% elif data['testingthis']==="test3" %}
								Downward movement of the ankle was absent
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Left Leg Issue 7') %}
					<tr>
						<th>Ankle dorsiflexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (20°)
								{% elif data['testingthis']==="test2" %}
								Upward movement of the ankle reduced by tight Achilles tendon
								{% elif data['testingthis']==="test3" %}
								Upward movement of the ankle slightly reduced
								{% elif data['testingthis']==="test4" %}
								Upward movement of ankle significantly reduced
								{% elif data['testingthis']==="test5" %}
								Upward movement of ankle was absent
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Left Leg Issue 8') %}
					<tr>
						<th>Power</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal
								{% elif data['testingthis']==="test2" %}
								Power in leg was slightly reduced
								{% elif data['testingthis']==="test3" %}
								Power in leg significantly reduced
								{% elif data['testingthis']==="test4" %}
								No movement in leg
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if data['leftlegissueopencomments'] %}
					<tr>
						<th>Other examination findings</th>
						<td>
								{{ leftlegissueopencomments }}
							</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<!-- / issue end -->			



			<table class="report-view-table">
				<caption class="heading-small">Right leg</caption>

				<tbody>
					{% if checked('issueswith', 'Right Leg Issue 1') %}
					<tr>
						<th>Straight leg raising</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (more than 70°)
								{% elif data['testingthis']==="test2" %}
								Ability to lift straight leg when lying down is reduced by muscle tightness at the back of the leg
								{% elif data['testingthis']==="test3" %}
								Ability to lift straight leg when lying down is reduced due to hip pain
								{% elif data['testingthis']==="test4" %}
								Ability to lift straight leg when lying down is reduced due to low back pain
								{% elif data['testingthis']==="test5" %}
								Ability to lift straight leg when lying down is reduced due to pain below the knee
								{% elif data['testingthis']==="test6" %}
								Ability to lift straight leg when lying down is reduced due to numbness in lower leg
								{% elif data['testingthis']==="test7" %}
								Straight leg raising is reduced by weakness
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Right Leg Issue 2') %}
					<tr>
						<th>Hip flexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (130°)
								{% elif data['testingthis']==="test2" %}
								Hip bending is slightly reduced to between 130° and 110°
								{% elif data['testingthis']==="test3" %}
								Hip bending moderately reduced to  between 100° and 80°
								{% elif data['testingthis']==="test4" %}
								Hip bending is considerably reduced to less than 80°
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Right Leg Issue 3') %}
					<tr>
						<th>Knee flexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (120°)
								{% elif data['testingthis']==="test2" %}
								Knee bending slightly reduced to between 120° and 90°
								{% elif data['testingthis']==="test3" %}
								Knee bending significantly reduced to between 90° and 45°
								{% elif data['testingthis']==="test4" %}
								Knee bending is considerably reduced to less than 45°
								{% elif data['testingthis']==="test5" %}
								Knee grates on movement: accompanied by marked crepitus
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Right Leg Issue 4') %}
					<tr>
						<th>Knee extension</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Full
								{% elif data['testingthis']==="test2" %}
								Unable to fully straighten knee
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Right Leg Issue 5') %}
					<tr>
						<th>External hip rotation</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (45°)
								{% elif data['testingthis']==="test2" %}
								Outward hip rotation is limited by pain to less than 30°
								{% elif data['testingthis']==="test3" %}
								Outward hip rotation is limited by stiffness to less than 30°
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Right Leg Issue 6') %}
					<tr>
						<th>Ankle plantarflexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (50°)
								{% elif data['testingthis']==="test2" %}
								Downward movement of the ankle was reduced to less than 50°
								{% elif data['testingthis']==="test3" %}
								Downward movement of the ankle was absent
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Right Leg Issue 7') %}
					<tr>
						<th>Ankle dorsiflexion</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal (20°)
								{% elif data['testingthis']==="test2" %}
								Upward movement of the ankle reduced by tight Achilles tendon
								{% elif data['testingthis']==="test3" %}
								Upward movement of the ankle slightly reduced
								{% elif data['testingthis']==="test4" %}
								Upward movement of ankle significantly reduced
								{% elif data['testingthis']==="test5" %}
								Upward movement of ankle was absent
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if checked('issueswith', 'Right Leg Issue 8') %}
					<tr>
						<th>Power</th>
						<td>
								{% if data['testingthis']==="test1" %}
								Normal
								{% elif data['testingthis']==="test2" %}
								Power in leg was slightly reduced
								{% elif data['testingthis']==="test3" %}
								Power in leg significantly reduced
								{% elif data['testingthis']==="test4" %}
								No movement in leg
								{% endif %}
						</td>
					</tr>
					{% endif %}
					{% if data['rightlegissueopencomments'] %}
					<tr>
						<th>Other examination findings</th>
						<td>
								{{ rightlegissueopencomments }}
							</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<!-- / issue end -->




			<!--	
			<table class="report-view-table">
					<caption class="heading-small">Left leg</caption>
	
					<tbody>
						{% if checked('issueswith', 'Issue 1') %}
						<tr>
							<th>Straight Leg raising</th>
							<td>
									{% if data['testingthis']==="test1" %}
									Normal (more than 70°)
									{% elif data['testingthis']==="test2" %}
									Able to lift straight leg when lying down is reduced by muscle tightness at the back of the leg: reduced by hamstring tightness
									{% elif data['testingthis']==="test3" %}
									Ability to lift straight leg when lying down reduced due to hip pain
									{% elif data['testingthis']==="test4" %}
									Ability to lift straight leg when lying down reduced due to low back pain
									{% elif data['testingthis']==="test5" %}
									Straight leg raising is reduced by weakness
									{% endif %}
							</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 2') %}
						<tr>
							<th>Hip flexion</th>
							<td>	{% if data['issue2opencomments']  %}
								
									{{ issue2opencomments }}
									{% else %}
									Normal (more than 130˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 3') %}
						<tr>
							<th>Knee flexion</th>
							<td>	{% if data['issue3opencomments']  %}
								
									{{ issue3opencomments }}
									{% else %}
									Normal (more than 120˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 4') %}
						<tr>
							<th>Knee extension</th>
							<td>	{% if data['issue4opencomments']  %}
								
									{{ issue4opencomments }}
									{% else %}
									Full
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 5') %}
						<tr>
							<th>External hip rotation</th>
							<td>	{% if data['issue5opencomments'] %}
								
									{{ issue5opencomments }}
									{% else %}
									Normal (more than 45˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 6') %}
						<tr>
							<th>Ankle Plantarflexion</th>
							<td>	{% if data['issue6opencomments'] %}
								
									{{ issue6opencomments }}
									{% else %}
									Normal (more than 50˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 7') %}
						<tr>
							<th>Ankle dorsiflexion</th>
							<td>	{% if data['issue7opencomments'] %}
								
									{{ issue7opencomments }}
									{% else %}
									Normal (more than 20˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 8') %}
						<tr>
							<th>Hallux dorsiflexion</th>
							<td>	{% if data['issue8opencomments'] %}
								
									{{ issue8opencomments }}
									{% else %}
									Normal (more than 60˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 9') %}
						<tr>
							<th>Hallux plantarflexion</th>
							<td>	{% if data['issue9opencomments']  %}
								
									{{ issue9opencomments }}
									{% else %}
									Normal (more than 40˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 10') %}
						<tr>
							<th>Power</th>
							<td>	{% if data['issue10opencomments'] %}
								
									{{ issue10opencomments }}
									{% else %}
									Normal
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 11') %}
						<tr>
							<th>Tone</th>
							<td>	{% if data['issue11opencomments'] %}
								
									{{ issue11opencomments }}
									{% else %}
									Normal 
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 12') %}
						<tr>
							<th>Knee reflexes</th>
							<td>	{% if data['issue12opencomments']%}
								
									{{ issue12opencomments }}
									{% else %}
									Normal 
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 13') %}
						<tr>
							<th>Ankle reflexes</th>
							<td>	{% if data['issue13opencomments'] %}
								
									{{ issue13opencomments }}
									{% else %}
									Normal 
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Issue 14') %}
						<tr>
							<th>Plantar reflexes</th>
							<td>	{% if data['issue14opencomments'] %}
								
									{{ issue14opencomments }}
									{% else %}
									Normal 
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if data['issue15opencomments'] %}
						<tr>
							<th>Other examination findings </th>
							<td>
								
									{{ issue15opencomments }}
							
								</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				<form action="lower-limbs2" method="Post">-->
				<!--<p><button class="button-secondary">Edit left leg</button></p>-->
						 <div class="visually-hidden">
				<div class="multiple-choice">
						<input id="issue15" name="physicalvisited" type="checkbox" value="yes" checked>
						<label for="issue15"> Observations</label>
						</div>
				</div>		  
							</form>
			<!--<table class="report-view-table">
					<caption class="heading-small">Right leg</caption>
			
					<tbody>
						{% if checked('issueswithRight', 'Issue 1') %}
						<tr>
							<th>Straight Leg raising</th>
							<td>
									{% if data['rightlegissue1opencomments'] %}
								
									{{ rightlegissue1opencomments }}
									{% else %}
									Normal (more than 70˚)
									{% endif %}
								
								
							</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 2') %}
						<tr>
							<th>Hip flexion</th>
							<td>	{% if data['rightlegissue2opencomments']  %}
								
									{{ rightlegissue2opencomments }}
									{% else %}
									Normal (more than 130˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 3') %}
						<tr>
							<th>Knee flexion</th>
							<td>	{% if data['rightlegissue3opencomments']  %}
								
									{{ rightlegissue3opencomments }}
									{% else %}
									Normal (more than 120˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 4') %}
						<tr>
							<th>Knee extension</th>
							<td>	{% if data['rightlegissue4opencomments']  %}
								
									{{ rightlegissue4opencomments }}
									{% else %}
									Full
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 5') %}
						<tr>
							<th>External hip rotation</th>
							<td>	{% if data['rightlegissue5opencomments'] %}
								
									{{ rightlegissue5opencomments }}
									{% else %}
									Normal (more than 45˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 6') %}
						<tr>
							<th>Ankle Plantarflexion</th>
							<td>	{% if data['rightlegissue6opencomments'] %}
								
									{{ rightlegissue6opencomments }}
									{% else %}
									Normal (more than 50˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 7') %}
						<tr>
							<th>Ankle dorsiflexion</th>
							<td>	{% if data['rightlegissue7opencomments'] %}
								
									{{ rightlegissue7opencomments }}
									{% else %}
									Normal (more than 20˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 8') %}
						<tr>
							<th>Hallux dorsiflexion</th>
							<td>	{% if data['rightlegissue8opencomments'] %}
								
									{{ rightlegissue8opencomments }}
									{% else %}
									Normal (more than 60˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 9') %}
						<tr>
							<th>Hallux plantarflexion</th>
							<td>	{% if data['rightlegissue9opencomments']  %}
								
									{{ rightlegissue9opencomments }}
									{% else %}
									Normal (more than 40˚)
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 10') %}
						<tr>
							<th>Power</th>
							<td>	{% if data['rightlegissue10opencomments'] %}
								
									{{ rightlegissue10opencomments }}
									{% else %}
									Normal
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 11') %}
						<tr>
							<th>Tone</th>
							<td>	{% if data['rightlegissue11opencomments'] %}
								
									{{ rightlegissue11opencomments }}
									{% else %}
									Normal 
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 12') %}
						<tr>
							<th>Knee reflexes</th>
							<td>	{% if data['rightlegissue12opencomments']%}
								
									{{ rightlegissue12opencomments }}
									{% else %}
									Normal 
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 13') %}
						<tr>
							<th>Ankle reflexes</th>
							<td>	{% if data['rightlegissue13opencomments'] %}
								
									{{ rightlegissue13opencomments }}
									{% else %}
									Normal 
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if checked('issueswithRight', 'Issue 14') %}
						<tr>
							<th>Plantar reflexes</th>
							<td>	{% if data['rightlegissue14opencomments'] %}
								
									{{ rightlegissue14opencomments }}
									{% else %}
									Normal 
									{% endif %}</td>
						</tr>
						{% endif %}
						{% if data['rightlegissue15opencomments'] %}
						<tr>
							<th>Other examination findings</th>
							<td>
								
									{{ rightlegissue15opencomments }}
							
								</td>
						</tr>
						{% endif %}
					</tbody>
				</table>-->
				<form action="lower-limbs3" method="Post">
						<!--<p><button class="button-secondary">Edit right leg</button></p>-->
						 <div class="visually-hidden">
						<div class="multiple-choice">
								<input id="issue15" name="physicalvisited" type="checkbox" value="yes" checked>
								<label for="issue15"> Observations</label>
								</div>
						</div>		  
						</form>
				
	
			<!-- / iteem end -->

			<h3 class="heading-medium">Neck and arms</h3>
			
			<table class="report-view-table">
					<caption class="heading-small">Neck</caption>
	
					<tbody>
						{% if checked('issueswith', 'Neck Issue 1') %}
						<tr>
							<th>Forward flexion</th>
							<td>
									{% if data['testingthis']==="test1" %}
									Unrestricted
									{% elif data['testingthis']==="test2" %}
									Can very nearly touch chin to front of chest (gap of 1 cm)
									{% elif data['testingthis']==="test3" %}
									Cannot touch chin to front of chest (gap greater than 2 cm)
									{% endif %}
							</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Neck Issue 2') %}
						<tr>
							<th>Extension</th>
							<td>
									{% if data['testingthis']==="test1" %}
									Unrestricted
									{% elif data['testingthis']==="test2" %}
									Upward neck movement reduced by a quarter to between 60° and 70°
									{% elif data['testingthis']==="test3" %}
									Upward neck movement greatly reduced to less than 30°
									{% endif %}
							</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Neck Issue 3') %}
						<tr>
							<th>Left rotation</th>
							<td>
									{% if data['testingthis']==="test1" %}
									Unrestricted
									{% elif data['testingthis']==="test2" %}
									Ability to look to side is reduced to between 60° and 70°
									{% elif data['testingthis']==="test3" %}
									Ability to look to side is reduced to less than 60°
									{% endif %}
							</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Neck Issue 4') %}
						<tr>
							<th>Left ear to shoulder</th>
							<td>
									{% if data['testingthis']==="test1" %}
									Unrestricted
									{% elif data['testingthis']==="test2" %}
									No: cannot move ear towards shoulder
									{% endif %}
							</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Neck Issue 5') %}
						<tr>
							<th>Right rotation</th>
							<td>
									{% if data['testingthis']==="test1" %}
									Unrestricted
									{% elif data['testingthis']==="test2" %}
									Ability to look to side is reduced to between 60° and 70°
									{% elif data['testingthis']==="test3" %}
									Ability to look to side is reduced to less than 60°
									{% endif %}
							</td>
						</tr>
						{% endif %}
						{% if checked('issueswith', 'Neck Issue 6') %}
						<tr>
							<th>Right ear to shoulder</th>
							<td>
									{% if data['testingthis']==="test1" %}
									Unrestricted
									{% elif data['testingthis']==="test2" %}
									No: cannot move ear towards shoulder
									{% endif %}
							</td>
						</tr>
						{% endif %}
						{% if data['neckissueopencomments'] %}
						<tr>
							<th>Other examination findings</th>
							<td>
									{{ neckissueopencomments }}
								</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				<!-- / issue end -->


				<table class="report-view-table">
						<caption class="heading-small">Left upper arm</caption>
		
						<tbody>
							{% if checked('issueswith', 'Left Upper Arm Issue 1') %}
							<tr>
								<th>Hand behind neck</th>
								<td>
										{% if data['testingthis']==="test1" %}
										Fingers overlap mid line
										{% elif data['testingthis']==="test2" %}
										Fingers do not reach mid line: hand reaches to back of neck but not fully behind it
										{% elif data['testingthis']==="test3" %}
										Cannot put hand behind neck: hand does not reach behind neck
										{% endif %}
								</td>
							</tr>
							{% endif %}
							{% if checked('issueswith', 'Left Upper Arm Issue 2') %}
							<tr>
								<th>Hand behind back</th>
								<td>
										{% if data['testingthis']==="test1" %}
										Finger to mid scapula
										{% elif data['testingthis']==="test2" %}
										Finger below scapula: hand can only reach small of back
										{% elif data['testingthis']==="test3" %}
										Cannot put hand behind back
										{% endif %}
								</td>
							</tr>
							{% endif %}
							{% if checked('issueswith', 'Left Upper Arm Issue 3') %}
							<tr>
								<th>Shoulder abduction</th>
								<td>
										{% if data['testingthis']==="test1" %}
										Normal (more than 170°)
										{% elif data['testingthis']==="test2" %}
										Ability to raise arm away from side to above shoulder is reduced to between 120° and 150°
										{% elif data['testingthis']==="test3" %}
										Ability to raise arm away from side is restricted around shoulder level to between 70° and 110°
										{% elif data['testingthis']==="test4" %}
										Ability to raise arm away from side is restricted around shoulder level to less than 70°
										{% elif data['testingthis']==="test5" %}
										Painful arm movement above shoulder height at between 100° and 150°
										{% elif data['testingthis']==="test6" %}
										Painful arm movement around shoulder height at between 100° and 110°
										{% elif data['testingthis']==="test7" %}
										Not able to initiate: cannot start to lift arm away from side
										{% endif %}
								</td>
							</tr>
							{% endif %}
							{% if checked('issueswith', 'Left Upper Arm Issue 4') %}
							<tr>
								<th>Elbow flexion</th>
								<td>
										{% if data['testingthis']==="test1" %}
										Normal (130°)
										{% elif data['testingthis']==="test2" %}
										Can bend elbow beyond half way to between 100° and 120°
										{% elif data['testingthis']==="test3" %}
										Can bend elbow almost half way to between 80° and 90°
										{% elif data['testingthis']==="test4" %}
										Can bend elbow less than half way to less than 80°
										{% endif %}
								</td>
							</tr>
							{% endif %}
							{% if checked('issueswith', 'Left Upper Arm Issue 5') %}
							<tr>
								<th>Upper limb power</th>
								<td>
										{% if data['testingthis']==="test1" %}
										Normal
										{% elif data['testingthis']==="test2" %}
										Muscle power in the arm is slightly reduced
										{% elif data['testingthis']==="test3" %}
										Muscle power in the arm is significantly reduced
										{% elif data['testingthis']==="test4" %}
										No movement
										{% endif %}
								</td>
							</tr>
							{% endif %}
							{% if data['leftupperarmissueopencomments'] %}
							<tr>
								<th>Other examination findings</th>
								<td>
										{{ leftupperarmissueopencomments }}
									</td>
							</tr>
							{% endif %}
						</tbody>
						
					</table>
					<!-- / issue end -->


			
					<table class="report-view-table">
							<caption class="heading-small">Right upper arm</caption>
			
							<tbody>
								{% if checked('issueswith', 'Right Upper Arm Issue 1') %}
								<tr>
									<th>Hand behind neck</th>
									<td>
											{% if data['testingthis']==="test1" %}
											Fingers overlap mid line
											{% elif data['testingthis']==="test2" %}
											Fingers do not reach mid line: hand reaches to back of neck but not fully behind it
											{% elif data['testingthis']==="test3" %}
											Cannot put hand behind neck: hand does not reach behind neck
											{% endif %}
									</td>
								</tr>
								{% endif %}
								{% if checked('issueswith', 'Right Upper Arm Issue 2') %}
								<tr>
									<th>Hand behind back</th>
									<td>
											{% if data['testingthis']==="test1" %}
											Finger to mid scapula
											{% elif data['testingthis']==="test2" %}
											Finger below scapula: hand can only reach small of back
											{% elif data['testingthis']==="test3" %}
											Cannot put hand behind back
											{% endif %}
									</td>
								</tr>
								{% endif %}
								{% if checked('issueswith', 'Right Upper Arm Issue 3') %}
								<tr>
									<th>Shoulder abduction</th>
									<td>
											{% if data['testingthis']==="test1" %}
											Normal (more than 170°)
											{% elif data['testingthis']==="test2" %}
											Ability to raise arm away from side to above shoulder is reduced to between 120° and 150°
											{% elif data['testingthis']==="test3" %}
											Ability to raise arm away from side is restricted around shoulder level to between 70° and 110°
											{% elif data['testingthis']==="test4" %}
											Ability to raise arm away from side is restricted around shoulder level to less than 70°
											{% elif data['testingthis']==="test5" %}
											Painful arm movement above shoulder height at between 100° and 150°
											{% elif data['testingthis']==="test6" %}
											Painful arm movement around shoulder height at between 100° and 110°
											{% elif data['testingthis']==="test7" %}
											Not able to initiate: cannot start to lift arm away from side
											{% endif %}
									</td>
								</tr>
								{% endif %}
								{% if checked('issueswith', 'Right Upper Arm Issue 4') %}
								<tr>
									<th>Elbow flexion</th>
									<td>
											{% if data['testingthis']==="test1" %}
											Normal (130°)
											{% elif data['testingthis']==="test2" %}
											Can bend elbow beyond half way to between 100° and 120°
											{% elif data['testingthis']==="test3" %}
											Can bend elbow almost half way to between 80° and 90°
											{% elif data['testingthis']==="test4" %}
											Can bend elbow less than half way to less than 80°
											{% endif %}
									</td>
								</tr>
								{% endif %}
								{% if checked('issueswith', 'Right Upper Arm Issue 5') %}
								<tr>
									<th>Upper limb power</th>
									<td>
											{% if data['testingthis']==="test1" %}
											Normal
											{% elif data['testingthis']==="test2" %}
											Muscle power in the arm is slightly reduced
											{% elif data['testingthis']==="test3" %}
											Muscle power in the arm is significantly reduced
											{% elif data['testingthis']==="test4" %}
											No movement
											{% endif %}
									</td>
								</tr>
								{% endif %}
								{% if data['rightupperarmissueopencomments'] %}
								<tr>
									<th>Other examination findings</th>
									<td>
											{{ rightupperarmissueopencomments }}
										</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
						<!-- / issue end -->


						<table class="report-view-table">
								<caption class="heading-small">Left forearm</caption>
				
								<tbody>
									{% if checked('issueswith', 'Left Forearm Issue 1') %}
									<tr>
										<th>Wrist pronation</th>
										<td>
												{% if data['testingthis']==="test1" %}
												Normal (70° to 80°)
												{% elif data['testingthis']==="test2" %}
												Wrist turning inwards is reduced to between 40° and 60°
												{% elif data['testingthis']==="test3" %}
												Wrist turning inwards is reduced to less than 40°
												{% endif %}
										</td>
									</tr>
									{% endif %}
									{% if checked('issueswith', 'Left Forearm Issue 2') %}
									<tr>
										<th>Wrist supination</th>
										<td>
												{% if data['testingthis']==="test1" %}
												Normal (70° to 80°)
												{% elif data['testingthis']==="test2" %}
												Wrist turning outwards is reduced to between 60° and 65
												{% elif data['testingthis']==="test3" %}
												Wrist turning outwards is reduced to less than 60°
												{% endif %}
										</td>
									</tr>
									{% endif %}
									{% if checked('issueswith', 'Left Forearm Issue 3') %}
									<tr>
										<th>Wrist dorsiflexion</th>
										<td>
												{% if data['testingthis']==="test1" %}
												Normal (30° or more)
												{% elif data['testingthis']==="test2" %}
												Wrist bending backwards is reduced to less than 30°
												{% endif %}
										</td>
									</tr>
									{% endif %}
									{% if checked('issueswith', 'Left Forearm Issue 4') %}
									<tr>
										<th>Wrist plantarflexion</th>
										<td>
												{% if data['testingthis']==="test1" %}
												Normal (30° or more)
												{% elif data['testingthis']==="test2" %}
												Wrist bending forwards is reduced to less than 30°
												{% endif %}
										</td>
									</tr>
									{% endif %}
									{% if checked('issueswith', 'Left Forearm Issue 5') %}
									<tr>
										<th>Pinch grip</th>
										<td>
												{% if data['testingthis']==="test1" %}
												Normal (thumb to index finger)
												{% elif data['testingthis']==="test2" %}
												Thumb and finger grip is weaker than normal: can touch but with reduced power
												{% elif data['testingthis']==="test3" %}
												Fist grip reduced: can touch but with reduced power
												{% elif data['testingthis']==="test4" %}
												Cannot grip with thumb and finger: unable to touch thumb to finger
												{% endif %}
										</td>
									</tr>
									{% endif %}
									{% if checked('issueswith', 'Left Forearm Issue 6') %}
									<tr>
										<th>Power grip</th>
										<td>
												{% if data['testingthis']==="test1" %}
												Normal
												{% elif data['testingthis']==="test2" %}
												Fist grip reduced
												{% elif data['testingthis']==="test3" %}
												Fist grip very weak: fingers do not touch palm
												{% elif data['testingthis']==="test4" %}
												Cannot make a fist: fingers 3 cm from palm 
												{% elif data['testingthis']==="test5" %}
												Cannot grip at all: cannot bend fingers 
												{% endif %}
										</td>
									</tr>
									{% endif %}
									{% if data['leftforearmissueopencomments'] %}
									<tr>
										<th>Other examination findings</th>
										<td>
												{{ leftforearmissueopencomments }}
											</td>
									</tr>
									{% endif %}
								</tbody>
							</table>
							<!-- / issue end -->

							<table class="report-view-table">
									<caption class="heading-small">Right forearm</caption>
					
									<tbody>
										{% if checked('issueswith', 'Right Forearm Issue 1') %}
										<tr>
											<th>Wrist pronation</th>
											<td>
													{% if data['testingthis']==="test1" %}
													Normal (70° to 80°)
													{% elif data['testingthis']==="test2" %}
													Wrist turning inwards is reduced to between 40° and 60°
													{% elif data['testingthis']==="test3" %}
													Wrist turning inwards is reduced to less than 40°
													{% endif %}
											</td>
										</tr>
										{% endif %}
										{% if checked('issueswith', 'Right Forearm Issue 2') %}
										<tr>
											<th>Wrist supination</th>
											<td>
													{% if data['testingthis']==="test1" %}
													Normal (70° to 80°)
													{% elif data['testingthis']==="test2" %}
													Wrist turning outwards is reduced to between 60° and 65
													{% elif data['testingthis']==="test3" %}
													Wrist turning outwards is reduced to less than 60°
													{% endif %}
											</td>
										</tr>
										{% endif %}
										{% if checked('issueswith', 'Right Forearm Issue 3') %}
										<tr>
											<th>Wrist dorsiflexion</th>
											<td>
													{% if data['testingthis']==="test1" %}
													Normal (30° or more)
													{% elif data['testingthis']==="test2" %}
													Wrist bending backwards is reduced to less than 30°
													{% endif %}
											</td>
										</tr>
										{% endif %}
										{% if checked('issueswith', 'Right Forearm Issue 4') %}
										<tr>
											<th>Wrist plantarflexion</th>
											<td>
													{% if data['testingthis']==="test1" %}
													Normal (30° or more)
													{% elif data['testingthis']==="test2" %}
													Wrist bending forwards is reduced to less than 30°
													{% endif %}
											</td>
										</tr>
										{% endif %}
										{% if checked('issueswith', 'Right Forearm Issue 5') %}
										<tr>
											<th>Pinch grip</th>
											<td>
													{% if data['testingthis']==="test1" %}
													Normal (thumb to index finger)
													{% elif data['testingthis']==="test2" %}
													Thumb and finger grip is weaker than normal: can touch but with reduced power
													{% elif data['testingthis']==="test3" %}
													Fist grip reduced: can touch but with reduced power
													{% elif data['testingthis']==="test4" %}
													Cannot grip with thumb and finger: unable to touch thumb to finger
													{% endif %}
											</td>
										</tr>
										{% endif %}
										{% if checked('issueswith', 'Right Forearm Issue 6') %}
										<tr>
											<th>Power grip</th>
											<td>
													{% if data['testingthis']==="test1" %}
													Normal
													{% elif data['testingthis']==="test2" %}
													Fist grip reduced
													{% elif data['testingthis']==="test3" %}
													Fist grip very weak: fingers do not touch palm
													{% elif data['testingthis']==="test4" %}
													Cannot make a fist: fingers 3 cm from palm 
													{% elif data['testingthis']==="test5" %}
													Cannot grip at all: cannot bend fingers 
													{% endif %}
											</td>
										</tr>
										{% endif %}
										{% if data['rightforearmissueopencomments'] %}
										<tr>
											<th>Other examination findings</th>
											<td>
													{{ rightforearmissueopencomments }}
												</td>
										</tr>
										{% endif %}
									</tbody>
								</table>
								<!-- / issue end -->

					





			{% if data['cardiac'] %}
			<h3 class="heading-medium">Cardio vascular and respiratory</h3>
			{% if checked('cardiac', 'general') %}
			<table class="report-view-table">
					<caption class="heading-small">Respiratory rate</caption>
		
					<tbody>
		
						{% if data['respiratory'] %}
						<tr>
							<th>What is Bobby's respiratory at rest?</th>
							<td>
									{{ respiratory }}
							</td>
						</tr>
						{% endif %}
						{% if data['respiratorycomments'] %}
						<tr>
							<th>Other examination findings </th>
							<td>
								
									{{ respiratorycomments }}
							
								</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				{% endif %}
	
				{% if checked('cardiac', 'pulse') %}
				<table class="report-view-table">
						<caption class="heading-small">Radial pulse</caption>
			
						<tbody>
			
							{% if data['radialcomments'] %}
							<tr>
								<th>Radial pulse – rate, rhythm, character</th>
								<td>
										{{ radialcomments }}
								</td>
							</tr>
							{% endif %}
							{% if data['radialcomments2'] %}
							<tr>
								<th>Other examination findings </th>
								<td>
									
										{{ radialcomments2 }}
								
									</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
					{% endif %}
	
					{% if checked('cardiac', 'peripheral') %}
					<table class="report-view-table">
							<caption class="heading-small">Left leg peripheral circulation</caption>
				
							<tbody>
				
								{% if data['issuewithcardiac1opencomments'] %}
								<tr>
									<th>Oedema</th>
									<td>
											{{ issuewithcardiac1opencomments }}
									</td>
								</tr>
								{% endif %}
								{% if data['issuewithcardiac2opencomments'] %}
								<tr>
									<th>Doesalis pedis pulse</th>
									<td>
										
											{{ issuewithcardiac3opencomments }}
									
										</td>
								</tr>
								{% endif %}
								{% if data['issuewithcardiac3opencomments'] %}
								<tr>
									<th>Varicose veins</th>
									<td>
										
											{{ issuewithcardiac3opencomments }}
									
										</td>
								</tr>
								{% endif %}
								{% if data['cardiaccomments'] %}
								<tr>
									<th>Other examination findings</th>
									<td>
										
											{{ cardiaccomments }}
									
										</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
						{% endif %}
	
						{% if checked('cardiac', 'peripheral2') %}
						<table class="report-view-table">
								<caption class="heading-small">Right leg peripheral circulation</caption>
					
								<tbody>
					
									{% if data['issuewithcardiacright1'] %}
									<tr>
										<th>Oedema</th>
										<td>
												{{ issuewithcardiacright1 }}
										</td>
									</tr>
									{% endif %}
									{% if data['issuewithcardiacright2'] %}
									<tr>
										<th>Doesalis pedis pulse</th>
										<td>
											
												{{ issuewithcardiacright2 }}
										
											</td>
									</tr>
									{% endif %}
									{% if data['issuewithcardiacright3'] %}
									<tr>
										<th>Varicose veins</th>
										<td>
											
												{{ issuewithcardiacright3 }}
										
											</td>
									</tr>
									{% endif %}
									{% if data['issuewithcardiacright4'] %}
									<tr>
										<th>Other examination findings</th>
										<td>
											
												{{ issuewithcardiacright4 }}
										
											</td>
									</tr>
									{% endif %}
								</tbody>
							</table>
							{% endif %}
	
							{% if checked('cardiac', 'Blood') %}
							<table class="report-view-table">
									<caption class="heading-small">Blood pressure</caption>
						
									<tbody>
						
										{% if data['bloodpressure'] %}
										<tr>
											<th>What is Bobby's blood pressure?</th>
											<td>
													{{ bloodpressure }}
											</td>
										</tr>
										{% endif %}
										{% if data['bloodpressurecomments'] %}
										<tr>
											<th>Other examination findings</th>
											<td>
												
													{{ bloodpressurecomments }}
											
												</td>
										</tr>
										{% endif %}
									</tbody>
								</table>
								{% endif %}
	
								{% if checked('cardiac', 'Peak') %}
								<table class="report-view-table">
										<caption class="heading-small">Peak expiry flow rate</caption>
							
										<tbody>
							
											{% if data['issueswithflowrate1'] %}
											<tr>
												<th>Technique</th>
												<td>
														{{issueswithflowrate1 }}
												</td>
											</tr>
											{% endif %}
											{% if data['issueswithflowrate2'] %}
											<tr>
												<th>Value</th>
												<td>
													
														{{ issueswithflowrate2 }}
												
													</td>
											</tr>
											{% endif %}
											{% if data['issueswithflowrate3'] %}
											<tr>
												<th>Meter type</th>
												<td>
													
														{{ issueswithflowrate3 }}
												
													</td>
											</tr>
											{% endif %}
											{% if data['issueswithflowrate4'] %}
											<tr>
												<th>Other examination findings</th>
												<td>
													
														{{ issueswithflowrate4 }}
												
													</td>
											</tr>
											{% endif %}
										</tbody>
									</table>
									{% endif %}
		
			{% endif %}
	</div>
</div>
<!-- / report item -->





<div class="report-item">

	<div class="inner-focus">

{% if checked('mental-health', 'mental-health')%}
	<h2 class="heading-large">Mental state examination</h2> 
{% endif %}

{% if data['Appearance'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Appearance <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhappearance}}</p>
	
	<p><a href="#" class="button secondary">Edit appearance</a></p>
</div>
{% endif %}

{% if data['Behaviour'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Behaviour <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhbehaviour}}</p>
	
	<p><a href="#" class="button secondary">Edit Behaviour</a></p>
</div>
{% endif %}

{% if data['Speech'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Speech <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhspeech}}</p>
	
	<p><a href="#" class="button secondary">Edit Speech</a></p>
</div>
{% endif %}

{% if data['Mood'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Mood <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhmood}}</p>
	
	<p><a href="#" class="button secondary">Edit Mood</a></p>
</div>
{% endif %}

{% if data['Cognition'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Cognition <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhcognition}}</p>
	
	<p><a href="#" class="button secondary">Edit Cognition</a></p>
</div>
{% endif %}

{% if data['General'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">General <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhgeneral}}</p>
	
	<p><a href="#" class="button secondary">Edit General</a></p>
</div>
{% endif %}



{% if data['Insight'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Insight <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhinsight}}</p>
	
	<p><a href="#" class="button secondary">Edit Insight</a></p>
</div>
{% endif %}

{% if data['Thoughts'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Thoughts <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhthoughts}}</p>
	
	<p><a href="#" class="button secondary">Edit Thoughts</a></p>
</div>
{% endif %}


{% if data['Perceptions'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Perceptions <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhperceptions}}</p>
	
	<p><a href="#" class="button secondary">Edit Perceptions</a></p>
</div>
{% endif %}

{% if data['Addiction'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Addiction <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhaddiction}}</p>
	
	<p><a href="#" class="button secondary">Edit Addiction</a></p>
</div>
{% endif %}

{% if data['Involentry-movements'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Involuntary movements <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhinvolentry}}</p>
	
	<p><a href="#" class="button secondary">Edit Involuntary movements</a></p>
</div>
{% endif %}

	</div>
	
</div>
<!-- / report item -->






<!-- Displays report item based on selection from LCWRA page -->
{% if data['lcwra']==='lcwra1'%}
{% elif data['lcwra']==='lcwra2' or data['lcwra']==='lcwra3' or data['lcwra']==='lcwra4'%}
<div class="report-item">

	<h2 class="heading-large">Special Circumstances</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">Treat as LCWRA</h2>

		<p><span style="font-weight:bold;">Reason:</span>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra2'%}
		Risks associated with pregnancy
		{% elif data['lcwra']==='lcwra3'%}
		Cancer treatment underway
		{% elif data['lcwra']==='lcwra4'%}
		Terminal illness
		{% endif %}
		</p>

		<h4 class="heading-small">Justification:</h4>
		<p>{{ justifyTreatLCWRA }}</p>

	</div>
	
	<!--<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit exceptional circumstances</a></p>-->
	
</div>

{% elif data['lcwra']==='lcwra6' or data['lcwra']==='lcwra7' or data['lcwra']==='lcwra8' or data['lcwra']==='lcwra9' or data['lcwra']==='lcwra10' or data['lcwra']==='lcwra11' or data['lcwra']==='lcwra12' or data['lcwra']==='lcwra13' or data['lcwra']==='lcwra14' or data['lcwra']==='lcwra15' or data['lcwra']==='lcwra16' or data['lcwra']==='lcwra17' or data['lcwra']==='lcwra18' or data['lcwra']==='lcwra19' or data['lcwra']==='lcwra20'%}
<div class="report-item">

	<h2 class="heading-large">Medical opinion</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">Functional LCWRA</h2>
		
		<p><span style="font-weight:bold;">Activity:</span>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra6'%}
		Moving around and climbing steps without someone’s help
		{% elif data['lcwra']==='lcwra7'%}
		Standing, sitting and moving between the two
		{% elif data['lcwra']==='lcwra8'%}
		Reaching
		{% elif data['lcwra']==='lcwra9'%}
		Picking things up and moving them
		{% elif data['lcwra']==='lcwra10'%}
		Using your hands
		{% elif data['lcwra']==='lcwra11'%}
		Speaking, writing and typing
		{% elif data['lcwra']==='lcwra12'%}
		Hearing and reading
		{% elif data['lcwra']==='lcwra13'%}
		Controlling your bowels and bladder
		{% elif data['lcwra']==='lcwra14'%}
		Learning to do new tasks
		{% elif data['lcwra']==='lcwra15'%}
		Being aware of hazards and danger
		{% elif data['lcwra']==='lcwra16'%}
		Planning, starting and finishing everyday tasks
		{% elif data['lcwra']==='lcwra17'%}
		Coping with changes to your daily routine
		{% elif data['lcwra']==='lcwra18'%}
		Meeting and being with people
		{% elif data['lcwra']==='lcwra19'%}
		Behaving appropriately around other people
		{% elif data['lcwra']==='lcwra20'%}
		Eating and drinking
		{% endif %}
		</p>

		<h4 class="heading-small">Justification:</h4>
		<p>{{ justifyFunctionalLCWRA }}</p>

	</div>
	
	<!--<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit medical opinion</a></p>-->
	
</div>

{% endif %}		
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Recommended review period</h2> 
	
	<div class="inner-focus">

		<p>
		{% if data['reviewPeriod']==='reviewPeriod1'%}
		{% elif data['reviewPeriod']==='3months'%}
		3 months
		{% elif data['reviewPeriod']==='6months'%}
		6 months
		{% elif data['reviewPeriod']==='12months'%}
		12 months
		{% elif data['reviewPeriod']==='18months'%}
		18 months
		{% elif data['reviewPeriod']==='2years'%}
		2 years
		{% elif data['reviewPeriod']==='longerterm'%}
		in the longer term
		{% elif data['reviewPeriod']==='notrequired'%}
		not future assessment required
		{% endif %}
		</p>
	</div>
	
	<!--<p class="edit-report"><a href="recommendedReviewPeriod" class="button-secondary">Edit recommended review period</a></p>-->
	
</div>
<!-- / report item -->	




















<!--
<div class="report-item">

	<h2 class="heading-large">Illnesses, disabilities and medication</h2>  

	<table class="report-view-table">
	<caption class="heading-small">Illnesses and disabilities</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Source</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Diabetes</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Arthritis</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Liver disease</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Urine problems</td>
				<td>Claimant</td>
			</tr>
		</tbody>
	</table>
	
	
	<table class="report-view-table">
	<caption class="heading-small">Medication and side effects</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Dose</th>
				<th>Side effects</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Ibuprofen</td>
				<td>Twice daily</td>
				<td>None</td>
			</tr>
		</tbody>
	</table>
	
	
	
	
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit illnesses, disabilities and medication</a></p>
	
	

</div>-->
<!-- / report item -->























  
   </div>
 <!-- / wrapper -->
  


	<p class="depart"><a href="/{{path}}/assessment/{{customer._id}}/evidence/curtailDeclaration" class="button">Finish &ndash; sign off report</a></p>



{% endblock %}