{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}



<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large mb0">Work capability report</h1>


<div class="review-wrapper full-report">




<div class="report-item">

	<table class="report-view-table">
	<caption class="heading-small">Assessment overview</caption>
	
		<tbody>
			<tr>
				<th>Date of assessment</th>
				<td>{{ "Do MMM YYYY" | daysAgo }}</td>
			</tr>
			<tr>
				<th>Assessment centre</th>
				<td>Fiveways, Birmingham</td>
			</tr>
			<tr>
				<th>Assessor</th>
				<td>Heather Harrison</td>
			</tr>
			<tr>
				<th>Assessment start</th>
				<td>{{ last_one.time | formatDate("H:mma") }}</td>
			</tr>
			<tr>
				<th>Assessment finish</th>
				<td>{{ first_one.time | formatDate("H:mma") }}</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- / report item -->


<!-- Displays report item based on selection from LCWRA page -->
{% if data['lcwra']==='lcwra1'%}
{% elif data['lcwra']==='lcwra2' or data['lcwra']==='lcwra3' or data['lcwra']==='lcwra4'%}
<div class="report-item">

	<h2 class="heading-large">Exceptional Circumstances</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">Treat as LCWRA</h2>

		<p><span style="font-weight:bold;">Reason:</span>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra2'%}
		Risks associated with pregnancy
		{% elif data['lcwra']==='lcwra3'%}
		Cancer treatment underway
		{% elif data['lcwra']==='lcwra4'%}
		Terminal illness
		{% endif %}
		</p>

		<h4 class="heading-small">Justification:</h4>
		<p>{{ justifyTreatLCWRA }}</p>

	</div>
	
	<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit exceptional circumstances</a></p>
	
</div>

{% elif data['lcwra']==='lcwra6' or data['lcwra']==='lcwra7' or data['lcwra']==='lcwra8' or data['lcwra']==='lcwra9' or data['lcwra']==='lcwra10' or data['lcwra']==='lcwra11' or data['lcwra']==='lcwra12' or data['lcwra']==='lcwra13' or data['lcwra']==='lcwra14' or data['lcwra']==='lcwra15' or data['lcwra']==='lcwra16' or data['lcwra']==='lcwra17' or data['lcwra']==='lcwra18' or data['lcwra']==='lcwra19' or data['lcwra']==='lcwra20'%}
<div class="report-item">

	<h2 class="heading-large">Medical opinion</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">Functional LCWRA</h2>
		
		<p><span style="font-weight:bold;">Activity:</span>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra6'%}
		Moving around and climbing steps without someone’s help
		{% elif data['lcwra']==='lcwra7'%}
		Standing, sitting and moving between the two
		{% elif data['lcwra']==='lcwra8'%}
		Reaching
		{% elif data['lcwra']==='lcwra9'%}
		Picking things up and moving them
		{% elif data['lcwra']==='lcwra10'%}
		Using your hands
		{% elif data['lcwra']==='lcwra11'%}
		Speaking, writing and typing
		{% elif data['lcwra']==='lcwra12'%}
		Hearing and reading
		{% elif data['lcwra']==='lcwra13'%}
		Controlling your bowels and bladder
		{% elif data['lcwra']==='lcwra14'%}
		Learning to do new tasks
		{% elif data['lcwra']==='lcwra15'%}
		Being aware of hazards and danger
		{% elif data['lcwra']==='lcwra16'%}
		Planning, starting and finishing everyday tasks
		{% elif data['lcwra']==='lcwra17'%}
		Coping with changes to your daily routine
		{% elif data['lcwra']==='lcwra18'%}
		Meeting and being with people
		{% elif data['lcwra']==='lcwra19'%}
		Behaving appropriately around other people
		{% elif data['lcwra']==='lcwra20'%}
		Eating and drinking
		{% endif %}
		</p>

		<h4 class="heading-small">Justification:</h4>
		<p>{{ justifyFunctionalLCWRA }}</p>

	</div>
	
	<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit medical opinion</a></p>
	
</div>

{% endif %}		
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Recommended review period</h2> 
	
	<div class="inner-focus">

		<p>
		{% if data['reviewPeriod']==='reviewPeriod1'%}
		{% elif data['reviewPeriod']==='3months'%}
		3 months
		{% elif data['reviewPeriod']==='6months'%}
		6 months
		{% elif data['reviewPeriod']==='12months'%}
		12 months
		{% elif data['reviewPeriod']==='18months'%}
		18 months
		{% elif data['reviewPeriod']==='2years'%}
		2 years
		{% elif data['reviewPeriod']==='longerterm'%}
		in the longer term
		{% elif data['reviewPeriod']==='notrequired'%}
		not future assessment required
		{% endif %}
		</p>
	</div>
	
	<p class="edit-report"><a href="personalSummaryStatement" class="button-secondary">Edit recommended review period</a></p>
	
</div>
<!-- / report item -->	



<div class="report-item">

	<h2 class="heading-large">Personal summary statement</h2> 
	
	<div class="inner-focus">
		<p>{{ statement }}</p>
	</div>
	
	<p class="edit-report"><a href="personalSummaryStatement" class="button-secondary">Edit personal summary statement</a></p>
	
</div>
<!-- / report item -->	




<div class="report-item">

	<h2 class="heading-large">Additional attendees</h2> 
	
	<div class="inner-focus">
		<p>{{ attendee-name }}</p>
	</div>
	
	<p class="edit-report"><a href="addAttendee" class="button-secondary">Edit additional attendees</a></p>
	
</div>
<!-- / report item -->	


<div class="report-item">

	<h2 class="heading-large">Illnesses, disabilities and medication</h2>  

	<table class="report-view-table">
	<caption class="heading-small">Illnesses and disabilities</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Source</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Diabetes</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Arthritis</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Liver disease</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Urine problems</td>
				<td>Claimant</td>
			</tr>
		</tbody>
	</table>
	
	
	<table class="report-view-table">
	<caption class="heading-small">Medication and side effects</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Dose</th>
				<th>Side effects</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Ibuprofen</td>
				<td>Twice daily</td>
				<td>None</td>
			</tr>
		</tbody>
	</table>
	
	
	
	
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit illnesses, disabilities and medication</a></p>
	
	

</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Social and work history</h2> 
	
	<div class="inner-focus">
		<p>{{ attendee-name }}</p>
	</div>
	
	<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit social and work history</a></p>
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Typical day</h2> 
	
	<div class="inner-focus">
		<p>{{ attendee-name }}</p>
	</div>
	
	<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit typical day</a></p>
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Informal observations</h2> 
	
	<div class="inner-focus">
		<p>{{ attendee-name }}</p>
	</div>
	
	<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit informal observations</a></p>
	
</div>
<!-- / report item -->




<div class="report-item">

	<h2 class="heading-large">Physical assessment</h2> 
	
	<div class="inner-focus">
		<p>{{ attendee-name }}</p>
	</div>
	
	<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit physical assessment</a></p>
	
</div>
<!-- / report item -->





<div class="report-item">

	<h2 class="heading-large">Mental health assessment</h2> 
	
	<div class="inner-focus">
		<p>{{ attendee-name }}</p>
	</div>
	
	<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit mental health assessment</a></p>
	
</div>
<!-- / report item -->


<!-- Treat as LCWRA Content Block -->
<!--
<div class="report-item">

	<h2 class="heading-large">Exceptional Circumstances</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">Treat as LCWRA</h2>

		<p><span style="font-weight:bold;">Reason:</span>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra2'%}
		Risks associated with pregnancy
		{% elif data['lcwra']==='lcwra3'%}
		Cancer treatment underway
		{% elif data['lcwra']==='lcwra4'%}
		Terminal illness
		{% endif %}
		</p>

		<h4 class="heading-small">Justification:</h4>
		<p>{{ justifyTreatLCWRA }}</p>
	</div>
	
	<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit exceptional circumstances</a></p>
	
</div>-->

<!-- / report item -->



<!-- Functional LCWRA Activity Content Block -->
<!--
<div class="report-item">

	<h2 class="heading-large">Medical opinion</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">Functional LCWRA</h2>
		
		<p><span style="font-weight:bold;">Activity:</span>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra6'%}
		Moving around and climbing steps without someone’s help
		{% elif data['lcwra']==='lcwra7'%}
		Standing, sitting and moving between the two
		{% elif data['lcwra']==='lcwra8'%}
		Reaching
		{% elif data['lcwra']==='lcwra9'%}
		Picking things up and moving them
		{% elif data['lcwra']==='lcwra10'%}
		Using your hands
		{% elif data['lcwra']==='lcwra11'%}
		Speaking, writing and typing
		{% elif data['lcwra']==='lcwra12'%}
		Hearing and reading
		{% elif data['lcwra']==='lcwra13'%}
		Controlling your bowels and bladder
		{% elif data['lcwra']==='lcwra14'%}
		Learning to do new tasks
		{% elif data['lcwra']==='lcwra15'%}
		Being aware of hazards and danger
		{% elif data['lcwra']==='lcwra16'%}
		Planning, starting and finishing everyday tasks
		{% elif data['lcwra']==='lcwra17'%}
		Coping with changes to your daily routine
		{% elif data['lcwra']==='lcwra18'%}
		Meeting and being with people
		{% elif data['lcwra']==='lcwra19'%}
		Behaving appropriately around other people
		{% elif data['lcwra']==='lcwra20'%}
		Eating and drinking
		{% endif %}
		</p>

		<h4 class="heading-small">Reason:</h4>
		<p>{{ justifyFunctionalLCWRA }}</p>
	</div>
	
	<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit medical opinion</a></p>
	
</div>-->
<!-- / report item -->



	

  
   </div>
 <!-- / wrapper -->
  


	<p class="depart"><a href="/{{path}}/assessment/{{customer._id}}/evidence/curtailDeclaration" class="button">Finish &ndash; sign off report</a></p>



{% endblock %}


