{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}




<div class="container">


	<div class="grid-row">






		<div class="column-full">

   
			<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

<div class="grid-row">
	<div class="column-two-thirds">
			<h1 class="heading-large"><span class="heading-secondary">Step 1 of 2</span>Rearrange appointment</h1>

			<legend></legend>
			{% if checked('stoppassess','other') %}
			<div class="panel panel-border-wide">
				<p>
					{{ specific }}
				</p>
			</div>
			{% endif %}

			{% if customer.name.first == 'Dominguez' %}
			<div class="panel panel-warning">
				<p>
					{{customer.name.first}} needs to see a doctor because a new condition has been identified
				</p>
			</div>
			{% endif %}



			<form method="post" action="/{{path}}/assessment/{{customer._id}}/evidence/send-home-book">


				<fieldset>
					<legend class="heading-medium mb10">
						Choose healthcare professional's skill level
					</legend>
					       <div class="form-group">
							<div class="multiple-choice">
									<input id="know-2" name="Reason" type="radio" value="non" {{checked('Reason', 'non') }} checked >
									<label for="know-2">Standard
									</label>
								</div>
						
							<div class="multiple-choice">
								<input id="know-2" name="Reason" type="radio" value="neuro" {{checked('Reason', 'neuro') }}>
								<label for="know-2">Neuro
								</label>
							</div>

							<div class="multiple-choice">
									<input id="know-2" name="Reason" type="radio" value="complex" {{checked('Reason', 'complex') }}>
									<label for="know-2">Complex neuro
									</label>
								</div>
						
						
						</div>
							<p><button class="button">Save and continue</button></p>
							</fieldset>
					</form>
				</div>
			</div>

		</div><!-- row -->
	</div><!-- container -->

	{% endblock %}

	{# {% block page_script %}

	{% endblock %} #}