{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}






<div class="grid-row">

 


  <div class="column-full">
  
  
<p class="no-kdBar"><a href="medical_assessment_dashboard" class="link-back">Back</a></p>
  
  
  
  <h1 class="heading-large mt20"><span class="heading-secondary">Review</span>Social and work history</h1>
    <form class="form" id="add_ev">



        <div class="chat-layout">


    {% for item in socialWorkComments | sortBy("time",true) %}
  
      <div class="tag-box">
      
        <div class="tag-text">{{ item.comment }}</div>
        
        <div class="edit-item">
       		<a href="socialWorkHistoryEdit/{{item.id}}" class="button secondary">Edit</a>
       		
       	
       </div>
       
      </div>
        
    {% endfor %}

    
  </div>
    </form>
  

		 
		<form action="medical_assessment_dashboard" method="POST" class="form">


	<p class="mt30"><button class="button">Finish reviewing</button></p>
	
  {% if customer.status == 'Ready for recommendation' %}
	<div class="multiple-choice" style="display:none">
						        <input id="radio-inline-4" type="radio" name="socialVisited" value="socialVisited" checked>
						          
						        <label for="radio-4">hidden radio one</label>
						      </div>
  {% endif %}
	</form>
   
  </div><!-- column -->

</div><!-- row -->

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
$(document).on('ready',function()
{
  $('#nugget').focus();

  $("#nugget").keydown(function (event) {
    if ((event.keyCode == 13))
    {
      $('#submitButton').trigger('click');
    }
  });

  $('#submitButton').on('click',function(e)
  {
    e.preventDefault();
    // get values from the form you're submitting.
    var nugget = $('#nugget').val();
    console.log(nugget)

    // gather values into a data object.
    var formdata = JSON.stringify({"nugget":nugget});
    console.log(formdata)
    console.log({url: '/{{ path }}/saveText'})

    // send data object off to node route for saving.
    $.ajax({
      url: '/{{ path }}/saveText',
      method: "POST",
      contentType: 'application/json',
      data: formdata,
      dataType: 'json',
      complete:  function(data,status,xhr) {
        // sort out the page after data is successfully saved.
        // $('#status_form').hide();
        // $('#status_button').show();
        document.location.reload(true);
      }
    });
  });
});
</script>

{% endblock %}
