{% extends path+"/_layout-case-simple_clear-sidebar.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>









<div class="grid-row">
  <div class="column-two-thirds">
	
	<form method="post" action="wca-index_step2">

	<h3 class="heading-medium" style="color:#6f777b; font-weight:100;">LCWRA recommendation</h3>
	<h1 class="heading-large">Moving around and climbing steps without someone’s help</h1>
	<h2 class="heading-medium">You have found evidence that Michael cannot move more than 50 metres.</h2>

			<div class="form-group">
			<label class="form-label" for="justify">Give details</label>
			<textarea class="form-control form-control-3-4" name="justifyTreatLCWRA" id="justify" rows="8"></textarea>
		</div>


    <p><input type="submit" class="button" value="Save" id="submitButton"></p>
		</form>	

  </div><!-- column -->
</div><!-- row -->



{% endblock %}