{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
  
    
    
  <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  <h1 class="heading-large">Why do you want to cancel this appointment?</h1>
    
    
  <div class="grid-row">
    <div class="column-two-thirds"> 
        <form action="appointment" method="post">
      <div class="form-group">
        <fieldset>
            <legend class="visually-hidden">
                Cancel appointment
              </legend>
              
              
              <div class="multiple-choice">
                  <input type="radio" name="reason" id="reason-condition" value="Customers condition has changed">
                  <label for="reason-condition">No appropriate appointments available</label>
              </div>
              <div class="multiple-choice" data-target="dm-reason">
                  <input type="radio" name="reason" id="reason-terminal" value="Customer is now terminally ill">
                  <label for="reason-terminal">Request a rearrangement from a desicion maker</label>
              </div>
              <div class="panel js-hidden" id="dm-reason">
                    <div class="form-group">
                            <label class="form-label-bold">What is the reason for this request or rearrangement? </label>
                            <textarea name="changedByCustomerComments" class="form-control " style="height: 150px; width:100%; max-width:650px;"></textarea>
                    </div>   
                   </div>

           </fieldset>
          </div>
          <p>
              <button class="button">Save and continue</button>
          </p>
          </form>
        </div>

  
</div> 
</div>
    </div><!-- column -->


{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
