
{% extends path1+"/_manage-centre-layout.html" %} 


{% block header %}

  {% include path2+"/_staff_heading.html" %}

{% endblock %}

{% block manage_centre_nav %}
{% endblock %}

{% block citizen_content %}
<div class="container">
    <p><a href="/{{path2}}/{{centre.id}}/manage-staff/staff-profile/{{person.id}}?tab=details" class="link-back">Back</a></p>

    
    <h1 class="heading-medium mt0">Edit {{person.name}}</h1>
			
    {% include path1+ "/manage-staff/_staff-personal-details.html" %}	
		

     
    <!-- row -->

<!-- container -->
{% endblock %} {% block footer_top %} {{ super() }} {# {% include path1+"/footer_links.html" %} #} {% endblock %}


