{% extends path1+"/_layout-booking.html" %}

{% block main_nav %}
  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
        
        
        <li class="selected"><a href="{{root}}/booked_appointments?arrived=true">Appointments</a></li>
        <li><a href="{{root}}/assessment-centres">Manage my centre</a></li>

    </ul>
  </div>
</div>

{% endblock %}


{% block left_content %}

<p class="mt10 mb0 bold-small"><span class="circle purple"></span>Appointment today at 2:00pm</p>
<p>Arrived at {{arrivedTime}}</p>
<hr>

<ul>
  <li><a href="timepicker?day=tuesday&date=10%20April&time=11:00am">Rearrange appointment</a></li>
</ul>
{% endblock %} 


{% block citizen_content %}
 {# macro #}
  {{ nav_mendez.case_tabs("mendez_timeline",1,path1) }}

<div class="container">

<div class="timeline">

		<span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Mendez arrived at Assessment Centre at {{arrivedTime}}</h3>
          <p class="timeline_datetime">{{ 'D MMMM YYYY' | randDaysAgo(0)}}</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Appointment booked</h3>
          <p class="timeline_datetime">04 February 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Referred for appointment</h3>
          <p class="timeline_datetime">30 January 2018</p>
        </div>

         <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">GP statement received (ESA113)</h3>
          <p class="timeline_datetime">29 January 2018</p>
        </div>
        
          <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Request for GP statement sent (ESA113)</h3>
          <p class="timeline_datetime">19 January 2018</p>
        </div>
        
          <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA50 form received at CHDA</h3>
          <p class="timeline_datetime">4 January 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA50 form sent out to Tomas</h3>
          <p class="timeline_datetime">12 December 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">FIT note (MED3) received </h3>
          <p class="timeline_datetime">19 November 2017</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Entitlement letter sent to Tomas</h3>
          <p class="timeline_datetime">5 November 2017</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA application completed on the phone</h3>
          <p class="timeline_datetime">1 November 2017</p>
        </div>

        <div style="clear:both"></div>

      </div><!-- timeline -->

  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block footer_top %}
{{ super() }}
{# {% include path1+"/footer_links.html" %} #}
{% endblock %}
_