<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends path+"/_layout-stripped.html" %} {% block assess_content %}
<main class="main-content"
      id="content"
      role="main">
    <div class="container">
        <div class="grid-row">
            <div class="column-full">
                <a class="link-back"
                   href="javascript:%20history.go(-1)">Back</a>
                <h1 class="heading-large mt10">View and edit capacity </h1>
                <div class="greatest-show mt30">
                    {% if viewAndEditPip.showPlan %}
                    <div class="grid-row">
                        <div class="column-quarter">
                            <h4 class="heading-medium mt20 mb0">Week commencing</h4>
                            <div class="pickslots">
                                <div class="check-group check-top">
                                    <fieldset>
                                        <div class="check-picker">
                                            <h3 class="visually-hidden">
                                                <legend>Choose Dates</legend>
                                            </h3>
                                            <div class="check-choice">
                                                <input id="filter1"
                                                       name="radio-group-week"
                                                       type="radio"
                                                       value="This week"> <label for="filter1"> Monday 3 February</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter2"
                                                       name="radio-group-week"
                                                       type="radio"
                                                       value="Next week"> <label for="filter2">Monday 10 February</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter3"
                                                       name="radio-group-week"
                                                       type="radio"
                                                       value="Week 3"> <label for="filter3">Monday 17 February</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter3a"
                                                       name="radio-group-week"
                                                       type="radio"
                                                       value="Week 4"> <label for="filter3a">Monday 24 February</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter4"
                                                       name="radio-group-week"
                                                       type="radio"
                                                       value="Week 4"> <label for="filter3a">Monday 2 March</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter4"
                                                       name="radio-group-week"
                                                       type="radio"
                                                       value="Week 4"> <label for="filter3a">Monday 9 March</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="column-quarter">
                            <h4 class="heading-medium mt20 mb0">Area</h4>
                            <div class="check-group check-top">
                                <fieldset>
                                    <div class="check-picker">
                                        <h3 class="visually-hidden">
                                            <legend>Choose Areas</legend>
                                        </h3>
                                        <div class="check-choice">
                                            <input id="filter5"
                                                   name="radio-group-area"
                                                   type="radio"
                                                   value="london"> <label for="filter5">West Midlands</label>
                                        </div>
                                        <div class="check-choice"
                                             data-target="nw">
                                            <input id="filter6"
                                                   name="radio-group-area"
                                                   type="radio"
                                                   value="NW" checked> <label for="filter6">East Midlands</label>
                                        </div>
                                        <div class="check-choice">
                                            <input id="filter7"
                                                   name="radio-group-area"
                                                   type="radio"
                                                   value="N"> <label for="filter7">Wales</label>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="js-hidden"
                             id="nw">
                            <div class="column-half">
                                <h4 class="heading-medium mt20 mb0">Assessment centres</h4>
                                <div class="check-group check-top">
                                    <fieldset>
                                        <div class="check-picker">
                                            <h3 class="visually-hidden">
                                                <legend>Choose centres</legend>
                                            </h3>

                                            <div class="check-choice">
                                                <input id="filter24"
                                                       name="filters"
                                                       type="checkbox"
                                                       value="WORK"> <label for="filter24">Derby</label>
                                            </div>
                                            <div class="check-choice" data-target="Birk">
                                                <input id="filter12"
                                                       name="filter"
                                                       type="checkbox"
                                                       value="Birk"> <label for="filter12">Nottingham</label>
                                            </div>
                                            <div class="check-choice" data-target="black">
                                                <input id="filter13"
                                                       name="filter"
                                                       type="checkbox"
                                                       value="NW"> <label for="filter13">Northampton</label>
                                            </div>
                                            <div class="check-choice"
                                                 data-target="Bootle">
                                                <input id="filter14"
                                                       name="filter"
                                                       type="checkbox"
                                                       value="N"> <label for="filter14">Peterborough</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter15"
                                                       name="filters"
                                                       type="checkbox"
                                                       value="Mid"> <label for="filter15">leicester</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter16"
                                                       name="filters"
                                                       type="checkbox"
                                                       value="Wales"> <label for="filter16">Skegness</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter17"
                                                       name="filters"
                                                       type="checkbox"
                                                       value="Scotland"> <label for="filter17">Sleaford</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter18"
                                                       name="filters"
                                                       type="checkbox"
                                                       value="NI"> <label for="filter18">Kings Lynn</label>
                                            </div>
                                            <div class="check-choice"
                                                 data-target="Man">
                                                <input id="filter19"
                                                       name="filters"
                                                       type="checkbox"
                                                       value="MI"> <label for="filter19">Wisbech</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter20"
                                                       name="filters"
                                                       type="checkbox"
                                                       value="ST"> <label for="filter20">Lincoln</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="grid-row">
                            <div class="column-quarter">
                                <h4 class="heading-medium mt20 mb0">Week commencing</h4>
                                <div class="pickslots">
                                    <div class="check-group check-top">
                                        <fieldset>
                                            <div class="check-picker">
                                                <h3 class="visually-hidden">
                                                    <legend>Choose Dates</legend>
                                                </h3>
                                                <div class="check-choice">
                                                    <input id="filter1"
                                                           name="radio-group-week"
                                                           type="radio"
                                                           value="This week"> <label for="filter1"> Monday 3 February</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter2"
                                                           name="radio-group-week"
                                                           type="radio"
                                                           value="Next week"> <label for="filter2">Monday 10 February</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter3"
                                                           name="radio-group-week"
                                                           type="radio"
                                                           value="Week 3"> <label for="filter3">Monday 17 February</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter3a"
                                                           name="radio-group-week"
                                                           type="radio"
                                                           value="Week 4"> <label for="filter3a">Monday 24 February</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter4"
                                                           name="radio-group-week"
                                                           type="radio"
                                                           value="Week 4"> <label for="filter4">Monday 2 March</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter4a"
                                                           name="radio-group-week"
                                                           type="radio"
                                                           value="Week 4"> <label for="filter4a">Monday 9 March</label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="column-quarter">
                                <h4 class="heading-medium mt20 mb0">Area</h4>
                                <div class="check-group check-top">
                                    <fieldset>
                                        <div class="check-picker">
                                            <h3 class="visually-hidden">
                                                <legend>Choose Areas</legend>
                                            </h3>
                                            <div class="check-choice">
                                                <input id="filter5"
                                                       name="radio-group-area"
                                                       type="radio"
                                                       value="london"> <label for="filter5">West Midlands</label>
                                            </div>
                                            <div class="check-choice"
                                                 data-target="nw">
                                                <input id="filter6"
                                                       name="radio-group-area"
                                                       type="radio"
                                                       value="NW" checked> <label for="filter6">East Midlands</label>
                                            </div>
                                            <div class="check-choice">
                                                <input id="filter7"
                                                       name="radio-group-area"
                                                       type="radio"
                                                       value="N"> <label for="filter7">Wales</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="js-hidden"
                                 id="nw">
                                <div class="column-half">
                                    <h4 class="heading-medium mt20 mb0">Assessment centres</h4>
                                    <div class="check-group check-top">
                                        <fieldset>
                                            <div class="check-picker">
                                                <h3 class="visually-hidden">
                                                    <legend>Choose centres</legend>
                                                </h3>

                                                <div class="check-choice">
                                                    <input id="filter24"
                                                           name="filters"
                                                           type="checkbox"
                                                           value="WORK"> <label for="filter24">Derby</label>
                                                </div>
                                                <div class="check-choice" data-target="Birk">
                                                    <input id="filter12"
                                                           name="filter"
                                                           type="checkbox"
                                                           value="Birk"> <label for="filter12">Nottingham</label>
                                                </div>
                                                <div class="check-choice" data-target="black">
                                                    <input id="filter13"
                                                           name="filter"
                                                           type="checkbox"
                                                           value="NW"> <label for="filter13">Northampton</label>
                                                </div>
                                                <div class="check-choice"
                                                     data-target="Bootle">
                                                    <input id="filter14"
                                                           name="filter"
                                                           type="checkbox"
                                                           value="N"> <label for="filter14">Peterborough</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter15"
                                                           name="filters"
                                                           type="checkbox"
                                                           value="Mid"> <label for="filter15">leicester</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter16"
                                                           name="filters"
                                                           type="checkbox"
                                                           value="Wales"> <label for="filter16">Skegness</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter17"
                                                           name="filters"
                                                           type="checkbox"
                                                           value="Scotland"> <label for="filter17">Sleaford</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter18"
                                                           name="filters"
                                                           type="checkbox"
                                                           value="NI"> <label for="filter18">Kings Lynn</label>
                                                </div>
                                                <div class="check-choice"
                                                     data-target="Man">
                                                    <input id="filter19"
                                                           name="filters"
                                                           type="checkbox"
                                                           value="MI"> <label for="filter19">Wisbech</label>
                                                </div>
                                                <div class="check-choice">
                                                    <input id="filter20"
                                                           name="filters"
                                                           type="checkbox"
                                                           value="ST"> <label for="filter20">Lincoln</label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>

                            {% endif %}

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>


                            <div class="js-hidden"
                                 id="Birk">
                                <h3 class="show-start"><span>Nottingham</span></h3>
                                <div class="grid-row">
                                    <div class="column-full">
                                        <p class="lede mt20 mb20">Week commencing: <span
                                                class="bold"> Monday 3 February</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="grid-row">
                                    <div class="card-container">
                                        <div class="card">
                                            <a href="edit-monday">
                                                <h2>View and edit <span
                                                        class="heading-small">Mondays appointments</span></h2></a>
                                            <div class="inner">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th class="col"
                                                            scope="col">
                                                            <div class="panel panel-info">
                                                                <div class="number">
                               <span class="border">
                               {{ viewAndEditPip.monday.total_opened }}
                                <span>Opened</span>
                                </span>
                                                                </div>
                                                                <div class="content">
                                                                    <span class="">Based on {{ viewAndEditPip.monday.fte }} FTE's</span></span>
                                                                </div>
                                                                <div>
                                                        </th>
                                                        <th class="numeric"
                                                            scope="col"><span class="heading-xlarge">{{ viewAndEditPip.monday.total_avaliable }}<span
                                                                class="block"><span
                                                                class="visually-hidden">appointents are</span>Available</span></span>
                                                        </th>
                                                        <th class="numeric"
                                                            scope="col"><span class="visually-hidden">of which</span>
                                                            <span class="heading-xlarge">{{ viewAndEditPip.monday.total_booked }} <span
                                                                    class="block"><span
                                                                    class="visually-hidden">appointents are</span>Booked</span></span>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">HCP's</th>
                                                        <td class="numeric"> {{
                                                            viewAndEditPip.monday.total_hcp.avaliable }}
                                                        </td>
                                                        <td class="numeric">{{ viewAndEditPip.monday.total_hcp.booked
                                                            }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="ucb">UCB</th>
                                                        <td class="numeric ucb "> {{
                                                            viewAndEditPip.monday.total_ucb.avaliable }}
                                                        </td>
                                                        <td class="numeric ucb">{{
                                                            viewAndEditPip.monday.total_ucb.booked }}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <a href="not-testing">
                                                <h2>Add capacity for <span class="heading-small">Tuesday</span></h2>
                                            </a>
                                        </div>
                                        <div class="card">
                                            <a href="not-testing">
                                                <h2>Add capacity for <span class="heading-small">Wednesday</span></h2>
                                            </a>
                                        </div>
                                        <div class="card">
                                            <a href="not-testing">
                                                <h2>Add capacity for<span class="heading-small">Thursday</span></h2></a>
                                        </div>
                                        <div class="card">
                                            <a href="not-testing">
                                                <h2>Add capacity for<span class="heading-small">Friday</span></h2></a>

                                        </div>

                                        <div class="card">
                                            <a href="not-testing">
                                                <h2>Add capacity for<span class="heading-small">Saturday</span></h2></a>

                                        </div>

                                        <div class="card">
                                            <a href="not-testing">
                                                <h2>Add capacity for<span class="heading-small">Sunday</span></h2></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- column -->
            </div><!-- row -->
        </div><!-- container -->
</main>
{% endblock %}
</body>
</html>
