
{% extends path+"/_layout-case-action.html" %} 
{% block citizen_content %} {{ data.nuggets | log }}



<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-large"><span class="heading-secondary">Step 5 of 5</span>Right forearm</h1>

		
		
 {% if checked('physicalvisited', 'yes') %}
				<form action="report-physical" method="Post">
	{% else %}	
	       <form action="physical" method="Post">	
	{% endif%}		

																	
																		 
																		 


									
	<div class="form-group">
																			
<fieldset>

  <legend class="heading-medium mb10">Select the examinations you want to complete</legend>																		
<!-- <p class="form-hint mb10" style="max-width:650px">Only add comments if you find abnormalities. If you choose an examination and leave the text box blank, it will be marked as normal.</p> -->
	
<div class="multiple-choice" data-target="issue1open">
		      <input id="issue1" name="issueswithrightforearm1" type="checkbox" value="Right Forearm Issue 1" {{ checked('issueswithrightforearm1', 'Right Forearm Issue 1') }} >
		      <label for="issue1">Wrist pronation</label>
		    </div>
		     <div class="panel js-hidden" id="issue1open">
				 
				 
				 <fieldset>
				 	<legend class="heading-small mb5">Choose:</legend>
					 	<div class="multiple-choice">
					      <input id="test1" name="rightforearmissue1" type="radio" value="test1" {{ checked('rightforearmissue1', 'test1') }}>
					      <label for="test1">Normal (70° to 80°)</label>
					    </div>
					    <div class="multiple-choice">
					      <input id="test2" name="rightforearmissue1" type="radio" value="test2" {{ checked('rightforearmissue1', 'test2') }}>
					      <label for="test2">Wrist turning inwards is reduced to between 40° and 60°</label>
							</div>
							<div class="multiple-choice">
									<input id="test3" name="rightforearmissue1" type="radio" value="test3" {{ checked('rightforearmissue1', 'test3') }}>
									<label for="test3">Wrist turning inwards is reduced to less than 40°</label>
								</div>
				 </fieldset>
				 	
</div>



<div class="multiple-choice" data-target="issue2open">
		<input id="issue2" name="issueswithrightforearm2" type="checkbox" value="Right Forearm Issue 2" {{ checked('issueswithrightforearm2', 'Right Forearm Issue 2') }} >
		<label for="issue2">Wrist supination</label>
	</div>
	 <div class="panel js-hidden" id="issue2open">
	 
	 
	 <fieldset>
		 <legend class="heading-small mb5">Choose:</legend>
			 <div class="multiple-choice">
					<input id="test1" name="rightforearmissue2" type="radio" value="test1" {{ checked('rightforearmissue2', 'test1') }}>
					<label for="test1">Normal (70° to 80°)</label>
				</div>
				<div class="multiple-choice">
					<input id="test2" name="rightforearmissue2" type="radio" value="test2" {{ checked('rightforearmissue2', 'test2') }}>
					<label for="test2">Wrist turning outwards is reduced to between 60° and 65°</label>
				</div>
				<div class="multiple-choice">
						<input id="test3" name="rightforearmissue2" type="radio" value="test3" {{ checked('rightforearmissue2', 'test3') }}>
						<label for="test3">Wrist turning outwards is reduced to less than 60°</label>
					</div>
	 </fieldset>
		 
</div>



<div class="multiple-choice" data-target="issue3open">
		<input id="issue3" name="issueswithrightforearm3" type="checkbox" value="Right Forearm Issue 3" {{ checked('issueswithrightforearm3', 'Right Forearm Issue 3') }} >
		<label for="issue3">Wrist dorsiflexion</label>
	</div>
	 <div class="panel js-hidden" id="issue3open">
	 
	 <fieldset>
		 <legend class="heading-small mb5">Choose:</legend>
			 <div class="multiple-choice">
					<input id="test1" name="rightforearmissue3" type="radio" value="test1" {{ checked('rightforearmissue3', 'test1') }}>
					<label for="test1">Normal (30° or more)</label>
				</div>
				<div class="multiple-choice">
					<input id="test2" name="rightforearmissue3" type="radio" value="test2" {{ checked('rightforearmissue3', 'test2') }}>
					<label for="test2">Wrist bending backwards is reduced to less than 30°</label>
				</div>
	 </fieldset>
		 
</div>




<div class="multiple-choice" data-target="issue4open">
		<input id="issue4" name="issueswithrightforearm4" type="checkbox" value="Right Forearm Issue 4" {{ checked('issueswithrightforearm4', 'Right Forearm Issue 4') }} >
		<label for="issue4">Wrist plantarflexion</label>
	</div>
	 <div class="panel js-hidden" id="issue4open">
	 
	 <fieldset>
		 <legend class="heading-small mb5">Choose:</legend>
			 <div class="multiple-choice">
					<input id="test1" name="rightforearmissue4" type="radio" value="test1" {{ checked('rightforearmissue4', 'test1') }}>
					<label for="test1">Normal (30° or more)</label>
				</div>
				<div class="multiple-choice">
					<input id="test2" name="rightforearmissue4" type="radio" value="test2" {{ checked('rightforearmissue4', 'test2') }}>
					<label for="test2">Wrist bending forwards is reduced to less than 30°</label>
				</div>
	 </fieldset>
		 
</div>



<div class="multiple-choice" data-target="issue5open">
		<input id="issue5" name="issueswithrightforearm5" type="checkbox" value="Right Forearm Issue 5" {{ checked('issueswithrightforearm5', 'Right Forearm Issue 5') }} >
		<label for="issue5">Pinch grip</label>
	</div>
	 <div class="panel js-hidden" id="issue5open">
	 
	 <fieldset>
		 <legend class="heading-small mb5">Choose:</legend>
			 <div class="multiple-choice">
					<input id="test1" name="rightforearmissue5" type="radio" value="test1" {{ checked('rightforearmissue5', 'test1') }}>
					<label for="test1">Normal (thumb to index finger)</label>
				</div>
				<div class="multiple-choice">
					<input id="test2" name="rightforearmissue5" type="radio" value="test2" {{ checked('rightforearmissue5', 'test2') }}>
					<label for="test2">Thumb and finger grip is weaker than normal: can touch but with reduced power</label>
				</div>
				<div class="multiple-choice">
						<input id="test3" name="rightforearmissue5" type="radio" value="test3" {{ checked('rightforearmissue5', 'test3') }}>
						<label for="test3">Fist grip reduced: can touch but with reduced power</label>
				</div>
				<div class="multiple-choice">
						<input id="test4" name="rightforearmissue5" type="radio" value="test4" {{ checked('rightforearmissue5', 'test4') }}>
						<label for="test4">Cannot grip with thumb and finger: unable to touch thumb to finger</label>
				</div>
	 </fieldset>
		 
</div>




<div class="multiple-choice" data-target="issue6open">
		<input id="issue6" name="issueswithrightforearm6" type="checkbox" value="Right Forearm Issue 6" {{ checked('issueswithrightforearm6', 'Right Forearm Issue 6') }} >
		<label for="issue6">Power grip</label>
	</div>
	 <div class="panel js-hidden" id="issue6open">
	 
	 <fieldset>
		 <legend class="heading-small mb5">Choose:</legend>
			 <div class="multiple-choice">
					<input id="test1" name="rightforearmissue6" type="radio" value="test1" {{ checked('rightforearmissue6', 'test1') }}>
					<label for="test1">Normal</label>
				</div>
				<div class="multiple-choice">
					<input id="test2" name="rightforearmissue6" type="radio" value="test2" {{ checked('rightforearmissue6', 'test2') }}>
					<label for="test2">Fist grip reduced</label>
				</div>
				<div class="multiple-choice">
						<input id="test3" name="rightforearmissue6" type="radio" value="test3" {{ checked('rightforearmissue6', 'test3') }}>
						<label for="test3">Fist grip very weak: fingers do not touch palm</label>
				</div>
				<div class="multiple-choice">
						<input id="test4" name="rightforearmissue6" type="radio" value="test4" {{ checked('rightforearmissue6', 'test4') }}>
						<label for="test4">Cannot make a fist: fingers 3 cm from palm</label>
				</div>
				<div class="multiple-choice">
						<input id="test5" name="rightforearmissue6" type="radio" value="test5" {{ checked('rightforearmissue6', 'test5') }}>
						<label for="test5">Cannot grip at all: cannot bend fingers</label>
				</div>
	 </fieldset>
		 
</div>

		    
		    
		    
</fieldset>			    
</div>									    
		    
		    
<div class="form-group">
	<label class="heading-small" for="right-forearm-issue-open-comments">Other examination findings</label>
	<textarea class="form-control form-control-2-4" name="rightforearmissueopencomments" id="rightforearmissueopencomments" rows="4">{{rightforearmissueopencomments}}</textarea>
</div>
																			
			
												
															    
										
																		 
																		 
																				    
														
												 
												 
												  <p class="mt30"><button class="button">Save and continue</button></p>
												 
		
				</form>


  </div><!-- column -->
</div><!-- row -->
{% endblock %}

{% macro physGroup(name,sel) %}
  {% set s = name | slug %}
  <!-- GROUP -->
  <div class="multiple-choice" data-target="group_{{s}}_yes">
    <input id="group_{{s}}" type="checkbox" name="group_{{s}}" sue="group_{{s}}" {% if sel %} checked="checked"{% endif %}>
    <label for="group_{{s}}">{{name}}</label>
</div>
{% endmacro %} 

{% macro physObs(name, displayname ,sel) %} {% set s = name | slug %}
<div class="multiple-choice" data-target="phys_{{s}}_yes">
    <input id="phys_{{s}}" type="checkbox" name="phys_{{s}}" value="phys_{{s}}" {% if sel %} checked="checked" {% endif %}>
    <label for="phys_{{s}}">{{displayname}}</label>
</div>
<div class="form-group panel js-hidden mt0 mb20" id="phys_{{s}}_yes">
    <p>
        <label class="form-label" for="phys_{{s}}_obs">Comments</label>
        <textarea class="form-control form-control-3-4" name="phys_{{s}}_obs" id="phys_{{s}}_obs" rows="4">
				</textarea>
    </p>
</div>
{% endmacro %} {% block footer_top %} {{ super() }}
<p class="font-xsmall">
    <a href="/{{ path2 }}/phys_exam_1">exam v1</a> |
    <a href="/{{ path2 }}/phys_exam_2">exam v2</a>
</p>
{% endblock %} {% block page_scripts %} {{ super() }} {% endblock %}