// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "admin";
@import "inc/timeline";
@import "inc/small-checkboxes";
@import "inc/margins";
@import "inc/toggler";
@import "inc/form-select";
@import "inc/back-link";
@import "inc/file-upload";
@import "inc/timeline";
@import "inc/tabs";
@import "inc/clearfix";
@import "inc/attachment";
@import "inc/click-row";
@import "inc/help_handle";
@import "inc/evidence";
@import "inc/nav";
@import "inc/alt-buttons";
@import "inc/combobox";
@import "inc/calendar";
@import "inc/capacity-area";
@import "patterns/task-list";
@import "patterns/check-your-answers";


// case list styles
@import "inc/card";
@import "inc/tags";
@import "inc/secondary-nav-v2";
@import "inc/caselist_v1";
@import "inc/inner-panel";

//typeahead

@import "inc/accessible-autocomplete.min";


body {
   height:100%;
}

#global-header.with-proposition .header-wrapper .header-global {
  width: 17%;
}

#global-header.with-proposition .header-wrapper .header-proposition {
  width: 48%;
}

.nobr { white-space: nowrap; }

td,th {
  &.first {
    padding-left:10px;
  }
}

a:visited {
	color: $link-colour;
}

/*  Override timeline stuff */
.timeline .timeline-event {
  &:first-of-type .heading-small {
    position:relative;
    top:-6px;
    font-size:36px;
    margin-bottom:0
  }
}

.staff__heading {
  padding: 14px 0 10px 0;
  	
  	h1 {
	  	margin: 0;
	  	padding: 0;
  	}
  	
  	.badges {
	  	ul {
		  	margin: -14px 0 12px 0;
		  	position: relative;
		  	li {
			  	margin: 0;
		  	}
	  	}
  	}

}

.list .date {
  // font-size:16px;
  color:$grey-1;
}

.meds {
  td {
    vertical-align: top;
  }
}

.quote {
  padding:10px 10px;
  text-indent:-0.4em;
}


.form-control:focus { &::placeholder { color:white; }
}

.loading {
  position:relative;
  color:$govuk-blue;
  font-weight:700;
  img {

  }
}

.tag {
  display:inline-block;
  text-transform: lowercase;
  cursor: pointer;
  position:relative;
  background-color:$black;
  color:white;
  text-decoration: none;
  // padding:7px 10px 5px;
  padding:5px 8px 3px;
  margin-bottom:5px;
  border-radius:5px;
  margin-right:0.5em;
  font-size:16px;
  .descriptors {
    display:none;
    position:absolute;
    padding:10px 30px 10px 20px;
    left:100%; top:50%; transform:translate(0,-50%);
    background-color:$black;
  }
  &.clicked {
    border-radius:5px 0px 0px 5px;
    .descriptors {
      display:block;
    }
  }
  li { white-space: nowrap; }
}

.flex_outer {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-start;
}

.ev_box {
  p::first-letter { text-transform: uppercase; }
  .ev_date {
    font-size:14px;
    padding:10px;
    text-align:right;
  }
  .ev_content {
    flex-grow:1;
    padding:10px;
    background-color:$grey-3;
  }
}

.circle {
  border-radius:50%;
  width:1em;height:1em;
  background-color:$black;
  display:inline-block;
  margin-right:1em;
  &.red { background-color:$mellow-red}
  &.blue { background-color:$light-blue}
  &.teal { background-color:$turquoise}
&.orange { background-color:$orange}
  &.purple { background-color:$fuschia}
}

.form-select {
  width:100%;
  padding-bottom:0;
}

.dropdown-toggle {
  border-left:2px solid $black;
}

.combobox-container .input-group {
  position:relative;
  z-index:5;

  .dropdown-menu {
    position:absolute;
    top:0;left:0;
    width:98%;
    margin-left:4px;
    background:$grey-4;
    font-size:18px;
    border:1px solid black;

    li {
      padding:4px 20px 3px;
      a {text-decoration:none;color:white}
      &.active {
        background:$govuk-blue;
        a {color:white}
      }
    }
  }
}

span.dropdown-toggle {
  position:absolute;
  top:2px;right:2px;
  height:30px;
  width:30px;
  background: #FFF url(/public/images/toggle-sprite-grey.png) no-repeat 0 -51px;
  cursor:pointer;
}
@media (min-width: 641px) {
  select.form-select {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  select.form-select {
    width: auto;
  }
}

select.form-select:hover {
  cursor: pointer;
}

.active_detail {
    background-color:$govuk-blue;
    color:white!important;
    p { color:white; }
	background-image: url(/public/images/big_chevron.png);
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 4%;
    &:hover {
      background-color:lighten($govuk-blue,5);
    }
  }


.address-stack {
	span {
		display: block;
	}
}


.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9999;
	.inner-modal {
		max-width: 440px;
		margin: 10% auto 0 auto;
		background: #fff;
		padding: 40px 40px 20px 40px;
		h3 {
			margin: 0;
			padding: 0;
		}
	}
}

.info-display {
		display: inline-block;
		padding: 5px 10px 4px 10px;
		background: #000;
		border-radius: 5px;
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		margin-top: .5em;
	}

  .greytext { color: $grey-1; }

  .left-area {

  }
  
  .left-panel {
	  padding: 16px 24px 0 36px;
  }
  
  .main-content {
	  padding-top: 20px;
  }
  
  .main-content-inner {
	  padding-left: 0;
	  margin-left: 0;
	  padding-bottom: 0!important;
	  margin-bottom: 0!important;
	  overflow: hidden;
  }

  .main-area {
	  margin-top: 0;
	  padding-top: 20px!important;
		padding-bottom: 200px!important;
		padding:30px;
	  background: #fff;
  }





.main-row {
	background: $grey-3;
	padding:0 30px 0 0;
	margin-right:-30px;
}


.secondary {
  background: $grey-3;
  color: #000;
  box-shadow: 0 2px 0 $grey-2;
  &:hover {
	  background: $grey-3;
	  color: #000;
  }
}	



.exam-content {
	caption {
		visibility: hidden;
		font-size: 0;
	}
	th {
		padding-left: 0;
		padding-right: 0;
	}
	tr {
		td:last-child {
			text-align: right;
			padding-right: 0;
			
			span {
				display: inline-block;
				background: $govuk-blue;
				font-size: 16px;
				padding: 5px 7px 3px 7px;
				border-radius: 2px;
				margin-top: -2px;
				font-weight: 600;
				color: #fff;

			}
		}
		&.complete {
			// background: $grey-4;
			td {
				span {
					background: $govuk-blue;
					color: #fff;
					&.red {
						background: $mellow-red;
					}
					&.turquoise {
						background: $turquoise;
					}
					&.orange {
						background: $orange;
					}
				}
			}
		}
		&.total-score {
			td {
				font-size:28px;
				font-weight: bold;
			}
			th, td {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

}

.stacked {
	.multiple-choice {
		clear: both;
		margin-bottom: 10px;
		margin-right: 0;
	}
}


.note-list {
	margin-bottom: 0;
	span {
		font-weight: bold;
		font-size: 16px;
	}
	.statement {
		background: $grey-3;
		padding: 18px;
	}
}

hr {
	background: $grey-2;
}


.evidence-list {
	td {
		vertical-align: top;
		font-size: 18px;
		a {
			font-weight: bold;
		}
		em {
			display: inline-block;
			background: $orange;
			font-size: 14px;
			padding: 5px 7px 3px 7px;
			border-radius: 2px;
			margin-top: -2px;
			margin-left: 5px;
			font-weight: 600;
			font-style: normal;
			color: #fff;
		}
		span {
			display: block;
			color: $grey-1;
		}
	}
}

.edit-this {
	margin-left: 5px;
}

.secondary {
  background: $grey-3;
  color: #000!important;
  box-shadow: 0 2px 0 $grey-2;
  &:visited {
	  background: $grey-3;
	  box-shadow: 0 2px 0 $grey-2;
	  color: #000;
  }
  &:hover {
	  background: $grey-2;
	  box-shadow: 0 2px 0 $grey-1;
	  color: #000;
  }
  &:focus {
	  background: $grey-2;
  }
}	



.edit-this {
	display: inline-block;
	padding-left: 10px;
}


.mt20 {
	margin-top: 20px;
}


.table-layout {

	th, td {
		&:last-child {
			text-align: right;
		}
	}
}


.no-kdBar {
	border-top: 1px solid #bfc1c3;
	margin-top: 0;
	padding-top: 0px;
	margin-bottom:0px;
    background:transparent;


	.link-back {
		margin-bottom:0px;
		margin-top: 30px;
		display: inline-block;
	}
}

.yes-kdBar {
	.link-back {
		margin-bottom:0px;
		margin-top: 30px;
		display: inline-block;
	}
}

.secondary-actions {
	li {
		margin-top: 5px;
		&:first-child {
			margin-top: 0;
		}
	}
}

.returnRef {
		padding-top: 10px;
		a {
			font-weight: bold;
			font-size: 18px;
		}
	}
	
	.details-nav {
	position: relative;
	margin: 0;
	ul {
		li {
			border-bottom: 1px solid $grey-3;
			background: $grey-4;
			&:hover {
				background: #fff;
			}
			&:first-child {
				border-top: 1px solid $grey-3;
			}
			a {
				display: block;
				padding: 1em .8em .8em 1em;
				text-decoration: none;


				span {
					font-size: 90%;
					color: $grey-1;
					display: block;
					font-weight: normal;
					margin-top: 5px;
				}
			}
		}
		.active_detail {
		    background-color: #fff;

		    &:hover {
			    background-color: #fff;
			    }
		    a {
				border-left: .3em solid $govuk-blue;
				padding-left: .7em;
				color: #000;
		    }
		  }
	}
}

#footer {
	border-top: 0;
	.footer-wrapper {
		background-color: #000;
		padding: 20px 40px;
		a {
			color: #fff;
			&:hover {
				color: $govuk-blue;
			}
		}
		.footer-meta {
			padding: 0;
		}
	}
}

html {
	background-color: #000;
}



.footer-links {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		display: inline;
		margin-right: 10px;
	}
}


.evidence-requests {
	h2 {
		.heading-medium {
			margin-bottom: 5px;
		}
		.heading-small {
			margin-bottom: 5px;
		}
		.secondary-heading {
			color: $grey-1;
			font-weight: normal;
			font-size: 19px;
			display: block;
		}
	}

	.panel-border-narrow {
		p {
			padding-bottom: 10px;
		}
	}
}

#global-header.with-proposition .header-wrapper .header-global{
	width:auto;
	
	.header-logo .content{
		margin:0px 0px 0px -2px;
	}
}


.block
{
	display:block;
}


td{
	vertical-align: top;
}


.evidence-panel-wrapper {
	width: 100%;

	@media screen and (min-width:1200px) {
		width: 67%;
	}

	//margin: 50px 0;
	//border-top: 1px solid $grey-3;
	
}


.evidence-panel {
	display: block;
	margin-top: 20px;
	background: $grey-4;
	padding: 1em;
	h2 {
		margin-top: 0;
	}
}



.chat-layout {
	position: relative;
	width: 98%;
	
	.comments-window {
		width: 100%;
		text-align: center;
		font-weight: bold;
		position: absolute;
		top: 36%;
		left: 0;
	}
	
	.chat-window {
	min-height: 480px;
	max-height: 480px;
	overflow: scroll;
	background: $grey-2;
	padding: 1em 1.5em 2em 1.5em;
	border-top: 2px solid $grey-2;
	border-bottom: 2px solid $grey-2;
	}
	

	.chat-capture {
		background: $grey-3;
		padding: 1.5em;
		textarea {
			width: 86%;
			height: 70px;
			float: left;
		}
		input {
			float: right;
			width: 10%;
			background: #fff;
		}
	}
	.tag-box {
		background: #fff;
		margin-top: 20px;
		border-radius: 5px 5px 5px;
		border: 1px solid $grey-1;
		overflow: hidden;
	}
	
	.tag-text {
		padding: 1em;
		float: left;
		width: 76%;
	


	}

	
	.edit-item {
		float: right;
		width: 10%;
		text-align: right;
		padding: 1em 1em 1em 0;
	}
	
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.remove-link {
		background: transparent;
		border: 0;
		border-bottom: $govuk-blue 1px solid;
		font-size: 17px;
		color: $govuk-blue;
		cursor: pointer;
		padding: 0;
		line-height: 1em;
		&:hover {
			color: #318dc2;
			border-color: #318dc2;
			text-decoration: none;
		}
	}
}


caption {
	text-align: left;
}


.list-row {
	position: relative;
	.remove-list-item-vertical {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.illnessAdd {
	.list-row {
		border-bottom: 1px solid $grey-2;
		padding-bottom: 20px;
		margin-bottom: 40px;
		&.first {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
	.add-another-item {
		margin: 40px 0;
	}
}

.whatweknow {
	margin-bottom: 50px;
}


.wcaContent {
	background: $grey-3;
	margin-bottom: 20px; 
	.wcaText {
		padding: 1em;
		p {
			margin: 0;
		}
	}
	.edit-item {
		padding: .5em 1em;
		background: $grey-4;
		li {
			display: inline;
			margin-right: 20px;
		}
	}
}

.review-item {
	margin-bottom: 2em;
	padding: 2em 0 .4em 0;
	border-top: 1px solid $grey-3;

	p{
		white-space: pre-line;
	}

	.panel p {
		white-space:normal;
	}
	
	.total-score {
		font-size: 19px;
		font-weight: bold;
		margin-top: 1em;
		text-align: right;
		p {
			margin: 0;
		}
		.score {
			font-size: 28px;
			margin: 0;
		}
	}
	&:last-child {
		border-bottom: 1px solid $grey-3;
		padding-bottom: 2em;
	}
	h2 {
		margin: 0 0 .8em 0;
	}
h3 {
		//margin: 0 0 .8em 0;
		margin-bottom:.6em;
}
	p {
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.review-inner {
		padding: 1.2em 1.4em 1.4em 1.4em;
		margin-top: 1em;
		border-left: 1px solid $grey-1;
		&:first-child {
			margin-top: 0;
		}
		.extra-item {
			margin: 0 0 1em 0;
		}	
	}
}

.review-wrapper {
	width: 70%;
	margin-top: 20px;
	.score {
			background: $govuk-blue;
			color: #fff;
			font-size: 16px;
			padding: 5px 7px 3px 7px;
			border-radius: 2px;
			font-weight: bold;
			position: relative;
			margin: 0 0 10px 0;
			display: inline-block;
		}
}


	.assessment-overview {
		overflow: hidden;
		dt {
			float: left;
			width: 34%;
			font-weight: 700;
			padding-top: .8em;
		}
		dd {
			float: left;
			width:  66%;
			padding-top: .8em;
		}
	}

.edited {
	background: $govuk-blue;
	color: #fff;
	font-size: 16px;
	padding: 5px 7px 3px 7px;
	border-radius: 2px;
	margin-left: 5px;
}

span.status {
	background: #fff;
	display: inline-block;
	padding: 4px 8px 2px 8px; 
	border: 1px solid $govuk-blue;
	color: $govuk-blue;
	font-weight: 700;
	font-size: 15px;
	position: relative;
	top: -1px;
	&.large {
		font-size: 19px;
		padding-top: 7px;
	}
	&.red {
		color: #fff;
		background: $mellow-red;
		border-color: $mellow-red;
	}
	&.blue {
		color: #fff;
		background: $govuk-blue;
		border-color: $govuk-blue;
	}
	&.orange {
		color: #fff;
		background: $orange;
		border-color: $orange;
	}
	&.green {
		color: #fff;
		background: $green;
		border-color: $green;
	}
	&.grey {
		color: #fff;
		border-color: $grey-1;
		background: $grey-1;
	}
	&.purple {
		color: #fff;
		border-color: #912b88;
		background: #912b88;
	}
}

.comments{

	border-top:1px solid $border-colour;
	padding-top:20px;


.comments-item {

	border-bottom:1px solid $border-colour;
	width:100%;
	position:relative;
	margin-bottom:20px;
	padding-bottom:10px;
	
	p{
		margin-top:0px;
	}

	p.namedate{
		font-size:16px;
		
		margin: 0 0 10px 0;
	}



	//&:before {
	//	content: "";
	//	display: block;
	//	width: 15px;
	//	height: 5px;
		//border-radius: 50%;
	//	background-color: $border-colour;
	//	position: absolute;
	//	z-index: 2;
	//	left: -22px;
	//	top: 4px;
	//}


}
}



 button.card-button
{
	display:block;
	border:none;
	background:transparent;
	width:100% !important;
	text-align:left;
	&:hover{
		cursor:pointer;
		background:$grey-2;
	}
}

.panel.alt{
	padding:25px;
	background: $govuk-blue;
	border:none;

	h2{
		color:$white;
	}

	.button-secondary{
		background:$white;
	}
}






.search-customer{

	position:relative;

	input{
		width:100%;
		padding-right:50px;
	}
}

.gem-c-search__submit {
	position:absolute;
	bottom:0px;
	right:0px;
	background: $govuk-blue url(/public/images/search-icon.svg) no-repeat 9px 9px ;
	background-size:50%;
    border:none;
	width:38px;
	height:38px;
	text-indent:-5000px;
	border-bottom:2px solid darken($govuk-blue,15%);

	&:hover{
	  cursor: pointer;
	  background-color:darken($govuk-blue,15%);
	  
}
}


.assessDashboard {
		margin-top: 40px;
		.row {
			overflow: hidden;
			margin-bottom: 2%;
		}
		section {
			float: left;
			width: 28%;
			padding: 2% 2% 1% 2%;
			background: $grey-4;
			margin-left: 2%;
			h2 {
				margin: 0;
				padding: 0;
			}
			p {
				margin: 20px 0;
				.number {
					display: block;
					font-size: 48px;
					font-weight: bold;
				}
			}
			.comments {
				margin-bottom: 0;
				border-left: 0;
				padding: 0 0 .4em 0;
			}
			.review {
				margin: .8em 0 .8em 0;
			}
			.reviewed {
				display: inline-block;
				background: #fff;
				font-weight: bold;
				margin: .5em 0 .8em 0;
				padding: .2em .5em .1em .5em;
			}

			
			&:first-child {
				margin-left: 0;
			}
	}
}


.remove-link {
	display: inline-block;
	background: none;
	color: $link-colour;
	border: none;
	font-size: inherit;
	cursor: pointer;
	margin: 0;
	padding: 0;

	 &:hover {
	 	text-decoration: underline;
	 }

	 @extend a;
}


.pre-wrap{
	white-space: pre-wrap;
}


.heading-large {
	margin-top: 30px;
}


.panel{

	max-width:650px;

&.panel-info{

	background: rgba($govuk-blue, 0.05);
	border-color:$govuk-blue;
}

&.panel-warning{
	border-color:$orange;
	background: rgba($orange, 0.1);
}

}

.report-item {
	padding-top: 20px;
	}

	.report-view-table {
		margin-bottom: 20px;
	
		.heading-medium {
			margin: 0!important;
		}
		caption {
			padding: 12px 10px 10px 10px;
			background: $grey-4;
		}
		th {
			font-weight: normal!important;
			padding-left: 10px;
			width: 36%!important;
			vertical-align: top;
		}
	}

