// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
// @import "admin";
// @import "inc/timeline";
// @import "inc/small-checkboxes";
@import "inc/margins";
// @import "inc/toggler";
// @import "inc/form-select";
@import "inc/back-link";
// @import "inc/file-upload";

.panel {
  input, textarea {
    width:100% !important;
  }
}

.help-notice {
  background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-132af33c6e868e9f8702ce2f968e3a03.png) no-repeat scroll 0 0.7em;
  background-size: 34px 34px;
  padding: 0 4em 0 3em;
  p {font-weight:700;}
}

.completion {
  background: #28A197;
  text-align: center;
  padding: 1em 0 2em;
  margin-top: 2em;
  h1 {
    margin:0;
    color: #fff;
  }
}
.phonescreen {
  box-sizing: border-box;
  font-size:12px;
  padding:10px;
  font-family:monospace;
  overflow:auto;
  background-color:#AADDAA;
}
.verify-logo {
  height: 50px;
  float: left;
  margin-right: 10px;
}
.box {
  background-color:$grey-2;
  padding:10px;
  p {margin:0}
  margin-bottom:$gutter;
}
