{% extends path+"/_layout.html" %}
{% import path+"/scrutiny/_macros_nav.html" as nav %}

{% block assess_content %}


  <main id="content" role="main" class="main-content-inner">

    <div class="container">
    
      <div class="grid-row main-row">
      
      <div class="column-one-quarter left-area">
      
      	<div class="left-panel">
    
      	
      	
      	
      	 <div class="case-status">
      	     	 
      	 
		 
 <p class="mt10 mb0 bold-small">
{{ 'Ready for review' if customer.status == 'review' }}
{{ 'Requested further medical evidence' if customer.status == 'fme' }}
{{ 'Ready for assessment' if customer.status == 'Ready for assessment'}}
{{ 'Assessment started' if customer.status == 'Assessment started' }}
{{ 'Ready for recommendation' if customer.status == 'Ready for recommendation' }}
{{ 'Assessment completed' if customer.status == 'Assessment completed' }}
 </p>

	<hr />	  
		  
		  
	
		  </div>
      	
      	
      	</div>
      
      </div>
      
        <div class="column-three-quarters main-area">
        

  {% include path+"/includes/_staff_heading.html" %}
          <div nunj-block="citizen_content">
            {% block citizen_content %}{% endblock %}
          </div>

        </div><!-- column -->
        
        
      </div><!-- row -->
    </div><!-- container -->

  </main>
  {%if customer.status == 'Assessment started' or customer.status == 'Assessment completed' or customer.status == 'Ready for recommendation'%}
  {% include path+"/includes/evidence/_evidence_panel.html"%}
  {% endif %}
{% endblock %}

{% block page_scripts %}
{{ super }}
<script type="text/javascript">
  $( document ).ready(function() {
         $( ".panel-switch" ).click(function() {
             $( ".inner-panel" ).toggleClass( "panel-open" );
         });
     }); 
 </script>
{% endblock %}

{% block footer_top %}
{{ super() }}

{% endblock %}
