{% extends path+"/_layout-caselist.html" %}

{% block horizontal_secondary_nav %}
              
{{ secondaryNav.nav("assessment", false, menuItems ) }}


{% endblock %}  

{% block caselist_content %}
<h2 class="heading-medium mt0"><span class="heading-xlarge">{{customers.length}}</span><br/>Assessment stopped</h2>
<table class="zebra">

  <thead>
    <tr>
      <th>Details</th>
     
    </tr>
  </thead>
  
  {% for customer in customers %}
<tr>

<td>
<a href="assessment/{{customer._id}}/timeline"><span class="visually-hidden">Name</span>{{customer.name.fullName}}</a>
<span class="text-secondary block"><span class="visually-hidden">Nino</span>{{customer.NINO}}</span>
</td>
</tr>
</tr>

{% endfor %}

</table>   
      
{% endblock %}
