{% extends path1+"/details/_layout.html" %}

{% block case_content %}

      <h1 class="heading-large mt10">General practioner</h1>
       <div class="grid-row mt30">
  
  
  <div class="column-two-thirds">

     
     <h4 class="heading-small mt0">Name</h4>
    <p>Dr. {{customer.address.gpName.fullName}}</p>
     
    
    <h4 class="heading-small">Surgery phone number</h4>
    <p>0207 000 0000</p>


    
    <h4 class="heading-small">Address</h4>
    <p class="address-stack">
    	<span>{{customer.address.gpStreet}}</span>
    	<span>{{customer.address.gpCity}}</span>
    	<span>{{customer.address.gpPostcode}}</span>
    </p>

 
     <p><a href="#" class="button secondary">Edit GP details</a></p>

       
    
    </div><!-- column -->
    
    <div class="column-half">
  
     
    
    </div><!-- column -->

    
  


    
    </div><!-- column -->
    
    
     
    
    
    
    
    
    
    
    
    
    
    
  </div><!-- row -->
           
{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.details-nav ul')
      .children(":nth-child(3)")
      .addClass('active_detail')
  });
</script>
{% endblock %}
