<div class="version">
  <div class="grid-row">

    {% set n = 5 %}


    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Future health assessment</h3>
      <p><a href="/fha/v2/" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">2.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">20 September 2018</h3>
    </div>

  </div><!-- .row -->
  
  
  <div class="grid-row">
    <div class="column-two-thirds">
      
    </div>
  </div>

</div><!-- version -->
