<div class="version mt1">
  <div class="grid-row">

    {% set n = 5 %}


    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health assessment</h3>
      <p><a href="/fha/v2/" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">2.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0"> 8 October 2018</h3>
    </div>

    <div class="column-full">
      
      <p>Updates to capacity planning</p>
      <h4 class="heading-small">Changes:</h4>
      <ul class="list list-bullet">
        <li>New view for area</li>
        <li>Assign staff to different centres</li>
      </ul>
      <p></p>
    </div>

  </div><!-- .row -->
  
  

</div><!-- version -->
