{% extends path+"/_layout.html" %} 
{% block mainNav %}
{{ mainNav.nav("case", path) }}
  
{% endblock %}


{% block assess_content %}
<main id="content" role="main" class="main-content">
    <div class="container">
     
        <div class="grid-row">
             
            <div class="column-one-quarter">
                {% include path+"/caselist/_search-box.html" %}
                

<nav class="details-nav v2">
	<ul>
		<li class="active_detail"> 
	    	<a href="#">Assessment reports</a>
	    	<ul>
	    		<li><a href="#">Ready for decision</a></li>
	    		<li><a href="#">Re-work requested</a></li>
	    		<li><a href="#">Decision made</a></li>
	    	</ul>
	    </li>

	    <li> 
	    	<a href="assess-actions">Case actions</a>
	    </li>
	  
	    <li> 
	    	<a href="#">Live case view</a>
	    </li>
	  	
	</ul>
</nav>

                
                
            </div>
            <div class="column-three-quarters">
                {% block caselist_content %}

                {% endblock %}
            </div>
            <!-- column -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</main>
{% endblock %}