{% macro nav(section, subSection, sections) %}

{% set sections = [{
		url:"referrals",
		label:"Referrals", 
		quantity: 49,
		subItems: [{
			url: "new-referrals",
			label: "New referrals",
			quantity: 32
		},{
			url: "uc50-posted",
			label: "UC50 posted",
			quantity: 9
		},{
			url: "uc50-received",
			label: "UC50 received",
			quantity: 8
		}]
	},{
		url:"review",
		label:"Reviews", 
		quantity: 10,
		subItems: [{
			url: "ready-for-review",
			label: "Ready for review",
			quantity: 6
		},{
			url: "requested-medical-evidence",
			label: "Requested medical evidence",
			quantity: 4
		}]
	},{
		url:"appointments",
		label:"Appointments", 
		quantity: 46,
		subItems: [{
			url: "ready-to-book",
			label: "Ready to book",
			quantity: 21
		},{
			url: "booked-appointments",
			label: "Booked appointments",
			quantity: 26
		}]
	},{
		url:"assessment",
		label:"Todays assessments", 
		quantity: 10,
		subItems: [{
			label: "9:00am",
			quantity: 4,
			url: "#"
		},{
			label: "10:00am",
			quantity: 4,
			url: "#"
		},{
			label: "11:00am",
			quantity: 4,
			url: "#"
		},{
			label: "1:00pm",
			quantity: 4,
			url: "#"
		},{
			label: "2:00pm",
			quantity: 11,
			url: "todays-appointments-2pm"
		},{
			label: "3:00pm",
			quantity: 2,
			url: "#"
		},{
			label: "4:00pm",
			quantity: 2,
			url: "#"
		},{
			label: "4:00pm",
			quantity: 2,
			url: "#"
		}]
	}]
%}

<nav class="details-nav v2">
	<ul>
	  
	  {% for item in sections %}
	    <li {% if item.url == section %} 
	    	class="active_detail"{% endif %}>
	    	<a href="{{item.url}}">{{ item.label }} ({{ item.quantity }})</a>
	    {% if item.url == section %}
	    	<ul>
	    	{% for subItem in item.subItems %}
	    		<li>
	    			<a href="{{subItem.url}}" 
	    			{% if subItem.url == subSection %}
	    				class="active_child"
	    			{% endif %}>{{subItem.label}} ({{subItem.quantity}})</a>
	    		</li>

	    	{% endfor %}
	    	</ul>
	    {% endif %}

	    </li>
	  {% endfor %}
	</ul>
</nav>
{% endmacro %}
