{% extends path+"/_layout-decisionlist2.html" %}



{% block caselist_content %}

  <h2 class="heading-medium mt0"><span class="heading-xlarge">8</span><br/>Case actions</h2>          
<table class="zebra">

                <thead>
                  <tr>
                    <th>Details</th>
					<th>Received</th>
					<th>Status</th>
                  </tr>
                </thead>

    
    <tr>
      <td ><a href="dm-work/timelineAction"><span class="visually-hidden">Name</span>Bobby Henderson </a><span class="text-secondary block"><span class="visually-hidden">Nino</span>AA 12 34 56 B</span></td>
      <td>25 October 2019</td>
	  <td>Failed to attend</td>
    </tr>


    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Tony Johnson</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BB 12 34 56 C</span></td>
     <td>25 October 2019</td>
     <td>Failed to attend</td>
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Mia Russell</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>CC 12 34 56 D</span></td>
     <td>25 October 2019</td>
     <td>Application not returned</td>
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Yeldon Finkelstein</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BB 12 34 56 C</span></td>
     <td>25 October 2019</td>
     <td>Failed to attend</td>
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Ana Isabel Cruz</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BB 12 34 56 C</span></td>
      <td>25 October 2019</td>
      <td>Application not returned</td>
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Lucas Moran</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>GG 12 34 56 F</span></td>
     <td>25 October 2019</td>
     <td>Application not returned</td>
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Berat Karagöz</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>HH 12 34 56 J</span></td>
      	<td>25 October 2019</td>
      	<td>Failed to attend</td>
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Taha Sağlam</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>JJ 12 34 56 K</span></td>
<td>25 October 2019</td>
<td>Failed to attend</td>
    </tr>


                

              </table> 
{% endblock %}

