{% extends path+"/scenario_prompts-typical_01b/_layout-case-simple-full-width.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}

<style type="text/css">
  .multiple-choice {
      padding: 4px 10px 9px 40px;
      margin-bottom:10px;}
    .multiple-choice [type=checkbox] + label::before {
      width: 22px;
      height: 22px;
      padding-top: 2px !important;
    }

    .multiple-choice label::after {
      top: 9px !important;
      left: 7px !important;
      width: 10px !important;
      height: 5px !important;
      border-width: 0 0 3px 3px !important;
    }
</style>

<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

<h1 class="heading-large mt10">Medication and side effects</h1>

{% if data['endFTFtrigger']%}
<form action="miniReview" method="post">
{% else %}
<form action="wca-index" method="post">
{% endif %}

<div class="grid-row">
  <div class="column-two-thirds">

<div class="form-group">
	<label class="form-label mb10" for="medicationSideEffects">Give details</label>
	<textarea class="form-control form-control-1-1" name="medicationSideEffects" id="medicationSideEffects" rows="10">{{ medicationSideEffects }}</textarea>
</div>

<p><input type="submit" class="button" value="Save" id="submitButton"></p>
      </form>

  </div><!-- column -->

<div class="column-one-third">

</div>
<!-- right hand column -->

</div><!-- row -->

{% endblock %}