{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}


<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>


<h1 class="heading-large mt10
">
		<span class="heading-secondary">Mental Health</span>
	Addictions</h1>

<div class="grid-row">
  <div class="column-two-thirds">
  
  <p>Things you should be assessing</p>

			<ul class="list list-bullet">
					<li>Signs of drugs use</li>
					<li>Smells of alcohol</li>
					<li>Signs of intoxication</li>	
				</ul>
        <form action="mentalHealthAssessment" method="POST" class="form">
				<div class="form-group">
						<label class="form-label-bold" for="mh-addiction">Observation</label>
						<textarea class="form-control form-control-3-4" name="mhaddiction" id="mh-addiction" rows="8">{{mhaddiction}}</textarea>
				</div>
		
		

						<input type="submit" class="button" value="Save">
				
						<div class="multiple-choice" style="display:none">
								<input id="radio-inline-4" type="radio" name="Addiction" value="Addiction" checked>
	
								<label for="radio-4">hidden radio one</label>
							</div>
								
					</form>


  </div><!-- column -->
</div><!-- row -->
{% endblock %}

{% macro physGroup(name,sel) %}
  {% set s = name | slug %}
  <!-- GROUP -->
  <div class="multiple-choice" data-target="group_{{s}}_yes">
    <input id="group_{{s}}" type="checkbox" name="group_{{s}}" sue="group_{{s}}" {% if sel %} checked="checked"{% endif %}>
    <label for="group_{{s}}">{{name}}</label>
  </div>
{% endmacro %}

{% macro physObs(name,sel) %}
  {% set s = name | slug %}
  <div class="multiple-choice" data-target="phys_{{s}}_yes">
    <input id="phys_{{s}}" type="checkbox" name="mobility" value="phys_{{s}}" {% if sel %} checked="checked"{% endif %}>
    <label for="phys_{{s}}">{{name}}</label>
  </div>
  <div class="form-group panel panel-border-narrow js-hidden mt0 mb20" id="phys_{{s}}_yes">
    <p>
      <label class="form-label" for="phys_{{s}}_obs">Observation, Palpation, Movement</label>
      <textarea class="form-control form-control-3-4" name="phys_{{s}}_obs" id="phys_{{s}}_obs" rows="4"></textarea>
    </p>
  </div>
{% endmacro %}

{% block footer_top %}
{{ super() }}
<p class="font-xsmall">
  <a href="/{{ path2 }}/phys_exam_1">exam v1</a> |
  <a href="/{{ path2 }}/phys_exam_2">exam v2</a>
</p>
{% endblock %}



{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
$(document).on('ready',function()
{


  $('#submitButton').on('click',function(e)
  {
    e.preventDefault();
    // get values from the form you're submitting.
    var nugget = $('#nugget').val();
    console.log(nugget)

    // gather values into a data object.
    var formdata = JSON.stringify({"nugget":nugget});
    console.log(formdata)
    console.log({url: '/{{ path }}/saveText'})

    // send data object off to node route for saving.
    $.ajax({
      url: '/{{ path }}/saveText',
      method: "POST",
      contentType: 'application/json',
      data: formdata,
      dataType: 'json',
      complete:  function(data,status,xhr) {
        // sort out the page after data is successfully saved.
        // $('#status_form').hide();
        // $('#status_button').show();
        window.location.href = '/{{path2}}/physical-updated';
      }
    });
  });
  
});
</script>

{% endblock %}
