{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}


<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>


<h1 class="heading-large mt10
">
		<span class="heading-secondary">Mental Health</span>
	Thoughts</h1>

<div class="grid-row">
  <div class="column-two-thirds">
  
  <p>Things you should be assessing</p>

			<ul class="list list-bullet">
					<li>Delusions</li>
					<li>Ruminations</li>
					<li>Obsessions</li>
        </ul>
        
        <form action="mentalHealthAssessment" method="POST" class="form">

				<div class="form-group">
						<label class="form-label-bold" for="mh-thoughts">Observation</label>
						<textarea class="form-control form-control-3-4" name="mhthoughts" id="mh-thoughts" rows="8">{{mhthoughts}}</textarea>
				</div>
		
		

						<input type="submit" class="button" value="Save">
				
						<div class="multiple-choice" style="display:none">
								<input id="radio-inline-4" type="radio" name="Thoughts" value="Thoughts" checked>

								<label for="radio-4">hidden radio one</label>
							</div>
								
					</form>


  </div><!-- column -->
</div><!-- row -->
{% endblock %}



{% block footer_top %}

{% endblock %}



{% block page_scripts %}



{% endblock %}
