




.card-container{

	display: flex;
	flex-wrap: wrap;
	
	@media screen and (min-width:960px){
	
	}

	@media screen and (min-width:1224px){

	}

.card {


	background:$white;
	width:100%;
	margin:0 15px 30px;
	box-sizing: border-box;
	position:relative;
	border:1px solid $border-colour;
	font-size:16px;


	.capacity & {
		flex: 1 1 0;
		margin:15px 8px;
	}


	.header{
		margin: 0;
		font-size: 20px;
		font-weight: bold;
		padding: .8em 1em .6em 1em;
		background: #f8f8f8;
	}

 

		.inner{
			padding: 0 20px 10px 20px;
			background:white;

			li:first-of-type{
               border-top:0px;
			}

			a{
				background:$white;
				padding:10px 0;
				text-decoration:underline;

				&:hover{
					background:transparent;
					color:$link-hover-colour;
				}
			}
		}

		
		table {

			td, th {
				font-size:18px;
				padding:0.5em;

				@media only screen and (max-width: 400px) {
					font-size:16px;
				}
			}

			thead th {
        padding:15px 0;
			}

			tbody tr:last-of-type td, tbody tr:last-of-type th{
        border-bottom:none;
			}

			.numeric{
				text-align: center;
				vertical-align: middle;
				padding:0 5px;
			}
		}

		.inner li {
			padding:0px;

		}

		a{
			background:$grey-4;
			

			&:hover{
				background:$grey-2;
			}

		}


		.heading-xlarge {
			font-size:35px;

			@media only screen and (max-width: 400px) {
				font-size:30px;
			}

	  	span{
				font-size:18px;
				font-weight:bold;

				@media only screen and (max-width: 400px) {
					font-size:16px;
				}
			}
		}


		span{
			text-decoration:none;

	
		}

		
		h2 {

        a &	{		
		color:$link-colour;
		padding-bottom:15px;


		&:hover{
			color:$text-colour;
		}

		}

	}







   .card-header{
	   border-bottom:1px solid $border-colour;
	   padding-bottom:15px;
	   margin-bottom:15px;

   }
   h2 .badge{
	position:absolute;
	top:20px;
	right:20px;
}



.ucb {
	background:#f6f6f6;
	span{
		display:inline;
		}
	}


.panel{
	max-width:200px;
	margin-bottom:0;
	margin-right:10px;
	clear:both;
	padding:8px 0;



		.number{
		  float:left;
		  width:50%;
		  text-align:center;

		  span {
			font-size:18px;
			font-weight:normal;

			&.border{
				border-right:1px solid rgba(0, 94, 165, 0.3);
				font-size:35px;
				line-height:27px;
				padding-top:10px;
				font-weight:bold;
			 }
				
		  }
		}


		.content {
		  float:left;
		  width:50%;

		  span{
			padding:10px;
			font-weight:normal;
		   }
		}

}

	@media screen and (min-width:960px){
		width:calc(100% * (1/2) - 15px - 15px);
	}

	@media screen and (min-width:1224px){
		width:calc(100% * (1/3) - 15px - 15px);
	}

	.column-two-thirds & {
		@media screen and (min-width:1224px){
			width:calc(100% * (1/2) - 15px - 15px);
		}

	}
	
	span{
		display:block;
		margin:0;
	}

	   
    h2 {
        margin:0px;
		padding:20px 20px 15px 20px;
		border-bottom:none;
	}
	h3{
        margin:0px;
		padding:0px 20px 0px 20px;
	}

		   
     p {
        margin:0px;
		padding:0 20px 0px 20px;

	}

	.small
{
	font-size:17px;
}
	

ul.content li{

	margin:0 20px;
	padding:20px 0 10px 0;

	h2 ,h3, p {
		padding:0px 0 5px 0;
	}

	.date{
		text-decoration:none;
		padding-top:10px;
	}

	&:last-of-type{
		padding-bottom:20px;
	}
	  
  }



 a{
		display:block;
		text-decoration: none;

		&:hover{
			background:$grey-2;
			color:$text-colour;
			
			span{
				text-decoration:none;
			}
		}

		&:focus{
			color:$text-colour;
		}

		.heading-xlarge{
			text-decoration: none;
		}

		span{

		   
		   &.badge{
			   text-decoration: none;
			   display:inline-block;

			   &.alt{
				   background:$white;
				   color:$text-colour;
				   font-weight:normal;
				   margin:0px 0 10px 0;
			   }
		   }
		}
	}

	.button{
		display: inline-block;
		background:$white;
		margin:0 20px 20px 20px;
		border:1px solid #003618;
	}

	.secondary-text{
		font-weight:100; font-size:16px; margin:-3px 0 0px; display:block;
	}

  li {
	 
	border-top:1px solid $border-colour;


	   
	 
	 a{

		 padding:0.8em 1em  0.6em 1em;

		 &:hover{
			 background-color:$grey-2;
			 color:$text-colour;
		 }
	 }
	
  }	


}
}




// card single

.card-single {
		position:relative;	
		background:$grey-4;
		margin:0 0 30px 0;
		min-height:190px;

		&:first-child {
			margin-top:0px;
		}
		
		
		&:last-child {
			margin-bottom:0px;
		}
		
		h2 {
			padding:20px;
			border-bottom:1px solid $grey-3;
			&.link{
				padding:0px;
			}

					
		a {

			padding:20px;
			display:block;
	
			&:hover{
				background:$grey-2;
			}
		
		}
		}


	

    .inner{
		padding:0 20px 5px 20px;
		a{
			display:inline;
		}

		ul li {
			padding: 4px 0;
		}
	}

			
	 
}

.pull-right{
	float:right;
}


.actions {
	background: rgba($orange, 0.1);
	border-left: 4px solid $orange;
	padding: .8em 1em;
	h2 {
		border-bottom:none;
		margin-top:0px;
		span {
			display: block;
			margin: 0 0 5px 0;
		
		}
	}
	a {
		color: #000;
	}

	p:last-of-type{
	  margin-bottom:0px;	
	}


}


