.evidence__item {
  display:block;
  text-decoration:none;
  background-color:$grey-3;
  padding:10px 50px 10px 20px;
  border-bottom:2px solid $grey-2;
  &:hover { background-color:lighten($grey-3,5); }

  &.active {
    background-color:$govuk-blue;
    color:white;
    p { color:white; }
    background-image: url(/public/images/big_chevron.png);
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    &:hover {
      background-color:lighten($govuk-blue,5);
    }
  }

  h3 { line-height:1; }
}

.evidence__box {
  margin-bottom:20px;
  .evidence__content {
    position:relative;
    padding:10px 20px;
    background-color:mix(white, $black, 95%);
   }
  .evidence__label {
    color:white;
    font-weight:700;
    padding:10px 5px 5px 10px;
    background-color:$grey-1;
  }
}
// .evidence__box.citizen .evidence__content { background-color:mix(white, $light-blue, 90%); }
// .evidence__box.citizen .evidence__label { background-color:$light-blue; }
//
// .evidence__box.med_records .evidence__content { background-color:mix(white, $grass-green, 90%); }
// .evidence__box.med_records .evidence__label { background-color:$grass-green; }
//
// .evidence__box.gp_report .evidence__content { background-color:mix(white, $mellow-red, 90%); }
// .evidence__box.gp_report .evidence__label { background-color:$mellow-red; }
