// style checkboxes for filters and multiple selections --------------------
.timeslot{
	width:70%;
}


.check-picker{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width:100%;
}


.check-group {

	border-top: 1px solid $border-colour;
	padding-top: .2em;

	legend{
		display:none;
	}	
}
.check-top {
	border-top: 0;
}
.check-choice {
	box-sizing: border-box;
	position:relative;
	width: calc(100% * (1/4));
	margin-bottom:4px;
	padding-right:4px;



	.column-quarter & {
		width: calc(100% * (1/2));
	}

	.column-three-quarters & {
		width: auto;
	}

	.column-two-thirds & {
		width: calc(100% * (1/6));
	}



	@media only screen  and (max-width : 1224px) {

		.column-quarter & {
			width: calc(100% * (1));
		}

		.column-half & {
			width: calc(100% * (1/2));
		}

		.column-two-thirds & {
			width: calc(100% * (1/3));
		}
	
	
		}

		@media only screen  and (max-width : 768px) {
			.column-two-thirds & {
				width: calc(100% * (1/2));
			}
		
		}

		@media only screen  and (max-width : 640px) {
			.column-quarter & {
				width: calc(100% * (1/2));
			}
			}



	input {
		position: absolute;
		left: -9999px;

		&[type=checkbox]:checked + label, &[type=radio]:checked + label {
			background: $grey-1;
			border-color: $grey-1;
			color: #fff;
		} 


		&[type=checkbox]:focus + label {
			border-color: #FFBF47;
		} 
	}

	label {
		box-sizing: border-box;
		padding: 0.7em 20px;
		display:block;
		text-align: center;
		border: 2px solid $grey-3;
		background:$grey-3;
		color:$text-colour;
		height:100%;
		word-break: break-word; 
		//font-weight:bold;

		span{
			font-weight:normal;
			//display:block;
		}

		
	

		&:hover {
			background: $grey-2;
			border-color:$grey-2;
			cursor: pointer;
		}

		.timeslot &{
			padding: 0.6em 0 0.5em 0;
		}

	}

}
       .filter.time-group {
               overflow: hidden;
               margin: 0 0 0 0;
               padding-top: 0.5em;
           }
           .filter.time-group p {
               float: left;
               margin: -8px 0 0 0!important;
               padding: 0;
           }
         
           .filter .time-choice {
               width: auto;
               margin-right: 4px;
               float: left;
           }
           
           .filter.time-group label {
               padding: .6em 20px .5em 20px;
               display: inline-block;
               background: #f8f8f8;
               margin-right: .2em;
               text-align: center;
               font-weight: bold;
               border: 1px solid #f8f8f8;
               font-size: 18px;
               cursor: pointer;
           }
           .filter.time-group label:hover {
               border-color: #dee0e2;
               background: #dee0e2;
           }
           
           .filter.time-group input {
               position: absolute;
               left: -9999px;
           }
           
           .filter.time-group input[type=checkbox]:checked + label {
             background: #005ea5;
             color: #fff;
             border-color: #005ea5;
           } 
       
  





           .subfilter {
	border-top:1px solid $grey-1;
	//border-left:5px solid #6f777b;
	margin:15px 0 10px 0;
    padding:5px 0px;
    


        .check-choice{

            label{
                background: transparent;
                border-color: #dee0e2;
            }

            input[type=checkbox]:checked + label, input[type=radio]:checked + label {

                background:#fff;
                color:#000;
              }
            
        }
    }


