/*
  - - - - - - - - - - - - - - - - - - - - -  SELECT BOX STYLES  - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
select.form-select {
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  padding: 5px 45px 2px 10px;
  background-color: #fff;
  background: #FFF url(/public/images/toggle-sprite-grey.png) no-repeat 100% -50px;
  border: 2px solid black;
  -webkit-appearance: none;
  border-radius: 0;
}

@media (min-width: 641px) {
  select.form-select {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  select.form-select {
    width: auto;
  }
}

select.form-select:hover {
  cursor: pointer;
}

.form-select.compact-control {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  padding: 3px 22px 2px 5px;
  background: #FFF url(/public/images/toggle-sprite-grey.png) no-repeat 101% -55px;
}

@media (min-width: 641px) {
  .form-select.compact-control {
    font-size: 16px;
    line-height: 1.25;
  }
}
