.grey-list {
	background: $grey-3;
	padding: 1em;
	margin-bottom: 30px;
	margin-right: 15px;

	li {
		margin: 1rem 0;
		padding: 1rem 1rem 0.75rem 1rem;
		background: white;
		display: flex;
		justify-content: space-between;
	}
	

}

.button-warning{
   @include button($red);
}