/// Style specifically for index page
.index-page-banner {
  background-color: $govuk-blue;
  color: $white;
  // margin-bottom: $gutter;
}

.index-heading-wrapper {
  margin: 0 auto;
  max-width: 968px;
}

.index-heading-xlarge {
  margin: 0;
  padding: 3rem 0 1rem;
  font-size:64px;
  text-shadow: 0px 1px 2px rgba(black,0.42);
}

.index-heading-large {
  margin: 0;
  padding: 1rem 0 3rem;
  font-weight: normal;
  font-size:1.62em;
  font-weight:bold;
  letter-spacing:0.2em;
  opacity:0.86;
  text-transform: uppercase;
}

@media screen and (max-width: 1020px) {
  .index-heading-xlarge,
  .index-heading-large {
    margin-left: $gutter;
  }
}

@media screen and (max-width: 640px) {
  .index-heading-xlarge,
  .index-heading-large {
    margin-left: $gutter / 2;
  }
}

.phase-banner .tag--red {
  background-color:$mellow-red;
}

.button-grey {
  &:link,&:visited {
    color:black;
    background-color:$grey-3;
    box-shadow: 0 2px 0 darken($grey-3,40);
  }
  &:active,&:hover {
    background-color:darken($grey-3,5);
  }

}
.version {
  border-bottom: 1px solid #bfc1c3;
}
.changes {
  font-size:16px;
}
