.left-nav {

	box-sizing: border-box;
	*{
	
		box-sizing: border-box;

	}

	&__link {
		position: relative;
		display: block;
		width: 100%;
		background: $grey-3;
		padding: 15px 50px 10px 20px;
		border-bottom: 2px solid $grey-2;
		margin-bottom: 10px;
		font-weight: bold;
		text-decoration: none;

		&:after {
			content: "";
			position: absolute;
			display: block;
			right: 0;

		}	

		&:visited {
			color: $govuk-blue;
		}

		&--selected {
			background: $govuk-blue;
			border-bottom: 2px solid darken($govuk-blue, 10%);

			color: white;
			&:visited {
				color: white !important;
			}

			&:link {
				color: white;
			}
		}
	}
}