.scenario-nav {
	li {
		margin-top: 14px;
		padding-bottom: 14px;
		border-bottom: 1px solid $grey-2;
		&:first-child {
			border-top: 1px solid $grey-2;
			padding-top: 14px;
		}
	}
}


.rec-portal {
	margin-top: 30px;
	
	.rec-slot {
		a {
			display: block;
			background: #fff;
			padding: 1.4em;
			color: #10813e;
			text-decoration: none;
			font-size: 18px;
			border: 2px solid #10813e;
			span {
				font-weight: bold;
				font-size: 20px;
				display: block;
				padding-bottom: .5em;
			}
			&:hover {
				background: $grey-4;
				border: 2px solid #0b6831;
				color: #0b6831;
			}
		}
	}
	
}



.make-rec {
	label {
		span {
			display: block;
			font-weight: bold;
			&.second-action {
				color: red;
				font-weight: normal;
			}
		}
	}
}

.case-status {
	.main-status {
		margin: 10px 0 0 0;
		font-weight: bold;
	}
	.pending {
		font-weight: bold;
		color: #fff;
		font-size: 16px;
		display: inline-block;
		background: $govuk-blue;
		border-radius: 2px;
		padding: 4px 6px 2px 6px;
		margin-top: 3px;
	}
}


.markers {
	clear: both;
	
	p {
		display: inline-block;
		background: $govuk-blue;
		border-radius: 2px;
		color: #fff;
		padding: 4px 6px 2px 6px;
		font-weight: bold;
		font-size: 16px;
		margin: 0 0 0 5px;
		&:first-child {
			margin-left: 0;
		}
		&.ucb {
			background: #000;
		}
	}
}


.appointment-history-list {
	margin-top: 10px;
	li {
		font-size: 18px;
		span {
			color: $grey-1;
		}
		h5 {
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	}
}


.view-all {
	margin-top: 30px;
}

.address-stack {
	span {
		display: block;
	}
}

table {
	th, td {
		vertical-align: top;
	}
}


.caseStatus {
	border-top: 1px solid $border-colour;
	border-bottom: 1px solid $border-colour;
	padding: 20px 0 25px 0;
	margin-top: 10px;
	.main-status{
		font-size:18px;
		margin: 0;
		padding: 15px;
		font-weight: normal;
		background: rgba($turquoise, 0.05);
		border-left: 3px solid $turquoise;
	  span{
		  font-weight:bold;
		  display:block;
	      font-size:17px;
	      margin-bottom: 2px;
	  }	
	}
	.primary-action {
		margin: 0;
		margin-top: 20px;
		span {
			display: block;
			font-size: 17px;
			margin-bottom: 5px;
			color: #000;
			font-weight: bold;
		}
	}
}



.caseIdentifiers {
	border-top: 1px solid $border-colour;
	padding: 20px 0 10px 0;
	margin-top: 10px;
		.caseFlags{
			padding: 15px;
			background: rgba($mellow-red, 0.05);
			border-left: 3px solid $mellow-red;
			h2 {
				margin: 0;
				padding: 0;
				font-weight: bold;
				font-size: 17px;
			}
			ul {
				li {
					font-size: 17px;
					margin-top: 6px;
					&:first-child {
						border-top: 0;
						margin-top: 10px;
					}
				}
			}
		}
	
	}



.secondary-nav-actions {
	margin-top: 20px;
}


.filter-portal {
	margin-bottom: 30px;
	padding-bottom: 20px!important;
	border-bottom: 1px solid $grey-2;
	
	.time-choice {
		float: left;
		width: auto;
		padding: 0;
		margin-right: 5px;
		label {
			padding: .6em 1em .5em 1em;
			font-size: 18px;
			border: 0;
			background: #fff;
			color: $govuk-blue;
			font-weight: normal;
			
			border: 1px solid $govuk-blue;
			&:hover {
				background: $grey-4;
			}
		}
	}
}


.filter-head {
		margin-top: 20px;
		span {
			display: inline-block;
			font-weight: bold;
			font-size: 19px;
		}
	}
	
	
.currently-showing {
	color: $grey-1;
}


.evidence-output {
	margin-top: 30px;
	.output-row {
		margin-bottom: 25px;
		h2 {
			margin: 0;
		}
		p {
			margin: 5px 0 0 0;
		}
	}
}



