
.inner-panel {
	background: $grey-4;
	position: absolute;
	width:34%;
	padding: 0;
	top: 0;
	right: 0;
	
	.panel-switch {
		position: absolute;
		top: 250px;
		width: 100px;
		right: 0;
		padding: 20px 0;
		text-align: center;
		cursor: pointer;
		background: #fff;
		border: 3px solid $black; //$govuk-blue;
		border-right: 0;
	


	


		a {
			padding: 0;
			margin: 0;
			
			text-decoration: none;
			//color: #000;
		}
		
		.support {
			padding: 0;
			margin: 0;

		}
	}
	
	.inner-panel-content {
		overflow-y: scroll!important;
		background: #fff;
		padding: 3% 5% 10% 5%;
		border-left: 3px solid $black;
		//border-left: 3px solid $govuk-blue;
		min-height: 1200px;
		display: none;
	//	-webkit-box-shadow: 2px 1px 28px 8px rgba(0,0,0,0.23);
     //   -moz-box-shadow: 2px 1px 28px 8px rgba(0,0,0,0.23);
     //   box-shadow: 2px 1px 28px 8px rgba(0,0,0,0.23);
	}

	&.panel-open {
		.inner-panel-content {
			display: block;
			.evidence__content {
				p {
					font-size: 18px;
				}
			}
		}
		.panel-switch {
			right: auto;
			left: -100px;
		}
	}

	
}
