{% extends path+"/_layout.html" %}



{% block assess_content %}

  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
 
        <li class="selected"><a href="#">Appointments</a></li>
        <li><a href="assessment-centres">Manage my centre</a></li>
    </ul>
  </div>
</div>

<main id="content" role="main" class="main-content mt30">

      <div class="container">
      
   <h1 class="heading-large">Appointments</h1>
   
   
   <div class="section-tabs clearfix">
    <ul>

        <li class="active"><a href="#">Scheduling</a></li>
      
        <li><a href="booked_appointments">Booked</a></li>
        <li><a href="todays_appointments">Today's appointments</a></li>
      
    </ul>
  </div>
      
      
        <div class="grid-row">
          <div class="column-full">
              <table class="appointments-view">

                <thead>
                  <tr class="header-view">
                    <th style="padding-left:15px;">Name</th>
                    <!-- <th>Assessment Centre</th> -->
                    <th>NI Number</th>
                    <th>Benefit</th>
                    <th>HCP skill</th>
                    <th>Received</th>
                    <th class="numeric">Status</th>
                  </tr>
                </thead>


                <!-- <tr>
                  <td style="padding-left:15px;" class=""><a href="booking/details">Tomas Fernandez</a></td>
                  <td>Tesco House</td> 
                  <td>QQ 53 12 35 C</td>
                  <td>UC</td>
                  <td>Complex Neuro </td>
                  <td>1 June 2018</td>
                  <td class="numeric">New claim</td>
                </tr>
 -->
                {% for customer in customers | sort(false, false, 'receivedDate') %}
                <tr>
                  <td style="padding-left:15px;" class=""><a href="booking/referrals/{{customer._id}}/details">{{customer.name.fullName}}</a></td>
                  <!-- <td>{{customer.address.assessmentCentre}}</td> -->
                  <td>{{customer.NINO}}</td>
                  <td>UC</td>
                  <td>Complex Neuro</td>
                  <td>{{customer.receivedDate | formatDate("D MMMM YYYY")}}</td>
                  <td class="numeric">New claim</td>
                </tr>
                {% endfor %}
               
              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
