{% extends path+"/citizen/case/_layout.html" %}

{% block case_nav_left %}{{ case_nav('onlineapp') }}{% endblock %}

{% block case_content %}

      <p class="form-hint mb0">12th July 2017</p>
      <h2 class="heading-xlarge mt0" id="onlineapp">Application</h2>

      <h3 class="heading-large">Medical conditions</h3>

      <ul class="list list-bullet">
        <li>Fybromyalgia (since {{ "Do MMMM YYYY" | monthsAgo(12) }})</li>
        <li>Measles</li>
        <li>Mumps</li>
      </ul>

      <h3 class="heading-large">Medical conditions</h3>

      <ul class="list list-bullet">
        <li>Fybromyalgia</li>
        <li>Measles</li>
        <li>Mumps</li>
      </ul>




      <table>
        <tr>
          <td class="bold nobr">How is your job harder?</td>
          <td class="cust_info">I am unable to sit at my desk for long periods, or stand/ walk for long periods. I am unable to do site visits, as this would invovle additional driving.</td>
        </tr>
        <tr>
          <td class="bold nobr">What do you do now?</td>
          <td class="cust_info">Make sure I take regular breaks from my desk. I have specialist equipment, arranged through work- xxxxx and xxxx. Attend meetings on site with colleagues.</td>
        </tr>
        <tr>
          <td class="bold nobr">What do you want?</td>
          <td class="cust_info">Already in touch with xxxx and xxxx. Had certain specialist equipment already, a specialist chair is required.</td>
        </tr>
      </table>
      <h3 class="heading-large">Travel</h3>
      <table>
        <tr>
          <td class="bold nobr">How is your travel harder?</td>
          <td class="cust_info">On certian days, where my condition flares up I am unable to drive due to pain in the joints, mainly knees and back. I am also unable to use public transport on my own, as I struggle to walk, and also struggle with fainting.</td>
        </tr>
        <tr>
          <td class="bold nobr">What do you do now?</td>
          <td class="cust_info no-answer">Not answered</td>
        </tr>
        <tr>
          <td class="bold nobr">What do you want?</td>
          <td class="cust_info">The ability to use a taxi on the days I am unable to drive.</td>
        </tr>
      </table>

{% endblock %}

{% block footer_top %}
{{ super() }}
{% include path+"/citizen/case/footer_links.html" %}
{% endblock %}
