


  <div class="full">
   
</div>

<div class="column-one-third">

    {% if customer.name.first == 'Dillon' and data['book-next']==="yes" %}
    {% elif  customer.name.first == 'Dillon' and data['appointments']==="no"  %}
    <div class="panel panel-warning mt20">
        <h2 class="heading-small">Action required</h2>
        <p>  {{customer.name.first}} attened his appointment but was unfit to be examined </p>
        <p>{{changedByCustomerComments}}</p>
       
          <p>Wellfair call required</p>
       
    </div>
    {% elif  customer.name.first == 'Dillon'%}
    
    <div class="panel panel-warning mt20">
      <h2 class="heading-small">Assessment abandoned</h2>
      <p>{{customer.name.first}} is unfit to be examined</p>
    </div>
    {% endif%}

    {% if customer.name.first == 'Dominguez' and data['scenario']==="know-3" %}
    {% elif  customer.name.first == 'Dominguez'%}
    <div class="panel panel-warning mt20">
      <h2 class="heading-small">Assessement stopped</h2>
      {{customer.name.first}} needs to see a doctor because a new condition has been identified</div>
    {% endif%}
    {% if  customer.name.first == 'Dillon' and data['book-next']==="yes" %}
    <h2 class="heading-small">{{customer.name.first}}'s current appointment</h2> 
    <span class="badge">Updated</span>
    <p>Monday 14 Jan 2018 <br> 4:00pm</p>
    {% elif data['appointments']==="no"  %}
  
    
    {% else %}

     <h2 class="heading-small"><span style="font-weight:normal" class="text-secondary">Appointment details</span><br />{% if data['Reason']==="complex"%}
      Complex neuro
      {% elif data['Reason']==="neuro"%}
      Neuro
      {% else%}
      Non neuro
      {% endif %} appointment</h2>  

          {% if data['book-next']==="yes" 
          or data['scenario'] %}
          <span class="badge">Updated</span>
          <ul class="list-bullet mt10 mb10">
              <li>{{ 'dddd Do MMMM YYYY' | baseDateAdd(14) }}</li>
              <li>11:00</li>
              <li>Tresco House</li>
            </ul>
           {% elif customer.name.first == 'Dominguez' and data['Reason']==="unable"  %} 
           <ul class="list-bullet mt10 mb10">
          
              <li>{{ 'Do MMMM YYYY' | baseDateAdd(1) }}</li>
              <li>11:00</li>
              <li>Tresco House</li>
            </ul>
          
          {% else %}
          <ul class="list-bullet mt10 mb10">
              <li>{{ 'Do MMMM YYYY' | baseDateAdd(0) }}</li>
              <li>11:00</li>
              <li>Tresco House</li>
            </ul>
          {% endif %}
          <p><a href="#"  class="secondary-invert">Cancel or rearrange appointment</a></p>
          {% endif %}



     
         
        
          <hr />
      
</div>

<div class="column-two-thirds">
  <div class="grid-row">
    <div class="column-half"> 
      <div class="card-single">  
        <h2 class="heading-small">
         Appointment preferences
   
        </h2>
        <div class="inner">
           {% if customer.appointment.taxi or checked('scenario', 'taxi')
              or customer.appointment.interpreter  or checked('scenario', 'interpreter')
              or customer.appointment.accessible or checked('scenario', 'accessible')
              or customer.appointment.gender or checked('scenario', 'gender')
              or customer.appointment.audio or checked('scenario', 'audio')
           %}
           <h3 class="heading-small">Requirements</h3>
           {% endif %}
      <ul>
        {% if customer.appointment.taxi or checked('scenario', 'taxi')%}
        <li>Taxi<a href="" class="pull-right">booked</a></li>
        {% endif %}
        {% if customer.appointment.interpreter  or checked('requirment', 'two') %}
        <li>Interpreter<a href="" class="pull-right">booked</a></li>
        {% endif %}
        {% if customer.appointment.accessible or checked('requirment', 'one')%}
        <li>Ground floor access</li>
        {% endif %}
        {% if customer.appointment.gender or checked('requirment', 'three')%}
        <li>Same gender HCP</li>
        {% endif %}
        {% if customer.appointment.audio or checked('requirment', 'four')%}
        <li>Audio recording </li>
        {% endif %}
 
      </ul>
      {% if customer.name.first == 'Lowery' %}
      <h3 class="heading-small">Unavailable on</h3>
      <ul>
          
  
          <li>Monday <span>afternoons</span>
          </li>
          <li>Tuesdays</li>
        </ul>
        {% endif%}
 
      <p class="mt20"> <a href="#" class="">Add or edit preferences</a></p>
      </div>
      </div> 
      
    </div>
    <div class="column-half">
      <div class="card-single">
        <h2 class="heading-small">Appointment history</h2>


        <div class="inner">
         

           


           

           
               

               
            

           
            

               
          

            {% if data['scenario'] %}
            
                <h3 class="heading-small">Cancelled appointment reason</h3>
  
                <p class="small">
                  
                    {% if data['scenario']==="know-2" %}
                  Number of claimants in attendance exceeds medical capacity
                  {% elif data['scenario']==="wait"  %}
                   {{customer.name.first}} had waited less than 30 mins and did not want to wait any longer
                  {% elif data['scenario']==="late"  %}
                  {{customer.name.first}} arrived 15mins late and waited 10mins
                  {% elif data['scenario']==="unfit" %}
                  {{customer.name.first}} was unfit to be examined <br>
                  {{ unfitdetail }}

                  {% elif data['scenario']==="special" %}
                  {{customer.name.first}} has a new special need <br>
                  {% if data['requirment']=='one'%}
                  Accessible room required
                  {% elif data['requirment']=='two' %}
                  Interpreter required
                  {% elif data['requirment']=='three' %}
                  Healthcare practitioner of same gender required
                  {% elif data['requirment']=='four' %}
                  Audio recording equipment required
                  {% endif %}
                  {% elif data['scenario']==="know-3" %}
        A specialist healthcare professional is required and must be booked

        {% elif data['scenario']==="know-4" %}
        The claimant’s file was not available
        {% elif data['scenario']==="know-5" %}
        Interpreter not provided
        {% elif data['scenario']==="know-6" %}
        Healthcare practitioner of same gender not provided
        {% elif data['scenario']==="know-7" %}
        Audio recording equipment not provided
        {% elif data['scenario']==="know-8" %}
        Inappropriate for health care professional to see claimant (for example they know them)
        {% elif data['scenario']==="know-9" %}
        Healthcare professional ill or called away
        {% elif data['scenario']==="know-10" %}
        Healthcare professional did not attend
        {% elif data['scenario']==="know-12" %}
        Building problem (for example, evacuation)
        {% elif data['scenario']==="know-13" %}
        Technology performance issues (for example, system down or too slow)
        {% elif data['scenario']==="know-14" %}
        The claimant’s file was not available
    
                  {% else %}
                  {{reason}}
                  {% endif %}
                 <!-- <span class="date block mt10">Date recorded:{{ 'Do MMMM YYYY' | baseDate(0)}} | 10:15 am</span> -->
                </p>
             
            {% else %}
           
                <h3 class="heading-small">Cancelled appointment reason</h3>
                  <p>Original appointment clashed with another</p>
               <!-- <span class="date block mt10">Date recorded: {{ 'Do MMMM YYYY' | baseDate(25)}}</span> -->
             
               
            {% endif %}    

                
               <p class="mt20"><a  href="#">View history</a></p> 
             
            </div>



            
    </div>
    </div>
