{% extends path+"/scenario_02a/_layout-case-simple.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>




<h1 class="heading-large">Condition, medication and side effects</h1>




<div class="grid-row">
  <div class="column-two-thirds">
	
	<form method="post" action="wca-index">
	
	<div class="form-group">
			<textarea class="form-control form-control-3-4" name="conditionHistory" id="conditionHistory" rows="8">Has fibromyalgia. 
He went off sick in Aug 2017 with what he thought was flu and fatigue. 
Returned to work for 1 week in January 2018. 
He stopped working after a week as he was a park keeper and working outside all of the time and the pain, he could not fulfil his role. 
He was referred to a specialist following this and was referred to a specialist. It was the specialist who diagnosed the condition in Feb 2018. 
He was referred to the pain clinic following this and is reviewed by them every 2 months. Last seen the pain clinic a month ago. 
The pain clinic has recommended physiotherapy and they were given exercises to do at home by the pain clinic. 
He rarely does these due to pain and fatigue. He has never managed to get through the full sheet of exercises as he has pain. 
He cannot do things around the house due to pins and needles and pain. 
Has widespread pain. The most frustrating is his hands. He has poor grip and cannot lift items. 
The pain gets worse on mobilising and activity and he may need to sleep due to this. 
Does not have good days anymore and would not be able to function without his mum. Mum does all of the care. 
Will stay in bed a couple of times per week at least. 
Today is the first day in a week that he has not spent most of the day in bed. 
Even when he does get up, he will dose in the lounge for 45 minutes to 4 to 5 hours during the day. There is no pattern to this and no particular activity that makes his fatigue better or worse. 
It is just making him very frustrated and he cannot see any end to this.
Tramadol 50 mg x 1 once per day before bed.
Morphine tablet 15 mg twice daily.
Oramorph 5 mls once daily - unsure of the dosage of the bottle. 
Gets drowsy. Thinks this may be from tramadol.
It’s hard to say what symptoms are from the condition and what is a side effect of medication. 
No other side effects of medication. Possible brain fog from medication but thinks this may be part of the condition also.{{ conditionHistory }}</textarea>
		</div>

    <p><input type="submit" class="button" value="Continue" id="submitButton"></p>
		</form>	

  </div><!-- column -->
</div><!-- row -->


<!--

{% if data['condition-history-post']==='posted' %}

<h2 class="heading-medium">Observations</h2>
<div class="review-item">
			{% for comment in comments|sort(attribute='timestamp', reverse=true) %}
			
			<div class="review-inner" >
				
							<p>{{comment.comment}}</p>
	
					{% if not comment.hasComment %}
					<h4>
						{{ 'Customer' if comment.isCustomer }} {{ 'Appointee' if not comment.isCustomer }} passed security</h4>
					{% endif %}
				
				<p class="namedate">{{comment.name}} | <span class="text-secondary"> {{comment.dateFormatted}}</span></p>
				{% if comment.hasComment %}
		
			{% endif %}

					</div>
		{% endfor %}


</div>
<hr />
	{% endif %}		

	

<form class="m-t-xl" method="post" action="condition-history-post">

	<div class="form-group">
		<label class="form-label m-b-xs" for="add-comment">Your comment</label>
		<textarea class="form-control form-control-3-4" name="comment" id="add-comment" rows="5"></textarea>
	</div>
	<p><button type="submit" class="button button-secondary">Add observation</button></p>
	{% if data['wca']==='yes' %}
	<a href="evidence/wca-index" class="button">Save</a>
	{% elif data['wca']==='continue' %}
	<a href="evidence/physical" class="button">Save</a>
	{% else%}
	<a href="timeline" class="button">Save</a>
	{% endif %}

	<div class="multiple-choice" style="display:none">
    <input id="radio-inline-4" type="radio" name="condition-history-post" value="posted" checked>
      
    <label for="radio-4">hidden radio one</label>
	</div>
	</form>

-->

{% endblock %}


