{% extends path1+"/_layoutDoing.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-two-thirds">
    
    <p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
    
    
    
    <form>
    	<fieldset>
    		<legend><h1 class="heading-large mt0">UC50 not required</h1></legend>
    		
    		    		
    		<p class="mt20"><a href="timeline2" class="button">Confirm</a></p>
    	</fieldset>
    	
    </form>
    			
    
    
  
    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
