{% extends path1+"/_layoutDM.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<div class="grid-row no-kdBar">

 

  <div class="column-third">
  
		<h2 class="heading-medium">Descriptors</h2>    
		
		<nav class="descriptor-nav">
				<ul>
					<li><a href="#" class="open-item">Moving around and climbing steps without someone's help</a></li>
					<li><a href="#">Standing, sitting and moving between the two</a></li>
					<li><a href="#">Reaching</a></li>
					<li><a href="#">Picking things up and moving them</a></li>
					<li><a href="#">Using your hands</a></li>
				</ul>
			</nav>

		
  </div><!-- column -->
  
  
  
  <div class="column-two-thirds">
  	
  		<div class="full-report descriptor-focused">
  
		<div class="report-item">

				<h3 class="heading-medium">Moving around and using steps without help</h3>
				
					<table class="report-view-table">
					<caption class="heading-small">Relevant statements</caption>
					
						<tbody>
							<tr>
								<td>Bobby goes to the shop each morning, he goes alone.</td>
							</tr>
							<tr>
								<td>Lives in a top floor flat without access to a lift.</td>
							</tr>
							<tr>
								<td>Walks up and down 4 flights of stairs when going outside.</td>
							</tr>
							<tr>
								<td>Bobby goes to the shop each morning, he goes alone.</td>
							</tr>
							<tr>
								<td>Lives in a top floor flat without access to a lift.</td>
							</tr>
							<tr>
								<td>Walks up and down 4 flights of stairs when going outside.</td>
							</tr>
							<tr>
								<td>Bobby goes to the shop each morning, he goes alone.</td>
							</tr>
							<tr>
								<td>Lives in a top floor flat without access to a lift.</td>
							</tr>
							<tr>
								<td>Walks up and down 4 flights of stairs when going outside.</td>
							</tr>
							
						</tbody>
					</table>
					
					<div class="inner-focus">
						<h4 class="heading-small">How far can Bobby walk or move on level ground without help from someone, and without stopping due to severe pain or tiredness?</h4>
						<p>No more than 50 metres</p>
						
						<h4 class="heading-small">Can Bobby go up or down 2 steps without help, if they use a handrail?</h4>
						<p>No</p>
						
						<h4 class="heading-small">Justification:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>    
					
				</div>
					
					
		</div>
		
		<div class="descriptor-scored">
		
			<div class="score-display scored-display">
				<h2><span>Scored</span>10</h2>
			</div>
			
			<!--<form class="decision-mode">
			<fieldset>
				<legend class="visually-hidden">Make your decision</legend>
				
			  <div class="form-group">
			
			    <div class="multiple-choice" data-target="scorenow">
			      <input id="decide_now" name="whatcando" type="radio" value="Yes">
			      <label for="decide_now">Agree</label>
			    </div>
			
			    <div class="multiple-choice" data-target="closeThis">
			      <input id="face2face" name="whatcando" type="radio" value="No">
			      <label for="face2face">Disagree</label>
			    </div>
			    
			    <div class="panel js-hidden" id="closeThis">
			    	<label class="form-label" for="rescore">Score:</label>
					<input type="text" class="form-control" id="rescore">			
			    </div>
			    
			
			  </div>
			  <div class="form-group">
			    <a href="report-score-update" class="button">Confirm</a>
			  </div>
			  
			</fieldset>
			</form> -->

			
		</div>
		
		
		
  </div><!-- column -->
  
  
  
</div><!-- row -->

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
$(document).on('ready',function()

{
  $('#nugget').focus();
  
  $("#nugget").keydown(function (event) {
    if ((event.keyCode == 13))
    {
      $('#submitButton').trigger('click');
    }
  });


});



</script>




{% endblock %}
