{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content mt30">

      <div class="container">
        <div class="grid-row">
          <div class="column-full">
              <table>

                <thead>
                  <tr>
                    <th style="padding-left:15px;">Name</th>
                    <th>Status</th>
                    <th class="numeric">Last updated</th>
                    <th class="numeric">Assigned to</th>
                  </tr>
                </thead>

                <tr>
                  <td style="padding-left:15px;"><a href="booking/bobby_timeline">Tomas Fernandez</a></td>
                  <td><span class="circle blue"></span> Awaiting medical evidence</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(0)}}</td>
                  <td class="nobr numeric">Heather Harrison</td>
                </tr>

                <tr>
                  <td style="padding-left:15px;"><a href="#">Tony Johnson</a></td>
                  <td><span class="circle teal"></span> New application</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Léonie Vidal</td>
                </tr>

                <tr>
                  <td style="padding-left:15px;"><a href="#">Mia Russell</a></td>
                  <td><span class="circle purple"></span> Ready for review</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Grégory Faure</td>
                </tr>

                <tr>
                  <td style="padding-left:15px;"><a href="#">Yeldon Finkelstein</a></td>
                  <td><span class="circle purple"></span> Ready for review</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr>
                  <td style="padding-left:15px;"><a href="#">Ana Isabel Cruz</a></td>
                  <td><span class="circle blue"></span> Awaiting medical evidence</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr>
                  <td style="padding-left:15px;"><a href="#">Lucas Moran</a></td>
                  <td><span class="circle teal"></span> New application</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr>
                  <td style="padding-left:15px;"><a href="#">Berat Karagöz</a></td>
                  <td><span class="circle purple"></span> Ready for review</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Lamia Baron</td>
                </tr>

                <tr>
                  <td style="padding-left:15px;"><a href="#">Taha Sağlam</a></td>
                  <td><span class="circle blue"></span> Awaiting medical evidence</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Bruno Duval</td>
                </tr>


                <tr>
                  <td style="padding-left:15px;"><a href="#">Aaron Murray</a></td>
                  <td><span class="circle purple"></span> Ready for review</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Katell Grondin</td>
                </tr>

                <tr>
                  <td style="padding-left:15px;"><a href="#">Charlie Reid</a></td>
                  <td><span class="circle purple"></span> Ready for review</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Alexis Boulanger</td>
                </tr>


              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
