{% extends path1+"/_layout.html" %}

{% block citizen_content %}

  <div class="container">

    {{ nav.case_tabs("evidence",1,path1) }}{# macro #}

    <div class="grid-row">
      <div class="column-third">
        {% block app_nav %}
          <div class="evidence__leftnav">

            {% if data.nuggets.length %}
              <a href="medical_assessment" class="evidence__item mb10">
                <h3 class="heading-small mt10 mb5">Medical Assessment</h3>
                <p class="font-xsmall mb5">{{ "Do MMMM YYYY" | daysAgo(1) }}</p>
                <p class="font-xsmall">Source: Health Care Professional – Mandy Potemkin</p>
              </a>
            {% endif %}

            {% if data.physexam %}
              <a href="physical_exam" class="evidence__item mb10">
                <h3 class="heading-small mt10 mb5">Physical examination</h3>
                <p class="font-xsmall mb5">{{ "Do MMMM YYYY" | daysAgo(1) }}</p>
                <p class="font-xsmall">Source: Health Care Professional – Mandy Potemkin</p>
              </a>
            {% endif %}

          <!--  <a href="com_psych_report" class="evidence__item mb10">
              <h3 class="heading-small mt10 mb5">Community Psychiatric Nurse Report</h3>
              <p class="font-xsmall mb5">{{ "Do MMMM YYYY" | daysAgo(7) }}</p>
              <p class="font-xsmall">Source: Jane Godman – Community Psychiatric Nurse - Stroud</p>
            </a> -->

            <a href="gp_report" class="evidence__item mb10">
              <h3 class="heading-small mt10 mb5">GP report (ESA113)</h3>
              <p class="font-xsmall mb5">{{ "Do MMMM YYYY" | daysAgo(12) }}</p>
              <p class="font-xsmall">Source: Sheila Turner GP - Brixton Medical Centre</p>
            </a>

            <a href="medical_record_data" class="evidence__item mb10">
              <h3 class="heading-small mt10 mb5">Medical record data</h3>
              <p class="font-xsmall mb5">{{ "Do MMMM YYYY" | daysAgo(15) }}</p>
              <p class="font-xsmall">Source: Brixton Medical Centre</p>
            </a>

            <a href="statements" class="evidence__item mb10">
              <h3 class="heading-small mt10 mb5">Tomas's statements (from the ESA50)</h3>
              <p class="font-xsmall mb5">{{ "Do MMMM YYYY" | daysAgo(20) }}</p>
              <p class="font-xsmall">Source: Claimant</p>
            </a>

            <a href="conditions" class="evidence__item mb10">
              <h3 class="heading-small mt10 mb5">Medication and side effects</h3>
              <p class="font-xsmall mb5">{{ "Do MMMM YYYY" | daysAgo(20) }}</p>
              <p class="font-xsmall">Source: ESA50</p>
            </a>

          <!--  <div class="form-group">
              <hr />
              <a href="/{{ path2 }}/add_choice/" class="button">Record new evidence</a>
            </div> -->

          </div>
        {% endblock %}
      </div><!-- column -->
      <div class="column-two-thirds">
          {% block case_content %}{% endblock %}
      </div><!-- column-full -->
    </div><!-- grid-row -->
  </div><!-- container -->
{% endblock %}

{% block body_end %}
  <div id="descriptor_choice" style="display:none; max-height:76%">
    {% include path2+"/_addremove.html" %}
  </div>
  {{ super() }}
{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.tag').on('click',function(e)
    {
      e.preventDefault();
      $(this).toggleClass('clicked');
    });

    $('.tag').on('mouseleave',function(e)
    {
      e.preventDefault();
      $(this).removeClass('clicked');
    });

    $.fancybox.defaults.beforeShow = function(){
        $("html").css({'overflow-y':'hidden'});
    };
    $.fancybox.defaults.afterClose = function(){
        $("html").css({'overflow-y':'visible'});
        $('.des_trigger').blur();
    };
    // highlight the approrpaiet left nav
    $('.evidence__leftnav a h3').each(function(i,e)
    {
      if ($(e).text() == $('h2.heading-large').text()) $(e).parent().addClass('active');
    })
  });
</script>
{% endblock %}
