{% extends path2+"/_layout.html" %}

{% block scoring_content %}

{{ nav.case_tabs("scoring",1,path1) }}{# macro #}

  <a href="javascript: history.go(-1)" class="link-back">Back</a>


<h1 class="heading-large mt30 mb0">Personal summary statement</h1>

<div class="grid-row">
  <div class="column-two-thirds">
  
  
  <form>
  
  	  	
  	
  	<div class="form-group mt0">
	  <label class="visually-hidden" for="reason">
	  	Statement
	  </label>
	  <textarea class="form-control" name="reason" style="height:500px; width: 98%;"></textarea> 
  </div> 


 <p class="mt30"><a href="report-view" class="button">Generate report</a></p>

					    
  </form>
  



{% endblock %}

