{% extends path+"/scenario_03a/_layout-case-simple.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}



<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>



<div class="grid-row">
  <div class="column-two-thirds">

	<p class="caption-large" class="mb0">Paper based assessment</p>
	<h1 class="heading-large mt0">Evidence you've considered</h1>

<form action="supportingEvidence1" method="post">

{% include path+"/scenario_03a/autocomplete/pbaEvidenceAutocomplete.html" %}


<!--        <label for="last-location">Select your evidence</label>
        <div class="autocomplete-wrapper">
          <select name="last-location" id="last-location">
            <option value="">Select an evidence type</option>
            <option value="SE1">113 (GP report)</option>
<option value="SE2">BF223</option>
<option value="SE3">DNA1</option>
<option value="SE4">DS1500 (Medical condition report)</option>
<option value="SE5">FFR2 (Factual report)</option>
<option value="SE6">FFR3</option>
<option value="SE7">FFR4 (Telephone conversation record)</option>
<option value="SE8">LT54 (Change of decision)</option>
<option value="SE9">MED3 (Fit note)</option>
<option value="SE10">POID</option>
<option value="SE11">UC50 (Questionnaire)</option>
<option value="SE12">UC63</option>
<option value="SE13">UC65</option>
<option value="SE14">UC85 (Medical report)</option>
<option value="SE15">UC85A (Basic medical report)</option>
<option value="SE16">Appointment letter</option>
<option value="SE17">Care Plan</option>
<option value="SE18">Client letter</option>
<option value="SE19">Consultant letter</option>
<option value="SE20">Copy of prescription</option>
<option value="SE21">GP Letter</option>
<option value="SE22">GP medical record printout</option>
<option value="SE23">Hospital correspondence</option>
<option value="SE24">PIP / DLA Decision letter</option>
<option value="SE25">Questionnaire Cancer treatment page</option>
<option value="SE26">Specialist letter</option>
<option value="SE27">Support / Key worker letter</option>
<option value="SE28">Tribunal decision letter</option>
          </select>
        </div>-->



<!--<p><input type="submit" class="button" value="Save and continue" id="submitButton"></p>-->
      </form>


  </div><!-- column -->

</div><!-- row -->



{% endblock %}


{% block page_scripts %}

{% include path+"/scenario_03a/autocomplete/_autocompletedata.html" %}
  
 
{% endblock %} 