{% extends path+"/scenario_03a/_layout-case-simple.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>



<div class="grid-row">
  <div class="column-two-thirds">

<p class="caption-large" class="mb0">Paper based assessment</p>
<h1 class="heading-large mt0">Summarise your findings</h1>


<form method="post" action="miniReport">

	
<div class="form-group">
			<label class="form-label" for="justify">Write justification statement.</label>
			<textarea class="form-control form-control-3-4" name="justifyTreatLCWRA" id="justify" rows="8"></textarea>
		</div>

    <p><input type="submit" class="button" value="Save and review advice" id="submitButton"></p>
		</form>	

  </div><!-- column -->


<div class="column-one-third">

<div class="portal-display">
<div class="portal-card">
				<div class="portal-head">
					<h4>Summary</h4>
				</div>
				<!-- / title -->
				<div class="portal-inner">
				<p class="font-xsmall">{{ taggedstatement1 }}</p>
				<p class="font-xsmall">{{ taggedstatement2 }}</p>
				<p class="font-xsmall">{{ taggedstatement3 }}</p>
				<p class="font-xsmall">{{ taggedstatement4 }}</p>
				<p class="font-xsmall">{{ taggedstatement5 }}</p>
				<p class="font-xsmall">{{ taggedstatement6 }}</p>
				<p class="font-xsmall">{{ taggedstatement7 }}</p>
				<p class="font-xsmall">{{ taggedstatement8 }}</p>
				<p class="font-xsmall">{{ taggedstatement9 }}</p>
				<p class="font-xsmall">{{ taggedstatement10 }}</p>
				</div>
				<!-- / inner card -->
			</div>
			</div>
  </div><!-- right hand column -->


</div><!-- row -->



{% endblock %}


