{% extends path+"/scenario_04b/_layout-case-full-width.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>


<p class="caption-large" class="mb0">Assessment preparation</p>

<h1 class="heading-large mt0">Do you want to add medical conditions now?</h1>


<div class="grid-row">
  <div class="column-two-thirds">
	
	<form method="post">

	<div class="form-group">
		 <fieldset>
			<div class="multiple-choice" data-target="numberOfConditions">
				<input id="category01" name="PBAdescriptors" type="radio" value="~/{{path}}/scenario_04b/assessment_preparation/enter_medical_conditions">
				<label for="category01">Yes</label>
			</div>
			<div class="panel js-hidden" id="numberOfConditions">
				<fieldset>
					<div class="form-group form-group-month">
                		<label class="form-label" for="conditionsNumber">Number of conditions to add</label>
                		<input class="form-control" id="conditionsNumber" name="conditionsNumber" type="number" pattern="[0-19]*">
                	</div>
				</fieldset>
			</div>
			<div class="multiple-choice">
				<input id="category01" name="PBAdescriptors" type="radio" value="~/{{path}}/scenario_04b/portal_face-to-face/appointment-fme" action="window.open();">
				<label for="category01">No, I'll do it during the assessment</label>
			</div>
		</fieldset>


	</div><!-- section end -->



<!--
<div class="form-group">
            <fieldset>
                <div class="form-group form-group-month">
                  <label class="form-label" for="dob-month">Number of conditions to add</label>
                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-19]*">
                </div>
            </fieldset>
          </div>-->

<p><input type="submit" class="button" value="Continue" id="submitButton"></p>
	</form>

  </div><!-- column -->
</div><!-- row -->


{% endblock %}


