{% extends path+"/_layout.html" %}
{% import path+"/scrutiny/_macros_nav.html" as nav %}

{% block assess_content %}


  <main id="content" role="main" class="main-content-inner">

    <div class="container">
    
      <div class="grid-row main-row">
      
      <div class="column-one-quarter left-area">
      
      	<div class="left-panel">
            {% if customer.status == 'Assessment started' or customer.status == 'Ready for recommendation'%}
            {% elif customer.status == 'Ready for assessment' or customer.status == 'Assessment completed' or customer.status == 'Assessment stopped' or customer.status == 'Appointment today' or customer.status == 'Booked' %}
            <p class="returnRef"><a href="/{{path}}/assessment">Return to case list</a></p>
            <hr>
            {% elif customer.status == 'Ready to book' or customer.status == 'Booked' or customer.status == 'Did not attend'%}
            <p class="returnRef"><a href="/{{path}}/appointments">Return to case list</a></p>
            <hr>
            {% elif customer.status == 'Security booked'%}
            <p class="returnRef"><a href="/{{path}}/search-results-id">Return to search</a></p>
            <hr>
            {% else %}
      		<p class="returnRef"><a href="/{{path}}/ready-for-review">Return to case list</a></p>
          <hr>
          {% endif %}
      	
      	
      	
      	 <div class="case-status">
      	     	 
      	 
		 
 <p class="mt10 mb0 bold-small">
{{ 'Ready for review' if customer.status == 'review' }}
{{ 'Requested further medical evidence' if customer.status == 'fme' }}
{{ 'Appointment today' if customer.status == 'Appointment today'}}
{{ 'Ready for assessment' if customer.status == 'Ready for assessment'}}
{{ 'Assessment started' if customer.status == 'Assessment started' }}
{{ 'Ready for recommendation' if customer.status == 'Ready for recommendation' }}
{{ 'Assessment completed' if customer.status == 'Assessment completed' }}
{{ 'Assessment stopped' if customer.status == 'Assessment stopped' }}
{{ 'Ready to Book' if customer.status == 'Ready to Book' }}
{{ 'Did not attend' if customer.status == 'Did not attend' }}
{{ 'Ready to book' if customer.status == 'Booked' and customer.name.first == 'Dillon' and data['book-next']!=="yes" }}
{{ 'Booked' if customer.status == 'Booked' and customer.name.first !== 'Dillon' }}
{{ 'Booked' if customer.status == 'Booked' and customer.name.first == 'Dillon' and data['book-next']==="yes" }}
{{ 'Booked' if customer.status == 'Security booked' }}


 </p>
     {% if customer.status == 'Assessment started' or customer.status == 'Booked' or customer.status == 'Security booked'%}
     {% elif customer.status == 'Assessment completed' %}
     <p><a href="/{{path}}/assessment/{{customer._id}}/scoring/report-view" class="button">Rework report</a></p>   
   
     {% elif customer.status == 'Assessment stopped' %}
     <form class="" method="post" action="/{{path}}/assessment/{{customer._id}}/start-assessment">
      <p><button  class="button">Restart assessment</button></p>
    </form>
     {% elif customer.status == 'Ready for recommendation' %}
     <p><a href="/{{path}}/assessment/{{customer._id}}/scoring/" class="button">Make your recommendation</a></p>   
      {% elif customer.status == 'Ready for assessment'%}
     
      <form class="" method="post" action="/{{path}}/assessment/{{customer._id}}/start-assessment">
		  <p><button  class="button">Start assessment</button></p>
      <div class="multiple-choice" style="display:none">
          <input id="radio-inline-4" type="radio" name="wca" value="yes" checked>
          <label for="radio-4">hidden radio one</label>
        </div>
    </form>

    {% elif customer.status == 'Appointment today' %}
    <form class="" method="post" action="/{{path}}/assessment/{{customer._id}}/ready-for-assessment">
		  <p><button  class="button">Confirm arrival</button></p>
    </form>

    {% elif customer.status == 'Did not attend' %}
    <p class="mt10"><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/rec" class="button">Refer to decision maker</a></p>
      {% else %}
      <p class="mt10"><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/rec" class="button">Make a recommendation</a></p>
      {% endif%}
      <hr>
		  
		  
		  
		  <ul class="secondary-actions">
          <li><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/record-evidence" class="">Record evidence</a></li>
          {% if customer.status == 'fme' or customer.status == 'review' %}
          <li><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/request-evidence" class="">Request evidence</a></li>
          {% endif %}
         

            {% if customer.status == 'Assessment started' or customer.status == 'Ready for recommendation'%}  
            <li><a href="/{{path}}/assessment/{{customer._id}}/general-observations">General observations {% if data['general-observations-post']==='posted' %}({{ observations.length }}){% endif%}</a></li>
            <li><a href="/{{path}}/assessment/{{customer._id}}/evidence/addAttendee" class="">Additional attendee</a></li>
           
            
            <li><a href="/{{path}}/assessment/{{customer._id}}/evidence/stopAssess">Abandon assessment</a></li>
            {% endif %}

         <!--  {% if customer.status == 'Assessment stopped' or customer.status == 'Ready for assessment'%}
            {% if data['stoppassess']==='unfit' or data['stoppassess']==='specialreq'%}
            <li><a href="/{{path}}/assessment/{{customer._id}}/evidence/send-home-book">Rearrange this appointment</a></li>
            {% elif data['stoppassess']==='other'%}
            <li><a href="/{{path}}/assessment/{{customer._id}}/evidence/send-home-asses-not-comp">Rearrange this appointment</a></li>
            {% else %}
            <li><a href="/{{path}}/assessment/{{customer._id}}/evidence/send-home">Rearrange this appointment</a></li>
            {% endif %}
            {% endif %} -->
           <!-- <li><a href="#">Close case</a></li> -->
          </ul>
          
		  </div>
      	
      	
      	</div>
      
      </div>
      
        <div class="column-three-quarters main-area">
        

  {% include path+"/includes/_staff_heading.html" %}
          <div nunj-block="citizen_content">
            {% block citizen_content %}{% endblock %}
          </div>

        </div><!-- column -->
        
        
      </div><!-- row -->
    </div><!-- container -->

  </main>
  {%if customer.status == 'Assessment started' or customer.status == 'Assessment completed' or customer.status == 'Ready for recommendation'%}
  {% include path+"/includes/evidence/_evidence_panel.html" %}
  {% endif %}
{% endblock %}

{% block page_scripts %}
{{ super }}

<script type="text/javascript">
  $( document ).ready(function() {
         $( ".panel-switch" ).click(function() {
             $( ".inner-panel" ).toggleClass( "panel-open" );
         });
     }); 
     
 </script>




{% endblock %}

{% block footer_top %}
{{ super() }}

{% endblock %}
