{% extends path+"/scenario_prompts_01a/_layout-case-simple-full-width.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}


<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

<p class="caption-large" class="mb0">Condition history</p>

<h1 class="heading-large mt10">Mental health risk</h1>

<h2 class="heading-medium mt10">Suicidal ideation</h2>

<form action="condition-history_home" method="post">

<div class="grid-row">
  <div class="column-two-thirds">

<div class="form-group">
	<fieldset>
		<legend class="mb10">Have they ever thought about harming themselves in any way?</legend>
			<div class="multiple-choice" data-target="selfHarmYes">
				<input id="continenceYes" name="selfHarmQuestion" type="radio" value="yes">
				<label for="continenceYes">Yes</label>
			</div>
			<div class="panel js-hidden" id="selfHarmYes">
				<div class="form-group">
	<fieldset>
		<legend class="mb10">Has there been an actual attempt or act of self-harm?</legend>
			<div class="multiple-choice">
				<input id="continenceYes" name="continencePads" type="radio" value="yes~/fha/assessment-scenarios/scenario_prompts_01a/condition-history_RiskFull">
				<label for="continenceYes">Yes</label>
			</div>
			<div class="multiple-choice">
				<input id="continenceNo" name="continencePads" type="radio" value="no~/fha/assessment-scenarios/scenario_prompts_01a/condition-history_RiskOngoing">
				<label for="continenceNo">No</label>
			</div>
	</fieldset>
</div>
			</div>
			<div class="multiple-choice">
				<input id="continenceNo" name="selfHarmQuestion" type="radio" value="no~/fha/assessment-scenarios/scenario_prompts_01a/condition-history_RiskOther">
				<label for="continenceNo">No</label>
			</div>
		</fieldset>
</div>


<p><input type="submit" class="button" value="Save" id="submitButton"></p>
      </form>

  </div><!-- column -->

<div class="column-one-third">

</div>
<!-- right hand column -->

</div><!-- row -->

{% endblock %}