{% extends path+"/scenario_prompts_01a/_layout-case-simple-full-width.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}

<style type="text/css">
  .multiple-choice {
      padding: 4px 10px 9px 40px;
      margin-bottom:10px;}
    .multiple-choice [type=checkbox] + label::before {
      width: 22px;
      height: 22px;
      padding-top: 2px !important;
    }

    .multiple-choice label::after {
      top: 9px !important;
      left: 7px !important;
      width: 10px !important;
      height: 5px !important;
      border-width: 0 0 3px 3px !important;
    }
</style>

<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

<p class="caption-large" class="mb0">Condition history</p>

<h1 class="heading-large mt10">Anxiety and depression</h1>

{% if data['endFTFtrigger'] %}
<form action="miniReview" method="post">
{% else %}
<form action="condition-history_home" method="post">
{% endif %}

<div class="grid-row">
  <div class="column-two-thirds">

<div class="form-group">
	<label class="form-label" for="conditionAnxietyTime">When and how did the condition start?</label>
	<textarea class="form-control form-control-1-1" name="conditionAnxietyTime" id="conditionAnxietyTime" rows="2">{{ conditionAnxietyTime }}</textarea>
</div>

<div class="form-group">
	<label class="form-label" for="conditionAnxietyProgression">How has the condition progressed over time?</label>
	<textarea class="form-control form-control-1-1" name="conditionAnxietyProgression" id="conditionAnxietyProgression" rows="2">{{ conditionAnxietyProgression }}</textarea>
</div>

<div class="form-group">
	<label class="form-label" for="conditionAnxietyInvestigations">Investigations</label>
	<span class="form-hint mt5 mb5">For example, who are they seeing about the condition? Are they receiving treatment?</span>
	<textarea class="form-control form-control-1-1" name="conditionAnxietyInvestigations" id="conditionAnxietyInvestigations" rows="4">{{ conditionAnxietyInvestigations }}</textarea>
</div>

<div class="form-group">
          <fieldset>
            <legend class="mb10">
              <span class="body-text">What symptoms do they have?</span>
            </legend>
            <div class="multiple-choice">
              <input id="evidence-type-1" name="symptomTypesAnxiety" type="checkbox" value="Agoraphobia">
              <label for="evidence-type-1">Agoraphobia</label>
            </div>
            <div class="multiple-choice">
              <input id="evidence-type-2" name="symptomTypesAnxiety" type="checkbox" value="Anxiety">
              <label for="evidence-type-2">Anxiety</label>
            </div>
            <div class="multiple-choice">
              <input id="evidence-type-3" name="symptomTypesAnxiety" type="checkbox" value="Low mood">
              <label for="evidence-type-3">Low mood</label>
            </div>
            <div class="multiple-choice">
              <input id="evidence-type-4" name="symptomTypesAnxiety" type="checkbox" value="Low self-esteem">
              <label for="evidence-type-4">Low self-esteem</label>
            </div>
			<div class="multiple-choice">
              <input id="evidence-type-5" name="symptomTypesAnxiety" type="checkbox" value="Mood changes">
              <label for="evidence-type-5">Mood changes</label>
            </div>
			<div class="multiple-choice">
              <input id="evidence-type-6" name="symptomTypesAnxiety" type="checkbox" value="Panic attacks">
              <label for="evidence-type-6">Panic attacks</label>
            </div>
			<div class="multiple-choice">
              <input id="evidence-type-7" name="symptomTypesAnxiety" type="checkbox" value="Reduced appetite">
              <label for="evidence-type-7">Reduced appetite</label>
            </div>			
          </fieldset>
</div>

<div class="form-group">
	<label class="form-label" for="conditionAnxietySymptomsOther">Other symptoms</label>
	<textarea class="form-control form-control-3-4" name="conditionAnxietySymptomsOther" id="conditionAnxietySymptomsOther" rows="1">{{ conditionAnxietySymptomsOther }}</textarea>
</div>

<div class="form-group">
	<label class="form-label" for="conditionAnxietySymptomsFrequency">How frequent are their symptoms?</label>
	<span class="form-hint mt5 mb5">For example, every day or about once a month</span>
	<textarea class="form-control form-control-3-4" name="conditionAnxietySymptomsFrequency" id="conditionAnxietySymptomsFrequency" rows="1">{{ conditionAnxietySymptomsFrequency }}</textarea>
</div>

<div class="form-group">
	<label class="form-label" for="conditionAnxietyImpact">How does the condition impact their day-to-day life?</label>
	<textarea class="form-control form-control-1-1" name="conditionAnxietyImpact" id="conditionAnxietyImpact" rows="4">{{ conditionAnxietyImpact }}</textarea>
</div>

<p><input type="submit" class="button" value="Save" id="submitButton"></p>
      </form>

  </div><!-- column -->

<div class="column-one-third">

</div>
<!-- right hand column -->

</div><!-- row -->

{% endblock %}