<!--{% include path+"/includes/details/_contact.html" %}-->
{% extends path1+"/_layoutDM.html" %}

{% block citizen_content %}

  <div class="container">


      
    
        {# macro #}
        {{ navfta.case_tabs("details",1,path1, customer._id) }}{# macro #}
     

    <div class="grid-row">
      <div class="column-third">
        {% block app_nav %}
          <div class="details-nav">
			  <ul>
				<li><a href="index">Illnesses disabilities and medication</a></li>
				<li><a href="contact">Contact details </a></li>
        <li><a href="gp">GP details</a></li>
        <li><a href="hcp">Other healthcare professionals</a></li>
            </ul>
            
          </div>
        {% endblock %}
      </div><!-- column -->
      <div class="column-two-thirds">
            <h1 class="heading-large mt10">Contact details</h1>
      
      

        
        

        
      
          
          <h4 class="heading-small mt0">Phone</h4>
          <p>{{customer.phone}}</p>
          
          <h4 class="heading-small">Text</h4>
          <p>{{customer.mobile}}</p>
          
          <h4 class="heading-small">Email</h4>
          <p>{{customer.email}}</p>
          
          <h4 class="heading-small">Address</h4>
          <p class="address-stack">
              <span>{{customer.address.street}}</span>
              <span>{{customer.address.city}}</span>
              <span>{{customer.address.postcode}}</span>
          </p>
          
          <h4 class="heading-small">Has {{customer.name.first}} given consent to request further medical evidence?</h4>
      
          <p>Yes</p>
          
          <p class="mt30"><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/not-testing" class="button secondary">Edit details</a></p>
      
             
          
     
 
   


  </div>
{% endblock %}

{% block body_end %}

{{ super() }}

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
    $(document).on('ready',function()
    {
      $('.details-nav ul')
        .children(":nth-child(2)")
        .addClass('active_detail')
    });
  </script>
{% endblock %}
