<div class="version">
  <div class="grid-row">

    {% set n = 1 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Service start page</h3>
      <p><a href="/service-start" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">1.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">15 Jun 2018</h3>
     
    </div>

  </div><!-- .row -->

</div><!-- version -->