{% extends path1+"/_layoutRecording.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		<form action="/{{path}}/scrutiny/{{customer._id}}/evidence" method="POST" class="form">
			<div class="form-group">
					<fieldset>
				
						<legend>
							<h1 class="heading-large mt0">
								Record evidence
							</h1>
							<p class="form-hint mb5 mt10">Select the evidence you would like to record.</p>
						</legend>
				    {% if  customer.fmeType.indexOf("113") > -1 %}
						<div class="multiple-choice">
							<input id="gp" name="evidenceType" type="checkbox" value="Gp">
							<label for="gp" class="form-label-bold">GP report (113 form)</label>
						</div>
						{% endif %}
						{% if  customer.fmeType.indexOf("FRR") > -1 %}
						<div class="multiple-choice">
							<input id="factualreport" name="evidenceType" type="checkbox" value="factualreport">
							<label for="factualreport" class="form-label-bold">Factual report (FRR)</label>
						</div>
						{% endif %}
						<div class="multiple-choice" data-target="evidence">
							<input id="nationalities-other" name="evidenceType" type="checkbox" value="evidence">
							<label for="nationalities-other" class="form-label-bold">Record new evidence</label>
						</div>
						<div class="panel panel-border-narrow js-hidden" id="evidence">
								<div class="form-group">
										<label for="type" class="form-label">
											Evidence type
										</label>
										<input type="text" id="type" class="form-control form-control-1-3">
									</div>
									
									<div class="form-group">
										<label for="source" class="form-label">
											Source
										</label>
										<input type="text" id="source" class="form-control form-control-1-3">
									</div>
						</div>
						<div class="multiple-choice" data-target="telephone">
								<input id="nationalities-other" name="evidenceType" type="checkbox" value="evidence">
								<label for="nationalities-other" class="form-label-bold">	Telephone contact report (FRR4)</label>
							</div>
							<div class="panel panel-border-narrow js-hidden" id="telephone">
									<div class="form-group">	
											<label for="telephoneReport" class="bold">
											Information sought

											</label>
											<textarea class="form-control form-control-2-4" name="telephoneReport" id="telephoneReport" rows="5"></textarea>
											 </div>	
											 <div class="form-group">
													<fieldset>
	
															<legend class="bold">
																
																	Source of information
																
															</legend>

															<div class="multiple-choice" data-target="client">
																	<input id="example-contact-by-email" type="radio" name="hcp-type" value="gp">
																	<label for="example-contact-by-email">Client: {{customer.name.fullName}}</label>
																</div>
																<div class="panel panel-border-narrow js-hidden" id="client">
																	  <fieldset class="inline">

																				<legend>
																					<h2 class="form-label-bold">
																					Does {{customer.name.first}} agree to answer questions?
																					</h2>
																				</legend>
																		
																				<div class="multiple-choice">
																					<input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
																					<label for="radio-inline-1">Yes</label>
																				</div>
																				<div class="multiple-choice">
																					<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
																					<label for="radio-inline-2">No</label>
																				</div>
																		
																			</fieldset>
																		</div>

														
													
															<div class="multiple-choice">
																<input id="example-contact-by-email" type="radio" name="hcp-type" value="gp">
																<label for="example-contact-by-email">GP: {{customer.address.gpName.fullName}}</label>
															</div>
															{% if  customer.otherHcp.hasOtherHcp %}
															<div class="multiple-choice" >
																	<input id="example-contact-by-email" type="radio" name="hcp-type" value="consultant">
																	<label for="example-contact-by-email">Consultant: Dr. {{customer.otherHcp.name.fullName}}</label>
																</div>
													         {% endif %}
	
										
														
													
														</fieldset>
	
											 </div>
											 <div class="form-group">	
													<label for="telephoneReport" class="bold">
													Information gathered
													</label>
													<textarea class="form-control form-control-2-4" name="telephoneReportGathered" id="telephoneReport" rows="15"></textarea>
													 </div>	
							</div>
				
					</fieldset>
				</div>
		
		
	
				
				<!--<div class="form-group mt30">

					    	<fieldset>
							      <legend class="heading-small mb10">
							        Evidence type: 
							      </legend>
							       
							       
							       <div class="multiple-choice">
								      <input id="terminally" name="reasons" type="radio" value="terminally ill">
								      <label for="terminally">Evidence type 1</label>
								    </div>
					  
								    <div class="multiple-choice">
								      <input id="preg" name="reasons" type="radio" value="Pregnancy">
								      <label for="preg">Evidence type 2</label>
								    </div>
								    
								    <div class="multiple-choice">
								      <input id="disease" name="reasons" type="radio" value="Disease">
								      <label for="disease">Evidence type 3</label>
								    </div>
					  
								    <div class="multiple-choice">
								      <input id="substantial" name="reasons" type="radio" value="Substantial">
								      <label for="substantial">Evidence type 4</label>
								    </div>
								    
								    <div class="multiple-choice" data-target="other-evidence">
								      <input id="other" name="reasons" type="radio" value="other">
								      <label for="other">Other</label>
								    </div>	       
						    </fieldset>
						    
					</div>-->
					
	
		
    
    
    <p><input type="submit" class="button" value="Save and continue"></p>
     
				</form>
    
    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}

{% endblock %} #}
