{% extends path1+"/_layout-index.html" %} 

{% block main_content %}

   
<h1 class="heading-large mt0">Manchester region</h1>
<h1 class="heading-medium">Week commencing 10 December 2018</h1>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="task-list">
            <h2 class="task-list-section">
				Asign staff to centres and tasks
			  </h2>
            <ul class="task-list-itmes">
                <li class="task-list-item"><a href="/{{path}}/planning/day/monday">Monday 
			{% if mondayComplete %}
			<span class="task-completed">Complete</span>
			{% endif %}
			</a></li>
                <li class="task-list-item"><a href="#">Tuesday </a></li>
                <li class="task-list-item"><a href="#">Wednesday </a></li>
                <li class="task-list-item"><a href="#">Thursday </a></li>
                <li class="task-list-item"><a href="#">Friday </a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}