{% extends path1+"/_layout.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    {# macro #}
  {{ nav.case_tabs("timeline",1,path1) }}
    
    
    
     
    
      <div class="timeline">
		  
		  <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Medical evidence requested (113)</h3>
          <p class="timeline_datetime">15 August 2018</p>
        </div>

         <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">GP statement received (113)</h3>
          <p class="timeline_datetime">29 January 2018</p>
        </div>
        
          <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Request for GP statement sent (113)</h3>
          <p class="timeline_datetime">19 January 2018</p>
        </div>
        
          <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">UC50 form received at CHDA</h3>
          <p class="timeline_datetime">4 January 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">UC50 form sent out to Tomas</h3>
          <p class="timeline_datetime">12 December 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Fit note (MED3) received </h3>
          <p class="timeline_datetime">19 November 2017</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Entitlement letter sent to Tomas</h3>
          <p class="timeline_datetime">5 November 2017</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA application completed on the phone</h3>
          <p class="timeline_datetime">1 November 2017</p>
        </div>

        <div style="clear:both"></div>

      </div><!-- timeline -->

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
