{% extends path2+"/_layout-add.html" %}


{% block case_content %}


           <h1 class="heading-large mt10">Illnesses and disabilities</h1>

		
           <div class="grid-row">
              <div class="column-two-thirds">
            
              <form class="form">
              
              
              <div class="list-item-wrapper-vertical">
                  <div class="list-row">
                  
              
                      <fieldset class="item-compound">
                             
                        
                        <legend class="visuallyhidden">Illness or disability details</legend>
            
            
                
                        <div class="form-group">
                        
                      <label class="form-label form-label-large" for="illnessname">Name of illness or disability</label>
                       <input type="text" class="form-control" id="illnessname" value="Depression">
                       
                     </div>


                     <div class="form-group">
                        
                        <label class="form-label form-label-large" for="illnessSource">Source</label>
                         <input type="text" class="form-control" id="illnessSource" value="Claimant">
                         
                       </div>
            
                          
                
                     
                     
                     <div>
                     
                       <fieldset>
                          <legend class="form-label">
                              First day of illness
                          </legend>
                           <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
                          <div class="form-date">
                            <div class="form-group form-group-day">
                              <label class="form-label" for="dob-day">Day</label>
                              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint" value="22">
                            </div>
                            <div class="form-group form-group-month">
                              <label class="form-label" for="dob-month">Month</label>
                              <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="04">
                            </div>
                            <div class="form-group form-group-year">
                              <label class="form-label" for="dob-year">Year</label>
                              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2018" value="2018">
                            </div>
                          </div>
                        </fieldset>
                        
                     </div>
            
                        
                        
                      </fieldset>
                      
                      <hr />
                      
                    </div>


                    <div class="list-row">
                  
              
                        <fieldset class="item-compound">
                               
                          
                          <legend class="visuallyhidden">Illness or disability details</legend>
              
              
                  
                          <div class="form-group">
                          
                        <label class="form-label form-label-large" for="illnessname">Name of illness or disability</label>
                         <input type="text" class="form-control" id="illnessname" value="Acute compartment syndrome">
                         
                       </div>
              
                            
                       <div class="form-group">
                        
                          <label class="form-label form-label-large" for="illnessSource">Source</label>
                           <input type="text" class="form-control" id="illnessSource" value="Claimant">
                           
                         </div>
                       
                       
                       <div>
                       
                         <fieldset>
                            <legend class="form-label">
                                First day of illness
                            </legend>
                             <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
                            <div class="form-date">
                              <div class="form-group form-group-day">
                                <label class="form-label" for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint" value="10">
                              </div>
                              <div class="form-group form-group-month">
                                <label class="form-label" for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="08">
                              </div>
                              <div class="form-group form-group-year">
                                <label class="form-label" for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2018" value="2017">
                              </div>
                            </div>
                          </fieldset>
                          
                       </div>
              
                          
                          
                        </fieldset>
                        
                        <hr />
                        
                      </div>


                    <div class="list-row">
                  
              
                        <fieldset class="item-compound">
                               
                          
                          <legend class="visuallyhidden">Illness or disability details</legend>
              
              
                  
                          <div class="form-group">
                          
                        <label class="form-label form-label-large" for="illnessname">Name of illness or disability</label>
                         <input type="text" class="form-control" id="illnessname" value="Emergency fasciotomy">
                         
                       </div>


                       <div class="form-group">
                        
                          <label class="form-label form-label-large" for="illnessSource">Source</label>
                           <input type="text" class="form-control" id="illnessSource" value="Claimant">
                           
                         </div>
              
                            
                  
                       
                       
                       <div>
                       
                         <fieldset>
                            <legend class="form-label">
                                First day of illness
                            </legend>
                             <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
                            <div class="form-date">
                              <div class="form-group form-group-day">
                                <label class="form-label" for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint" value="10">
                              </div>
                              <div class="form-group form-group-month">
                                <label class="form-label" for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="08">
                              </div>
                              <div class="form-group form-group-year">
                                <label class="form-label" for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2018" value="2017">
                              </div>
                            </div>
                          </fieldset>
                          
                       </div>
              
                          
                          
                        </fieldset>
                        
                        <hr />
                        
                      </div>
            
            
                      <div class="list-row">
                  
              
                          <fieldset class="item-compound">
                                 
                            
                            <legend class="visuallyhidden">Illness or disability details</legend>
                
                
                    
                            <div class="form-group">
                            
                          <label class="form-label form-label-large" for="illnessname">Name of illness or disability</label>
                           <input type="text" class="form-control" id="illnessname" value="Compound fracture - shinbone">
                           
                         </div>
                
                         <div class="form-group">
                        
                            <label class="form-label form-label-large" for="illnessSource">Source</label>
                             <input type="text" class="form-control" id="illnessSource" value="Claimant">
                             
                           </div>
                              
                    
                         
                         
                         <div>
                         
                           <fieldset>
                              <legend class="form-label">
                                  First day of illness
                              </legend>
                               <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
                              <div class="form-date">
                                <div class="form-group form-group-day">
                                  <label class="form-label" for="dob-day">Day</label>
                                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint" value="10">
                                </div>
                                <div class="form-group form-group-month">
                                  <label class="form-label" for="dob-month">Month</label>
                                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="07">
                                </div>
                                <div class="form-group form-group-year">
                                  <label class="form-label" for="dob-year">Year</label>
                                  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2018" value="2017">
                                </div>
                              </div>
                            </fieldset>
                            
                         </div>
                
                            
                            
                          </fieldset>
                          
                          <hr />
                          
                        </div>
              
                  
            
                  <div class="list-row">
                      <div class="form-group">
                        <button id="add-button" class="button secondary button-add-another-vertical">Add another</button>
                      </div>
                      
                  </div>

                  

                  <div class="list-row">
                      <div class="form-group">
                        <a href="index" class="button">Save and update</a>
                      </div>
                  </div>
            
                  
                </div>
                <!-- pattern end -->
                
          
              
              </form>
              
              
                  
            
              </div><!-- column -->
            </div><!-- row -->
		
           
{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.details-nav ul')
      .children(":nth-child(1)")
      .addClass('active_detail')
  });
</script>
{% endblock %}


