{% extends path+"/_layout-stripped.html" %}


{% block actioncolumn %}
   
 <!-- <p class="returnRef"><a href="/fha/v8/referrals-fme">Return to case list</a></p> 
  <hr>-->
 <div class="case-status">

<h2 class="heading-small mb5">Other scenarios</h2>

<ul class="scenario-nav">
	<li><a href="/fha/scrutiny-scenarios/index">Scrutiny</a></li>
	<li><a href="/fha/appointment-scenarios/index">Appointment</a></li>
	<li><a href="/fha/capacity-scenarios/index">Capacity management</a></li>
</ul>

</div>

<hr>

<div class="case-status">

<h2 class="heading-small mb5">Assessment scenarios</h2>

<ul class="scenario-nav">
	<li><a href="#scenario-05">Prompts: condition history</a></li>
	<li><a href="#scenario-04">Medical conditions</a></li>
	<li><a href="#scenario-03">Paper-based review</a></li>
	<li><a href="#scenario-02">Finish assessment trigger</a></li>
	<li><a href="#scenario-01">LCWRA curtailment</a></li>
</ul>

</div>

{% endblock %} conditions

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

       <div class="column-full">
    
    
    	<p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
	
				
			<h1 class="heading-large"><span class="heading-secondary">Scenarios</span>Assessment</h1>
			  <hr>
			  
		  
			  <div class="grid-row">
			  <div class="column-three-quarters">


			 	<div class="scenario" id="scenario-05">
					<h2 class="heading-medium mb20">Prompts: condition history</h2>
					<p class="lede">Latest prototypes</p>
						 <p class="bold">v0.1</p>
						 <p class="bold">Scenario 1</p>
						 <ul class="list-bullet mb20">
							<li>Active profile: <b>Ruby Haynes</b></li>
							<li>Conditions: Anxiety and depression / Alcohol misuse / Urinary incontinence / Bowel incontinence</li>
							<li>Single page condition history capture</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_prompts_01a/wca-index" class="button secondary-invert">Start scenario</a></p>
<hr>
						 <p class="bold">v0.0 - Live  replica</p>
						 <p class="bold">Scenario 1</p>
						 <ul class="list-bullet mb20">
							<li>Active profile: <b>Ruby Haynes</b></li>
							<li>Conditions: Anxiety and depression / Alcohol misuse / Urinary incontinence / Bowel incontinence</li>
							<li>Single page condition history capture</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_prompts_00a/wca-index" class="button secondary-invert">Start scenario</a></p>
<br>
						 <p class="bold">Scenario 2</p>
						 <ul class="list-bullet mb20">
							<li>Active profile: <b>Erin Rowley</b></li>
							<li>Conditions: Personality disorder / Back pain</li>
							<li>Single page condition history capture</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_prompts_00b/wca-index" class="button secondary-invert">Start scenario</a></p>						 
				</div>

<hr>

			 	<div class="scenario" id="scenario-04">
					<h2 class="heading-medium mb20">Medical conditions</h2>
					<p class="lede">Latest prototype</p>
						 <p class="bold">v0.1</p>
						 
						 <ul class="list-bullet mb20">
							<li>Active profile: <b>Steve Wooten</b></li>
							<li>Physical assessment: Declined</li>
							<li>Conditions: Anxiety / Depression / Asthma / Arthritis</li>
							<li>Includes single task list for evidence capture & end face-to-face trigger</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_04a/" class="button secondary-invert">Start scenario</a></p>
				</div>

<hr>

<div class="scenario" id="scenario-03">
					<h2 class="heading-medium mb20">Paper-based review</h2>
					<p class="lede">Latest prototype</p>

						 <p class="bold">v0.5</p>
						 <ul class="list-bullet mb20">
						 	<li>Active profile: <b>Kate Burrows</b></li>
							<li>Conditions: <b>Parkinson's disease</b></li>
							<li>Evidence: <b>Fit note (Med3) / Questionnaire (UC50) / Previous medical report (11/2018)</b></li>							 
						 </ul>
						 <p class="mb10">Working outcomes:</p>
						 <ul class="list-number mb20">
							<li>Terminal illness</li>
							<li>LCWRA severe functional impairment: mobilising and using steps</li>
							<li>LCWRA severe functional impairment: learning to do new tasks</li>
							<li>LCWRA severe functional impairment: eating and drinking</li>
							<li>Treat as having LCWRA: serious risks associated with pregnancy</li>
							<li>Treat as having LCW: regular treatment</li>
							<li>Accept ongoing LCW: picking up and moving things / manual dexterity</li>
							</ul>
			             <p><a href="/{{path }}/scenario_03p/details-fme/" class="button secondary-invert mb20">Start scenario</a></p>
						 
						 <p class="mb20 lede">Earlier prototypes</p>
		<details>
  			<summary><span class="summary">v0.4 (Tested in Bootle: 29/01/2020)</span></summary>
  				<div class="panel panel-border-narrow">
						 <p class="bold">v0.4 - Scenario 2 (LCWRA)</p>
						 <ul class="list-bullet mb20">
						 	<li>Activity: <b>Mobilising and using steps</b></li>
							<li>Active profile: <b>Mia Russell</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03m/details-fme/" class="button secondary-invert mb20">Start scenario</a></p>

						 <p class="bold">v0.4 - Scenario 5 (Accept ongoing LCW)</p>
						 <ul class="list-bullet mb20">
						 	<li>Activity: <b>Picking up and moving things (9 points) / Manual dexterity (9 points)</b></li>
							<li>Active profile: <b>Connor Browne</b></li>
							<li>Evidence in wallet: <b>ESA50 / Med3 / Previous report (December 2018)</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03n/details-fme/" class="button secondary-invert mb20">Start scenario</a></p>

						 <p class="bold">v0.4 - Scenario 6 (Accept ongoing LCW)</p>
						 <ul class="list-bullet mb20">
						 	<li>Activity: <b>Consciousness (15 points)</b></li>
							<li>Active profile: <b>Abbie Lewis</b></li>
							<li>Evidence in wallet: <b>UC50 / Med3 / Previous report (January 2019)</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03o/details-fme/" class="button secondary-invert mb20">Start scenario</a></p>
				</div>
		</details>

		<details>
  			<summary><span class="summary">v0.3 (Tested in Bootle: 11/12/2019)</span></summary>
  				<div class="panel panel-border-narrow">
						 <p class="bold">v0.3 - Scenario 2 (LCWRA)</p>
						 <ul class="list-bullet mb20">
						 	<li>Activity: <b>Moving around and climbing steps</b></li>
							<li>Active profile: <b>Mia Russell</b></li>
							<li>Evidence on system: <b>113 / Med3 / UC50</b></li>
							<li>Evidence in wallet: <b>113 / Med3 / UC50 / UC85A</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03i/details-fme/" class="button secondary-invert mb20">Start scenario</a></p>
						 <p class="bold">v0.3 - Scenario 4 (Treat as LCW)</p>
						 <ul class="list-bullet mb20">
							<li>Activity: Regular treatment</li>
							<li>Active profile: <b>Aaron Murray</b></li>
							<li>Evidence on system: <b>Specialist letter / UC50</b></li>
							<li>Evidence in wallet: <b>Specialist letter / UC50</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03k/details-fme/" class="button secondary-invert mb20">Start scenario</a></p>						 		  
				</div>
		</details>

		<details>
  			<summary><span class="summary">v0.2 (Tested in Glasgow: 31/10/2019)</span></summary>
  				<div class="panel panel-border-narrow">
<p class="bold">v0.2 - Scenario 1 (Terminal Illness)</p>
						 <ul class="list-bullet mb20">
							<li>Active profile: <b>Lucas Moran</b></li>
							<li>Evidence on system: <b>DS1500 / Med3</b></li>
							<li>Evidence in wallet: <b>DS1500 / Med3</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03e/details-fme/" class="button secondary-invert mb30">Start scenario</a></p>
						 <p class="bold">v0.2 - Scenario 2 (LCWRA)</p>
						 <ul class="list-bullet mb20">
						 	<li>Activity: <b>Moving around and climbing steps</b></li>
							<li>Active profile: <b>Mia Russell</b></li>
							<li>Evidence on system: <b>113 / Med3 / UC50</b></li>
							<li>Evidence in wallet: <b>113 / Med3 / UC50 / UC85A</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03f/details-fme/" class="button secondary-invert mb20">Start scenario</a></p>
						 <p class="bold">v0.2 - Scenario 3 (Treat as LCW)</p>
						 <ul class="list-bullet mb20">
							<li>Activity: LCW Risk</li>
							<li>Active profile: <b>Aaron Murray</b></li>
							<li>Evidence on system: <b>113 / Key worker letter / Med3 / Med3 / Specialist letter / UC50 / UC85</b></li>
							<li>Evidence in wallet: <b>113 / Med3 / Med3 / Specialist letter / UC50 / UC85</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03g/details-fme/" class="button secondary-invert mb20">Start scenario</a></p>
				</div>
		</details>
		<details>
  			<summary><span class="summary">v0.1 (Tested in Bootle: 08/10/2019)</span></summary>
  				<div class="panel panel-border-narrow">
<p class="bold">v0.1 - Scenario 1 (Terminal Illness)</p>
						 <ul class="list-bullet mb20">
							<li>Active profile: <b>Lucas Moran</b></li>
							<li>Evidence: <b>DS1500 / MED3</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03c/rec-portal" class="button secondary-invert mb30">Start scenario</a></p>
						 <p class="bold">v0.1 - Scenario 2 (LCWRA)</p>
						 <ul class="list-bullet mb20">
						 	<li>Activity: <b>Moving around and climbing steps</b></li>
							<li>Active profile: <b>Mia Russell</b></li>
							<li>Evidence: <b>113 / MED3 / UC50 / UC85A</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03b/rec-portal" class="button secondary-invert mb20">Start scenario</a></p>
						 <p class="bold">v0.1 - Scenario 3 (Treat as LCW)</p>
						 <ul class="list-bullet mb20">
							<li>Activity: LCW Risk</li>
							<li>Active profile: <b>Aaron Murray</b></li>
							<li>Evidence: <b>113 / MED3 / MED3 / UC50 / UC85</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario_03d/rec-portal" class="button secondary-invert mb20">Start scenario</a></p>

				</div>
		</details>

				</div>


<hr>

			 	<div class="scenario" id="scenario-02">
					<h2 class="heading-medium mb20">Finish assessment trigger</h2>
					<p class="lede">Latest prototype</p>
						 <p class="bold">v0.1</p>
						 <ul class="list-bullet mb20">
							<li>Active profile: <b>Michael Morris</b></li>
							<li>Physical assessment: Declined</li>
							<li>Mental health examination: Appearance details captured</li>
							<li>Eventual outcome: LCWRA - Moving around and climbing steps</li>
							<li>Includes single task list for evidence capture</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_02a/appointment" class="button secondary-invert">Start scenario</a></p>
{# 
		<details>
  			<summary><span class="summary">v0.1</span></summary>
  				<div class="panel panel-border-narrow">
					<p class="bold">v0.1</p>
						 <ul class="list-bullet mb20">
							<li>Active profile: <b>Michael Morris</b></li>
							<li>Physical assessment: Declined</li>
							<li>Mental health examination: Appearance details captured</li>
							<li>Eventual outcome: LCWRA - Moving around and climbing steps</li>
							<li>Includes single task list for evidence capture</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_02a/appointment" class="button secondary-invert">Start scenario</a></p>
				</div>
		</details> #}

				</div>

<hr>
			  		<div class="scenario" id="scenario-01">
						 <h2 class="heading-medium mb20">LCWRA curtailment</h2>
						 

						 <p class="lede">Latest prototype</p>
						 <p class="bold">v0.6</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>Michael Morris</b></li>
							<li>Functional LCWRA (Physical)</li>
							<li>Activity: Moving around and climbing steps without someone’s help</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_01f/miniReview" class="button secondary-invert">Start scenario</a></p>
<hr>

<p class="mb20 lede">Earlier prototypes</p>
		<details>
  			<summary><span class="summary">v0.5</span></summary>
  				<div class="panel panel-border-narrow">
					<p class="bold">v0.5 - Scenario 1</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>Michael Morris</b></li>
							<li>Functional LCWRA (Physical)</li>
							<li>Activity: Moving around and climbing steps without someone’s help</li>
							<li>Vertical tagged statements panel</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_curtailment-v0-5/miniReview" class="button secondary-invert">Start scenario</a></p>
 
						<br>
						<p class="bold">v0.5 - Scenario 2</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>David Lowe</b></li>
							<li>Functional LCWRA (Mental)</li>
							<li>Activity: Starting and finishing tasks</li>
							<li>Expanding tagged statements panel</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_curtailment-v0-5b/miniReview" class="button secondary-invert">Start scenario</a></p>

						 <br>
						<p class="bold">v0.5 - Scenario 3</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>Larsen Rosales</b></li>
							<li>Fit for Work</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_01d/miniReview" class="button secondary-invert">Start scenario</a></p>
  				</div>
		</details>					
		<details>
  			<summary><span class="summary">v0.4</span></summary>
  				<div class="panel panel-border-narrow">
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>Michael Morris</b></li>
							<li>Functional LCWRA</li>
							<li>Activity: Moving around and climbing steps without someone’s help</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_curtailment/wca-index" class="button secondary-invert">Start scenario</a></p>
				</div>
		</details>
		<details>
  			<summary><span class="summary">v0.3</span></summary>
  				<div class="panel panel-border-narrow">
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>David Lowe</b></li>
							<li>LCWRA</li>
						 </ul>
			             <p><a href="/fha/v8/assessment/5bbf32d5f8883e74e03e6f44/appointment" class="button secondary-invert">Start scenario</a></p>
				</div>
		</details>

<hr>						 

<p class="mb20 lede">User research</p>

<p class="mb0 bold">Session 3: Tresco</p>
<p class="font-xsmall mb20">Prototype v0.5<a href="https://jira.service.dwpcloud.uk/secure/attachment/110776/Tresco-Curtail_Topic-guide_160919.docx" style="margin-left:24px;">Topic guide</a><a href="https://jira.service.dwpcloud.uk/secure/attachment/110781/Tresco-Curtail_UR-feedback_160919.pptx" style="margin-left:24px;">Feedback</a></p>

<p class="mb0 bold">Session 2: Five Ways</p>
<p class="font-xsmall mb20">Prototype v0.4<a href="https://jira.service.dwpcloud.uk/secure/attachment/110777/Five-Ways_Topic-guide_210819.docx" style="margin-left:24px;">Topic guide</a><a href="https://jira.service.dwpcloud.uk/secure/attachment/110778/Five-Ways_UR-feedback_210819.pptx" style="margin-left:24px;">Feedback</a></p>

<p class="mb0 bold">Session 1: Salford</p>
<p class="font-xsmall mb20">Prototype v0.3<a href="https://jira.service.dwpcloud.uk/secure/attachment/110779/Salford-Curtail_Topic-guide_070819.docx" style="margin-left:24px;">Topic guide</a><a href="https://jira.service.dwpcloud.uk/secure/attachment/110780/Salford-Curtail_UR-feedback_070819.pptx" style="margin-left:24px;">Feedback</a></p>


					 </div>
		             
         
			  </div>
			  </div>
				
	</div>


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
