{% extends path+"/_layout-stripped.html" %}


{% block actioncolumn %}
   
 <!-- <p class="returnRef"><a href="/fha/v8/referrals-fme">Return to case list</a></p> 
  <hr>-->
 <div class="case-status">

<h2 class="heading-small mb5">Other scenarios</h2>

<ul class="scenario-nav">
	<li><a href="/fha/appointment-scenarios/index">Appointment</a></li>
	<li><a href="#">Capacity management</a></li>
</ul>

</div>

{% endblock %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

       <div class="column-full">
    
    
    	<p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
	
				
			<h1 class="heading-large"><span class="heading-secondary">Scenarios</span>Assessment</h1>

          
			  <hr>
			  
			  
			  <div class="grid-row">
			  <div class="column-three-quarters">
			  
			  
			  		<div class="scenario">
						 <h2 class="heading-medium mb20">LCWRA Curtailment</h2>
						 

						 <p class="bold">v0.6</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>Michael Morris</b></li>
							<li>Functional LCWRA (Physical)</li>
							<li>Activity: Moving around and climbing steps without someone’s help</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_01e/miniReview" class="button secondary-invert">Start scenario</a></p>
<hr>

						 <p class="bold">v0.5 - Scenario 1</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>Michael Morris</b></li>
							<li>Functional LCWRA (Physical)</li>
							<li>Activity: Moving around and climbing steps without someone’s help</li>
							<li>Vertical tagged statements panel</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_curtailment-v0-5/miniReview" class="button secondary-invert">Start scenario</a></p>

						<br>
						<p class="bold">v0.5 - Scenario 2</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>David Lowe</b></li>
							<li>Functional LCWRA (Mental)</li>
							<li>Activity: Starting and finishing tasks</li>
							<li>Expanding tagged statements panel</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_curtailment-v0-5b/miniReview" class="button secondary-invert">Start scenario</a></p>

						 <br>
						<p class="bold">v0.5 - Scenario 3</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>Larsen Rosales</b></li>
							<li>Fit for Work</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_01d/miniReview" class="button secondary-invert">Start scenario</a></p>

						 <hr>
						 
						<p class="bold">v0.4</p>
						 <ul class="list-bullet mb20">
						    <li>Active profile: <b>Michael Morris</b></li>
							<li>Functional LCWRA</li>
							<li>Activity: Moving around and climbing steps without someone’s help</li>
						 </ul>
			             <p><a href="/{{path }}/scenario_curtailment/wca-index" class="button secondary-invert">Start scenario</a></p>

					 </div>
		             
         
			  </div>
			  </div>
				
	</div>


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
