{% extends path+"/scenario_01d/_layout-case-simple_assessment-complete.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}



<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large mb0">Work capability review</h1>
 

<div class="review-wrapper full-report">


<div class="report-item">

	<table class="report-view-table">
	<caption class="heading-small">Assessment overview</caption>
	
		<tbody>
			<tr>
				<th>Date of assessment</th>
				<td>{{ "Do MMM YYYY" | daysAgo }}</td>
			</tr>
			<tr>
				<th>Assessment centre</th>
				<td>Fiveways, Birmingham</td>
			</tr>
			<tr>
				<th>Assessor</th>
				<td>Heather Harrison</td>
			</tr>
			<tr>
				<th>Assessment start</th>
				<td>{{ last_one.time | formatDate("H:mma") }}</td>
			</tr>
			<tr>
				<th>Assessment finish</th>
				<td>{{ first_one.time | formatDate("H:mma") }}</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- / report item -->




<div class="report-item">

	<h2 class="heading-large">Condition history</h2> 
	
	<div class="inner-focus">
	<p>Diagnosed with anxiety and depression about 6 months.</p>
<p>He states that he went to his GP about low moods and suicidal thoughts at this time.</p>
<p>He states that he has been seeing his GP for his low mood, he states that his GP is aware of his suicidal thoughts at that time.</p>
<p>He states that he has never self harmed.</p>
<p>He states that he has not had any suicidal thoughts since June 2017.</p>
<p>He states that he has been doing exercise at the mood which has help improve his mood.</p>
<p>He was started on anti-depressants when he went to see his GP in June, he states that he has been weaning off his anti-depressants himself as he finds exercise is the best medication for him.</p>
<p>He states that in June and July he spent most of his time in bed, however now he says that is not really having any bad days.</p>
<p>He has been seeing his GP every 4 weeks on average at the moment.</p>
<p>No input from the community mental health team at the moment.</p>
<p>No hospital admissions linked to mental health problems.</p>
<p>No history of alcohol or drugs misuse.</p>
<p>He finds that a lot of his previous depression symptoms associated with lack of motivation and poor sleeping problems have improved.</p>
<p>He states that he does not feel anxious at the moment, he says that he does not suffer from panic attacks. He states that no situations at the moment cause him anxiety.</p>
<!--<p>{{ conditionHistory }}</p>-->
	</div>
	
	<!--<p class="edit-report"><a href="conditionHistory" class="button-secondary">Edit condition history</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Social and work history</h2> 
	
	<div class="inner-focus">
<p>Evidence reviewed includes the Questionnaire, Med 3 and POID1. The client was seen in an assessment centre.</p>
<p>Lives in a house with his parents.</p>
<p>No dependants or caring responsibilities.</p>
<p>Came to assessment today alone on the bus, which took about 30 minutes.</p>
<p>Stopped work 5 months ago.</p>
	<!--    Outputs social work history 
	    {% for item in socialWorkComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}-->
  
	</div>
	
	<!--<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit social and work history</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Typical day</h2> 
	
	<div class="inner-focus">
	<p>Usually gets up at about 7 am.</p>
<p>He will have a bath or shower twice a day at the moment, he will complete this task daily at the moment.</p>
<p>He will attempt to work out at home using equipment that he has at home 3-4 times a week at the moment.</p>
<p>He will only go out at the moment if he has to.</p>
<p>He states that he lives in a village.</p>
<p>He communicates with friends via facebook and social media at the moment as most of his friends have moved abroad in recent years.</p>
<p>His mum will complete most of the food shopping.</p>
<p>He will occasionally go to the local Tesco once or twice a fortnight, he will walk there when he goes to this shop. He will walk down to the local fish and chip shop himself as well 1-2 times a fortnight as well.</p>
<p>He says that he has been applying for 3 jobs a day online at the moment.</p>
<p>He says that he will gain access to the internet on his mobile phone.</p>
<p>He says that he will play a lot of x box while laying in bed.</p>
<p>He enjoys playing on games consoles, he enjoys retro gaming.</p>
<p>He enjoys reading book and doing painting and art.</p>
<p>He will make himself simple meals to eat, he has never had any serious accidents in the kitchen when preparing meals.</p>
		<!--{% for item in typicalDayComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}-->
	</div>
	
	<!--<p class="edit-report"><a href="typicalDayEdit" class="button-secondary">Edit typical day</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Medication and side effects</h2> 
	
	<div class="inner-focus">
	<p>Citalopram (antidepressant) taken regularly.</p>
<p>He states that he has a box of citalopram in a draw at home however he has not taken any of this medication for the last 16 days as he has weaned himself off it.</p>
		<!--<p>{{ medicationSideEffects }}</p>-->
	</div>
	
	<!--<p class="edit-report"><a href="conditionHistory" class="button-secondary">Edit medication and side effects</a></p>-->
	
</div>
<!-- / report item -->




<div class="report-item">

	<div class="inner-focus">
	<h2 class="heading-large">Physical examination</h2>
	<p>Not assessed</p>
	</div>
</div>
<!-- / report item -->




<div class="report-item">

	<div class="inner-focus">


	<h2 class="heading-large">Mental state examination</h2>
	<p>Not assessed</p>


{% if data['Appearance'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Appearance <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhappearance}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit appearance</a></p>-->
</div>
{% endif %}

{% if data['Behaviour'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Behaviour <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhbehaviour}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Behaviour</a></p>-->
</div>
{% endif %}

{% if data['Speech'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Speech <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhspeech}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Speech</a></p>-->
</div>
{% endif %}

{% if data['Mood'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Mood <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhmood}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Mood</a></p>-->
</div>
{% endif %}

{% if data['Cognition'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Cognition <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhcognition}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Cognition</a></p>-->
</div>
{% endif %}

{% if data['General'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">General <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhgeneral}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit General</a></p>-->
</div>
{% endif %}



{% if data['Insight'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Insight <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhinsight}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Insight</a></p>-->
</div>
{% endif %}

{% if data['Thoughts'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Thoughts <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhthoughts}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Thoughts</a></p>-->
</div>
{% endif %}


{% if data['Perceptions'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Perceptions <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhperceptions}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Perceptions</a></p>-->
</div>
{% endif %}

{% if data['Addiction'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Addiction <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhaddiction}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Addiction</a></p>-->
</div>
{% endif %}

{% if data['Involentry-movements'] %}    
<div class="review-inner">	
	<h3 class="heading-medium ">Involuntary movements <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhinvolentry}}</p>
	
	<!--<p><a href="#" class="button secondary">Edit Involuntary movements</a></p>-->
</div>
{% endif %}

	</div>
	
</div>
<!-- / report item -->




<!--
<div class="report-item">

	<h2 class="heading-large">Illnesses, disabilities and medication</h2>  

	<table class="report-view-table">
	<caption class="heading-small">Illnesses and disabilities</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Source</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Diabetes</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Arthritis</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Liver disease</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Urine problems</td>
				<td>Claimant</td>
			</tr>
		</tbody>
	</table>
	
	
	<table class="report-view-table">
	<caption class="heading-small">Medication and side effects</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Dose</th>
				<th>Side effects</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Ibuprofen</td>
				<td>Twice daily</td>
				<td>None</td>
			</tr>
		</tbody>
	</table>
	
	
	
	
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit illnesses, disabilities and medication</a></p>
	
	

</div>-->
<!-- / report item -->























  
   </div>
 <!-- / wrapper -->
  



{% endblock %}