
{% extends path1+"/_manage-centre-layout.html" %} 


{% block header %}

  {% include path2+"/_staff_heading.html" %}

{% endblock %}

{% block manage_centre_nav %}{% endblock %}
{% block citizen_content %}



<div class="container">
    <p><a href="/{{path2}}/{{centre.id}}/manage-staff/staff-profile/{{person.id}}?tab=leave" class="link-back">Back</a></p>
    <h3 class="heading-large mt0">Change availablity</h3>
    <h2 class="form-label">
                    First, choose some dates:
                </h2>
    <div class="grid-row">
        <div class="column-half">
            <nav class="calendar-nav">
            {% if query.month %}
            <div class="calendar-nav__linkdiv">
            <a class="calendar-nav__link calendar-nav__link--previous" href="staff-availability">previous <span class="visually-hidden">previous</span></a>
            </div>
            {% else %}
            <div class="calendar-nav__linkdiv"></div>
            {% endif %}
            <h2 class="calendar-nav__heading">{{ calendaDate | formatDate('MMMM YYYY') }}</h2>
            <div class="calendar-nav__linkdiv">
            <a class="calendar-nav__link calendar-nav__link--next" href="?month=next">next <span class="visually-hidden">month</span></a></div>
            </nav>
            <table class="calendar">
                <thead>
                    <tr>
                        <th class="calendar__col-header calendar__col-header--blank"></th>
                        <th class="calendar__col-header">MON</th>
                        <th class="calendar__col-header">TUE</th>
                        <th class="calendar__col-header">WED</th>
                        <th class="calendar__col-header">THU</th>
                        <th class="calendar__col-header">FRI</th>
                        <th class="calendar__col-header">SAT</th>
                        <th class="calendar__col-header">SUN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in calendar %}
                    <tr>
                        <th class="calendar__row-header">Morning <br>Afternoon </th>
                        {% for day in week %}
                        <td class="
                        {{ day | formatInPast() }} 
                        {{ day | formatClosed() }} ">
                            {% if loop.index < 6 %} 
                            <div class="calendar__day calendar__day--selectable">
                                <a class="calendar__day-link" data-date="{{day}}" href="#"
                                {{ 'tabindex=-1' if day | formatInPast() == 'calendar__day--past' }}
                                >{{ day | formatDate("D") }}</a>
                                <div class="calendar__session {{ day | formatSessionClass() }}"><span class="visually-hidden"> morning </span> {{ day | formatSessionValue() }}</div>
                                <div class="calendar__session {{ day | formatSessionClass() }}"><span class="visually-hidden"> afternoon </span>{{ day | formatSessionValue() }} </div>
        </div>
        {% else %}
        {{ day | formatDate("D") }}
        {% endif %}
        </td>
        {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="column-half mt30 hidden" id="availability-form">
        <h3 class="heading-small">Selected dates:</h3>
        
            <ul id="dateList" class="list-bullet"></ul>
            <form action="staff-availability-2" method="post" id="dates-form">
        <ul id="dateList" class="list-bullet"></ul>
        <p><button class="button mt30">Next</button></p>
        <div id="generatedDateInputs">
        </div>
    </form>
    </div>

</div>

<!-- row -->
</div>
<!-- container -->
{% endblock %} {% block footer_top %} {{ super() }} {# {% include path1+"/footer_links.html" %} #} {% endblock %}