{% macro case_tabs(selected,num,path) %}
  <div class="section-tabs js-tabs clearfix mb20">
    <ul>
      {% set navs = [
        {url:"timeline",label:"Timeline"},
        {url:"details",label:"Details"},
        {url:"app/conditions",label:"Evidence"},
        {url:"decision",label:"Decision"}
        ] %}
      {% for item in navs %}
        <li {% if item.url == selected %} class="active"{% endif %}><a href="/{{ path }}/citizen/{{ item.url }}">{{ item.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro horizontal_nav(selected,path) %}
  <div class="nav-horizontal" nunj-macro="horizontal_nav">
    <div class="main-nav-wrapper">
      <ul class="main-nav">

      {#
        These are the different horizonal nav
        tabs output by the following "for" loop.
      #}
      {% set navs = [
        {url:"",label:"Your cases"}
        ] %}

      {% for item in navs %}
        <li id="nav-{{ item.url }}" {% if item.url == selected %} class="selected" {% endif %}><a href="/{{ path }}/{{ item.url }}">{{ item.label }}</a></li>
      {% endfor %}

      </ul>
    </div>
    <div class="external-links-wrapper">
      <ul class="external-links">
        {# <li class="main-nav-link" style="margin-right:20px"><a href="/{{ path }}/all-teams">All teams</a></li>
        <li class="main-nav-link"><a href="/{{ path }}/all-advisers">All advisers</a></li> #}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro app_nav(active,path) %}
  {% set navs = [
    {url:"conditions",label:"Conditions & medication"}
   ,{url:"medications",label:"Medications & side effects"}
   ,{url:"typicalday",label:"Typical day"}
   ] %}
  <ul class="nav mt30">
    {% for item in navs %}
      <li {% if item.url == active %} class="active"{% endif %}><a href="/{{ path }}/citizen/app/{{ item.url }}">{{ item.label }}</a> </li>
    {% endfor %}
  </ul>

  <ul class="nav mt30">
    {% set navs = [
       {url:"mobility",label:"Mobility"}
      ,{url:"standing",label:"Standing & sitting"}
      ,{url:"reaching",label:"Reaching"}
      ,{url:"pickingup",label:"Picking up & moving"}
      ,{url:"dexterity",label:"Manual dexterity"}
      ,{url:"speakwritetype",label:"Speaking, writing & typing "}
      ,{url:"hearread",label:"Hearing & reading"}
      ,{url:"gettingaround",label:"Getting around safely"}
      ,{url:"continence",label:"Controlling bowels & bladder"}
      ,{url:"conscious",label:"Staing conscious when awake"}
      ,{url:"learning",label:"Learning how to do tasks"}
      ,{url:"hazards",label:"Awareness of hazards"}
      ,{url:"startfinish",label:"Starting and finishing tasks"}
      ,{url:"changes",label:"Coping with changes"}
      ,{url:"goingout",label:"Going out"}
      ,{url:"social",label:"Coping with social situations"}
      ,{url:"behaving",label:"Behaving appropriately"}
      ,{url:"eatdrink",label:"Eating or drinking"}
      ] %}
    {% for item in navs %}
      <li {% if item.url == active %} class="active"{% endif %}><a href="/{{ path }}/citizen/app/{{ item.url }}">{{ item.label }}</a> </li>
    {% endfor %}
  </ul>
{% endmacro %}
