{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content mt30">

      <div class="container">
        <div class="grid-row">
          <div class="column-full">
              <table class="zebra">

                <thead>
                  <tr>
                    <th style="padding-left:15px;">Name</th>
                    <th>Benefit</th>
                    <th>Condition</th>
                    <th class="numeric">Initial contact</th>
                    <th class="numeric">Assessor</th>
                  </tr>
                </thead>


                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Tony Hancock</td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>Autism </td>
                  <td class="nobr numeric">3rd June 2016</td>
                  <td class="nobr numeric">Léonie Vidal</td>
                </tr>

                <tr class="click_row" href="citizen2/timeline">
                  <td style="padding-left:15px;" class="">Yeldon Finkelstein</td>
                  <td><span class="tag "></span></td>
                  <td>lower back pain and sciatica</td>
                  <td class="nobr numeric">13th June 2016</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr class="click_row" href="citizen3/timeline">
                  <td style="padding-left:15px;" class=""> Ana Isabel Cruz </td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>Epilepsy</td>
                  <td class="nobr numeric">2nd June 2016</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Lucas Morgan</td>
                  <td><span class="tag UC">UC</span></td>
                  <td>Problems walking</td>
                  <td class="nobr numeric">2nd June 2016</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Berat Karagöz</td>
                  <td><span class="tag self">self</span></td>
                  <td>Poor hearing</td>
                  <td class="nobr numeric">2nd June 2016</td>
                  <td class="nobr numeric">Lamia Baron</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Taha Sağlam</td>
                  <td><span class="tag hidden">hidden</span></td>
                  <td>Severe lower back pain, leg pain and a prolapsed...</td>
                  <td class="nobr numeric">1st June 2016</td>
                  <td class="nobr numeric">Bruno Duval</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Mia Russell</td>
                  <td><span class="tag large">large</span></td>
                  <td>pseudoxanthoma elasticum </td>
                  <td class="nobr numeric">1st June 2016</td>
                  <td class="nobr numeric">Grégory Faure</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Aaron Murray</td>
                  <td><span class="tag hidden">hidden</span></td>
                  <td>Deaf British Sign Language user</td>
                  <td class="nobr numeric">27th May 2016</td>
                  <td class="nobr numeric">Katell Grondin</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Charlie Reid</td>
                  <td><span class="tag hidden">hidden</span></td>
                  <td>Sciatica</td>
                  <td class="nobr numeric">25th May 2016</td>
                  <td class="nobr numeric">Alexis Boulanger</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Laura Cooper</td>
                  <td><span class="tag self">self</span></td>
                  <td>Neck and wrist ache</td>
                  <td class="nobr numeric">24th May 2016</td>
                  <td class="nobr numeric">Julie Guichard</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Oliver Russell</td>
                  <td><span class="tag large">large</span></td>
                  <td>DYSLEXIA AND DYSCALCULIA</td>
                  <td class="nobr numeric">16th March 2016</td>
                  <td class="nobr numeric">Lamia Baron</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Víctor Castillo</td>
                  <td><span class="tag hidden">hidden</span></td>
                  <td>Dyslexia</td>
                  <td class="nobr numeric">16th March 2016</td>
                  <td class="nobr numeric">Julie Herve</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Tomás Moya</td>
                  <td><span class="tag hidden">hidden</span></td>
                  <td>Multiple Sclerosis</td>
                  <td class="nobr numeric">25th February 2016</td>
                  <td class="nobr numeric">Nolan Bailly</td>
                </tr>

              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
