{% extends path1+"/evidence/_layout.html" %}

{% block case_content %}

<a href="javascript: history.go(-1)" class="link-back">Back</a>

  <h1 class="heading-large mt20 mb30">GP report request</h1>

  <p class="form-hint bold-xsmall mb0">Requested this evidence off</p>


    <h2 class="heading-small mt10">GP</h2>
    <p>Dr.{{customer.address.gpName.fullName}}</p>

 

    <h2 class="heading-small">Surgery number</h2>
    <p>0207 000 0000</p>
    <h2 class="heading-small">Address</h2>
    <p class="address-stack">
    	<span>{{customer.address.street}}</span>
    	<span>{{customer.address.city}}</span>
    	<span>{{customer.address.postcode}}</span>
    </p>

   

    <h2 class="heading-small">Requested date</h2>
  <p class="mt5">{{ 'Do MMMM YYYY' | randDaysAgo(0)}}</p>
<hr />
  <h3 class="heading-small">Reason for request:</h3>
  {% if data['scenario']==='insufficient-113' %}
  <p class="reason">Insufficient evidence to support claimants statements</p>
  {% else %}
  <p>{{ data['reason-113'] }}</p>
  {% endif %}
 

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.details-nav ul')
      .children(":nth-child(2)")
      .addClass('active_detail')
  });
</script>
{% endblock %}

