{% extends path1+"/evidence/_layout.html" %}


{% block case_content %}

<h1 class="heading-large mt10">Recorded evidence</h1>

{% if data[evidenceType]==='GP' %}
<span class="line"></span>
  <div class="timeline__event">
    <h3 class="timeline__heading">Medical evidence requested (GP Report 113)</h3>
    <p class="timeline_datetime">{{customer.fmeRequestedDate | formatDate("D MMMM YYYY") }}</p>
  </div>
{% endif %}
{% if customer.fmeType.indexOf("FRR") > -1 %}
<span class="line"></span>
  <div class="timeline__event">
    <h3 class="timeline__heading">Medical evidence requested (Factual report)</h3>
    <p class="timeline_datetime">{{customer.fmeRequestedDate | formatDate("D MMMM YYYY") }}</p>
  </div>
{% endif %}

{% if data['evidenceType']==='Gp' %}
<table class="evidence-list">

                <thead>
	                  <tr>
	                    <th>Evidence type</th>
	                    <th>Source</th>
	                    <th class="numeric">Recorded</th>
	                  </tr>
	                </thead>
	                
	                {% if data.nuggets.length %}
		              <tr>
		                  <td><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/medical_assessment">Work capability assessment</a></td>
		                  <td>Heather Harrison <span>Healthcare Professional</span></td>
		                  <td class="numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
	                </tr>
		            {% endif %}
								{% if data['evidenceType']==='Gp' %}  
								<tr>
	                  <td>GP report</td>
	                  <td>GP: Dr.{{customer.address.gpName.fullName}}</td>
	                  <td class="numeric">{{ 'Do MMMM YYYY' | randDaysAgo(0)}}</td>
	                </tr>
									{% endif %} 
	         

									{% if data['evidenceType']==='factualreport' %}  
	                <tr>
											<td><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/factual_report">Factual report</a></td>
											<td>Consultant: Dr. {{customer.otherHcp.name.fullName}}</td>
											<td class="numeric">{{ 'Do MMMM YYYY' | randDaysAgo(0)}}</td>
										</tr>
									{% endif %} 
							</table> 
							{% endif %}
							<p class="mt30"><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/record-evidence" class="button secondary">Record evidence</a></p>

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.details-nav ul')
      .children(":nth-child(1)")
      .addClass('active_detail')
  });
</script>
{% endblock %}
