{% extends path1+"/evidence/_layout.html" %}


{% block case_content %}

<h1 class="heading-large mt10">Recorded evidence</h1>
<p class="mt30"><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/record-evidence" class="button secondary">Record evidence</a></p>



{% if data['recordevidencegp']==='gp' %}
<table class="evidence-list">

                <thead>
	                  <tr>
	                    <th>Evidence type</th>
											<th>Source</th>
											<th>Recieved</th>
	                    <th class="numeric">Requested</th>
	                  </tr>
	                </thead>
	                
	          
								
								{% if  data['recordevidencegp']==='gp' %}

		            
		          <tr>
	                  <td>GP report</td>
										<td>GP: Dr.{{customer.address.gpName.fullName}}</td>
										<td>{{ 'Do MMMM YYYY' | randDaysAgo(0)}}</td>
	                  <td class="numeric">{{ 'Do MMMM YYYY' | randDaysAgo(0)}}</td>
	                </tr>
	                
									{% endif %}

									{% if data['recordevidencefrr']==='frr'%}
	                <tr>
	                  <td><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/factual_report">Factual report</a></td>
										<td>Consultant: Dr. {{customer.otherHcp.name.fullName}}</td>
										<td>{{ 'Do MMMM YYYY' | randDaysAgo(-1)}}</td>
	                  <td class="numeric">{{ 'Do MMMM YYYY' | randDaysAgo(0)}}</td>
									</tr>
									{% endif %}

									{% if data['newevidencename'] %}
	                <tr>
	                  <td>{{ data['newevidencename'] }}</td>
										<td>{{ data['newevidencesource'] }}</td>
										<td>{{ 'Do MMMM YYYY' | randDaysAgo(-1)}}</td>
	                  <td class="numeric"></td>
									</tr>
									{% endif %}

									{% if data['newevidencenamevisited']%}
	                <tr>
	                  <td>{{ data['newevidencenamevisited'] }}</td>
										<td>{{ data['newevidencesourcevisited'] }}</td>
										<td>{{ 'Do MMMM YYYY' | randDaysAgo(-1)}}</td>
	                  <td class="numeric"></td>
									</tr>
									{% endif %}

									{% if data['telephonecontactreport']%}
	                <tr>
	                  <td><a href="/{{path}}/scrutiny/{{customer._id}}/evidence/telephone_report">Telephone coversation</a></td>
										<td>	{% if checked('hcp-type','client') %}
											Client: {{customer.name.fullName}}
											{% elif checked('hcp-type','gp') %}
											GP: Dr.{{customer.address.gpName.fullName}}
											{% elif checked('hcp-type','consultant')%}
											Consultant: Dr. {{customer.otherHcp.name.fullName}}
											{% endif %}</td>
										<td>{{ 'Do MMMM YYYY' | randDaysAgo(-1)}}</td>
	                  <td class="numeric"></td>
									</tr>
									{% endif %}

							</table> 
							{% else %}
							{% endif %}
						

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.details-nav ul')
      .children(":nth-child(1)")
      .addClass('active_detail')
  });
</script>
{% endblock %}
