{% extends path2+"/_layoutAction.html" %}

{% block case_content %}

 <p class="no-kdBar"> <a href="javascript: history.go(-1)" class="link-back">Back</a></p>
 
 <h1 class="heading-large mt20">Appointment referral</h1>

		
		<ul class="mt20">
			<li>To assess<br><span class="info-display">Moving around and using steps</span><br><span class="info-display">Standing and sitting</span></li>
			<li class="mt20">Skill<br><span class="info-display">Standard</span></li>
		</ul>
	
		<p class="mt30"><a href="/assess/v9/index" class="button">Confirm referral</a></p>
		<p><a href="booking">Cancel</a></p>



</form>




{% endblock %}
