{% extends path2+"/_layout.html" %}

{% block case_content %}

<a href="javascript: history.go(-1)" class="link-back">Back</a>



 <h1 class="heading-large mt20 mb30">Pre-assessment report</h1>
 
  <p class="form-hint bold-xsmall mb0">Submitted by:</p>
  <p class="heading-small mt5">Heather Harrison</p>
  <p>Tresco House, London</p>
  <p>6 July 2018</p>
  
  <hr />


 <h2 class="heading-medium">Why Tomas was sent for a face to face appointment:</h2>
 
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

   

{% endblock %}
