{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content mt30">

      <div class="container">
        <div class="grid-row">
          <div class="column-full">
              <table class="zebra">

                <thead>
                  <tr>
                    <th style="padding-left:15px;">Name</th>
                    <th>Benefit</th>
                    <th>Main condition</th>
                    <th class="numeric">First contact</th>
                    <th class="numeric">Assessor</th>
                  </tr>
                </thead>


                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Tony Johnson</td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>Autism </td>
                  <td class="nobr numeric">3 June 2017</td>
                  <td class="nobr numeric">Léonie Vidal</td>
                </tr>

                <tr class="click_row" href="citizen2/timeline">
                  <td style="padding-left:15px;" class="">Yeldon Finkelstein</td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>lower back pain and sciatica</td>
                  <td class="nobr numeric">13 June 2017</td>
                  <td class="nobr numeric">Richard Daley </td>
                </tr>

                <tr class="click_row" href="citizen3/timeline">
                  <td style="padding-left:15px;" class=""> Ana Isabel Cruz </td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>Cancer</td>
                  <td class="nobr numeric">2 June 2017</td>
                  <td class="nobr numeric">Anne Stevenson </td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Lucas Morgan</td>
                  <td><span class="tag UC">UC</span></td>
                  <td>Anxiety and depression</td>
                  <td class="nobr numeric">2 June 2017</td>
                  <td class="nobr numeric">Richard Daley </td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Berat Karagöz</td>
                  <td><span class="tag PIP">PIP</span></td>
                  <td>Schizophrenia</td>
                  <td class="nobr numeric">2 June 2017</td>
                  <td class="nobr numeric">Lamia Baron</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Taha Sağlam</td>
                  <td><span class="tag UC">UC</span></td>
                  <td>Osteoarthritis</td>
                  <td class="nobr numeric">1 June 2017</td>
                  <td class="nobr numeric">Bruno Duval</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Mia Russell</td>
                  <td><span class="tag PIP">PIP</span></td>
                  <td>COPD </td>
                  <td class="nobr numeric">1 June 2017</td>
                  <td class="nobr numeric">Grégory Faure</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Aaron Murray</td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>Post-traumatic stress disorder</td>
                  <td class="nobr numeric">27 May 2017</td>
                  <td class="nobr numeric">Katell Grondin</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Charlie Reid</td>
                  <td><span class="tag UC">UC</span></td>
                  <td>Sciatica</td>
                  <td class="nobr numeric">25 May 2017</td>
                  <td class="nobr numeric">Alexis Boulanger</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Laura Cooper</td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>Anorexia nervosa</td>
                  <td class="nobr numeric">24 May 2017</td>
                  <td class="nobr numeric">Julie Guichard</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Oliver Russell</td>
                  <td><span class="tag PIP">PIP</span></td>
                  <td>Down's Syndrome</td>
                  <td class="nobr numeric">16 March 2017</td>
                  <td class="nobr numeric">Lamia Baron</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Víctor Castillo</td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>Anxiety and depression</td>
                  <td class="nobr numeric">16 March 2017</td>
                  <td class="nobr numeric">Julie Herve</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Tomás Moya</td>
                  <td><span class="tag ESA">ESA</span></td>
                  <td>Fibromyalgia</td>
                  <td class="nobr numeric">25 February 2017</td>
                  <td class="nobr numeric">Nolan Bailly</td>
                </tr>

              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
