<div class="timeline">

    {% if data['whatcando']=='requestreason'  %}
    <span class="line"></span>
    <div class="timeline__event">
      <h3 class="timeline__heading">Requested a failed to attend reason</span></h3>
      <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(0)}}</p>
    </div>

    <span class="line"></span>
    <div class="timeline__event">
      <h3 class="timeline__heading">Failed to attend appointment</h3>
      <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(0)}}</p>
    </div>
    {% endif %}

    {% if data['whatcando']=='newappointment'  %}
    <span class="line"></span>
    <div class="timeline__event">
      <h3 class="timeline__heading">Good cause decision: Referred for appointment</span></h3>
      <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(0)}}</p>
    </div>

    <span class="line"></span>
    <div class="timeline__event">
      <h3 class="timeline__heading">Failed to attend appointment</h3>
      <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(0)}}</p>
    </div>
    {% endif %}


        {% if customer.status == 'Questionnaire not returned'  %}
        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Questionnaire not returned</h3>
          <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(0)}}</p>
        </div>
        {% else %}
    

        {% if customer.status == 'Assessment reports'  %}
        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Assessment completed</h3>
          <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(4)}}</p>
        </div>
        {% endif %}

        {% if customer.status == 'Failed to attend appointment' 
        or data['confirmfta']=="Arnaq" and customer.name.first == 'Arnaq'
        or data['confirmfta']=="Sarah"  and customer.name.first == 'Sarah'
        or data['confirmfta']=="Johannes" and customer.name.first == 'Johannes' %}
        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Failed to attend appointment</h3>
          <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(0)}}</p>
        </div>
        {% endif %}
       





        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Appointment booked</h3>
          <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(11)}}</p>
        </div>
      
      <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Referred for appointment</h3>
          <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(12) }}</p>
        </div>





<span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP report - medical evidence received</h3>
  <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(13) }}</p>
</div>


<span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP Report - medical evidence requested</h3>
  <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(20) }}</p>
</div>




      
      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">Med 3 - medical evidence received </h3>
        <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(22) }}</p>
      </div>
      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">UC50 form received</h3>
        <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(23) }}</p>
      </div>

      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">UC50 form sent out to {{customer.name.first}}</h3>
        <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(30) }}</p>
      </div>
      {% endif %}
 

      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">New referral created</h3>
        <p class="timeline_datetime">{{ 'Do MMMM YYYY' | baseDate(30) }}</p>
      </div>



      <div style="clear:both"></div>

    </div><!-- timeline -->