{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content">
    {% include path+"/caselist/_nav.html" %}
    <div class="grid-row">
      <div class="column-one-quarter">
          {% include path+"/caselist/_search-box.html" %}

        <div class="details-nav v2">
       <ul>
          <li>
              <a href="caselist">All cases</a>
            </li>

             <li>
             <a href="referrals">Referral's (28)</a>
           </li>
           <li>
              <a href="review">Review's (10)</a>
            </li>
              <li class="active_detail">
                  <a href="appointments">Appointments (10)</a>

                  <ul>
                      <li><a href="#">Ready to book (3)</a></li>
                     <li><a href="#">Booked appointments (7)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="assessment">Todays assessments (24)</a>
                  </li>
          </ul>
        </div>
          </div>
          <div class="column-three-quarters">
            <h2 class="heading-medium mt0"><span class="heading-xlarge">10</span><br/>Appointments</h2>
              <table class="zebra">

                <thead>
                  <tr>
                    <th >Details</th>
                  
                  </tr>
                </thead>
                
                {% include path+"/caselist/_table_data.html" %}

              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
