{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content">
 
    {% include path+"/caselist/_nav.html" %}

      <div class="container">
          <div class="grid-row">
              <div class="column-one-quarter">
             
                  {% include path+"/caselist/_search-box.html" %}

                   
                              <div class="details-nav v2">
                                 <ul>
                                   <li class="active_detail">
                                   <a href="">All cases</a>
                                 </li>
                                 <li>
                                    <a href="myCases.html">My cases</a>
                                  </li>
                                </ul>
                              </div>
              </div>
              <div class="column-three-quarters">
                 
                    <div class="grid-row">
                      <div class="column-full">
                        <h1 class="heading-xlarge mt0 mb20">
                          450 cases
                            </h1>
                          </div>
                          </div>
                          <div class="grid-row">   
                      <div class="card-container">

                        <div class="card">
                          <a href="referrals.html">
                        

                              <h2 class="heading-xlarge">
                                 49
                                <span class="heading-small">Referral's</span>
                               </h2>
                        
                          </a>
                          <ul>
                          <li><a href="new-referrals.html">New referrals (35)</a></li>
                          <li><a href="uc50-posted.html">UC50 posted (78)</a></li>
                          <li><a href="uc50-recieved.html">UC50 recieved (20)</a></li>
                         </ul>
                        </div>
    
                        <div class="card">
                            <a href="review.html">
                          
                          

                                <h2 class="heading-xlarge">
                                   49
                                  <span class="heading-small">Reviews</span>
                                 </h2>
                          
                            </a>
                           <ul>
                             <li><a href="">Ready for review (14)</a></li>
                            <li><a href="">Requested medical evidence (15)</a></li>
                            <li><a href="">Recieved medical evidence (20)</a></li>
                          </ul> 
                        </div>
    
                          <div class="card">
                              <a href="appointments.html">
                            
                             
                            
                                  <h2 class="heading-xlarge">
                                     223
                                    <span class="heading-small">Appointments</span>
                                   </h2>
                              </a>
                              <ul>
                                  <li><a href="">Ready to book (35)</a></li>
                                 <li><a href="">Assessments booked (178)</a></li>
                               </ul> 
                            
                              </div>
                            <div class="card">
                                <a href="assessment.html">
                              
                                  <h2 class="heading-xlarge">
                                      24
                                    <span class="heading-small">Assessments today</span>
                                   </h2>
                              
                                </a>
                                <ul>
                                  <li><a href="">9:00am (4)</a></li>
                                  <li><a href="">10:00am (4)</a></li>
                                  <li><a href="">11:00am (4)</a></li>
                                  <li><a href="">12:00pm (4)</a></li>
                                  
                                 </ul>
                              
                                </div>
                        </div>
                    </div>
              </div><!-- column -->
            </div>
     
        <!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
