{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content">

      <div class="container">
          {% include path+"/caselist/_nav.html" %}
          <div class="grid-row">
            <div class="column-one-quarter">
                {% include path+"/caselist/_search-box.html" %}
  
              <div class="details-nav v2">
             <ul>
                <li>
                    <a href="index">All cases</a>
                  </li>
             <li>
             <a href="referrals">Referral's (28)</a>
           </li>
           <li class="active_detail">
              <a href="review">Review's (10)</a>
              <ul>
                  <li><a href="ready-for-review-updated.html">Ready for review (5)</a></li>
                   <li><a href="requested-medical-evidence-updated.html">Requested medical evidence (5)</a></li>
                 
                </ul>
            </li>
              <li>
                  <a href="appointments">Appointments (10)</a>
                </li>
                <li>
                    <a href="assessment">Todays assessments (24)</a>
                  </li>
          </ul>
        </div>
          </div>
          <div class="column-three-quarters">
            <h2 class="heading-medium mt0"><span class="heading-xlarge">5</span><br/>Ready for review</h2>
              <table class="zebra">

                <thead>
                  <tr>
                    <th>Details</th>

                   
                  </tr>
                </thead>
                  <tr>
                    <td ><a href="#"><span class="visually-hidden">Name</span>Yeldon Finkelstein</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BB 12 34 56 C</span></td>
                
                  </tr>
              
               
              
                  <tr>
                    <td ><a href="#"><span class="visually-hidden">Name</span>Lucas Moran</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>GG 12 34 56 F</span></td>
              
                  </tr>
              
                  <tr>
                    <td ><a href="#"><span class="visually-hidden">Name</span>Taha Sağlam</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>JJ 12 34 56 K</span></td>
                  </tr>
              
              
                  <tr>
                    <td ><a href="#"><span class="visually-hidden">Name</span>Aaron Murray</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>KK 12 34 56 L</span></td>
                
                  </tr>
              
                  <tr>
                    <td ><a href="#"><span class="visually-hidden">Name</span>Charlie Reid</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>LL 12 34 56 M</span></td>
                 
                  </tr>
              
                  
              
  

              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
