{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content">

      <div class="container">
          {% include path+"/caselist/_nav.html" %}
          <div class="grid-row">
            <div class="column-one-quarter">
                {% include path+"/caselist/_search-box.html" %}
  
              <div class="details-nav v2">
             <ul>
                <li>
                    <a href="caselist.html">All cases</a>
                  </li>
             <li>
             <a href="referrals">Referral's (28)</a>
           </li>
           <li class="active_detail">
              <a href="review-updated">Review's (10)</a>
              <ul>
                  <li><a href="ready-for-review-updated.html">Ready for review (5)</a></li>
                   <li><a href="requested-medical-evidence-updated.html">Requested medical evidence (5)</a></li>
                </ul>
            </li>
              <li>
                  <a href="appointments">Appointments (10)</a>
                </li>
                <li>
                    <a href="assessment">Todays assessments (24)</a>
                  </li>
          </ul>
        </div>
          </div>
          <div class="column-three-quarters">
            <h2 class="heading-medium mt0"><span class="heading-xlarge">5</span><br/>Requests for medical evidence</h2>
              <table class="case-list-view">

                <thead>
                  <tr>
                    <th>Details</th>
                    <th>Type of evidence</th>
                    <th>Date requested</th>
                   
                  </tr>
                </thead>
                
               
                <tr>
                    <td ><a href=""><span class="visually-hidden">Name</span>Tony Johnson</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BB 12 34 56 C</span></td>
                    <td>FRR</td>
                    <td><span class="block">29 July 2018</span><span class="badge warning">Overdue</span></td>
                  </tr>
              
                  <tr>
                    <td ><a href="#">Mia Russell</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>CC 12 34 56 D</span></td>
                    <td>113</td>
                    <td>2 August 2018</td>
                  </tr>
              
                
              
                  <tr>
                    <td ><a href="#">Ana Isabel Cruz</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>FF 12 34 56 G</span></td>
                    <td>113</td>
                    <td>5 August 2018</td>
                  </tr>
              
               
              
                  <tr>
                    <td ><a href="#">Berat Karagöz</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>HH 12 34 56 J</span></td>
                    <td>FRR</td>
                    <td>14 August 2018</td>
                  </tr>


                  <tr>
                      <td ><a href="#">Tomas Fernandez</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>AA 12 34 56 B</span></td>
                      <td>113</td>
                      <td>15 August 2018</td>
                    </tr>
 
  
      
  

              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
