<div class="version mt1">
  <div class="grid-row">

    {% set n = 5 %}


    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Future health assessment</h3>
      <p><a href="/fha/v1/" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">1.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">14 September 2018</h3>
    </div>

  </div><!-- .row -->
  
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>New prototype combining assessments, appointments and review.</p>
      <h3 class="heading-small mth">Changes:</h3>
      <ul class="list list-bullet">
        <li>Updated Re-arrange appointment </li>
        <li>Updated Sent home unseen</li>
        <li>Added appointment details tab</li>
      </ul>
    </div>
  </div>

</div><!-- version -->
