{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content">

      <div class="container">
          {% include path+"/caselist/_nav.html" %}
          <div class="grid-row">
            <div class="column-one-quarter">
                {% include path+"/caselist/_search-box.html" %}
  
              <div class="details-nav v2">
             <ul>
                <li>
                    <a href="caselist.html">All cases</a>
                  </li>
             <li>
             <a href="referrals">Referral's (28)</a>
           </li>
           <li>
              <a href="review">Review's (10)</a>
            </li>
              <li>
                  <a href="appointments">Appointments (10)</a>

                 
                </li>
                <li class="active_detail">
                    <a href="assessment">Todays assessments (24)</a>
                    <ul>
                       <li><a href="#">9:00am (4)</a></li>
                       <li><a href="#">10:00am (4)</a></li>
                       <li><a href="#">11:00am (4)</a></li>
                       <li><a href="#">1:00pm (4)</a></li>
                       <li><a href="todays-appointments-2pm">2:00pm (2)</a></li>
                       <li><a href="#">3:00pm (2)</a></li>
                       <li><a href="#">4:00pm (2)</a></li>
                       <li><a href="#">4:00pm (2)</a></li>
                      </ul>
                  </li>
          </ul>
        </div>
          </div>
          <div class="column-three-quarters">
            <h2 class="heading-medium mt0"><span class="heading-xlarge">24</span><br/>Assessments today</h2>
              <table class="zebra">

                <thead>
                  <tr>
                    <th >Details</th>
                
                  </tr>
                </thead>
                
                
    
    <tr>
      <td ><a href="victorcastillo2/timeline"><span class="visually-hidden">Name</span>Tomas Fernandez </a><span class="text-secondary block"><span class="visually-hidden">Nino</span>AA 12 34 56 B</span></td>
  
    </tr>


    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Tony Johnson</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BB 12 34 56 C</span></td>
     
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Mia Russell</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>CC 12 34 56 D</span></td>
     
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Yeldon Finkelstein</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BB 12 34 56 C</span></td>
     
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Ana Isabel Cruz</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BB 12 34 56 C</span></td>
      
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Lucas Moran</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>GG 12 34 56 F</span></td>
     
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Berat Karagöz</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>HH 12 34 56 J</span></td>
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Taha Sağlam</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>JJ 12 34 56 K</span></td>

    </tr>


    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Aaron Murray</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>KK 12 34 56 L</span></td>
  
    </tr>

    <tr>
      <td ><a href="#"><span class="visually-hidden">Name</span>Charlie Reid</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>LL 12 34 56 M</span></td>
     
    </tr>

    


              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
