{% extends "layout.html" %}

{% set serviceName = "Vouch for someone" %}

{% block head %}
  <link href="/public/stylesheets/vouch_v1.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="phase-banner"><p>
    <strong class="phase-tag">PROTOTYPE</strong>
    <span>This is a test site - if you've arrived at this page by mistake, go to <a href="/feedback">GOV.UK</a></span>
  </p></div>
  <div class="grid-row">
    <div class="column-two-thirds">
      {% block left_col %}{% endblock %}
    </div><!-- column -->
    <div class="column-third">

    </div><!-- column -->
  </div><!-- row -->
</main>
{% endblock %}

{% block footer_support_links %}
    <ul> <li> <a href="#" id="fill">Fill</a> </li> </ul>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $(document).on('keypress',function(e)
    {
      e.preventDefault()
      console.log(e.keyCode)
      if (e.keyCode == 402) $('#fill').trigger('click')
    })
  });
</script>
{% endblock %}
