<div class="version">
  <div class="grid-row">

    {% set n = 1 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health Appointment Booking</h3>
      <p><a href="/appoint/v8-5/appointments" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">8.5</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">28 June 2018</h3>
     
    </div>

  </div><!-- .row -->

 <div class="grid-row">
    <div class="column-two-thirds">
      <p>MVP 1 appointments prototype. Minor changes frollowing UR on 26 June </p>
      <h3 class="heading-small mth">Changes Made</h3>
      <ul class="list list-bullet changes mb1">
        <li>booking appointment keeps use on same page</li>
        <li>Columns on referrals and booked tabs now the same</li>
        <li>referrals tab re-named</li>
      </ul>
    </div>
  </div><!-- row -->

</div><!-- version -->