{% extends path1+"/_layout.html" %}

{% block citizen_content %}

<div class="container">


  <div class="grid-row mt30">


    
    
    
    <div class="column-half">
    	
   <div class="time-select clearfix">
   	<h2 class="heading-medium">Thursday 4th January</h2>
   	<ul>
   		<li><div>9am</div></li>
   		<li><div>9:15am</div></li>
   		<li><div>9:30am</div></li>
   		<li><div>9:45am</div></li>
   	</ul>
   	<ul>
   		<li><div>10am</div></li>
   		<li><div>10:15am</div></li>
   		<li><div>10:30am</div></li>
   		<li><div>10:45am</div></li>
   	</ul>
   	<ul>
   		<li><div>11am</div></li>
   		<li><div>11:15am</div></li>
   		<li><div>11:30am</div></li>
   		<li><div>11:45am</div></li>
   	</ul>
   	<ul>
   		<li><div>1pm</div></li>
   		<li><div>1:15pm</div></li>
   		<li><div>1:30pm</div></li>
   		<li><div>1:45pm</div></li>
   	</ul>
   	<ul>
   		<li><div>2pm</div></li>
   		<li><div>2:15pm</div></li>
   		<li><div>2:30pm</div></li>
   		<li><div>2:45pm</div></li>
   	</ul>
   	<ul>
   		<li><div>3pm</div></li>
   		<li><div>3:15pm</div></li>
   		<li><div>3:30pm</div></li>
   		<li><div>3:45pm</div></li>
   	</ul>
   	<ul>
   		<li><div>4pm</div></li>
   	</ul>
   </div>

   <p><a href="#" class="button mt40">Save and continue</a></p>
    	
    	
    </div>

    
    
    
    
   
  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block footer_top %}
{{ super() }}


{# {% include path1+"/footer_links.html" %} #}
{% endblock %}
