					  <!-- Location picker -->
            <div class="">
                <label class="form-label-bold mt20" for="location-select-dropdown">
                    
                     Search for a {% if data['Reason']==="complex"%}
                     complex neuro
                     {% elif data['Reason']==="neuro"%}
                     neuro
                     {% else%}
                     non-neuro
                     {% endif %} appointment 
                  
                  <span class="form-hint mt5 mb5">
                      {% if customer.name.first == 'Mcconnell' %}
                      Type the day, date, month or time that's most suitable. For example, Wednesday or 19 or April or 1pm.
                      {% else %}
                      Type the day, date, month or time that's most suitable. For example, Wednesday or 19 or April or 1pm.
                      {% endif %}
                      </span>
                </label>
                <div class="form-control-1-2">
                    <div id="tt-default" class="autocomplete-wrapper"></div>
                </div>
              </div>