{% extends path+"/scenario_03n/_layout-case-simple.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}

<style type="text/css">
  .multiple-choice {
      padding: 4px 10px 9px 40px;
      margin-bottom:10px;}
    .multiple-choice [type=checkbox] + label::before {
      width: 22px;
      height: 22px;
      padding-top: 2px !important;
    }

    .multiple-choice label::after {
      top: 9px !important;
      left: 7px !important;
      width: 10px !important;
      height: 5px !important;
      border-width: 0 0 3px 3px !important;
    }
</style>



  <p class="no-kdBar mb20">
    <a href="javascript: history.go(-1)" class="link-back">Back</a>
  </p>

  <form action="previousReports" method="post">

    <div class="grid-row">
      <div class="column-two-thirds">

        <p class="mb0 caption-large">File report: accept ongoing LCW</p>
        <h1 class="heading-large mt10">Evidence you've considered</h1>

        <div class="form-group evidence-seen-list mb0">
          <fieldset>

            <legend class="mb20">
              <span class="body-text">Select evidence you've considered from the list below.</span>
            </legend>

            <div class="multiple-choice">
              <input id="evidence-type-1" name="evidence-types" type="checkbox" value="evidence-113">
              <label for="evidence-type-1">Fit note (MED3)</label>
            </div>
            <div class="multiple-choice">
              <input id="evidence-type-2" name="evidence-types" type="checkbox" value="evidence-BF223">
              <label for="evidence-type-2">Questionnaire (ESA50)</label>
            </div>
          </fieldset>

          <div class="list-row mt20">
            <div class="form-group">
              <label class="form-label" for="full-name-f1">Add any other evidence to the list.</label>
              <span class="form-hint mt5 mb5">For example, type Med3 or Fit note.</span>
              {# <input class="form-control" id="full-name-f1" type="text" name="full-name-f1"> #}
              <div id="tt-default" class="autocomplete-wrapper" style="float:left; width:400px; margin-right:20px;">{{ dataCapturedEvidence }}</div>
              <button id="add-button" class="button secondary button-add-another-vertical">Add</button>
              {# <button onclick="fella()">click me</button> #}
            </div>
          </div>

          {# <label class="form-label" for="full-name-f1">Extra evidence</label>
  <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
  <button class="button secondary" type="submit">Add new evidence type</button> #}

        </div>

        <p><input type="submit" class="button" value="Save and continue" id="submitButton"></p>

      </form>

    </div>
    <!-- column -->

    {# <div class="column-one-third">

<div class="summary-panel">
<h4 class="bold mb10">Summary</h4>
<p class="font-small">LCWRA: moving around and climbing steps without someone’s help</p>
</div> #}

  </div>
  <!-- right hand column -->

</div>
<!-- row -->

{% endblock %}

{% block page_scripts %}

{% include path + "/scenario_03k/autocomplete/_autocompletedata.html" %}

{{ super() }}
<script type="text/javascript">

{# 
  function fella() {
    alert('here i am')
  } #}

  $(document).on('click', '.button-add-another-vertical', function (e) {
    e.preventDefault();
    var beforeThis = $(this)
      .parents('.evidence-seen-list')
      .find('.multiple-choice')
      .last();
    $(beforeThis).after(
    '<div class="multiple-choice">' + 
    '<input id="evidence-type-21" name="waste-types" type="checkbox" value="evidence-new-item">' + 
    '<label for="evidence-type-21">' + 
    'Telephone conversation record (FRR4)' + 
    '</label>' + 
    '</div>');
    sortFieldsVertical();
  });

  function sortFieldsVertical() {
    var listCounter = 1;
    var inputCounter = 1;

    $(document)
      .find('.list-item-wrapper-vertical .list-row')
      .each(function () {

        if ($(this).find('.remove-list-item-vertical').length === 0) {
          $(this)
            .find('.item-group-compound:last')
            .append('<a id="remove-item-vertical-' + listCounter + '" class="remove-list-item-vertical" href="#">Remove</a>');
        } else {
          $(this)
            .find('.remove-list-item-vertical')
            .attr('id', 'remove-item-vertical-' + listCounter);
        }

        $(this)
          .find('label')
          .each(function () {
            $(this).attr('for', 'reportedcondition' + inputCounter);
            inputCounter++;
          });

        $(this)
          .find('textarea')
          .each(function () {
            var labelNo = $(this)
              .parent()
              .find('label')
              .attr('for')
              .split('-')
              .pop();
            $(this).attr('id', labelNo);
            $(this).attr('name', labelNo);
          });

        $(this)
          .find('span')
          .each(function () {
            $(this).attr('value', labelNo);
          });

        listCounter++;
      });

    if ($(document).find('.list-item-wrapper-vertical .list-row').length === 2) {
      $('.remove-list-item-vertical').remove();
    }
  }

  $(document).on('click', '.remove-list-item-vertical', function (e) {
    e.preventDefault();
    $(this)
      .parents('.list-row')
      .prev('hr')
      .remove();
    $(this)
      .parents('.list-row')
      .remove();
    sortFieldsVertical();
  });
</script>

{% endblock %}