{% extends path1+"/_layoutChat.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<div class="grid-row no-kdBar">

 


  <div class="column-one-third">
  <p class="mt0"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
  <h1 class="heading-large mt0">Social and work history</h1>
  
	  <h2 class="heading-medium mt0">Common phrases</h2>
	  <p class="form-hint">Choose common phrases and edit them to suit the claimants needs.</p>
	  <details class="mt20">
	  	<summary>Start by choosing a descriptor</summary>
	 <div class="prompts panel">
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Standing and sitting</a>
	  	<a href="#">Eating and drinking</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  	<a href="#">Moving around and using steps without help</a>
	  </div> 
	  </details>


   
  </div><!-- column -->
  <div class="column-two-thirds">
  

  
  <div class="chat-layout">


	 <div class="chat-window">
	 <p class="comments-window">You haven't added any comments yet</p>

    {% for item in data.nuggets | sortBy("time",false) %}
  
      <div class="tag-box">
      
        <div class="tag-text">{{ item.text }}</div>
        
        <div class="edit-item">
       		<a href="#" class="remove-link">Remove</a>
       </div>
       
      </div>

    {% endfor %}
	 </div>
    
    <form class="form" id="add_ev">

      <div class="form-group chat-capture">
          <textarea id="nugget" class="form-control" name="nugget"></textarea>
          <input class="button secondary mt20" type="submit" value="Add" id="submitButton">
      </div><!-- form-group -->

      
    </form>


  <form action="wca-index" method="POST" class="form">
      <input type="submit" class="button" value="Save progress">

      <div class="multiple-choice" style="display:none">
          <input id="radio-inline-4" type="radio" name="socialWorkHistory" value="socialWorkHistory" checked>
            
          <label for="radio-4">hidden radio one</label>
        </div>
    </form>
    
    
  </div><!-- column -->
</div><!-- row -->

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
$(document).on('ready',function()

{
  $('#nugget').focus();

  $("#nugget").keydown(function (event) {
    if ((event.keyCode == 13))
    {
      $('#submitButton').trigger('click');
    }
  });

  $('#submitButton').on('click',function(e)
  {
    e.preventDefault();
    // get values from the form you're submitting.
    var nugget = $('#nugget').val();
    console.log(nugget)

    // gather values into a data object.
    var formdata = JSON.stringify({"nugget":nugget});
    console.log(formdata)
    console.log({url: '/{{ path }}/saveText'})

    // send data object off to node route for saving.
    $.ajax({
      url: '/{{ path }}/saveText',
      method: "POST",
      contentType: 'application/json',
      data: formdata,
      dataType: 'json',
      complete:  function(data,status,xhr) {
        // sort out the page after data is successfully saved.
        // $('#status_form').hide();
        // $('#status_button').show();
        document.location.reload(true);
      }
    });
  });
});



</script>




{% endblock %}
