<div class="version">
  <div class="grid-row">

    {% set n = 1 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health Appointment Booking</h3>
      <p><a href="/appoint/v10/appointments" class="button button-start mth mb1">Launch prototype</a></p>
      <p>NOTE - the nav is removed in this version for the authentication journey.</p>
      <p><a href="/appoint/v10/authenticate" class="button button-start mth mb1">Authentication prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">10.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">02 May 2018</h3>
     
    </div>

  </div><!-- .row -->

 <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-small mth">Changes Made</h3>
      <ul class="list list-bullet changes mb1">
        <li>Call history tab</li>
        <li>New entry point to confirm customer details and log a call</li>
        <li>Changed booking in/unable to attend/sent home unseen status changes</li>
      </ul>
    </div>
  </div><!-- row -->

</div><!-- version -->