{% extends "front_layout.html" %}

{% block content %}

<div class="index">

<div class="index-page-banner" style="background-color:#2B8CC4">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge"> Future health assessment </h1>
    <h2 class="heading-large index-heading-large">Prototypes</h2>
  </div>
</div>

<main id="content" role="main">

    {% include "includes/prototype_banner.html" %}

    <p class="form-hint mt10" style="text-align:right">Edit these files on <a href="https://github.com/dwpdigitaltech/healthanddisability">GitHub</a>.</p>
    
    <h1 class="heading-large">Prototypes</h1>
    
  <div class="grid-row">
  
  
  	

    <div class="column-one-third">
    
	    <div class="launch-panel">
	      <p class="mb0">Prototype</p>
	      <h2 class="heading-medium">Referral</h2>
	      <p><a href="admin-index" class="button">View admin</a></p>
	    </div>
    
    </div>


    <div class="column-one-third">
    
	    <div class="launch-panel">
	      <p class="mb0">Prototype</p>
	      <h2 class="heading-medium">Review</h2>
	      <p><a href="review-index" class="button">View review</a></p>
	    </div>
    
    </div>



    <div class="column-one-third">
    
	    <div class="launch-panel">
	      <p class="mb0">Prototype</p>
	      <h2 class="heading-medium">Assessment</h2>
	      <p><a href="assessment-index" class="button">View assessment</a></p>
	    </div>
    
    </div>




  </div><!-- .row -->
  
  
  <div class="grid-row mt30">
  
  
  	

    <div class="column-one-third">
    
	    <div class="launch-panel">
	      <p class="mb0">Prototype</p>
	      <h2 class="heading-medium">MVP journey</h2>
	      <p><a href="/assess/v9b/" class="button">View MVP</a></p>
	    </div>
    
    </div>






  </div><!-- .row -->




</main>

</><!-- .index -->
{% endblock %}





    

