{% extends path1+"/_layout.html" %}

{% block citizen_content %}

<div class="container">

  {# macro #}
  {{ nav.case_tabs("details",1,path1) }}

  <div class="grid-row mt30">
  
  
  <div class="column-third">
  
     
    <h3 class="heading-medium mt0">Contact details</h3>
    <h4 class="heading-small">Phone</h4>
    <p>0151 924 2080</p>
    
    <h4 class="heading-small">Text</h4>
    <p>07979 000000</p>
    
    <h4 class="heading-small">Email</h4>
    <p>the.bobby.hendo@madeup.com</p>
    
    <h4 class="heading-small">Postal address</h4>
    <p class="address-stack">
    	<span>27 Redhill Lane</span>
    	<span>Ainsdale</span>
    	<span>London</span>
    	<span>Merseyside</span>
    	<span>PR8 9UE</span>
    </p>

       
    
    </div><!-- column -->
    
    <div class="column-third">
  
     
    <h3 class="heading-medium mt0">Appointment history</h3>
    <h4 class="heading-small">12th July 2016</h4>
    <p class="appt-time">14:00pm</p>
    <p><span class="status red">CSHU - 15:30pm</span></p>
    
    <h4 class="heading-small">9th May 2015</h4>
    <p class="appt-time">14:00pm</p>
    <p><span class="status red">DNA</span></p>
    
    <h4 class="heading-small">1st December 2014</h4>
    <p class="appt-time">14:00pm</p>
    <p><span class="status green">ARRIVED - 13:50pm</span></p>
    
    <h4 class="heading-small">11th November 2014</h4>
    <p class="appt-time">14:00pm</p>
    <p><span class="status grey">Cancelled</span></p>
    
    
    
    
    
    </div><!-- column -->

    
  
    
    <div class="column-third">
 
    <div class="evidence__box citizen">
    <div class="evidence__label">From: ESA50</div>
    <div class="evidence__content">
      <p>Only available to attend appointments on Wednesday or Thursday between the hours of 1pm - 4pm.</p>
  	  <p>Currently uses a wheelchair so will require an accessible entry point to the building. </p>
  	  <p>Unavailable from 1st January 2018 to 2nd March 2018 due to a family holiday.</p>
    </div>
  </div>

    
    </div><!-- column -->
    
    
     
    
    
    
    
    
    
    
    
    
    
    
  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block footer_top %}
{{ super() }}
{# {% include path1+"/footer_links.html" %} #}
{% endblock %}
