{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}



 <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large">Work capability assessment report</h1>
  
  
  <dl class="assessment-overview">
  	
  	<dt>Date of assessment</dt>
  	<dd>{{ "Do MMM YYYY" | daysAgo }}</dd>
  	
  	<dt>Assessment centre</dt>
  	<dd>Fiveways, Birmingham</dd>
  	
  	<dt>Assessor</dt>
  	<dd>Heather Harrison</dd>
  	
  	<dt>Assessment start</dt>
  	<dd>{{ last_one.time | formatDate("H:mma") }}</dd>
  	
  	<dt>Assessment finish</dt>
  	<dd>{{ first_one.time | formatDate("H:mma") }}</dd>
  

  </dl>

   
 <div class="review-wrapper">
 
    


<div class="review-item">
	<h2 class="heading-medium">Physical assessments</h2>
	
	<p>Consent was given by {{customer.name.first}} to start the physical assessment.</p>




	<div class="">	
	
		<h3 class="heading-medium">Lower back and legs</h3>
			
		<table>
				<caption>Left leg</caption>

				<tbody>
					<tr>
						<th>Straight Leg raising</th>
						<td>
								{% if data['issue1opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue1opencomments }}</p>
								{% else %}
								Normal (more than 70˚)
								{% endif %}
							
							
						</td>
					</tr>
					<tr>
						<th>Hip flexion</th>
						<td>	{% if data['issue2opencomments' and data['leftegfinding']==='Yes'] %}
							
							  {{ issue2opencomments }}</p>
								{% else %}
								Normal (more than 130˚)
								{% endif %}</td>
					</tr>
					<tr>
						<th>Knee flexion</th>
						<td>	{% if data['issue3opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue3opencomments }}</p>
								{% else %}
								Normal (more than 120˚)
								{% endif %}</td>
					</tr>
					<tr>
						<th>Knee extension</th>
						<td>	{% if data['issue4opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue4opencomments }}</p>
								{% else %}
								Full
								{% endif %}</td>
					</tr>
					<tr>
						<th>External hip rotation</th>
						<td>	{% if data['issue5opencomments'] and data['leftegfinding']==='Yes'%}
							
							  {{ issue5opencomments }}</p>
								{% else %}
								Normal (more than 45˚)
								{% endif %}</td>
					</tr>
					<tr>
						<th>Ankle Plantarflexion</th>
						<td>	{% if data['issue6opencomments']and data['leftegfinding']==='Yes' %}
							
							  {{ issue6opencomments }}</p>
								{% else %}
								Normal (more than 50˚)
								{% endif %}</td>
					</tr>
					<tr>
						<th>Ankle dorsiflexion</th>
						<td>	{% if data['issue7opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue7opencomments }}</p>
								{% else %}
								Normal (more than 20˚)
								{% endif %}</td>
					</tr>
					<tr>
						<th>Hallux dorsiflexion</th>
						<td>	{% if data['issue8opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue8opencomments }}</p>
								{% else %}
								Normal (more than 60˚)
								{% endif %}</td>
					</tr>
					<tr>
						<th>Hallux plantarflexion</th>
						<td>	{% if data['issue9opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue9opencomments }}</p>
								{% else %}
								Normal (more than 40˚)
								{% endif %}</td>
					</tr>
					<tr>
						<th>Power</th>
						<td>	{% if data['issue10opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue10opencomments }}</p>
								{% else %}
								Normal
								{% endif %}</td>
					</tr>
					<tr>
						<th>Tone</th>
						<td>	{% if data['issue11opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue11opencomments }}</p>
								{% else %}
								Normal 
								{% endif %}</td>
					</tr>
					<tr>
						<th>Knee reflexes</th>
						<td>	{% if data['issue12opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue12opencomments }}</p>
								{% else %}
								Normal 
								{% endif %}</td>
					</tr>
					<tr>
						<th>Ankle reflexes</th>
						<td>	{% if data['issue13opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue13opencomments }}</p>
								{% else %}
								Normal 
								{% endif %}</td>
					</tr>
					<tr>
						<th>Plantar reflexes</th>
						<td>	{% if data['issue14opencomments'] and data['leftegfinding']==='Yes' %}
							
							  {{ issue14opencomments }}</p>
								{% else %}
								Normal 
								{% endif %}</td>
					</tr>
					{% if data['leftegfinding']==='Yes' and data['issue15opencomments'] %}
					<tr>
						<th>Other findings</th>
						<td>
							
							  {{ issue15opencomments }}
						
							</td>
					</tr>
					{% endif %}
					{% if data['leftegfinding']==='No' and data['optionalcomments'] %}
					<tr>
						<th>Other findings</th>
						<td>
							
							  {{ optionalcomments }}
						
							</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			
						

	</div>
  
  
   </div>
 <!-- / wrapper -->
  

 <form class="mt30" method="post" action="/{{path}}/assessment/{{customer._id}}/completed-assessment">
	<p class="mt30"><button class="button">Finish - sign off report</button></p>
	</form>


{% endblock %}

