{% extends path+"/citizen/app/_layout.html" %}

{% block app_nav %}{{ nav.app_nav('gettingaround',path) }}{% endblock %}

{% block case_content %}

  <h3 class="heading-large mt10">Getting around safely</h3>
  <p>Tony can't really go out on his own without there being problems. He can go around the corner to his nan's house and he can go to our corner shop, but nowhere he isn't familiar with. If he knows exactly how to get somewhere and nothing unexpected happens he might be ok, but if something happens he might have a meltdown. This might be if a bus doesn't come on time, or there are crowds. Anything out of the ordinary might bring on a meltdown so he rarely goes to places on his own.</p>

{% endblock %}
