{% extends path+"/citizen/app/_layout.html" %}

{% block app_nav %}{{ nav.app_nav('mobility',path) }}{% endblock %}

{% block case_content %}

  <h3 class="heading-large mt10">Mobility</h3>

  <p>Tony can move safely and repeatedly on level ground without needing to stop for:<br />
    <span class="bold-small">50 metres</span>
  </p>

  <h3 class="heading-medium mt10">Moving around and using steps</h3>
  <p class="mb0"><span class="bold-small">Tony says:</span></p>
  <p class="mt0 font-medium quote">“I have arthritis in my right knee and hip, and also in both wrists. On a good day I can walk 100m slowly - I'd have to rest a couple of times though, as I'd be in pain. I can't use a stick or crutches or a wheelchair because the arthritis in my wrists means I can't grip and don't have much strength. On a bad day, I can just about get around my flat but would usually stay in bed so I don't have to move much.”</p>

  <h3 class="heading-medium mt10">Going up or down 2 steps</h3>
  <p class="mb0"><span class="bold-small">Tony says:</span></p>
  <p class="mt0 font-medium quote"> “I am not able to {{ 1 | lorum | safe }}” </p>

{% endblock %}
