{% extends path+"/_layout-case-simple.html" %}


{% block actioncolumn %}
   
 <p class="returnRef"><a href="/fha/v8/referrals-fme">Return to case list</a></p>
  <hr>
 <div class="case-status">
<p class="mt10 mb0 bold-small">

   {% if data['pbachoice']=='yes'%}
<p class="mt10 mb0 bold-small">
Ready for paper based assessment  
</p>
<p><a href="/{{path }}/scrutiny-scenarios/scenario1/not-testing" class="button">Start assessment</a></p>
{% else %}
<p class="mt10 mb0 bold-small">
Appointment booked
</p>
{% endif %}

    

</p>


<hr>
<!--<ul class="secondary-actions">
 <li><a href="/{{path }}/scrutiny/recordFME" class="">Record evidence</a></li>
  
  </ul>-->
</div>
{% endblock %}

{% block citizen_detail %}
Bobby Henderson
{% endblock %}

{% block citizen_content %}


{% if data['pbachoice'] %}
	 

{% else %}
<div class="panel panel-info panel-instruction fme-warning"><h2 class="heading-small">New evidence recorded</h2>
	   <ul class="numeric" data-id="">
	       <li>
	         <span class="circle circle-step circle-white">1</span>
	         <h2 class="govuk-heading-m">Bobby's case should be reviewed before making a recommendation</h2>
	       </li>
	
	       <li>
	         <span class="circle circle-step circle-white">2</span>
	         <h2 class="govuk-heading-m"><a href="/{{path }}/scrutiny-scenarios/scenario1/recordFMEdecision">Make recommendation</a></h2>
	       </li>
	     </ul>
	</div>

	
{% endif %}


<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    {# macro #}
  {{ nav.case_tabs("evidence-portal",1,path1, customer._id) }}
  <div class="grid-row">

    <div class="column-full">
        

<p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>



<h1 class="heading-large mt10">Recorded evidence</h1>



<table class="evidence-list">

<thead>
<tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
  <th>Evidence type</th>
  <th>Source</th>
  <th>Received</th>
  <th class="numeric">Recorded</th>
</tr>
</thead>


<tbody>


	
   <tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
		<td><a href="/{{path }}/scrutiny-scenarios/scenario1/not-testing">GP report</a></td>
		<td>GP</td>
		<td><span class="secondary-text">24 June 2019</span></td>
		<td class="numeric"><span>24 June 2019</span></td>
	</tr>  



<tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
<td><a href="/{{path }}/scrutiny-scenarios/scenario1/fme-justify">Appointment referral justification</a></td>
<td>HCP</td>
<td></td>
<td class="numeric"><span>4 June 2019</span></td>
</tr>



<!--<tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
  <td><a href="/{{path }}/scrutiny/not-testing">GP report</a></td>
  <td>GP: Dr.Margaret Zamora</td>
  <td><span class="secondary-text">12th June 2019</span></td>
  <td class="numeric"><span>13th June 2019</span></td>
</tr>-->


<tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
  <td><a href="/{{path }}/scrutiny-scenarios/scenario1/not-testing">Med 3</a></td>
  <td>GP</td>
  <td><span class="secondary-text">2 June 2019</span></td>
  <td class="numeric"><span>2 June 2019</span></td>
</tr>




<tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
  <td><a href="/{{path }}/scrutiny-scenarios/scenario1/not-testing">UC 50 </a></td>
  <td>Claimant</td>
  <td><span class="secondary-text">1 June 2019</span></td>
  <td class="numeric"><span>1 June 2019</span></td>
</tr>
</tbody>

</table> 



    </div><!-- column-full -->
  </div>

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
