{% extends path2+"/_layout.html" %}

{% block scoring_content %}



<a href="javascript: history.go(-1)" class="link-back">Back</a>

  
  <div class="grid-row">
	  
	  <div class="column-two-thirds">
	  
	  <h1 class="heading-large mt20 mb30"><span class="heading-secondary">Step 1 of 2</span>Moving around and climbing steps without help</h1>

   <form>
  
  	<fieldset>
					
	    <legend class="heading-medium mb20">
	       Choose statements that are relevant to this descriptor:
	    </legend>

	    
	    <div class="multiple-choice">
	      <input id="des1" type="checkbox" name="des" value="">
	      <label for="des1">He is a single parent of 4 children 7, 8, 9, 16. Cares for their needs.</label>
	    </div>

		<div class="multiple-choice">
	      <input id="des2" type="checkbox" name="des" value="">
	      <label for="des2">He has a bath and shower upstairs and a separate shower en suite also. </label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des3" type="checkbox" name="des" value="">
	      <label for="des3">Has a toilet upstairs and downstairs.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des4" type="checkbox" name="des" value="">
	      <label for="des4">Showers, washes own hair and dresses himself.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des5" type="checkbox" name="des" value="">
	      <label for="des5">Using furniture in his bedroom as needed - no official adaptations.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des6" type="checkbox" name="des" value="">
	      <label for="des6">Got a lift today from his brother but attended alone. Attends all his appointments alone.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des7" type="checkbox" name="des" value="">
	      <label for="des7">Struggles to lie flat due to back pain. He sometimes sleeps on the couch propped with pillows due to pain.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des8" type="checkbox" name="des" value="">
	      <label for="des8">He walks 3 minutes to local shop with a crutch in right hand. He is able to manage his own shopping and carry this home.
</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des9" type="checkbox" name="des" value="">
	      <label for="des9">He does his own shopping at supermarket, gets taxi there as cannot carry all the bags home due to back pain. Able to walk around a supermarket holding onto trolley and get own purchases.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des1" type="checkbox" name="des" value="">
	      <label for="des1">Uses a landline for calls.</label>
	    </div>

		<div class="multiple-choice">
	      <input id="des2" type="checkbox" name="des" value="">
	      <label for="des2">Filled in his own ESA50.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des3" type="checkbox" name="des" value="">
	      <label for="des3">Manages his own post, finances and appointments.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des4" type="checkbox" name="des" value="">
	      <label for="des4">Usually sees same GP at the surgery but would see others if unavailable.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des5" type="checkbox" name="des" value="">
	      <label for="des5">Is liaising with social work team at moment as having issues with one of his children acting up since his mum died, struggling to cope with it.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des6" type="checkbox" name="des" value="">
	      <label for="des6">He coped with an 80 minute unexpected wait today sat in waiting room full.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des7" type="checkbox" name="des" value="">
	      <label for="des7">Able to liaise with reception staff.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des8" type="checkbox" name="des" value="">
	      <label for="des8">Doesn’t really have time for hobbies or sitting down with 4 children. When that are at school he is tidying the house and doing laundry for when they all get back.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des9" type="checkbox" name="des" value="">
	      <label for="des9">Repositions in the chair if he is sitting down due to back pain.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des1" type="checkbox" name="des" value="">
	      <label for="des1">Is going to collect food parcel due to his benefits being capped after assessment.</label>
	    </div>

		<div class="multiple-choice">
	      <input id="des2" type="checkbox" name="des" value="">
	      <label for="des2">Makes family meals just has to be careful not to fill pans too heavy due to back pain.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des3" type="checkbox" name="des" value="">
	      <label for="des3">Reports good road and kitchen safety awareness.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des4" type="checkbox" name="des" value="">
	      <label for="des4">No upper limb problems,  problems reported on ESA50 due to back pain.</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des5" type="checkbox" name="des" value="">
	      <label for="des5">Able to use stairs with banister.</label>
	    </div>
	   
  </fieldset>
  
  </form>
  
  
  <p class="mt30"><a href="mobility" class="button">Next</a></p>
  
  
  </div>


  
  
  </div>
  


{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('#change_score').on('click',function(e)
    {
      e.preventDefault();
      console.log('got here')
      $('#been_scored').addClass('js-hidden');
      $('#rescore').removeClass('js-hidden');
    });

    // highlight the right left nav link.
    $($(".nav")[0]).children(":nth-child(1)").addClass('active')
  });
</script>

<script>
  $(".gp-report-show td span").click(function(){
  $(".content-hide").toggleClass("content-show");
  $(".gp-report-show").toggleClass("active-show");
});
</script>
<script>
  $(".esa50-show td span").click(function(){
  $(".content-hide3").toggleClass("content-show3");
  $(".esa50-show").toggleClass("active-show");
});
</script>
<script>
  $(".med3-show td span").click(function(){
  $(".content-hide2").toggleClass("content-show2");
  $(".med3-show").toggleClass("active-show");
});
</script>
{% endblock %}
