<div class="version">
  <div class="grid-row">

    {% set n = 1 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health Appointment Booking</h3>
      <p><a href="/appoint/v3/dashboard-appointments" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">2.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">13th December 2017</h3>
      {# <details class="mth">
        <summary><span class="summary">Quick links</span></summary>
        <div class="quicklinks">
          <ul>
            <p>nothing here yet</p>
            <a href="/decide/v{{n}}/search">Search</a><br />
          </ul>
        </div>
      </details> #}
    </div>

  </div><!-- .row -->

  {# <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-small mth">Changes Made</h3>
      <ul class="list list-bullet changes mb1">
        <li>Lots of changes to wording based on a <a href="/public/images/support-for-mortgage-interest-content-review.pdf">content design review</a>.</li>
        <li>Changes to <a href="/smits/v4/person-1_edit">edit screen</a> to reflect latest requirements from team.</li>
      </ul>
    </div>
  </div><!-- row --> #}

</div><!-- version -->






<div class="version">
  <div class="grid-row">

    {% set n = 1 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health Appointment Booking</h3>
      <p><a href="/appoint/v2/appointments" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">1.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">4th December 2017</h3>
      {# <details class="mth">
        <summary><span class="summary">Quick links</span></summary>
        <div class="quicklinks">
          <ul>
            <p>nothing here yet</p>
            <a href="/decide/v{{n}}/search">Search</a><br />
          </ul>
        </div>
      </details> #}
    </div>

  </div><!-- .row -->

  {# <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-small mth">Changes Made</h3>
      <ul class="list list-bullet changes mb1">
        <li>Lots of changes to wording based on a <a href="/public/images/support-for-mortgage-interest-content-review.pdf">content design review</a>.</li>
        <li>Changes to <a href="/smits/v4/person-1_edit">edit screen</a> to reflect latest requirements from team.</li>
      </ul>
    </div>
  </div><!-- row --> #}

</div><!-- version -->


