{% extends path+"/_layout.html" %}



{% block assess_content %}

<main id="content" role="main" class="main-content mt30">

      <div class="container">
        <div class="grid-row">
          <div class="column-full">
              <table class="zebra">

                <thead>
                  <tr>
                    <th style="padding-left:15px;">name</th>
                    <th>status</th>
                    <th>primary condition</th>
                    <th class="numeric">last updated</th>
                    <th class="numeric">health assessor</th>
                  </tr>
                </thead>


                <tr class="click_row" href="tonyjohnson/timeline">
                  <td style="padding-left:15px;" class="">Tony Johnson</td>
                  <td>New application</td>
                  <td>Autism </td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Léonie Vidal</td>
                </tr>

                <tr class="click_row" href="miarussell/timeline">
                  <td style="padding-left:15px;" class="">Mia Russell</td>
                  <td>New application</td>
                  <td>pseudoxanthoma elasticum </td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Grégory Faure</td>
                </tr>

                <tr class="click_row" href="citizen2/timeline">
                  <td style="padding-left:15px;" class="">Yeldon Finkelstein</td>
                  <td>New application</td>
                  <td>lower back pain and sciatica</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr class="click_row" href="citizen3/timeline">
                  <td style="padding-left:15px;" class=""> Ana Isabel Cruz </td>
                  <td>New application</td>
                  <td>Epilepsy</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Lucas Moran</td>
                  <td>New application</td>
                  <td>Problems walking</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric"> </td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Berat Karagöz</td>
                  <td>New application</td>
                  <td>Poor hearing</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Lamia Baron</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Taha Sağlam</td>
                  <td>New application</td>
                  <td>Severe lower back pain, leg pain and a prolapsed...</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Bruno Duval</td>
                </tr>


                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Aaron Murray</td>
                  <td>New application</td>
                  <td>Deaf British Sign Language user</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Katell Grondin</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Charlie Reid</td>
                  <td>New application</td>
                  <td>Sciatica</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Alexis Boulanger</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Laura Cooper</td>
                  <td>New application</td>
                  <td>Neck and wrist ache</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Julie Guichard</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Oliver Russell</td>
                  <td>New application</td>
                  <td>DYSLEXIA AND DYSCALCULIA</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Lamia Baron</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Víctor Castillo</td>
                  <td>New application</td>
                  <td>Dyslexia</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Julie Herve</td>
                </tr>

                <tr class="click_row" href="citizen/timeline">
                  <td style="padding-left:15px;" class="">Tomás Moya</td>
                  <td>New application</td>
                  <td>Multiple Sclerosis</td>
                  <td class="nobr numeric">{{ 'Do MMMM YYYY' | randDaysAgo(100)}}</td>
                  <td class="nobr numeric">Nolan Bailly</td>
                </tr>

              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
