{% extends path+"/_layout.html" %}
{% import path1+"/_macros_nav.html" as nav %}
{% import path1+"/_macros_nav2.html" as nav2 %}
{% block assess_content %}

  {#  This is the BIG BLUE BAR at the top - #jussayin #}
  {% include path1+"/_staff_heading.html" %}
  <main id="content" role="main" class="main-content">

    <div class="container">
      <div class="grid-row">
        <div class="column-full">

          <div nunj-block="citizen_content">
            {% block citizen_content %}{% endblock %}
          </div>

        </div><!-- column -->
      </div><!-- row -->
    </div><!-- container -->

  </main>
{% endblock %}
