{% extends path2+"/_layout-review2.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}






<div class="grid-row">

 


  <div class="column-full">
  
  
<p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
  
  
<form action="medical_assessment_dashboard" method="POST" class="form">
  <h1 class="heading-large mt20 mb30"><span class="heading-secondary">Review</span>Mental health assessment</h1>
        <form>
  <fieldset>
  <legend class="visually-hidden">Mental health categories</legend>
  {% if data['Appearance'] %}  
  <div class="form-group">
    <label class="form-label-bold" for="mh-appearance-id">Appearance</label>
    <textarea class="form-control form-control-3-4" name="mhappearance" id="mh-appearance-id" rows="4">{{mhappearance}}</textarea>
</div>
{% endif %}  
{% if data['Behaviour'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-behaviour">Behaviour</label>
  <textarea class="form-control form-control-3-4" name="mhbehaviour" id="mh-behaviour" rows="4">{{mhbehaviour}}</textarea>
</div>
{% endif %} 
{% if data['Speech'] %}  	  
<div class="form-group">
  <label class="form-label-bold" for="mh-speech">Speech</label>
  <textarea class="form-control form-control-3-4" name="mhspeech" id="mh-speech" rows="4">{{mhspeech}}</textarea>
</div>
{% endif %} 
{% if data['Mood'] %}  	  
<div class="form-group">
  <label class="form-label-bold" for="mh-mood">Mood</label>
  <textarea class="form-control form-control-3-4" name="mhmood" id="mh-mood" rows="4">{{mhmood}}</textarea>
</div>
{% endif %} 
{% if data['Cognition'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-cognition">Cognition</label>
  <textarea class="form-control form-control-3-4" name="mhcognition" id="mh-cognition" rows="4">{{mhcognition}}</textarea>
</div>
{% endif %} 
{% if data['General'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-general">General</label>
  <textarea class="form-control form-control-3-4" name="mhgeneral" id="mh-general" rows="4">{{mhgeneral}}</textarea>
</div>
{% endif %} 
{% if data['Insight'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-general">Insight</label>
  <textarea class="form-control form-control-3-4" name="mhgeneral" id="mh-general" rows="4">{{mhgeneral}}</textarea>
</div>
{% endif %} 
{% if data['Thoughts'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-thoughts">Thoughts</label>
  <textarea class="form-control form-control-3-4" name="mhthoughts" id="mh-thoughts" rows="4">{{mhthoughts}}</textarea>
</div>
{% endif %} 
{% if data['Perceptions'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-perceptions">Perceptions</label>
  <textarea class="form-control form-control-3-4" name="mhperceptions" id="mh-perceptions" rows="4">{{mhperceptions}}</textarea>
</div>
{% endif %} 
{% if data['Addiction'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-addiction">Addictions</label>
  <textarea class="form-control form-control-3-4" name="mhaddiction" id="mh-addiction" rows="4">{{mhaddiction}}</textarea>
</div>
{% endif %} 
{% if data['Involentry-movements'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-involentry-movements">Involuntary movements</label>
  <textarea class="form-control form-control-3-4" name="mhinvolentry" id="mh-involentry-movements" rows="4">{{mhinvolentry}}</textarea>
</div>
{% endif %} 
{% if data['Cognative-test'] %}  
<div class="form-group">
  <label class="form-label-bold" for="mh-cognative-tests">Cognative informal tests</label>
  <textarea class="form-control form-control-3-4" name="mhcognativetests" id="mh-cognative-tests" rows="4">{{mhcognativetests}}</textarea>
</div>
{% endif %} 
	  
	   </form>
  
  <p class="mt30"><button href="medical_assessment_dashboard" class="button">Finish reviewing</button></p>
    
       
  </div><!-- column -->

</div><!-- row -->

{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
$(document).on('ready',function()
{
  $('#nugget').focus();

  $("#nugget").keydown(function (event) {
    if ((event.keyCode == 13))

  });

  $('#submitButton').on('click',function(e)
  {
    e.preventDefault();
    // get values from the form you're submitting.
    var nugget = $('#nugget').val();
    console.log(nugget)

    // gather values into a data object.
    var formdata = JSON.stringify({"nugget":nugget});
    console.log(formdata)
    console.log({url: '/{{ path }}/saveText'})

    // send data object off to node route for saving.
    $.ajax({
      url: '/{{ path }}/saveText',
      method: "POST",
      contentType: 'application/json',
      data: formdata,
      dataType: 'json',
      complete:  function(data,status,xhr) {
        // sort out the page after data is successfully saved.
        // $('#status_form').hide();
        // $('#status_button').show();
        document.location.reload(true);
      }
    });
  });
});
</script>

{% endblock %}
