{% extends path1+"/_layoutRecording.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 

  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
    	
    	<h1 class="heading-large mt0"><span class="heading-secondary">Step 2 of 2</span>Request evidence</h1>
    	
    	
    	  	



    	
    	
    	<div class="notice">
			  <i class="icon icon-important">
			    <span class="visually-hidden">Warning</span>
			  </i>
			  <strong class="bold-small">
			    To complete the evidence request process:<br>you need to print off the relevant forms and send them to the GP
			  </strong>
    	</div>
    	


		<div class="evidence-panel-wrapper">
				{% if checked('type','113') %}
				<div class="evidence-panel">
						<h2 class="heading-medium">GP report (113 form)</h2>
					
						<h3 class="heading-small">Reason for request:</h3>
						{% if data['scenario']==='insufficient-113' %}
						<p class="reason">Insufficient evidence to support claimants statements</p>
						{% else %}
					  <p>{{ data['reason-113'] }}</p>
						{% endif %}
						<p><a href="#" class="print">Print 113</a></p>
				</div>
				{% endif %}

{% if checked('type','FRR') %}
				<div class="evidence-panel">
						<h2 class="heading-medium">Further medical evidence (FRR form)</h2>
						<h3 class="heading-small">Reason for request:</h3>
						{% if data['scenario-frr']==='insufficient-frr' %}
						<p class="reason">Insufficient evidence to support claimants statements</p>
						{% else %}
					  <p>{{ data['reason-frr'] }}</p>
						{% endif %}
						<h3 class="heading-small">You are requesting this evidence off</h3>
						{% if checked('hcp-type','gp') %}
					
						<p>Dr. Sheila Turner</p>
						{% elif checked('hcp-type','consultant')%}
						<p>Dr. Nicholas Kent</p>
						{% endif %}
						<p><a href="#" class="print">Print FRR</a></p>
				</div>
{% endif %}
		</div>

		
		<!-- <h2 class="heading-medium">GP details</h2>
		
		 <h4 class="heading-small mt0">Name</h4>
		    <p>Dr. Sheila Turner</p>
		     
		    
		    <h4 class="heading-small">Surgery phone number</h4>
		    <p>0207 000 0000</p>
		
		
		    
		<h4 class="heading-small">Address</h4>
		    <p class="address-stack">
		    	<span>0 Brixton Lane</span>
		    	<span>Brixton</span>
		    	<span>London</span>
		    	<span>SW2 000</span>
		    </p> -->
		    
		    <p><a href="../timelineRequest.html" class="button">Confirm - evidence has been requested</a></p>
		

  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
