{% extends path+"/booking/details/_layout2.html" %}


{% block citizen_content %}

<div class="container">

  {# macro #}
    {{ nav.case_tabs("appointment-history",1,path1 + "/" + section, customer._id) }}{# macro #}
  

  <div class="grid-row">

    <div class="column-three-quarters">
      <div class="timeline">

        {% for entry in history | sort(attribute='entryDate', reverse=true)  %}
        <span class="line"></span>
        <div class="timeline__event">
          
            <h3 class="timeline__heading">{{entry.title}} 
            {% if entry.title == 'Appointment booked' or entry.title == 'Appointment re-arrange' %}
            - {{entry.appointmentDate | formatDate("D MMMM YYYY h:mma")}}
            {% endif %}
            </h3>
            <p class="timeline_datetime">{{entry.entryDate | formatDate("D MMMM YYYY h:mma")}}</p>
            
            {% if entry.title == 'Customer sent home unseen' or entry.title == 'Unable to attend' %}
            <p>{{entry.comments}}</p>
            {% endif %}
          
        </div>
        {% endfor %}
        <div style="clear:both"></div>

      </div><!-- timeline -->


    </div><!-- column -->

    

  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
