{% extends path1+"/_layout.html" %}

{% block left_content %}
 <p class="mt10 mb0 bold-small"><span class="circle purple"></span>Ready for review</p>
<h4 class="heading-small">Medical evidence received on {{ 'D MMMM YYYY' | randDaysAgo(0)}}</h4>
 <p>{% if query.reason == "home-visit" %}
            Customer requested home visit
            {% elseif query.reason == "condition" %}
            Customer has told us their condition has changed
            {% elseif query.reason == "terminal" %}
            Customer has told us they are now termally ill
            {% elseif query.reason == "newEvidence" %}
            New medical evidence is now available
            {% elseif query.reason == "taxi" %}
            Customer has requested a taxi to their appointment
            {% endif %}</p>


 <hr>
{% endblock %}
{% block left_nav_links %}{% endblock %}

{% block citizen_content %}
 {# macro #}
  {{ nav2.case_tabs("bobby_timeline",1,path1) }}

<div class="container">

<div class="timeline">

        <span class="line"></span>
        <div class="timeline__event">
            <h3 class="timeline__heading">Medical evidence received</h3>

          <p class="timeline_datetime">{{ 'D MMMM YYYY' | randDaysAgo(0)}}</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
            <h3 class="timeline__heading">Referred back to scrutiny (Appointment cancelled)</h3>
          <p>
            {% if query.reason == "home-visit" %}
            Customer requested home visit
            {% elseif query.reason == "condition" %}
            Customer has told us their condition has changed
            {% elseif query.reason == "terminal" %}
            Customer has told us they are now termally ill
            {% elseif query.reason == "newEvidence" %}
            New medical evidence is now available
            {% elseif query.reason == "taxi" %}
            Customer has requested a taxi to their appointment
            {% endif %}
        </p>
          <p class="timeline_datetime">{{ 'D MMMM YYYY' | randDaysAgo(10)}}</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Appointment booked</h3>
          <p class="timeline_datetime">04 February 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Referred for appointment</h3>
          <p class="timeline_datetime">30 January 2018</p>
        </div>

         <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">GP statement received (ESA113)</h3>
          <p class="timeline_datetime">29 January 2018</p>
        </div>
        
          <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Request for GP statement sent (ESA113)</h3>
          <p class="timeline_datetime">19 January 2018</p>
        </div>
        
          <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA50 form received at CHDA</h3>
          <p class="timeline_datetime">4 January 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA50 form sent out to Tomas</h3>
          <p class="timeline_datetime">12 December 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">FIT note (MED3) received </h3>
          <p class="timeline_datetime">19 November 2017</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Entitlement letter sent to Tomas</h3>
          <p class="timeline_datetime">5 November 2017</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA application completed on the phone</h3>
          <p class="timeline_datetime">1 November 2017</p>
        </div>

        <div style="clear:both"></div>

      </div><!-- timeline -->

  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block footer_top %}
{{ super() }}
{# {% include path1+"/footer_links.html" %} #}
{% endblock %}
_