{% extends path1+"/_layoutDMAction.html" %}


{% block citizen_content %}

 <p class="no-kdBar"> <a href="javascript: history.go(-1)" class="link-back">Back</a></p>
 
<form class="form" action="/{{path }}/decisionmaker/timeline" method="post">
<div class="grid-row">
  <div class="column-two-thirds">
<h1 class="heading-large">Did not attend</h1>
            
<div class="latest_version">
    <h2 class="heading-medium mt0">What we know</h2>
    <p>Appointment details</p>
    <ul class="list-bullet">
        <li>2nd May 2019</li> 
        <li>11:00am</li>  
        <li>Tresco House</li> 
         </ul>

         <p class="mt30">Appointment requirements</p>
         <ul class="list-bullet">
             <li>Audio equipment required</li> 
             <li>Taxi</li> 
        </ul>
         
         <h3 class="heading-small">Reason for incomplete appointment</h3>
       
         <p class="">Claimant was having a bad day with his depression and was struggling to get out of the house, he asked for a rearrangement but we could not provide it because he had previously rearranged
             his appointment.
           <span class="mt10 block">On 2nd May 2019</span>
         </p>               
   
   </div>
   
 <hr>
    <h2 class="heading-medium mt0">Cancelled: non-neuro appointment</h2>
    <p>Appointment details</p>
    <ul class="list-bullet">
        <li>18th April 2019</li> 
        <li>11:00am</li>  
        <li>Tresco House</li> 
         </ul>

         <p class="mt30">Appointment requirements</p>
         <ul class="list-bullet">
             <li>Audio equipment required</li> 
             <li>Taxi</li> 
        </ul>  

         <h3 class="heading-small">Assessment centre</h3>
         <p class="">We have cancelled this appointment because there wasn't a hcp available to fullfill the appointment
           

      <span class="mt10 block">On 8th April 2019</span>
    </p> 
<hr>

</div>
<div class="column-third">
    <div class="decision-form">
  <fieldset>

    <legend class="heading-medium mb5">What do you want to do?</legend>
    
    <div class="form-group">
  
      <div class="multiple-choice" data-target="scorenow">
        <input id="decide_now" name="whatcando" type="radio" value="newappointment">
        <label for="decide_now">Book {{customer.name.first}} another appointment</label>
      </div>
  
      <div class="multiple-choice" data-target="closeThis">
        <input id="face2face" name="whatcando" type="radio" value="close">
        <label for="face2face"> Close {{customer.name.first}}'s case</label>
      </div>
  
    </div><!-- form-group -->

    <div class="form-group">
          <label class="form-label" for="reason">Justification:</label>
          <textarea class="form-control form-control-3-4" name="reason" id="reason" rows="6"></textarea>
    </div>
    <div class="form-group">
      <button class="button">Confirm</button>
    </div><!-- form-group -->
    
  </fieldset></div>
</div>
</div>
</form>

{% endblock %}
