{% extends path+"/_layout-case-simple-baseline-f2f.html" %}


{% block actioncolumn %}
<div class="caseStatus">
	<h2 class="main-status"><span>Current case status</span>Booked appointment</h2>
</div>
{% endblock %}

{% block citizen_detail %}
Bobby Henderson
{% endblock %}

{% block citizen_content %}
<div class="container">
  <div class="grid-row">

    <div class="column-full">




  <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  <h1 class="heading-large">Appointment history</h1>
  <div class="grid-row">
    <div class="column-two-thirds">






         <h2 class="heading-medium">
         Cancelled appointment: Complex neuro</h2>

               	<h3 class="heading-small">Cancelled reason</h3>
                      <p class="small">Claimant unable to attend due to condition</p><p class="small"> Cancelled by: Claimant
                      <span class="date block mt10 text-secondary">Recorded date:{{ 'Do MMMM YYYY' | baseDate(15)}}/ Jim Smith / Tresco assessment centre</span>

             </p>






<h2 class="heading-medium">
{% if checked('contact', 'yes-cancel')%}
Cancelled
{% else %}
Rearranged
{% endif %}
 Appointment: Complex neuro</h2>
<p>Appointment details</p>
<ul class="list-bullet">
		<li>9:00am</li>

		<li>22/11/2019</li>

		<li>

 DWP Tresco House

		</li>
		 </ul>



			 <h3 class="heading-small">Re-arranged reason</h3>
						 <p class="small">Can't make that day due to another appointment </p><p class="small"> Rearranged by: Claimant

						 <span class="date block mt10 text-secondary">Recorded date:{{ 'Do MMMM YYYY' | baseDate(15)}}/ Jim Smith / Tresco assessment centre</span>
</p>







</div>



    </div>

  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
