{% extends path+"/_layout-case-simple-baseline-f2f.html" %}


{% block actioncolumn %}
<div class="caseStatus">
	<h2 class="main-status"><span>Current case status</span>Booked appointment</h2>
</div>


{% endblock %}

{% block citizen_detail %}
Andy Smicer
{% endblock %}

{% block citizen_content %}


<div class="container">

  <div class="grid-row">

       <div class="column-two-thirds">


    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

        <form class="form" method="post" action="/{{path}}/scenario5/appointment-tab-cancelled">
      <h1 class="heading-large">Update appointment</h1>

	  		<div class="form-group">
						<fieldset class="mt20">
								<legend class="heading-medium mb5">What do you want to do?</legend>

                <div class="multiple-choice">
                  <input type="radio" name="appointments" id="available-appointments-1" value="no"  {{checked('appointments', 'no') }}>
                  <label for="available-appointments-1">Keep the current appointment</label>
                                </div>

																<div class="multiple-choice" data-target="other-info-cancel">
								                  <input type="radio" name="appointments" id="available-appointments-cancel" value="yes"  {{checked('appointments', 'yes') }}>
								                  <label for="available-appointments-1">Cancel appointment</label>
								                                </div>

																								<div class="panel js-hidden" id="other-info-cancel" >

																									<div class="form-group">
																																									 <legend>
																																										 <h2 class="heading-small mb10">
																																											 Who is cancelling this appointment?
																																										 </h2>
																																									 </legend>

																																									 <div class="multiple-choice">
																																										 <input id="radio-inline-1" type="radio" name="contact" value="yes">
																																										 <label for="radio-inline-1">Claimant or representative</label>
																																									 </div>
																																									 <div class="multiple-choice">
																																										 <input id="radio-inline-2" type="radio" name="contact" value="no">
																																										 <label for="radio-inline-2">Assessment centre</label>
																																									 </div>
					</div>
					</div>

								<div class="multiple-choice" data-target="other-info2">

									<input type="radio" name="appointments" id="available-appointments-unable" value="yes" {{checked('appointments', 'yes') }}>

									<label for="available-appointments-unable">Rearrange appointment</label>
                                </div>

                                <div class="panel js-hidden" id="other-info2" >

                                        <div class="form-group">
                                                <h2 class="heading-small"><br>Chris's current appointment</h2>

                                                    {% if customer.name.first == 'Lowery' %}
                                                    <ul class="list-bullet mt10 mb10">
                                                      <li>Tuesday 19 March</li>
                                                      <li>4:00pm</li>
                                                      <li>DWP Tresco House</li>
                                                    </ul>
                                                    <details>

                                                            <summary><span class="summary">Appointment preferences</span></summary>

                                                            <h3 class="heading-small">When {{customer.name.first}} is unavailable:</h3>

                                                            <ul class="list-bullet pref-list">
                                                                <li>Monday <span>afternoons</span>
                                                                </li>
                                                                <li>Tuesdays</li>
                                                                </ul>


                                                          </details>


                                                    {% elif customer.name.first == 'Mcconnell' %}
                                                    <ul class="list-bullet mt10 mb10">
                                                            <li>Friday 15th March</li>
                                                      <li>4:00pm</li>
                                                      <li>Tresco House</li>
                                                    </ul>

                                                          {% else %}
                                                          <ul class="list-bullet mt10 mb10">
                                                                <li>Tuesday {{ 'Do MMMM YYYY' | baseDateAdd(7) }}</li>
                                                                <li>4:00pm</li>
                                                                <li>Tresco House</li>
                                                              </ul>



                                                          {% endif%}

                                        {% include path+"/scenario5/appointmentsTypeAhead.html" %}



                                        </div>

																				<div class="form-group">
																																				 <legend>
																																					 <h2 class="heading-small mb10">
																																						 Who is changing this appointment?
																																					 </h2>
																																				 </legend>

																																				 <div class="multiple-choice">
																																					 <input id="radio-inline-1" type="radio" name="contact" value="yes">
																																					 <label for="radio-inline-1">Claimant or representative</label>
																																				 </div>
																																				 <div class="multiple-choice">
																																					 <input id="radio-inline-2" type="radio" name="contact" value="no">
																																					 <label for="radio-inline-2">Assessment centre</label>
																																				 </div>
</div>
																																			 </fieldset>
																																		 </div>

                                    </div>



                            </div>



                                    <div class="form-group">
                                            <label class="form-label-bold">Reason</label>
                                            <textarea name="reason" class="form-control " style="height: 150px; width:100%; max-width:650px;">{{reason}}</textarea>
                                    </div>





            <p class="mt30"><button class="button">Save and continue</button></p>
        </div>
				</form>

   </div>

  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
