<style>

*, *:before, *:after {
  box-sizing: border-box;
}
.badge{
	margin-right:5px;
}

.badge.ucb{
	background:#000;
}


.portal-card{
	box-sizing: border-box;
}

.portal-head{
	box-sizing: border-box;
}

.portal-display .portal-card .portal-head a{
	text-decoration:none;
	width:100%;
	float:left;
	padding:0.7em;
}

.portal-display .portal-card .portal-inner{
	padding:0.7em;
	font-size:17px;
}


.portal-head .nino{
	color:#000;
	display:block;
	font-weight:normal;
}

.referral{
	text-align:right;
	float:right;
	color:#000;
}

.identifiers{
	min-height:40px;
	float:left;
	margin-right:5px;
}

.details{
	float:left;
}

.panel{
	font-size:17px;
	padding:7px;
}



</style>
				   
				   
<div class="portal-card">
				<div class="portal-head">
				<a href="/{{path }}/scenario3/appointment-tab?nino={{customer.nino}}">
					<div class="identifiers"><span class="badge">{{customer.benefit}}</span>{% if customer.caseflags == 'ucb' %}<span class="badge ucb">UCB</span>{% endif %}</div> <div class="details"><span class="visually-hidden">Name</span>{{customer.name}}<span class="nino"><span class="visually-hidden">Nino</span>{{customer.nino}} </span></div>
					<span class="referral">{{customer.referral.type}}<b> <br>
					  {% if customer.status == 'Ready to book' and customer.referral.edtarget %}
				  DNA rebooking target:<span class=""> {{customer.referral.edtarget}} days remaining</span>
				  {% endif %} 
				  {% if customer.status == 'Booked' and customer.referral.type =='New referral' %}
				  SLA target: <span class="">{{customer.sla}} days remaining</span>
				    {% endif %} 
					
					</span>
					</a>
				</div>
			
				<div class="portal-inner">
						  <div class="grid-row">
				  <div class="column-third">
				  <h3 class="bold">Appointment details</h3>
				  <ul class="list">
				  {% if customer.appointment.time %}
				  <li>{{customer.appointment.time}}</li>
				  {% endif%}
				    {% if data['capDay']  and customer.status == 'Booked' %}
				  <li>{{capDay}}/{{capMonth}}/2019</li>
				    {% else %}
				  <li>{{customer.appointment.date}}</li>
				  {% endif%}
				  <li>{{customer.appointment.type}}</li>

				  </ul>
				  </div>
				  <div class="column-third">
				    {% if customer.requirement
					 %}
				  <h3 class="bold">Requirements</h3>
				  <ul class="list">
				   {% if customer.requirement.taxi %}
				  <li>Taxi
				    {{customer.appointment.taxi}}
						  	 {% if checked('booked', 'taxi') or data['reference'] %} 
				 
				  <span class="bold"> - Booked</span> 

				  {% elif customer.requirement.booked %}
				<span class="bold">Booked</span>
				  {% else %}
				  {% endif %}
				  </li>
				  {% endif%}
				  {% if customer.requirement.interpreter %}
				  <li>Interpreter:
				  {{customer.appointment.interpreter}}  
				  	 {% if checked('booked', 'interpreter') or data['reference'] %} 
				 
				  <span class="bold"> - Booked</span> 

				  {% elif customer.requirement.booked %}
				<span class="bold">Booked</span>
				  {% else %}
				  {% endif %}
				  
				  </li>
				 
				  {% endif%}
				   {% if customer.requirement.audio %}
				  <li>Audio recording</li>
				  {% endif%}
				     {% if customer.requirement.accessible%}
				  <li>Accessible room</li>
				  {% endif%}
				  {% if customer.requirement.gender %}
				  <li>Same gender hcp</li>
				  {% endif%}
				  </ul>
				   {% endif%}
				   </div>
				   	  <div class="column-third">
				    {% if customer.history or customer.appointment.dna
					 %}
				  <h3 class="bold"><a href="appointment-history?nino={{customer.nino}}">History</a></h3>
				  <ul class="list">
				  {% if customer.status == 'Booked' and customer.appointment.dna %} 
				  <li>Previous DNA</li>
				  {% endif %}
				   {% if customer.history.senthome == 'sent home' %}
				  <li>Skillset change</li>
				  <li>Previously sent home</li>
				  {% endif%}
				   {% if customer.history.inbound == 'inbound' %}
				  <li>Inbound contact:<span class="text-secondary"><br />{{ 'Do MMMM YYYY' | baseDate(15)}}<span></li>
				  {% endif%}
				  {% if customer.history.inbound == 'inbound' %}
				  <li>Outbound contact:<span class="text-secondary"><br />{{ 'Do MMMM YYYY' | baseDate(19)}}<span></li>
				  {% endif%}
				  </ul>
				   {% endif%}
				   </div>
				   </div>
				</div>

			</div>
