{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
			<h1 class="heading-large">Additional attendee</h1>
		
		<form>
			<fieldset>
				<legend class="visually-hidden">Add attendee details</legend>
				

							       
							      <div class="form-group">
							      	<label for="name" class="form-label">Name</label>
							      	 <input class="form-control form-control-1-3" name="name" type="text" id="name">
							      </div>
							      
							      <div class="form-group">
							      	<label for="name" class="form-label">Relationship to {{customer.name.first}}</label>
							      	 <input class="form-control form-control-1-3" name="name" type="text" id="name">
							      </div>
								
								
							      
			</fieldset>   

							
		</form>
			
			<form method="post" action="/{{path}}/assessment/{{customer._id}}/assessment-stopped">
				<p><a href="javascript: history.go(-1)" class="button">Confirm – resume assessment</a></p>
				</form>
			

		
    



  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
