{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}


<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

<h1 class="heading-large">Choose activities</h1>
<h2 class="heading-medium">Refer to the '50 that {{customer.name.first}} completed. Which activities do they say they find difficult?</h2>

<form class="" method="post" action="/{{path}}/assessment/{{customer._id}}/appointment">
	
	
	<h3 class="heading-small">Physical functions</h3>
	
  	<fieldset>
					
	    <legend class="visually-hidden">Choose the relevant descriptor:</legend>
	    
	    
	    
	    <div class="multiple-choice">
	      <input id="des1" type="checkbox" name="moving" value="moving">
	      <label for="des1">Moving around and using steps</label>
	    </div>

		<div class="multiple-choice">
	      <input id="des2" type="checkbox" name="standing" value="standing">
	      <label for="des2">Standing and sitting</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des3" type="checkbox" name="reaching" value="reaching">
	      <label for="des3">Reaching</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des4" type="checkbox" name="picking" value="picking">
	      <label for="des4">Picking up and moving things – using your upper body and either arm</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des5" type="checkbox" name="using" value="using">
	      <label for="des5">Manual dexterity (using your hands)</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des6" type="checkbox" name="speaking" value="speaking">
	      <label for="des6">Communicating – speaking, writing and typing</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des7" type="checkbox" name="hearing" value="hearing">
	      <label for="des7">Communicating – hearing and reading</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des8" type="checkbox" name="seeing" value="seeing">
	      <label for="des8"> Getting around safely</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des9" type="checkbox" name="controlling" value="controlling">
	      <label for="des9">Controlling your bowels and bladder and using a collecting device</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des10" type="checkbox" name="staying" value="staying">
	      <label for="des10">Staying conscious when awake</label>
			</div>
  	</fieldset>
  	
  	
  	<h3 class="heading-small">Mental, cognitive and intellectual capabilities</h3>
			<fieldset>
					
		<legend class="visually-hidden">Choose the relevant descriptor:</legend>
		
	    <div class="multiple-choice">
	      <input id="des11" type="checkbox" name="learning" value="learning">
	      <label for="des11">Learning to do new tasks</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des12" type="checkbox" name="being" value="being">
	      <label for="des12">Awareness of hazards or danger</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des13" type="checkbox" name="planning" value="planning">
	      <label for="des13">Starting and finishing tasks</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des14" type="checkbox" name="coping" value="coping">
	      <label for="des14">Coping with changes</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des15" type="checkbox" name="going" value="going">
	      <label for="des15">Going out</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des16" type="checkbox" name="meeting" value="meeting">
	      <label for="des16">Coping with social situations</label>
	    </div>
	    
	    <div class="multiple-choice">
	      <input id="des17" type="checkbox" name="behaving" value="behaving">
	      <label for="des17">Behaving appropriately</label>
			</div>
			</fieldset>
			
			<h3 class="heading-small">Eating and drinking</h3>
			<fieldset>
					
			<legend class="visually-hidden">Choose the relevant descriptor:</legend>
		  
		<div class="multiple-choice">
		      <input id="des17" type="checkbox" name="eating" value="eating">
		      <label for="des17">Eating and drinking</label>
		    </div>


	</fieldset>
	
	
	<p class="mt30"><button class="button">Save and continue</button></p>
  
  </form>
	

  





  <!--  <p class="mt30"><a href="/{{path2}}/record_phys_exam" class="button">Finish assessment</a></p> -->



{% endblock %}

