{% extends path2+"/_layout.html" %}

{% block case_content %}

<a href="javascript: history.go(-1)" class="link-back">Back</a>

  <h2 class="heading-large mt20 mb30">Fit note (MED3) details</h2>
  

  <h3 class="heading-medium">Fit note (MED3) </h3>
  <ul class="list list-bullet">
	  <li>Depression<span class="date"> (3 June 2018 to 2 August 2018)</span></li>
	  <li>Depression<span class="date"> (3 April 2018 to 2 June 2018)</span></li>
	  <li>Depression<span class="date"> (3 February 2018 to 2 April 2018)</span></li>
    <li>Complications of emergency fasciotomy<span class="date"> (4 December 2017 to 2 February 2018)</span></li>
    <li>Complications of emergency fasciotomy<span class="date"> (13 October 2017 to 3 December 2017)</span></li>
    <li>Acute compartment syndrome and emergency fasciotomy <span class="date"> (13 August 2017 to 12 October 2017)</span></li>
    <li>Compound fracture - shinbone <span class="date"> (28 July 2017 to 12 August)</span></li>
  </ul>


 <!-- <h3 class="heading-medium">Sick notes:</h3>
  <ul class="list list-bullet">
    <li><a href="">{{ "Do MMMM YYYY" | daysAgo(86) }} - {{ "Do MMMM YYYY" | daysAgo(100) }}</a></li>
    <li><a href="">{{ "Do MMMM YYYY" | daysAgo(114) }} - {{ "Do MMMM YYYY" | daysAgo(165) }}</a></li>
    <li><a href="">{{ "Do MMMM YYYY" | daysAgo(179) }} - {{ "Do MMMM YYYY" | daysAgo(100) }}</a></li>
  </ul>
  <div class="given_descriptors pb30">{% include path2+"/_descriptors.html" %}</div> -->

{% endblock %}

