{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}



<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large mb0">Work capability report</h1>


<div class="review-wrapper full-report">




<div class="report-item">

	<table class="report-view-table">
	<caption class="heading-small">Assessment overview</caption>
	
		<tbody>
			<tr>
				<th>Date of assessment</th>
				<td>{{ "Do MMM YYYY" | daysAgo }}</td>
			</tr>
			<tr>
				<th>Assessment centre</th>
				<td>Fiveways, Birmingham</td>
			</tr>
			<tr>
				<th>Assessor</th>
				<td>Heather Harrison</td>
			</tr>
			<tr>
				<th>Assessment start</th>
				<td>{{ last_one.time | formatDate("H:mma") }}</td>
			</tr>
			<tr>
				<th>Assessment finish</th>
				<td>{{ first_one.time | formatDate("H:mma") }}</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- / report item -->


<div class="report-item">

	<h2 class="heading-large">Illnesses, disabilities and medication</h2>  

	<table class="report-view-table">
	<caption class="heading-small">Illnesses and disabilities</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Source</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Diabetes</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Arthritis</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Liver disease</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Urine problems</td>
				<td>Claimant</td>
			</tr>
		</tbody>
	</table>
	
	
	<table class="report-view-table">
	<caption class="heading-small">Medication and side effects</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Dose</th>
				<th>Side effects</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Ibuprofen</td>
				<td>Twice daily</td>
				<td>None</td>
			</tr>
		</tbody>
	</table>
	
	
	
	
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit illnesses, disabilities and medication</a></p>
	
	

</div>
<!-- / report item -->





<div class="report-item">

	<h2 class="heading-large">Special circumstances</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">LCWRA</h2>
		
		
		<h4 class="heading-small">Reason:</h4>
		<p>Cancer treatment</p>
		
		<h4 class="heading-small">Justification:</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit special circumstances</a></p>
	
</div>
<!-- / report item -->


		

  
   </div>
 <!-- / wrapper -->
  


	<p class="depart"><a href="/{{path}}/" class="button">Finish &ndash; sign off report</a></p>



{% endblock %}


