<section class="{{ 'hidden' if not (query.tab === 'location') }}">
    <h3 class="heading-small">Other available locations</h3>
    <ul>
    	{% for centreKey, centre in person.otherCentres %}
            {% if centreKey !== person.homeCentre and centre.available %}
            <li>{{centreKey}}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <h3 class="heading-small">Skills</h3>
    <ul>
    <li>{{person.skill}}</li>
    {% if person.reviews %}
    	<li>Reviews</li>
    {% endif %}
	</ul>
    

    <p class="mt30"><a href="{{person.id}}/edit-staff-skill" class="button-secondary">Edit location and skills</a></p>
</section>
