{% extends path1+"/_manage-centre-layout.html" %} 


{% block citizen_content %}

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Skills</th>
                    </tr>
                </thead>
                {% for person in staff |sort(attribute='name') %}
                <tr>
                    <td><a href="manage-staff/staff-profile/{{ person.id }}?tab=details">{{ person.name }}</a></td>
                    <td>{{ person.skill }}{{ ", Reviews" if person.reviews}}</td>
                </tr>
                {% endfor %}
            </table>
            <p><a href="/{{path2}}/{{centre.id}}/manage-staff/new-staff" class="button mt30">Add staff</a></p>

{% endblock %} {% block footer_top %} {{ super() }} {# {% include path1+"/footer_links.html" %} #} {% endblock %}