
{% extends path1+"/_manage-centre-layout.html" %} 


{% block header %}

  {% include path2+"/_staff_heading.html" %}

{% endblock %}


{% block citizen_content %}



            <nav class="section-tabs js-tabs clearfix mb20">
                <ul>
                <li class="{{ 'active 'if (query.tab === 'details') }}"><a href="?tab=details" class="left-nav__link">Details</a></li>
                <li class="{{ 'active 'if (query.tab === 'hours') }}"><a href="?tab=hours" class="left-nav__link">Working pattern</a></li>
                <li class="{{ 'active 'if (query.tab === 'leave') }}"><a href="?tab=leave" class="left-nav__link">Rota</a></li>
                </ul>
            </nav>

        {% include path1+"/manage-staff/_details.html" %}
        {% include path1+"/manage-staff/_hours.html" %}

        {% if query.updated %}
            {% include path1+"/manage-staff/_leave-updated.html" %}
        {% else %}
            {% include path1+"/manage-staff/_leave.html" %}
        {% endif %}

            
           
         

<!-- container -->
{% endblock %} {% block footer_top %} {{ super() }} {# {% include path1+"/footer_links.html" %} #} {% endblock %}