				   <style>
				   .col3{
					   width:20%;
				   }
				     .col1{
					   width:25%;
				   }
	
				   .identifiers{
					   width:35px;
				   }

				   .identifiers .badge{
					   width:100%;
					   text-align:center;
				   }
				   </style>
				   
				   
				   <tr>
                  <td class="col1"><ul class="identifiers">
				  <li><span class="badge">{{customer.benefit}}</span></li>
				   {% if customer.caseflags == 'ucb' %}<li><span class="badge ucb">UCB</span></li>  {% endif %}
				  </ul>
				  <div class="claimant"><a href="/{{path }}/scenario2/timeline"><span class="visually-hidden">Name</span>{{customer.name}}</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>{{customer.nino}}
				  </span>
				  
				  </div>
				  </td>
                  <td>
				  <div class="grid-row">
				  <div class="column-third">
				  <h3 class="">Details:</h3>
				  <ul class="list">
				  {% if customer.appointment.time %}
				  <li>{{customer.appointment.time}}</li>
				  {% endif%}
				    {% if customer.appointment.date =='21/10/2019' and customer.appointment.date and customer.status == 'Booked' %}
				  <li>{{capDay}}/{{capMonth}}/2019</li>
				    {% elif customer.appointment.date and customer.status == 'Booked' %}
				  <li>{{customer.appointment.date}}</li>
				  {% endif%}
				  <li>{{customer.appointment.type}}</li>

				  </ul>
				  </div>
				  <div class="column-third">
				    {% if customer.appointment.requirement
					 %}
				  <h3 class="">Requirements:</h3>
				  <ul class="list">
				   {% if customer.appointment.requirement == 'taxi' %}
				  <li>Taxi - Booked</li>
				  {% endif%}
				  {% if customer.appointment.requirement == 'interpreter' %}
				  <li>Interpreter: {{customer.appointment.interpreter}} - Booked</li>
				  {% endif%}
				   {% if customer.appointment.requirement == 'audio' %}
				  <li>Audio recording</li>
				  {% endif%}
				     {% if customer.appointment.requirement == 'accessible'%}
				  <li>Accessible room</li>
				  {% endif%}
				  {% if customer.appointment.requirement == 'gender' %}
				  <li>Same gender hcp</li>
				  {% endif%}
				  </ul>
				   {% endif%}
				   </div>
				   	  <div class="column-third">
				    {% if customer.history
					 %}
				  <h3 class="">History:</h3>
				  <ul class="list">
				   {% if customer.history.senthome == 'sent home' %}
				  <li>Previously sent home</li>
				  {% endif%}
				  {% if customer.history.uta == 'uta' %}
				  <li>Previously rearranged appointment</li>
				  {% endif%}
				   {% if customer.history.inbound == 'inbound' %}
				  <li>Inbound contact: 21/10/2019</li>
				  {% endif%}
				  </ul>
				   {% endif%}
				   </div>
				   </div>
				  </td>
				  <td class="col3">
				   <h3 class="">{% if customer.status == 'Booked' and customer.appointment.dna %} DNA - {% endif %}{{customer.referral.type}}</h3>
	
				   <ul class="list">
				  {% if customer.status == 'Ready to book' and customer.referral.edtarget %}
				   <li>DNA rebooking target:<span class=""> {{customer.referral.edtarget}} days remaining</span></li>
				  {% endif %} 
				  {% if customer.status == 'Booked' and customer.referral.type =='New referral' %}
				   <li>SLA <span class="">{{customer.sla}} days remaining</span></li>
				    {% endif %} 
				   </ul>

				   </div>

				  </td>
                 </tr>
                
    