{% extends path+"/_layout-case-simple2.html" %}


{% block actioncolumn %}
   {% include path+"/scenario2/_actionColumn-action.html" %} 
{% endblock %}

{% block citizen_detail %}

{{customer.name}}
{% endblock %}

{% block citizen_content %}
<div class="container">
  <div class="grid-row">
  
    <div class="column-full">
    
  
    
    
  <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  <h1 class="heading-large">Appointment history</h1>
  <div class="grid-row">
    <div class="column-two-thirds">
        
    
          
         
         
         <div class="latest_version">
 
         <h2 class="heading-medium">Current appointment: {{customer.appointment.type}}</h2>
         <p>Appointment details</p>
         <ul class="list-bullet">
             <li>{{customer.appointment.time}}</li>
            {% if data['capDay']  and customer.status == 'Booked' %}
				     <li>{{capDay}}/{{capMonth}}/2019</li>
				    {% else %}
				    <li>{{customer.appointment.date}}</li>
				   {% endif%} 
             <li>
          {% if checked('filter','tresco') %}
					DWP Tresco House
					{% elif checked('filter','fiveways') %}
					DWP Birmingham Fiveways
					{% else %}
					Wolverhampton
					{% endif%}
             
             </li> 
              </ul>

{% if customer.history.inbound =='inbound'%}
		<h3 class="heading-small">Inbound contact</h3>
        <p class="small">Claimant wrang multiple times to confirm unattendance
                    of appointment.

             <span class="date block mt10 text-secondary">Recorded date:{{ 'Do MMMM YYYY' | baseDate(15)}}/ Jim Smith / Tresco assessment centre</span>        
         </p>
{% endif %}
         </div>


{% if customer.appointment.dna =='dna' %}
         <h2 class="heading-medium">Did not attend appiontment: {{customer.appointment.type}}</h2>
         <p>Appointment details</p>
         <ul class="list-bullet">
             <li>{{ 'Do MMMM YYYY' | baseDate(16)}}</li> 
             <li>11:00am</li>  
             <li>Tresco House</li> 
              </ul>

              <h3 class="heading-small">Inbound contact</h3>
                  
              <p>
              {% if customer.history.outbound =='outbound' %} 
              Customer contacted to advise that due to the previous re arrangement, there wasn't enough time for a friend to get the day off work to come with  them.
               {% else %} 
              Customer stated that they never recieved there appointment letter.
               {% endif %}
   
           <span class="date block mt10 text-secondary">Recorded date:{{ 'Do MMMM YYYY' | baseDate(15)}}/ Jim Smith / Tresco assessment centre</span>
         </p> 

{% endif %}     

{% if customer.history.senthome =='sent home' %}
         <h2 class="heading-medium">Sent home: {{customer.appointment.type}}</h2>
         <p>Appointment details</p>
         <ul class="list-bullet">
             <li>{{ 'Do MMMM YYYY' | baseDate(18)}}</li> 
             <li>11:00am</li>  
             <li>Tresco House</li> 
              </ul>

              <h3 class="heading-small">Reason</h3>
                  
              <p>
              
              More claimants waiting to be seen than available health care professionals
   
           <span class="date block mt10 text-secondary">Recorded date:{{ 'Do MMMM YYYY' | baseDate(18)}}/ Jim Smith / Tresco assessment centre</span>
         </p> 

{% endif %}  

          
  {% if customer.history.outbound =='outbound' %}       

<hr />
  
         <h2 class="heading-medium">Rearranged appointment: {{customer.appointment.type}}</h2>
         <p>Appointment details</p>
         <ul class="list-bullet">
             <li>{{ 'Do MMMM YYYY' | baseDate(19)}}</li> 
             <li>11:00am</li>  
             <li>Tresco House</li> 
              </ul>

              <h3 class="heading-small">Outbound contact</h3>
              <p>We have cancelled this appointment because there wasn't a hcp available to fullfill the appointment
                
   
           <span class="date block mt10 text-secondary">Recorded date:{{ 'Do MMMM YYYY' | baseDate(19)}}/ Barry Gallager / Tresco assessment centre</span>
         </p> 

{% endif %}
 

    


  
</div> 
</div>
    </div>

  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
