{% extends path+"/_layout-case-simple4.html" %}


{% block actioncolumn %}
   
 <p class="returnRef"><a href="javascript: history.go(-1)" class="link-back">Return to case list</a></p>


<div class="caseIdentifiers">
	<div class="caseFlags">
		<h2>Case flags</h2>
	
		<ul>
			<li><a href="ucbInfo">Unacceptable claimant behaviour</a></li>
			<!--<li><a href="#">Claimant has an appointee</a></li> -->
		</ul>
	</div>
</div>
		
	


 <div class="caseStatus">
 	
	<h2 class="main-status"><span>Current case status</span>Ready for review</h2>
	

	<h3 class="primary-action"><span>Suggested case action</span><a href="#" class="button">Make a recommendation</a></h3>

 </div>

<!--<div class="secondary-nav-actions">

	<ul>
		<li><a href="#">Withdraw case</a></li>
		<li><a href="#">Close case</a></li>
		<li><a href="#">Delete case</a></li>
	</ul>
		
 </div> -->

{% endblock %}




{% block citizen_detail %}
Kenneth Robertson
{% endblock %}

{% block citizen_content %}




{% if data['evidencePath']=='ev-ftf'%}


	{% if data['evidenceRecorded']=='record-yes'%}
	
	
		{% if data['pbachoice']%}
	
		
	{% else %}
	<div class="panel panel-info panel-instruction fme-warning"><h2 class="heading-small">New evidence recorded</h2>
	   <ul class="numeric" data-id="">
	       <li>
	         <span class="circle circle-step circle-white">1</span>
	         <h2 class="govuk-heading-m">Roberto's case should be reviewed before making a recommendation</h2>
	       </li>
	
	       <li>
	         <span class="circle circle-step circle-white">2</span>
	         <h2 class="govuk-heading-m"><a href="/{{path }}/scenario2/recordFMEdecision">Make recommendation</a></h2>
	       </li>
	     </ul>
	</div>
	{% endif %}
	
	
	
		
	{% endif %}
	
	
	{% endif %}





<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    {# macro #}
  {{ nav.scenario_tabs("timeline-review",1,path1, customer._id) }}

    
  <div class="timeline">
  
  
  
  {% if data['pbachoice']=='yes'%}
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">Referred for paper based assessment</h3>
  <p class="timeline_datetime">11 August 2019</p>
</div>
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">Face to face referral cancelled</h3>
  <p class="timeline_datetime">11 August 2019</p>
</div>
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP Report &ndash; medical evidence reviewed</h3>
  <p class="timeline_datetime">11 August 2019</p>
</div>

{% elif data['pbachoice']=='no'%}

<span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">Face to face appointment booked</h3>
  <p class="timeline_datetime">11 August 2019</p>
</div>

 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP Report &ndash; medical evidence reviewed</h3>
  <p class="timeline_datetime">11 August 2019</p>
</div>

{% endif %}
  
  

  	
  	
  	{% if data['evidenceChoice']=='ev-gp'%}
  	
  	
  		{% if data['evidenceRecorded']=='record-yes'%}
  		
  		
  		<span class="line"></span>
		<div class="timeline__event">
		  <h3 class="timeline__heading">GP Report &ndash; medical evidence recorded</h3>
		  <p class="timeline_datetime">10 August 2019</p>
		</div>
  		
  		
  		<span class="line"></span>
		<div class="timeline__event">
		  <h3 class="timeline__heading">GP Report &ndash; medical evidence received</h3>
		  <p class="timeline_datetime">9 August 2019</p>
		</div>  		
  		
  		{% endif %}
  		
  		
  		
  		{% elif data['evidenceChoice']=='ev-fr'%}
  		
  		
  		{% if data['evidenceRecorded']=='record-yes'%}
  		
  		
  		<span class="line"></span>
		<div class="timeline__event">
		  <h3 class="timeline__heading">Factual report &ndash; medical evidence recorded</h3>
		  <p class="timeline_datetime">10 August 2019</p>
		</div>
  		
  		
  		<span class="line"></span>
		<div class="timeline__event">
		  <h3 class="timeline__heading">Factual report &ndash; medical evidence received</h3>
		  <p class="timeline_datetime">9 August 2019</p>
		</div>  		
  		
  		{% endif %}
  		
  		  	
  	{% endif %}

  
  
  	     
{% if data['evidencePath']=='ev-ftf'%}
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">Referred for face to face appointment</h3>
  <p class="timeline_datetime">3 August 2019</p>
</div>
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP Report &ndash; medical evidence requested</h3>
  <p class="timeline_datetime">3 August 2019</p>
</div>

{% elif data['evidencePath']=='ev-pba'%}
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP Report &ndash; medical evidence requested</h3>
  <p class="timeline_datetime">3 August 2019</p>
</div>

{% endif %}

      
    <!--  <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">Med 3 &ndash; medical evidence recorded </h3>
        <p class="timeline_datetime">1 August 2019</p>
      </div>-->
      
      
      
      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">UC50 form recorded</h3>
        <p class="timeline_datetime">21 July 2019</p>
      </div>

      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">UC50 form posted</h3>
        <p class="timeline_datetime">9 July 2019</p>
      </div>
      
 

      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">New referral created</h3>
        <p class="timeline_datetime">5 July 2019</p>
      </div>



      <div style="clear:both"></div>

    </div>

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
