{% extends path+"/_layout-caselist.html" %}
 

{% block caselist_content %}


<style>


.badge{
	float:left;
	margin-top:2px;
}
.badge.ucb{
	background:black;
}
#facetFilterBtn{
  position:absolute;
  left:-100%;	
}



button.link{
	border:none;
	padding:0;
	font-size:19px;
	background:transparent;	
}



.check-group{
	margin:0;
	padding:0;
}

.filterhr{
	margin:15px 0;
}


.filtered td ul.list{
	font-weight:bold;
	margin-bottom:0px;
	font-size:17px;
}

.claimant{
	display:inline-block;
	margin-left:10px;
}

.button.button-tursery{
	background:transparent;
	color:black;
	border:2px solid #dee0e2;
	height:40px;
	line-height:16px;
	box-shadow:none;
}

</style>




<h1 class="heading-large mt0">
            <span class="heading-secondary">
			     
					DWP Tresco House
					
			</span>
			Reviews
             </h1>




 <h2 class="heading-small mt30">Filter by referral:</h2>
                <div class="check-group check-top">
                <fieldset>
				 <div class="check-picker">
                    <h3 class="visually-hidden"><legend></legend></h3>
                <div class="check-choice">
                      <input id="all"
                           name="filter"
                           type="radio"
                           value="all" class="facet" checked> <label for="all">All referrals <span>&#40;100&#41;</span></label>
                    </div>
                    
                    
                    <div class="check-choice">
                      <input id="new"
                           name="filter"
                           type="radio"
                           value="newReferrals" class="facet"> <label for="new">New referrals <span>&#40;50&#41;</span>
						   </label>
                    </div>

                    <div class="check-choice">
                      <input id="reRe"
                           name="filter"
                           type="radio"
                           value="reReferrals" class="facet"> <label for="reRe">Re-referrals <span>&#40;20&#41;</span>
						   </label>
                    </div>
                    
                    <div class="check-choice">
                      <input id="good"
                           name="filter"
                           type="radio"
                           value="GoodCause" class="facet"> <label for="good">Good cause referrals <span>&#40;30&#41;</span>
						   </label>
                    </div>
                    

                

					
                  </fieldset>
                </div>
            
	


		 <div class="subfilter">
                <h2 class="heading-small mt10" >Filter by benefit:</h2>   
                <fieldset>
				
				 <div class="check-picker">
			
                    <h3 class="visually-hidden"><legend>Secondary filter</legend></h3>
						 <div class="check-choice">
                      <input id="all2"
                           name="filter2"
                           type="radio"
                           value="all2" class="facet" checked> <label for="all2">All benefit types <span>&#40;100&#41;</span></label>
                    </div>
                     <div class="check-choice">
                      <input id="pip"
                           name="filter2"
                           type="radio"
                           value="pip" class="facet"> <label for="pip">PIP <span>&#40;75&#41;</span></label>
                    </div>
					  <div class="check-choice">
                      <input id="uc"
                           name="filter2"
                           type="radio"
                           value="uc" class="facet"> <label for="uc">UC <span>&#40;15&#41;</span></label>
                    </div>
					  <div class="check-choice">
                      <input id="esa"
                           name="filter2"
                           type="radio"
                           value="esa" class="facet"> <label for="esa">ESA <span>&#40;10&#41;</span></label>
                    </div>
					</fieldset>
					</div>
				
					
       

            <h2 class="showing-sign">Showing: &nbsp;&nbsp;<span>All referrals &nbsp; <b>&#124;</b> &nbsp; PIP Benefit</span></h2>  
            
                      
   
              <table id="fileredTable" class="filtered">

                <thead>
                  <tr>
                    <th>Case details</th>
                    <th>Referral type</th>
                    <th>Status</th>
                  </tr>
                </thead>
                

                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
                <tr>
                  <td class="col1">
                  <ul class="identifiers">
					  <li><span class="badge">PIP</span></li>
				  </ul>
				  <div class="claimant">
				  	<a href="/{{path }}/scenario2/timeline" style="font-weight:bold"><span class="visually-hidden">Name</span>Bobby Henderson</a>
				  <span class="text-secondary block"><span class="visually-hidden">Nino</span>JW 41 55 66 Z
				  </span>
				  
				  </div>
				  </td>
				  <td>New referral</td>
                  <td>Ready for review</td>
                </tr>
                
             

               

                </tbody>

              </table>
          

{% endblock %}





