{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
			
		
			<form method="post" action="/{{path}}/assessment/{{customer._id}}/assessment-stopped">
			<fieldset>
				<legend><h1 class="heading-large">Abandon assessment</h1></legend>
				
				

				
				
				<div class="form-group mt30">

					    	<fieldset>
							      <legend class="heading-medium">
							       Why do you need to Abandon the assessment?
							      </legend>
							       
							       
							       <div class="multiple-choice">
										      <input id="know-1" name="stoppassess" type="radio" value="unfit">
										      <label for="know-1">{{customer.name.first}} is unfit to be examined</label>
										    </div>
										    
										    <div class="multiple-choice">
										      <input id="know-2" name="stoppassess" type="radio" value="specialreq">
										      <label for="know-2">{{customer.name.first}} has a special need they've not previously disclosed</label>
										    </div>
										    
										    <div class="multiple-choice" data-target="other-info2">
										      <input id="know-3" name="stoppassess" type="radio" value="other">
										      <label for="know-3">Other</label>
										    </div>
										    
										    <div class="panel panel-border-narrow js-hidden form-group" id="other-info2">
										   		<label for="specific" class="form-label">
													Reason:
												</label>
												<textarea class="form-control form-control-1-2" name="specific" id="specific" rows="4"></textarea>
										   </div>
								    
								    
								    
								</fieldset>
								
								<p class="mt30"><button class="button">Confirm - abandon assessment</button></p>
						    
					</div>
					
	
					
					
					
					
					
					

				
				
				
			</fieldset>
							

			
	
				
				</form>
			

		
    



  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
