<div class="version">
  <div class="grid-row">

    {% set n = 6 %}


    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health assessment</h3>
      <p><a href="/fha/v8/" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">8.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0"> 10 April 2019</h3>
    </div>

    <div class="column-full">

      <h4 class="heading-small">Changes:</h4>
      <ul>
        <li>Capacity management</li>
        <li>Rearrange appointment</li>
      </ul>
    </div>

  </div><!-- .row -->
  
  
  <div class="grid-row">
    <div class="column-two-thirds">
      
    </div>
  </div>

</div><!-- version -->
