{% extends path+"/_layout-caselist.html" %}

{% block horizontal_secondary_nav %}
              



{% endblock %}  

{% block caselist_content %}

<h2 class="heading-medium mt0"><span class="heading-xlarge">2</span><br/>Action required</h2>
<table class="zebra">
    <thead>
        <tr>
            <th>Details</th>
            <th>Status</th>
        </tr>
    </thead>
    <tr>
        <td><a href="/{{path}}/scrutiny/action-required"><span class="visually-hidden">Name</span>Bobby Henderson </a><span class="text-secondary block"><span class="visually-hidden">Nino</span>BH 00 00 00 A</span>
        </td>
        <td>Ready for review</td>
    </tr>
    <tr>
        <td><a href="/{{path}}/scrutiny/action-required2"><span class="visually-hidden">Name</span>Rodney Milner </a><span class="text-secondary block"><span class="visually-hidden">Nino</span>RM 00 00 00 B</span>
        </td>
        <td>Appointment booked</td>
    </tr>

</table>
{% endblock %}







