{% extends path+"/_layout-gShow.html" %}

{% block horizontal_secondary_nav %}
              
{{ secondaryNav.nav("assessment", false, menuItems ) }}


{% endblock %}  

{% block caselist_content %}


<style>

	.secondary {
	  background: #fff!important;
	  color: #00823b!important;
	  box-shadow: none!important;
	  border: 2px solid #00823b;
	  padding-bottom: 6px;
	  }

	  .secondary:hover {
		  background: #00823b!important;
		  box-shadow: none!important;
		  color: #fff!important;
	  }
	  .secondary:focus {
		  background: blue!important;
	  }	
	</style>


<div class="grid-row trailer">

	<div class="column-third title-trailer">
		<h2 class="heading-medium mt0"><span class="heading-xlarge">22</span><br/>Today's appointments </h2>
	</div>
	
	<!--<div class="column-two-thirds filterable">
	
		Filter
		
	</div>-->
	
</div>



<!-------- row/time slot start --------->

<div class="greatest-show mt30">


	<h3 class="show-start"><span>9:00am</span></h3>
	
	
	
	
	<!------ ROW START ------>
	<div class="grid-row show-slots">
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Virgil Van Dyk
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
				</div>
			</a>
				<!-- / credits -->

				
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:00am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Joel Matip
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:00am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Jurgen Klopp
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:15am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>
						
						<hr>
						
						<h4 class="mt0">Requirements</h4>
							<ul class="list-bullet">
								<li>German interpreter - <b>booked</b></li>
							</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Andrew Roberston
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:15am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
	</div>
	<!------ ROW END ------->
	
	
	
	
	
	
	<!------ ROW START ------->
	<div class="grid-row show-slots">
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Naby Keita
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Ready for assessment
						<p><a href="#" class="button secondary">Send for assessment</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:30am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

						
						<p class="action">Arrived: <span>7:45am</span></p>
						<p class="action panel-error">Waiting: <span>1hr 15 mins</span></p>
						
						
						
												
					</div>
				
					
				</div>
				<!-- / filmography -->
				
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Fabinho
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:30am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Jordan Henderson
							<span class="nino">JW 41 54 60 C</span>
						</h4>
	
						<div class="identifiers">
							<p class="ucb">UCB</p>
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:45am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Trent Alexander-Arnold
							<span class="nino">JW 41 54 60 C</span>
						</h4>
	
						<div class="identifiers">
							<p class="ucb">UCB</p>
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:45am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>
						
						

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
	</div>
	<!----- ROW END -------->
	
	
	
	<!------ ROW START ------->
	<div class="grid-row show-slots">
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Daniel Sturridge
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Sent for assessment
						
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:45am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>
						
						<p class="action panel-warning">Start time: <span>Pending</span></p>
																		
					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">James Milner
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Assessment in progress
						
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:45am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>
						
						<p class="action panel-warning">Start time: <span>9:45am</span></p>
																		
					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Gini Wijnaldum
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Assessment complete
						
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>9:45am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>
						
						<p class="action panel-warning">Start time: <span>9:45am</span></p>
						<p class="action panel-complete">End time: <span>10:42am</span></p>
																		
					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		
	</div>
	<!----- ROW END -------->
	


</div>


<!---------- / end time slot --------->




<!-------- time slot start --------->

<div class="greatest-show">


	<h3 class="show-start"><span>10:00am</span></h3>
	
	
	<!----- ROW START ----->
	<div class="grid-row show-slots">
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			
			<a href="#">
			
				
				<div class="credits">

						<h4 class="heading-small">Mo Salah
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<p class="priority">PRIORITY</p>
						</div>
					
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>10:00am</li>
							<li>Complex neuro</li>
							<li>UC</li>
						</ul>
						
						<hr>
						
						<h4 class="mt0">Requirements</h4>
							<ul class="list-bullet">
								<li>Taxi - <b>booked</b></li>
								<li>Ground floor</li>
							</ul>
		
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Bobby Firmino
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<p class="ucb">UCB</p>
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>10:15am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Sadio Mane
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Ready for assessment
						<p><a href="#" class="button secondary">Send for assessment</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>10:30am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>
						
						<p class="action">Arrived: <span>10:55am</span></p>
						<p class="action panel-warning">Waiting: <span>25 mins</span></p>
						
												
					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Divock Origi
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Ready for assessment
						<p><a href="#" class="button secondary">Send for assessment</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>10:45am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>
						
						<p class="action">Arrived: <span>10:43am</span></p>
						<p class="action panel-warning">Waiting: <span>2 mins</span></p>
						
												
					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
	</div>
	<!----- ROW END ------->
	
	


</div>


<!---------- / end time slot --------->





<!-------- time slot start --------->

<div class="greatest-show">


	<h3 class="show-start"><span>11:00am</span></h3>
	
	
	<!----- ROW START ----->
	<div class="grid-row show-slots">
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor priority-case">
			
			
			<a href="#">
			
				
				<div class="credits">

						<h4 class="heading-small">Joe Gomez
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<p class="priority">PRIORITY</p>
						</div>
					
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>11:00am</li>
							<li>Complex neuro</li>
							<li>UC</li>
						</ul>
						
		
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Alisson Becker
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<p class="ucb">UCB</p>
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Appointment booked
						<p><a href="#" class="button secondary">Confirm arrival</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>11:15am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>

					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Alex Oxlade-Chamerlain
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Ready for assessment
						<p><a href="#" class="button secondary">Send for assessment</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>11:30am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>
						
						<p class="action">Arrived: <span>11:15am</span></p>
						<p class="action panel-warning">Waiting: <span>15 mins</span></p>
						
												
					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
		<!---------------------------------- Citizen ---------------------------------->
		<div class="column-quarter">
			<div class="actor">
			
			<a href="#">
				<div class="credits">
						<h4 class="heading-small">Dejan lovren
							<span class="nino">JW 41 54 60 C</span>
						</h4>
						<div class="identifiers">
							<!--<p class="ucb">UCB</p>-->
						</div>
		
				</div>
			</a>
				<!-- / credits -->
				<div class="filmography">
					<div class="status-message">
						Ready for assessment
						<p><a href="#" class="button secondary">Send for assessment</a></p>
					</div>
					<div class="details">
						<h4>Details</h4>
						
						<ul class="list-bullet">
							<li>11:45am</li>
							<li>Complex neuro</li>
							<li>ESA</li>
						</ul>

						
						
					</div>
					<div class="status">
						<h4 class="visually-hidden">Status</h4>
						
						<p class="action">Arrived: <span>9:43am</span></p>
						<p class="action panel-warning">Waiting: <span>2hrs 2mins</span></p>
						
												
					</div>
				</div>
				<!-- / filmography -->
			</div>
		</div>
		<!---------------------------------- Citizen ---------------------------------->
		
		
		
	</div>
	<!----- ROW END ------->
	
	


</div>


<!---------- / end time slot --------->




      
{% endblock %}
