{% extends path+"/_layout-caselist.html" %}

{% block horizontal_secondary_nav %}
              
{{ secondaryNav.nav("assessment", false, menuItems ) }}


{% endblock %}  

{% block caselist_content %}

<h2 class="heading-medium mt0"><span class="heading-xlarge">22</span><br/>Today's appointments </h2>


<div class="greatest-show">


	<h3 class="heading-small mt10">The greatest show</h3>
	
	<div class="grid-row show-slots">
		
		<div class="column-quarter">
			<div class="actor">
				Slot here
			</div>
		</div>
		
		<div class="column-quarter">
			<div class="actor">
				Slot here
			</div>
		</div>
		
		<div class="column-quarter">
			<div class="actor">
				Slot here
			</div>
		</div>
		
		<div class="column-quarter">
			<div class="actor">
				Slot here
			</div>
		</div>
		
	</div>
	
	<div class="grid-row show-slots">
		
		<div class="column-quarter">
			<div class="actor">
				Slot here
			</div>
		</div>
		
		<div class="column-quarter">
			<div class="actor">
				Slot here
			</div>
		</div>
		
		<div class="column-quarter">
			<div class="actor">
				Slot here
			</div>
		</div>
		
		<div class="column-quarter">
			<div class="actor">
				Slot here
			</div>
		</div>
		
	</div>


</div>




      
{% endblock %}
