{% extends path+"/_layout-caselist-dm.html" %}

{% block horizontal_secondary_nav %}
              
{{ secondaryNav.nav("decision-maker", "good-cause-not-accepted", menuItemsDm ) }}


{% endblock %}  

{% block caselist_content %}
<h2 class="heading-medium mt0"><span class="heading-xlarge">2</span><br/>Good cause not accepted</h2>
<table class="zebra">

  <thead>
    <tr>
      <th>Details</th>
    </tr>
  </thead>
  

<tr>

<td>
<a href="decisionmaker/5bbf32d5f8883e74e03e6f44/timeline"><span class="visually-hidden">Name</span>Bobby Henderson
  </a>
<span class="text-secondary block"><span class="visually-hidden">Nino</span>QQ 47 36 71 C</span>
</td>
</tr>
<tr>
    <td>
        <a href="#"><span class="visually-hidden">Name</span>Deena Ford
          </a>
        <span class="text-secondary block"><span class="visually-hidden">Nino</span>QQ 57 83 89 C</span>
        </td>
</tr>



</table>   
      
{% endblock %}
