{% extends path+"/_layout-caselist.html" %}

{% block horizontal_secondary_nav %}
              
{{ secondaryNav.nav("appointments", "ready-to-book", menuItems ) }}


{% endblock %}  

{% block caselist_content %}


            <h2 class="heading-medium mt0"><span class="heading-xlarge">{{customers.length}}</span><br/>Ready to book</h2>
              <table class="zebra">

                <thead>
                  <tr>
                    <th>Details</th>
                  </tr>
                </thead>
                {% for customer in customers %}
                <tr>
                    <td><a href="booking/{{customer._id}}/timeline"><span class="visually-hidden">Name</span>{{customer.name.fullName}} </a><span class="text-secondary block"><span class="visually-hidden">Nino</span>{{customer.NINO}}</span>
                    </td>
                </tr>
            
                {% endfor %}

              </table>


{% endblock %}
