{% extends path+"/_layout-caselist.html" %}

{% block horizontal_secondary_nav %}
              
{{ secondaryNav.nav("assessment", false, menuItems ) }}


{% endblock %}  

{% block caselist_content %}
<h2 class="heading-medium mt0"><span class="heading-xlarge">{{customers.length}}</span><br/>Ready for assessment</h2>
<table class="zebra">

  <thead>
    <tr>
      <th>Details</th>
        <th>Appointment details</th>
        <th>Waiting time</th>
      </tr>
  </thead>
  
  {% for customer in customers %}
<tr>

<td>
<a href="assessment/{{customer._id}}/appointment"><span class="visually-hidden">Name</span>{{customer.name.fullName}}</a>
<span class="text-secondary block"><span class="visually-hidden">Nino</span>{{customer.NINO}}</span>
</td>

<td>
    <p  class="mb0"><span class="bold block">{{ customer.appointment.time }}</span> {{ customer.appointment.type }}</p>

    {% if customer.appointment.gender 
      or customer.appointment.accessible
      or customer.appointment.interpreter 
      or customer.appointment.audio
      or customer.appointment.taxi   %}
    <div class="panel panel-info mt10 appointment-details">
      <span class="block">{{ customer.appointment.gender }}</span>
      <span class="block">{{ customer.appointment.accessible }} </span>
      <span class="block">{{ customer.appointment.interpreter }}</span>
      <span class="block">{{ customer.appointment.audio }}</span>
      <span class="block">{{ customer.appointment.taxi }} </span>
    </div>
    {% endif %}

</td>
<td>
<p  class="mb0"><span class="bold block mb5">Arrived {% if customer.appointment.arrival %}<span class="badge">{{ customer.appointment.arrival }}</span>{% else %}<span class="badge warning">{{ customer.appointment.arrivallate }}</span>{% endif %}</span> {{ customer.appointment.waiting }}</p></td>
</tr>

{% endfor %}

</table>   
      
{% endblock %}
