{% extends path+"/_layout-caselist.html" %}

{% block horizontal_secondary_nav %}

{{ secondaryNav.nav("review", "ready-for-review", menuItems ) }}


{% endblock %}

{% block caselist_content %}



<h2 class="heading-medium mt0"><span class="heading-xlarge">{{customers.length}}</span><br/>Ready for review</h2>
<hr />
<form class="" method="post" action="/{{path}}/ready-for-review">
<h3 class="filter-status">Filter list by:</h3>
<div class=" filter time-group time-top">

        <fieldset>

          <legend class="visually-hidden">Filter by:</legend>

          <div class="time-choice">
                <input id="all" name="filter" type="checkbox" value="request-reason" class="facet" {{ checked('filter', 'request-reason') }}>
                <label for="all">New Referrals <span>(16)</span></label>
              </div>
          <div class="time-choice">
              <input id="dna" name="filter" type="checkbox" value="dna-referral" class="facet" {{ checked('filter', 'dna-referral') }}>
              <label for="dna">DNA re-referals <span>(2)</span></label>
            </div>
            <p><button id="facetFilterBtn" class="button button-secondary mt10">Apply filter</button></p>

        </fieldset>
     </div>
</form>
{% if checked('filter', 'dna-referral') and not checked('filter', 'referral') %}
<table class="zebra">
        <thead>
            <tr>
                <th>Details</th>
                <th>10 day target</th>
            </tr>
        </thead>

        {% for customer in customers %}
        <tr>
          <td><a href="scrutiny/{{customer._id}}/timeline"><span class="visually-hidden">Name</span>{{customer.name.fullName}} </a><span class="text-secondary block"><span class="visually-hidden">Nino</span>{{customer.NINO}}</span>
          </td>
          <td>{{customer.target}} Days remaining</td>
        </tr>

        {% endfor %}

    </table>
{% else%}
<table>
    <thead>
        <tr>
            <th>Details</th>
        </tr>
    </thead>
    {% for customer in customers %}
    <tr>
        <td><a href="scrutiny/{{customer._id}}/timeline"><span class="visually-hidden">Name</span>{{customer.name.fullName}} </a><span class="text-secondary block"><span class="visually-hidden">Nino</span>{{customer.NINO}}</span>
        </td>
    </tr>

    {% endfor %}

</table>
{% endif %}
{% endblock %}







