{% extends path+"/_layoutScenarioStart.html" %}

{% block citizen_content %}

<div class="container">

    <div class="grid-row">

          <div class="column-full">
          
          	<p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
          
          
              <h1 class="heading-large"><span class="heading-secondary">Feature team: Scrutiny</span>Scenario home</h1>

          
			  <hr>
			  
			  
			  <div class="grid-row">
			  <div class="column-three-quarters">

			  
			  		<div class="scenario">
						 <h2 class="heading-medium">Further medical evidence</h2>
			             <p>Scenario to cover FME arriving late in the processs</p>
			             <p><a href="/{{path }}/referrals-fme" class="button secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
          
          
					  <div class="scenario">
						 <h2 class="heading-medium">Timeline</h2>
			             <p>Extended timeline to include extra detail filtering and add a note feature</p>
			             <p><a href="/{{path }}/decisionmaker/timeline" class="button secondary-invert">Start scenario</a></p> 
					 </div>
		             
         
			  </div>
			  </div>
         
         
         
          
          
          </div>
    </div>  
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
{% endblock %} #}
