{% extends path+"/_layoutScenarioStart.html" %}

{% block citizen_content %}

<div class="container">

    <div class="grid-row">

          <div class="column-full">
              <h1 class="heading-large">Scenario home</h1>
          </div>

          <div class="column-two-thirds">

             
                <h2 class="heading-medium">Assessment - condition history and medication</h2>
                <p>Decision to be made reason provided</p>
                <p><a href="/{{path }}/decisionmaker/timeline" class="button">Start scenario</a></p> 
              
             
             <h2 class="heading-medium">Failed to attend</h2>
             <p>Decision to be made reason provided</p>
             <p><a href="/{{path }}/decisionmaker/timeline" class="button">Start scenario</a></p> 

                    
              
              
              
              </div>
          </div>
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
{% endblock %} #}
