{% extends path+"/_layout-stripped.html" %}


{% block actioncolumn %}
   
 <!-- <p class="returnRef"><a href="/fha/v8/referrals-fme">Return to case list</a></p> 
  <hr>-->
 <div class="case-status">

<h2 class="heading-small mb5">Other scenarios</h2>

<ul class="scenario-nav">
	<li><a href="/fha/scrutiny-scenarios/index">Scrutiny</a></li>
	<li><a href="/fha/appointment-scenarios/index">Appointment</a></li>
	<li><a href="#">Assessment</a></li>
</ul>

</div>

{% endblock %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

       <div class="column-full">
    
    
    	<p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
	
				
			<h1 class="heading-large"><span class="heading-secondary">Scenarios</span>Capacity</h1>

          
			  <hr>
			  
			  
			  <div class="grid-row">
			  <div class="column-three-quarters">
			  
					  <div class="scenario">
						 <h2 class="heading-medium">Create capacity</h2>
						 
						 <ul class="list-bullet">
						 	<li>Active area: <b>North west</b></li>
							<li>Active Assessment center: <b>Mann island</b></li>
						 </ul>
			             <p><a href="/{{path }}/scenario3/dashboard" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  		<div class="scenario">
						 <h2 class="heading-medium">View and edit capacity</h2>
			             <ul class="list-bullet">
						 	<li>Active area: <b>North west</b></li>
							<li>Active Assessment center: <b>Birkenhead</b></li>
							<li>Active Assessment center: view only <b>Mann Island</b></li>
			             </ul>
			             <p><a href="/{{path }}/scenario3/view-plan" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
		             
         
			  </div>
			  </div>
				
	</div>


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
