{% extends path2+"/_layout-review.html" %}

{% block case_content %}



  <h1 class="heading-large mt10 no-kdBar">Assessment review</h1>
  
  
  <dl class="assessment-overview">
  	<dt>Date</dt>
  	<dd>{{ "Do MMM YYYY" | daysAgo }}</dd>
  	
  	<dt>Time</dt>
  	<dd>{{ last_one.time | formatDate("H:mma") }} - {{ first_one.time | formatDate("H:mma") }}</dd>
  	
  	<dt>Assessor</dt>
  	<dd>Heather Harrison</dd>
  	
  	<dt>Assessment centre</dt>
  	<dd>Fiveways Birmingham</dd>
  </dl>

    
   
   <div class="review-wrapper">
    
    
    
<div class="review-item">
	<h2 class="heading-medium">Condition history <!-- <span class="edited">Edited</span> --></h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p><a href="#" class="button secondary">Edit condition history</a></p>
</div>

<div class="review-item">
	<h2 class="heading-medium">Social and work history</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p><a href="#" class="button secondary">Edit social and work history</a></p>
</div>

<div class="review-item">
	<h2 class="heading-medium">Typical day</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p><a href="#" class="button secondary">Edit typical day</a></p>
</div>  

<div class="review-item">
	<h2 class="heading-medium">Medication and side effects</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p><a href="#" class="button secondary">Edit medication and side effects</a></p>
</div>

<div class="review-item">
	<h2 class="heading-medium">Physical assessments</h2>
	
	<p>Tomas has given his consent for a physical assessment.</p>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Lower back and legs - examined</h3>
		
		<h4 class="heading-small">Lower back</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<h4 class="heading-small">Left leg</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<h4 class="heading-small">Right leg</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	
		
		<p><a href="#" class="button secondary">Edit lower back and legs</a></p>
	</div>

	
</div>  
 
 <div class="review-item">
	<h2 class="heading-medium">Mental health</h2>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Appearance <!-- <span class="edited">Edited</span> --></h3>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<p><a href="#" class="button secondary">Edit appearance</a></p>
	</div>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Speech</h3>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<p><a href="#" class="button secondary">Edit speech</a></p>
	</div>
	
</div>  
  
  
   </div>
 
  
  
  
  
  
  
  
 <!-- <p class="mt30"><a href="#" class="button">Next</a></p> -->

{% endblock %}




{% block page_scripts %}
{{ super() }}

{% endblock %}
