{% extends path1+"/_layout-info.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}


<h1 class="heading-large no-kdBar">Work capability assessment</h1>


<p class="mt30 mb20">Assessment started: {{ last_one.time | formatDate("H:mma D MMMM YYYY") }}</p>


<div class="grid-row">
  <div class="column-two-thirds">

	<div class="exam-content">
	
		<table>
			
			<caption>Physical exam process</caption>
			
			
			<tr>
				<th><a href="illnessEffects">Illnesses and their effects</a></th>
        <td><span class="visually-hidden">Not started</span>
          {% if data['illnessEffects'] %}     
          <span class="blue">Saved</span>
        {% endif %}
       
        
        </td>
			</tr>
			<tr>
				<th><a href="socialWorkHistory">Social and work history</a></th>
        <td><span class="visually-hidden">Not started</span>
          {% if data['socialWorkHistory'] %}     
          <span class="blue">Saved</span>
        {% endif %}
        </td>
			</tr>
			<tr>
				<th><a href="typicalDay">Typical day</a></th>
        <td><span class="visually-hidden">Not started</span>
          {% if data['typicalDay'] %}     
          <span class="blue">Saved</span>
        {% endif %}
        </td>
			</tr>

		</table>
		
	</div>
	







    <p class="mt30"><a href="phys_consent" class="button">Continue</a></p>

  </div><!-- column -->
</div><!-- row -->
{% endblock %}

{% macro physGroup(name,sel) %}
  {% set s = name | slug %}
  <!-- GROUP -->
  <div class="multiple-choice" data-target="group_{{s}}_yes">
    <input id="group_{{s}}" type="checkbox" name="group_{{s}}" sue="group_{{s}}" {% if sel %} checked="checked"{% endif %}>
    <label for="group_{{s}}">{{name}}</label>
  </div>
{% endmacro %}

{% macro physObs(name,sel) %}
  {% set s = name | slug %}
  <div class="multiple-choice" data-target="phys_{{s}}_yes">
    <input id="phys_{{s}}" type="checkbox" name="mobility" value="phys_{{s}}" {% if sel %} checked="checked"{% endif %}>
    <label for="phys_{{s}}">{{name}}</label>
  </div>
  <div class="form-group panel panel-indent js-hidden mt0 mb20" id="phys_{{s}}_yes">
    <p>
      <label class="form-label" for="phys_{{s}}_obs">Observation, Palpation, Movement</label>
      <textarea class="form-control form-control-3-4" name="phys_{{s}}_obs" id="phys_{{s}}_obs" rows="4"></textarea>
    </p>
  </div>
{% endmacro %}

