{% extends path+"/_layoutScenarioStart.html" %}

{% block citizen_content %}

<div class="container">

    <div class="grid-row">

          <div class="column-full">
              <h1 class="heading-large">Scenario home</h1>

          
          
          
          
          <div class="feature-teams">
    	
   
			    	<div class="feature-card">
								<a href="/{{path}}/scenario-feature1">
										Feature team
										
										<span>Appointment</span>
									</a>
			    	</div>
			    	
			    	<div class="feature-card">
								<a href="/{{path}}/scenario-feature2">
										Feature team
										
										<span>Assessment</span>
									</a>
			    	</div>
			    	
			    	<div class="feature-card">
								<a href="/{{path}}/scenario-feature3">
										Feature team
										
										<span>Scrutiny</span>
									</a>
			    	</div>
			    	
			    	<div class="feature-card">
								<a href="/{{path}}/scenario-feature4">
										Feature team
										
										<span>Assessment</span>
									</a>
			    	</div>
	    	
          </div>
          
          
          </div>
    </div>  
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
{% endblock %} #}
