{% extends path1+"/_layout.html" %} {% block main_content %}
<h1 class="heading-large mt0">North West (4 centres)</h1>
<h2 class="lede">Monday 5 November 2018</h2>
<div class="grid-3-col">
    <div class="assess-centre">
        <h3 class="heading-medium mt0 mb0">Birkenhead</h3>
        <h4>4 assessment rooms</h4>
        <div class="grid-2-col">
            <div>
                <h4 class="heading-small">Morning</h4>
                <div class="data">
                    <span class="data-item bold-xlarge">3</span>
                    <span class="data-item xsmall">Total HCPs</span>
                </div>
                <div class="data-inline">
                    <span class="data-item bold-xlarge">2</span>
                    <span class="data-item xsmall">Complex neuro</span>
                </div>
                <div class="data-inline">
                    <span class="data-item bold-xlarge">1</span>
                    <span class="data-item xsmall">Reviews</span>
                </div>
            </div>
            <div>
                <h4 class="heading-small">Afternoon</h4>
                <div class="data">
                    <span class="data-item bold-xlarge">3</span>
                    <span class="data-item xsmall">Total HCPs</span>
                </div>
                <div class="data">
                    <span class="data-item bold-xlarge">1</span>
                    <span class="data-item xsmall">Complex neuro</span>
                </div>
                <div class="data">
                    <span class="data-item bold-xlarge">1</span>
                    <span class="data-item xsmall">Reviews</span>
                </div>
            </div>
        </div>
        <p><a href="#">Reassign practitioners</a></p>
    </div>

	    <div class="assess-centre">
	        <h3 class="heading-medium mt0 mb0">Bootle</h3>
	        <h4>12 assessment rooms</h4>
	        <div class="grid-2-col">
	            <div>
	                <h4 class="heading-small">Morning</h4>
	                <div class="data">
	                    <span class="data-item bold-xlarge">10</span>
	                    <span class="data-item xsmall">Total HCPs</span>
	                </div>
	                <div class="data">
	                    <span class="data-item bold-xlarge">4</span>
	                    <span class="data-item xsmall">Complex neuro</span>
	                </div>
	                <div class="data">
	                    <span class="data-item bold-xlarge">5</span>
	                    <span class="data-item xsmall">Reviews</span>
	                </div>
	            </div>
	            <div>
	                <h4 class="heading-small">Afternoon</h4>
	                <div class="data">
	                    <span class="data-item bold-xlarge">9</span>
	                    <span class="data-item xsmall">Total HCPs</span>
	                </div>
	                <div class="data">
	                    <span class="data-item bold-xlarge">0</span>
	                    <span class="data-item xsmall">Complex neuro</span>
	                </div>
	                <div class="data">
	                    <span class="data-item bold-xlarge">5</span>
	                    <span class="data-item xsmall">Reviews</span>
	                </div>
	            </div>
	        </div>
	        <p><a href="#">Reassign practitioners</a></p>
	    </div>

</div>
{% endblock %}