{% extends path+"/_layout-caselist.html" %}

{% block horizontal_secondary_nav %}
              
{{ secondaryNav.nav("appointments", "booked-appointments", menuItems ) }}


{% endblock %}  

{% block caselist_content %}

<style>
ul.filter {
  display:inline-block;
  margin:30px 0 ;
}

.filter li{
display:inline;
padding:0 10px;
margin:10px;
border-right:1px solid gray;
}

.filter li.active{
display:inline;
padding:0 10px;
border-bottom:5px solid gray;
}
</style>

            <h2 class="heading-medium mt0"><span class="heading-xlarge">{{customers.length}}</span><br/>Booked appointments</h2>
            <ul class="filter">
              <li  class="active">All</li>
              <li><a href="">Communication to be sent</a></li>
              <li><a href="">Sms to be sent</a></li>
            </ul>
              <table class="zebra">

                <thead>
                  <tr>
                    <th>Details</th>
                    <th>Appointment details</th>
                  </tr>
                </thead>
                {% for customer in customers | sort(false, false, 'appointmentDate') %}

                <tr>
                  <td ><a href="booking/{{customer._id}}/details"><span class="visually-hidden">Name</span>{{customer.name.fullName}}</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>{{customer.NINO}}</span></td>
                  <td>
                  {{customer.appointmentDate | formatDate("D MMMM YYYY")}} <br>
                  {{customer.appointmentDate | formatDate("h:mma")}}
                  </td>
                </tr>
                {% endfor %}

                </tbody>

              </table>
          

{% endblock %}





