{% extends path+"/_layout.html" %}



{% block assess_content %}
<style>


table.profile-table td, table.profile-table th {
 
  border:5px solid white;
  text-align:center;
  width:20%;
  padding:0px;
}

table.profile-table th.col {
  background:#d8dde0;
  font-size: 24px;
  color:#425563;
}

table.profile-table input{

  width:100%;
  border-color:#d8dde0;
  text-align:center;
  font-size:40px;
  font-weight:bold;
}

table.profile-table input::placeholder{

font-size:20px;
font-weight:normal;
}





</style>
<main id="content" role="main" class="main-content">

      <div class="container">
          <div class="grid-row">
              <div class="column-full">
  <a href="javascript: history.go(-1)" class="link-back">Back</a>   
   <h1 class="heading-large"><span class="heading-secondary">Step 2 of 2</span>Create a profile</h1>
   
              </div>
          </div>
      
  
              <table class="profile-table">

                <thead>
                  <tr>
                    <th></th>
                    <!-- <th>Assessment Centre</th> -->
                    <th>Total appointments</th>
                    <th>Complex neuro</th>
                    <th>Neuro</th>
                    <th>Non neuro</th>
                  </tr>
                </thead>


                <tr>
                  <th class="col">9:00 am</th>
                  <td> <label class="visually-hidden" for="" ></label>
                    <input class="form-control" id=""  type="text" name=""  type="text" ></td> 
                  <td><label class="visually-hidden" for=""></label>
                    <input class="form-control" id="" type="text" name=""  value=""></td>
                  <td><label class="visually-hidden" for=""></label>
                    <input class="form-control" id="" type="text" name=""  value=""></td>
                  <td><label class="visually-hidden" for=""></label>
                    <input class="form-control" id="" type="text" name=""  value=""></td>
                </tr>



                    <tr>
                        <th class="col">10:00 am</th>
                        <td> <label class="visually-hidden" for="" ></label>
                          <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                        <td><label class="visually-hidden" for=""></label>
                          <input class="form-control" id="" type="text" name=""  value=""></td>
                      </tr>


                     

                        <tr>
                            <th class="col">11:00 am</th>
                            <td> <label class="visually-hidden" for="" ></label>
                              <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                            <td><label class="visually-hidden" for=""></label>
                              <input class="form-control" id="" type="text" name=""  value=""></td>
                          </tr>

               



                <tr>
                    <th class="col">1:00 pm</th>
                    <td> <label class="visually-hidden" for="" ></label>
                      <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                    <td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>
                    <td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>
                    <td><label class="visually-hidden" for=""></label>
                      <input class="form-control" id="" type="text" name=""  value=""></td>
                  </tr>

            


                      <tr>
                          <th class="col">2:00 pm</th>
                          <td> <label class="visually-hidden" for="" ></label>
                            <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                          <td><label class="visually-hidden" for=""></label>
                            <input class="form-control" id="" type="text" name=""  value=""></td>
                        </tr>
  
  
                     
  
                          <tr>
                              <th class="col">3:00 pm</th>
                              <td> <label class="visually-hidden" for="" ></label>
                                <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                              <td><label class="visually-hidden" for=""></label>
                                <input class="form-control" id="" type="text" name=""  value=""></td>
                            </tr>
  
                            <tr>
                                <th class="col">4:00pm</th>
                                <td> <label class="visually-hidden" for="" ></label>
                                  <input class="form-control" id=""  type="text" name=""  type="text" value="" ></td> 
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                                <td><label class="visually-hidden" for=""></label>
                                  <input class="form-control" id="" type="text" name=""  value=""></td>
                              </tr>
  


               
              </table>

              <p><a href="#" class="button mt25">Finish profile</a></p>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
