{% extends path+"/_layout.html" %}



{% block assess_content %}
<main id="content" role="main" class="main-content">

      <div class="container">
          <div class="grid-row">
              <div class="column-full">
  <a href="javascript: history.go(-1)" class="link-back">Back</a>   
   <h1 class="heading-large">Create a capacity plan <span class="heading-secondary">Week commencing Monday 8th April</span></h1>
 
   <div class="grid-row">
    <div class="card-container">

        <div class="card  {% if data['times'] %}reviewed  {% endif %} ">
          <a href="/{{path}}/create-profile">
        

              <h2 class="heading-xlarge">
                {% if data['times'] %}
                48
                {% else %}
               0
               {% endif %}
                <span class="heading-small">Monday</span>
               </h2>

               {% if data['times'] %}

               <ul class="content">
                  <li><h3 class="heading-small">Hcp skillsets available</h3></li>
                 <li>2 complex neuro</li>
                 <li>4 neuro</li>
               </ul>
              {% endif %}
        
          </a>
        </div>
        <div class="card">
            <a href="/{{path}}/create-profile">
          
  
                <h2 class="heading-xlarge">
                 0
                  <span class="heading-small">Tuesday</span>
                 </h2>
          
            </a>
          </div>
          <div class="card">
              <a href="/{{path}}/create-profile">
            
    
                  <h2 class="heading-xlarge">
                   0
                    <span class="heading-small">Wednesday</span>
                   </h2>
            
              </a>
            </div>

            <div class="card">
                <a href="/{{path}}/create-profile">
              
      
                    <h2 class="heading-xlarge">
                     0
                      <span class="heading-small">Thursday</span>
                     </h2>
              
                </a>
              </div>
              <div class="card">
                  <a href="/{{path}}/create-profile.html">
                
        
                      <h2 class="heading-xlarge">
                       0
                        <span class="heading-small">Friday</span>
                       </h2>
                
                  </a>
                </div>
                <div class="card">
                    <a href="/{{path}}/create-profile">
                  
          
                        <h2 class="heading-xlarge">
                         0
                          <span class="heading-small">Saturday</span>
                         </h2>
                  
                    </a>
                  </div>
                  </div>
        </div>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
