{% extends path+"/_layout-caselist-dm.html" %}

{% block horizontal_secondary_nav %}
              
{{ secondaryNav.nav("decision-maker", "failed-to-attend", menuItemsDm ) }}


{% endblock %}  

{% block caselist_content %}
<h2 class="heading-medium mt0"><span class="heading-xlarge">{{customers.length}}</span><br/>Request a failed to attend reason</h2>

<div class="filter">
    <ul>
        <li><a href="/{{path}}/failed-to-attend.html">All</a></li>
        <li class="active"><a href="/{{path}}/fta-request-reason.html">Request a reason</a></li>
        <li><a href="/{{path}}/fta-record-reason.html">Record a reason</a></li>
        <li><a href="/{{path}}/fta-ready-for-decision.html">Ready for decision</a></li>
      </ul>
    </div>
<table class="zebra">

  <thead>
    <tr>
      <th>Details</th>
    </tr>
  </thead>
  
  {% for customer in customers %}
<tr>

<td>
<a href="decisionmaker/{{customer._id}}/decision/request-fta-reason"><span class="visually-hidden">Name</span>{{customer.name.fullName}}</a>
<span class="text-secondary block"><span class="visually-hidden">Nino</span>{{customer.NINO}}</span>
</td>
</tr>
</tr>

{% endfor %}

</table>   
      
{% endblock %}
