{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

 <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
 <div class="grid-row">
  <div class="column-two-thirds">
<h1 class="heading-large">Customer failed to attend appointment</h1>

<div class="latest_version">
    <h2 class="heading-medium">Did not attend: Standard appointment</h2>
    <p>Appointment details</p>
    <ul class="list-bullet">
        <li>{{ 'Do MMMM YYYY' | baseDate(1) }}</li> 
        <li>11:00am</li>  
        <li>Tresco House</li> 
         </ul>
       {% if customer.name.first == 'Arnaq'%}
         <h3 class="heading-small">Customer contacted us</h3>
         <p class="small">Arnaq was having a bad day with his arthritis and was struggling to get out of the house, he asked for a rearrangement but we could not provide it because he had previously rearranged
             his appointment.
           
    </p>  
    <p class="date mb0">Recorded date: {{ 'Do MMMM YYYY' | baseDate(1) }}</p>
    {% endif %} 

    {% if  customer.name.first =='Sarah' and data['dmreason'] %}
    <h3 class="heading-small">Customer contacted us</h3>
    <p class="small">Reason: {{dmreason}}
     <span class="date mt10">Recorded date: {{ 'Do MMMM YYYY' | baseDate(0) }}</span>
    </p>
   
    {% endif %} 
    </div>


<form class="form" action="/{{path}}/booking/{{customer._id}}/timeline" method="post">
  <div class="form-group  mt20">
      <label class="heading-medium" for="">Add more detail if we have it</label>
    <textarea name="dmreason" class="form-control form-control-3-4" rows="6"></textarea>
  </div><!-- form-group -->
  <div class="form-group">
    <button class="button">Save and continue</button>
  </div><!-- form-group -->

  <div class="visually-hidden">
      <div class="multiple-choice">
          <input id="radio-inline-1" type="radio" name="confirmfta" value="{{customer.name.first}}" checked>
          <label for="radio-inline-1">Yes</label>
        </div>
  </div>
</form>
</div>
</div>

{% endblock %}
