{% extends path2+"/_layout-review.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<p class="no-kdBar"><a href="medical_assessment_dashboard" class="link-back">Back</a></p>

<h1 class="heading-large mt0"><span class="heading-secondary">Illnesses and conditions - step 2 of 4</span>Emergency fasciotomy</h1>





<div class="grid-row">
  <div class="column-two-thirds">
  
  
   <div class="whatweknow">

        
    <table>
    
    	<caption class="heading-medium mt10 mb10">What we already know:</caption>
    	
    	<thead>
			<tr>
				<th>Name</th>
				<th>Since</th>
				<th>Source</th>
			</tr>
		</thead>
		<tbody>

		<tr>
				<td>Emergency fasciotomy</td>
				<td>August 2017</td>
				<td>Claimant</td>
			</tr>
		</tbody>
    	
    </table>
        
        
	    
	</div> 
	
	<form>
		<fieldset>
			<legend class="visually-hidden">Condition details</legend>
			
			<div class="form-group">
				<label class="heading-small" for="field-8">Condition history</label>
				<p class="form-hint mb5 mt5">This should be specific to Emergency fasciotomy.</p>
				<textarea class="form-control form-control-3-4" id="field-8" 
				name="conditionHistory2"
				style="height:250px;">{{conditionHistory2}}</textarea>
			</div>
			
			
			<div class="form-group medication-stored">
				<fieldset>
					<legend class="heading-small">Medication taken:</legend>
					
			
					
					<div class="multiple-choice">
				      <input id="meds1" name="illnessMedication2[]" type="checkbox" value="Sertraline"
				      {{checked('illnessMedication2','Sertraline')}}>
				      <label for="meds1">
				      	Sertraline
					  	<div class="meds-block">
					      	<span>Dose: 100mg a day</span>
					  	</div>
				      </label>
				    </div>
				    
				    <div class="multiple-choice">
				      <input id="meds2" name="illnessMedication2[]" type="checkbox" value="Zomorph"
				      {{checked('illnessMedication2','Zomorph')}}>
				      <label for="meds2">
				      	Zomorph
					  	<div class="meds-block">
					      	<span>Dose: 60mg twice a day</span>
					  	</div>
				      </label>
				    </div>		    			
	  
				    <div class="multiple-choice" data-target="other-meds">
				      <input id="otherMeds" name="illnessMedication2[]" type="checkbox" value="Other"
				      {{checked('illnessMedication2','Other')}}>
				      <label for="otherMeds">Other</label>
				    </div>
				</fieldset>
			</div>
			
		</fieldset>
	</form>
	
	<p><button class="button">Continue</button></p>
  



  </div><!-- column -->
</div><!-- row -->
{% endblock %}


