{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}

<hr class="no-kdBar" />


<h1 class="heading-large">Make your recommendation</h1>

<div class="grid-row">
  <div class="column-two-thirds">
		{% if data['moving']==='moving' or data['standing']==='standing' or data['reaching']==='reaching' or data['picking']==='picking' or data['using']==='using'
		or data['speaking']==='speaking' or data['hearing']==='hearing' or data['seeing']==='seeing' or data['controlling']==='controlling' or data['staying']==='staying' %}

				 <table class="task-list">
				 	<thead>
				 	<tr>
				 		<th>Physical activities to review:</th>
				 		<th><span class="visually-hidden">Recommendation</span></th>
				 		
				 	</tr>
				 	</thead>
				 	<tbody>
				 	{% if data['moving']==='moving' %}
				 	<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-moving">Moving around and climbing steps without someone’s help</a></td>
						<td>{% if data['movingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
				 	</tr>
					{% endif %}

					{% if data['standing']==='standing' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-standing">Standing, sitting and moving between the two</a></td>
						<td>{% if data['standingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}
					
					{% if data['reaching']==='reaching' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-reaching">Reaching</a></td>
						<td>{% if data['reachingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}
									
					
					{% if data['picking']==='picking' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-picking">Picking things up and moving them</a></td>
						<td>{% if data['pickingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}					
					
					
					{% if data['using']==='using' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-using">Using your hands</a></td>
						<td>{% if data['usingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}
										
					
					{% if data['speaking']==='speaking' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-speaking">Speaking, writing and typing</a></td>
						<td>{% if data['speakingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}
					
					
					{% if data['hearing']==='hearing' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-hearing">Hearing and reading</a></td>
						<td>{% if data['hearingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}
										
					
					{% if data['seeing']==='seeing' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-seeing">Seeing well enough to get around safely</a></td>
						<td>{% if data['seeingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}
					
					
					{% if data['controlling']==='controlling' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-controlling">Controlling your bowels and bladder</a></td>
						<td>{% if data['controllingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}
					
					{% if data['staying']==='staying' %}
					<tr>
						<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-staying">Staying conscious without fainting, seizures, or blackouts</a></td>
						<td>{% if data['stayingDescriptors']%}<span class="task-completed">Saved</span>{% endif %}</td>
						
					</tr>
					{% endif %}
					
					
					
				 	</tbody>
				 </table>
				
				 {% endif %}
				 
				 
				

			{% if data['learning']==='learning' or data['being']==='being' or data['planning']==='planning' or data['coping']==='coping' or  data['going']==='going' or data['meeting']==='meeting' 
			or data['behaving']==='behaving' %}
			
			
			<table class="task-list">
				 	<thead>
				 	<tr>
				 		<th>Mental health activities to review</th>
				 		<th><span class="visually-hidden">Recommendation</span></th>
				 		
				 	</tr>
				 	</thead>
				 	<tbody>

					{% if data['learning']==='learning' %}
						<tr>
							<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-learning">Learning to do new tasks{% if data['learningDescriptors']%}</a></td>
							<td><span class="task-completed">Saved</span>{% endif %}</td>
						</tr>
					{% endif %}
					{% if data['being']==='being' %}
						<tr>
							<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-being">Being aware of hazards and danger{% if data['beingDescriptors']%}</a></td>
							<td><span class="task-completed">Saved</span>{% endif %}</td>
						</tr>
					{% endif %}
					{% if data['planning']==='planning' %}
						<tr>
							<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-planning">Planning, starting and finishing everyday tasks {% if data['planningDescriptors']%}</a></td>
							<td><span class="task-completed">Saved</span>{% endif %}</td>
						</tr>
					{% endif %}
					{% if data['coping']==='coping' %}
						<tr>
							<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-coping">Coping with changes to your daily routine{% if data['copingDescriptors']%}</a></td>
							<td><span class="task-completed">Saved</span>{% endif %}</td>
						</tr>
				{% endif %}
				{% if data['going']==='going' %}
						<tr>
							<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-going">Going out on your own{% if data['goingDescriptors']%}</a></td>
							<td><span class="task-completed">Saved</span>{% endif %}</td>
						</tr>
			{% endif %}
			{% if data['meeting']==='meeting' %}
						<tr>
							<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-meeting">Meeting and being with people {% if data['meetingDescriptors']%}</a></td>
							<td><span class="task-completed">Saved</span>{% endif %}</td>
						</tr>
		{% endif %}
		{% if data['behaving']==='behaving' %}
						<tr>
							<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-behaving">Behaving appropriately around other people {% if data['behavingDescriptors']%}</a></td>
							<td><span class="task-completed">Saved</span>{% endif %}</td>
						</tr>
		{% endif %}
					
				 	</tbody>
			</table>
			{% endif %}
		
		
		
		
				{% if data['eating']==='eating' %}
				
				
				<table class="task-list">
				 	<thead>
				 	<tr>
				 		<th>Eating or drinking activites to review</th>
						 <th><span class="visually-hidden">Recommendation</span></th>
				 		
				 	</tr>
				 	</thead>
				 	<tbody>
						<tr>
							<td><a href="/{{path}}/assessment/{{customer._id}}/descriptor-eating">Eating or drinking {% if data['eatingDescriptors']%}</a></td>
							<td><span class="task-completed">Saved</span>{% endif %}</td>
						</tr>
					
				 	</tbody>
				</table>
				{% endif %}


		<p><a href="index" class="button secondary">Add another relevant activity</a></p>
		
		<hr>



		<p class="mt30"><a href="other" class="button">Save and continue</a></p>
		


  </div>
</div>





  <!--  <p class="mt30"><a href="/{{path2}}/record_phys_exam" class="button">Finish assessment</a></p> -->



{% endblock %}

