{% extends path+"/_layout-case.html" %}

{% block citizen_content %}

<div class="container">

  {# macro #}
    {{ nav.case_tabs("appointment",1,path1 + "/" + section, customer._id) }}{# macro #}
  
  <div class="grid-row">


      {% include path+"/includes/appointment/_index.html" %}



    

  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
