{% extends path+"/_layout1-alt.html" %}

{% block mainNav %}
<nav class="navigation-secondary">
      <ul>

        <li>
          <a href="dashboard">Case list</a>
        </li>

        <li>
          <a href="/{{path }}/scenario/not-testing.html" class="">Manage centres</a>
        </li>

        <li>
          <a href="/{{path }}/scenario/not-testing.html" class="">Capacity management</a>
        </li>

        <li>
          <a href="/{{path }}/scenario/not-testing.html" class="">Customer search</a>
        </li>


      </ul>
    </nav>

{% endblock %}

{% block assess_content %}
<main id="content" role="main" class="main-content">
    <div class="container">

        <div class="grid-row">

            <div class="column-one-quarter">

                {% block horizontal_secondary_nav %}




                {% endblock %}
            </div>
            <div class="column-three-quarters">
                {% block caselist_content %}

                {% endblock %}
            </div>
            <!-- column -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</main>
{% endblock %}
