{% extends path+"/_layout-stripped.html" %}
 

{% block assess_content %}
<main id="content" role="main" class="main-content">
  

  <div class="container">
      <div class="grid-row">
          <div class="column-one-quarter">
         
            <div class="search-customer">
              <form action="/{{path}}/search-results" method="post">
                    <label class="form-label-bold visually-hidden" for="search">Customer search</label>
                <span class="form-hint">Search by NI number</span>
                    <input class="form-control form-control-2-3" id="search" type="text" name="search">
                    <button class="gem-c-search__submit">Search</button>
                </form>
                </div>
  
          </div>
          <div class="column-three-quarters">
             
                <div class="grid-row">
                  <div class="column-full">
                
                      <h1 class="heading-xlarge mb20">         
                      80 cases
                        </h1>
                      </div>
                      </div>
                      <div class="grid-row">   
                  <div class="card-container">

               
             
                    <div class="card">
                      <a href="/{{path }}/scenario3/not-testing">
                    
                        <h2 class="heading-xlarge">
                            60
                          <span class="heading-small">Assessment reports</span>
                         </h2>
                    
                      </a>
                      <ul>
                          <li><a href="/{{path }}/scenario3/not-testing">Face to face (42)</a></li>
                          <li>
                            <a href="/{{path }}/scenario3/not-testing">Paper based (18)</a></li>
                      
                      </ul>
                      </div>

                
                             
                           <div class="card">
                                <a href="/{{path }}/scenario3/not-testing">
                              
                                  <h2 class="heading-xlarge">
                                      19
                                    <span class="heading-small">DWP decision's to make</span>
                                   </h2>
                              
                                </a>
                                <ul>
                                    <li><a href="/{{path }}/scenario3/not-testing">Did not attend (8)</a></li>
                                    <li>
                                      <a href="/{{path }}/scenario3/not-testing">Questionnaire not returned (10)</a></li>
                                      <li> <a href="/{{path }}/scenario3/referrals-withdrawn">Case withdrawn (4)</a></li>
                                </ul>
                                </div>
                    </div>
                </div>
          </div><!-- column -->
        </div>
 
    <!-- row -->
  </div><!-- container -->

</main>
{% endblock %}





