{% extends path+"/_layout-stripped.html" %}


{% block actioncolumn %}
   
 <!-- <p class="returnRef"><a href="/fha/v8/referrals-fme">Return to case list</a></p> 
  <hr>-->
 <div class="case-status">

<h2 class="heading-small mb5">Other scenarios</h2>

<ul class="scenario-nav">
	<li><a href="/fha/appointment-scenarios/index">Appointment</a></li>
	<li><a href="#">Capacity management</a></li>
</ul>

</div>

{% endblock %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

       <div class="column-full">
    
    
    	<p><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
	
				
			<h1 class="heading-large"><span class="heading-secondary">Scenarios</span>Scrutiny</h1>

          
			  <hr>
	 
			  
			  
			  <div class="grid-row">
			  <div class="column-three-quarters">
			  
			  
			  	<div class="scenario">
						 <h2 class="heading-medium">Recommendation improvements</h2>
						 
						 <ul class="list-bullet">
						 	<li>Ability to request multiple types of evidence</li>
						 	<li>option to select a home visit</li>
						 </ul>
			             <p><a href="/{{path }}/scenario11/timeline-review" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>	
			  		
			  
			  	
			  	  <div class="scenario">
						 <h2 class="heading-medium">Case withdrawal</h2>
						 
						 <ul class="list-bullet">
						 	<li>Capturing a reason for withdrawal</li>
						 	<li>Confirming a withdrawal</li>
						 </ul>
			             <p><a href="/{{path }}/scenario10/timeline-review" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  	
			  
			  		<div class="scenario">
						 <h2 class="heading-medium">Case list filters</h2>
						 
						 <ul class="list-bullet">
						 	<li>Filters for various 'scrutiny' states</li>
						 </ul>
			             <p><a href="/{{path }}/scenario9/review-list" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  
			  		
			  		
			  		<div class="scenario">
						 <h2 class="heading-medium">UI Improvements</h2>
						 
						 <ul class="list-bullet">
						    <li>Active profile: <b>Cranjus McManaman</b></li>
						 	<li>New date pattern for recording evidence</li>
						 	<li>Medical conditions portal</li>
						 	<li>Contact details portal</li>
						 	<li>Claimant added as an option in 'record telephone conversation'</li>
						 	<li>Renamed PBA to focus on outcome of review</li>
						 	<li>Previous decision renamed 'previous outcomes'</li>
						 </ul>
			             <p><a href="/{{path }}/scenario8/timeline-review" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  		
			  		
			  		<div class="scenario">
						 <h2 class="heading-medium">Case flags</h2>
						 
						 <ul class="list-bullet">
						    <li>Active profile: <b>Billy Keita</b></li>
						 	<li>Flag showing unacceptable claimant behaviour</li>
						 	<li>Ability to add in any control measures</li>
						 </ul>
			             <p><a href="/{{path }}/scenario7/timeline-review" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  		
			  		
			  		<div class="scenario">
						 <h2 class="heading-medium">PBA &ndash; scrutiny through to assessment</h2>
						 
						 <ul class="list-bullet">
						    <li>Active profile: <b>Jurgen Covault</b></li>
						 	<li>PBR via 'make recommendation'</li>
						 	<li>PBR after second scrutiny</li>
						 </ul>
			             <p><a href="/{{path }}/scenario6/timeline-review" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  		
			  		
			  	
			  		<div class="scenario">
						 <h2 class="heading-medium">UC50 status</h2>
						 
						 <ul class="list-bullet">
						    <li>Active profile: <b>Divock Kennedy</b></li>
						 	<li>How to action the status of a UC50</li>
						 	<li>Driven from an 'overdue' status</li>
						 </ul>
			             <p><a href="/{{path }}/scenario5/timeline-review" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  
			  
			  		<div class="scenario">
						 <h2 class="heading-medium">Portals</h2>
						 
						 <ul class="list-bullet">
						    <li>Active profile: <b>Kenneth Robertson</b></li>
						 	<li>Details portal pattern</li>
						 	<li>Appointment portal pattern</li>
						 	<li>Evidence portal pattern</li>
						 </ul>
			             <p><a href="/{{path }}/scenario4/timeline-review" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  
			  
					  <div class="scenario">
						 <h2 class="heading-medium">Dealing with a customer who has died</h2>
						 
						 <ul class="list-bullet">
						 	<li>Active profile: <b>Dejan Brewster</b></li>
			             	<li>Notification of possible death - via case list</li>
			             	<li>Death - record a decision</li>
			             	<li>Death banner display</li>
						 </ul>
			             <p><a href="/{{path }}/scenario3/referrals-death" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
			  
			  
					  <div class="scenario">
						 <h2 class="heading-medium">Making a recommendation</h2>
						 
						 <ul class="list-bullet">
						 	<li>Active profile: <b>Roberto Clyne</b></li>
						 	<li>FME request and appointment referral combined at first scrutiny</li>
			             	<li>Evidence being recorded after an appointment has been booked leading to second scrutiny</li>
						 </ul>
			             <p><a href="/{{path }}/scenario2/referrals-fme" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>

			  
			  		<div class="scenario">
						 <h2 class="heading-medium">Further medical evidence</h2>
			             <ul class="list-bullet">
			             	<li>Active profile: <b>Bobby Henderson</b></li>
			             	<li>Scenario to cover FME arriving late in the processs</li>
			             </ul>
			             <p><a href="/{{path }}/scenario1/referrals-fme" class="secondary-invert">Start scenario</a></p> 
					 </div>
					 
					 <hr>
		             
         
			  </div>
			  </div>
				
	</div>


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
