{% extends path+"/_layout-case-simple7.html" %}


{% block actioncolumn %}
   
 <p class="returnRef"><a href="javascript: history.go(-1)" class="link-back">Return to case list</a></p>


<div class="caseIdentifiers">
	<div class="caseFlags">
		<h2>Case flags</h2>
	
		<ul>
			<li><a href="/{{path }}/scenario7/ucbInfo">Unacceptable claimant behaviour</a></li>
		</ul>
	</div>
</div>
		
	


 <div class="caseStatus">
 	
	<h2 class="main-status"><span>Current case status</span>Ready for review</h2>
	

	<h3 class="primary-action"><span>Suggested case action</span><a href="#" class="button">Make a recommendation</a></h3>

 </div>

<!--<div class="secondary-nav-actions">

	<ul>
		<li><a href="#">Withdraw case</a></li>
		<li><a href="#">Close case</a></li>
		<li><a href="#">Delete case</a></li>
	</ul>
		
 </div> -->

{% endblock %}

{% block citizen_detail %}
Billy Keita
{% endblock %}

{% block citizen_content %}




<div class="container">
  <div class="grid-row">
  
    <div class="column-full">
    
    {# macro #}
  {{ nav.scenario_tabs("details-fme",1,path1, customer._id) }}
  

  

  <h1 class="heading-large">
  	Details</h1>
  	
  
  <div class="portal-display">	
  	
  	
  	
  	 <div class="grid-row">
  
		  	<div class="column-half">
		  	
		  		 <div class="portal-card">
				<div class="portal-head">
					<h3>Medical conditions</h3>
				</div>
				<!-- / title -->

				<div class="portal-inner">
				
				<h4>Last recorded medical condition</h4>
				

					<table class="medical-list">
						<caption>Medical conditions list</caption>
						
						<thead>
							<tr>
								<th>Name</th>
								<th>Since</th>
								<th>Source</th>
							</tr>
						</thead>

						
						<tbody>
						
						
						<tr>
							<td>Glucose 6 phosphate dehydrogenase (G6PD) deficiency</td>
							<td>12 June 1999</td>
							<td>Claimant</td>
						</tr>

						
						
						</tbody>
					</table>
					
					<p class="view-all"><a href="/{{path }}/scenario7/conditions" class="secondary-invert">View all medical conditions</a></p>


					
				</div>
				<!-- / inner card -->
			</div>
			<!-- / portal card -->
		  	
		  	</div>
		  	
		  	
		  	<div class="column-half">
		  		<!---------------------------------- Card ---------------------------------->
		
			<div class="portal-card">
				<div class="portal-head">
					<h3>Contact details</h3>
				</div>
				<!-- / title -->

				<div class="portal-inner">
				
				
				<ul class="action-list">
						<li><a href="/{{path }}/scenario7/customer-detail" class="secondary-invert">View Kenneth's details</a></li>
						<li><a href="/{{path }}/scenario7/gp-detail" class="secondary-invert">View GP details</a></li>
						<li><a href="/{{path }}/scenario7/not-testing" class="secondary-invert">Add a contact</a></li>
					</ul>
														
				</div>
				<!-- / inner card -->
			<!-- / portal card -->
		  	</div>
		  	
		  	
		  	  	
  	 </div>
    

 
    
  </div>
  
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
