{% extends path+"/inc/layout.html" %}

{% block content %}

<div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
      <li id="nav-home">
        <a href="search">Your cases</a>
      </li>
      <li id="nav-home">
        <a href="search">Evidence</a>
      </li>
    </ul>
  </div>
  <div class="external-links-wrapper">
    {# <ul class="external-links">
      <li class="main-nav-link"><a href="upload">Upload data</a></li>
      <span class="pipe">|</span>
      <li class="main-nav-link"><a href="batch">Create a batch</a></li>
    </ul> #}
  </div>
</div>

<div class="staff__heading">
  <div class="staff__centred">
    <h2 class="heading-xlarge" style="margin:0 0 10px">Adem Tosun</h2>
    <div class="grid-row">
      <div class="column-quarter">
        <p><span class="font-xsmall">Condition</span><br /><span class="bold-medium">Autism </span></p>
      </div>
      <div class="column-quarter">
        <p><span class="font-xsmall">Birthday</span><br /><span class="bold-medium">15th October 1994 </span></p>
      </div>
      <div class="column-quarter">
        <p><span class="font-xsmall">National Insurance Number</span><br /><span class="bold-medium">QQ 53 12 35 C </span></p>
      </div>
      <div class="column-quarter">
        <p><span class="font-xsmall">Special Requirements</span><br /><span class="bold-medium">None </span></p>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main" class="main-content">

      <div class="container">
        <div class="grid-row">
          <div class="column-full">

          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
