{% extends path+"/_layout-case-simple_post-curtail2.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}



<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large mb0">Work capability report</h1>
 

<div class="review-wrapper full-report">


<div class="report-item">

	<table class="report-view-table">
	<caption class="heading-small">Assessment overview</caption>
	
		<tbody>
			<tr>
				<th>Date of assessment</th>
				<td>{{ "Do MMM YYYY" | daysAgo }}</td>
			</tr>
			<tr>
				<th>Assessment centre</th>
				<td>Fiveways, Birmingham</td>
			</tr>
			<tr>
				<th>Assessor</th>
				<td>Heather Harrison</td>
			</tr>
			<tr>
				<th>Assessment start</th>
				<td>{{ last_one.time | formatDate("H:mma") }}</td>
			</tr>
			<tr>
				<th>Assessment finish</th>
				<td>{{ first_one.time | formatDate("H:mma") }}</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Personal summary statement</h2> 
	
	<div class="inner-focus">
		<p>{{ statement }}</p>
	</div>
	
	<!--<p class="edit-report"><a href="personalSummaryStatement" class="button-secondary">Edit personal summary statement</a></p>-->
	
</div>
<!-- / report item -->	



<div class="report-item">

	<h2 class="heading-large">Additional attendee</h2> 
	
	<div class="inner-focus">
		<p><span style="font-weight:bold;">Name of attendee:</span> {{ additionalAttendeeName }}</p>
		<p><span style="font-weight:bold;">Relationship to claimant:</span> {{ additionalAttendeeRelationship }}</p>
	</div>
	<!--<p class="edit-report"><a href="addAttendee" class="button-secondary">Edit additional attendees</a></p>-->
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Condition history</h2> 
	
	<div class="inner-focus">
	<p>Started with depression in 2011.</p>
<p>Dropped out of university due to this in 2011.</p>
<p>Worked on and off since then for a few years.</p>
<p>His father was killed in a car accident in January 2017 and his condition has worsened since then, he was a passenger in the car at the time.</p>
<p>Blames himself for the death.</p>
<p>Sees the GP once every 3 months.</p>
<p>Sees a psychiatric nurse every couple of months.</p>
<p>Had been referred to see a psychiatrist at the time and was diagnosed with Borderline Personality disorder, had also been diagnosed with post-traumatic stress disorder due to the accident.</p>
<p>Is currently taking medication, recent change to medication following an overdose in 2019. Took an overdose in summer 2019, there have been 2 occasions, the other in Spring.</p>
<p>The other was in Spring when he jumped into the canal and needed to be rescued.</p>
<p>Does sometimes have thoughts of taking all of his tablets most days, GP is aware.</p>
<p>His mother checks on him regularly to try to get him to engage. Not currently acting on this as doesn't want to upset his mother.</p>
<p>Has also self-harmed after his father passed away, used razor blades on his wrist. Mother felt he was getting back on track but has gone downhill again.</p>
<p>There is no trigger to this deterioration that his mother can think of, says he is needing prompting with showering, getting up, he doesn't want to engage.</p>
<p>Mother thinks if she didn't prepare meals for him then he wouldn't eat.</p>
<p>Current symptoms are that he doesn't want to get up, he is withdrawn, doesn't want to engage.</p>
<p>Has previously had counselling, this has not helped, caused him to be upset, last had counselling in October last year.</p>
<p>Other symptoms are that he has flashbacks to the accident triggered when he sees policemen. Does not misuse alcohol or drugs.</p>
<p>Does have some anger, has thrown things around his room, every couple of weeks, he alternates between anger and withdrawal and sadness.</p>
<p>No trigger to this that his mother is aware of, can fluctuate day to day, but hearing sirens can cause this.</p>
<p>No other referrals at present, is due to see the psychiatrist in a month or so for a review, sees them every 6 months.</p>
<p>Has been hospitalised twice, the second time was under section for about a week, this was in Summer 2019.</p>
<!--<p>{{ conditionHistory }}</p>-->
	</div>
	
	<!--<p class="edit-report"><a href="conditionHistory" class="button-secondary">Edit condition history</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Social and work history</h2> 
	
	<div class="inner-focus">
		<p>Lives with his mother, this is in a house.</p>
<p>Travelled here today in a car, travelled and attended with his mother who was present.</p>
<p>David can find car journeys quite stressful since his accident.</p>
<p>Last worked in a library in the office.</p>
<p>Worked up until the accident, following the accident he did not return to work due to his mental health.</p>
	<!--    Outputs social work history 
	    {% for item in socialWorkComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}-->
  
	</div>
	
	<!--<p class="edit-report"><a href="socialWorkHistoryEdit" class="button-secondary">Edit social and work history</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Typical day</h2> 
	
	<div class="inner-focus">
		<p>Gets up at different times, this can very, mother tries to wake him at the same time every day and takes him tea and toast.</p>
<p>Sometimes when she goes back to the room the tea and toast won't have been touched.</p>
<p>Were his mother not to wake him then he would stop in bed, he needs prompting to do nearly everything.</p>
<p>Needs prompting with everything, wouldn't shower without prompting, he doesn't see the point.</p>
<p>Has a kindle, however has not used this for 2 weeks, downloaded the book, read a few pages and then forgot what he has read, has poor concentration.</p>
<p>Has a TV in his room but rarely watches this, is not interested in this any more.</p>
<p>Would never make his own food or drink, can't be bothered, never feels hungry, needs to be prompted, most of his meals he eats in his room. Mother tries to prompt him to come downstairs but generally doesn't, just wants to stop in his room, isn't interested.</p>
<p>His mother arranges all of his appointments, she has to take him to all of them or he wouldn't go.</p>
<p>This is because he needs constant reassurance and prompting, he wouldn't open mail or read them if not prompted, mother generally reads everything and deals with this.</p>
<p>His mother manages all bills and correspondence, she does all of the cleaning, lacks motivation.</p>
<p>His mother tries to go into his room to open the curtains, but he doesn't like this, wants to be on his own in the dark.</p>
<p>Doesn't go out anywhere other than to appointments that his mother takes him to, this is because he lacks interest.</p>
<p>No hobbies or interests that he wishes to add, there is nothing that he wishes to add to his typical day.</p>
		<!--{% for item in typicalDayComments | sortBy("time",true) %}
		<p>{{ item.comment }}</p>
  		{% endfor %}-->
	</div>
	
	<!--<p class="edit-report"><a href="typicalDayEdit" class="button-secondary">Edit typical day</a></p>-->
	
</div>
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Medication and side effects</h2> 
	
	<div class="inner-focus">
	<p>Tramadol 50 mg x 1 once per day before bed.</p>
<p>Morphine tablet 15 mg twice daily.</p>
<p>Oramorph 5 mls once daily - unsure of the dosage of the bottle. </p>
<p>Gets drowsy. Thinks this may be from tramadol.</p>
<p>It’s hard to say what symptoms are from the condition and what is a side effect of medication. </p>
<p>No other side effects of medication. Possible brain fog from medication but thinks this may be part of the condition also. </p>

		<!--<p>{{ medicationSideEffects }}</p>-->
	</div>
	
	<!--<p class="edit-report"><a href="conditionHistory" class="button-secondary">Edit medication and side effects</a></p>-->
	
</div>
<!-- / report item -->



<!-- Displays report item based on selection from LCWRA page -->
{% if data['lcwra']==='lcwra1'%}
{% elif data['lcwra']==='lcwra2' or data['lcwra']==='lcwra3' or data['lcwra']==='lcwra4'%}
<div class="report-item">

	<h2 class="heading-large">Special Circumstances</h2> 
	
	<div class="inner-focus">
		
		<h2 class="heading-medium">Treat as LCWRA</h2>

		<p><span style="font-weight:bold;">Reason:</span>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra2'%}
		Risks associated with pregnancy
		{% elif data['lcwra']==='lcwra3'%}
		Cancer treatment underway
		{% elif data['lcwra']==='lcwra4'%}
		Terminal illness
		{% endif %}
		</p>

		<h4 class="heading-small">Justification:</h4>
		<p>{{ justifyTreatLCWRA }}</p>

	</div>
	
	<!--<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit exceptional circumstances</a></p>-->
	
</div>






{% elif data['lcwra']==='lcwra6' or data['lcwra']==='lcwra7' or data['lcwra']==='lcwra8' or data['lcwra']==='lcwra9' or data['lcwra']==='lcwra10' or data['lcwra']==='lcwra11' or data['lcwra']==='lcwra12' or data['lcwra']==='lcwra13' or data['lcwra']==='lcwra14' or data['lcwra']==='lcwra15' or data['lcwra']==='lcwra16' or data['lcwra']==='lcwra17' or data['lcwra']==='lcwra18' or data['lcwra']==='lcwra19' or data['lcwra']==='lcwra20'%}
<div class="report-item">

	<h2 class="heading-large">Medical opinion</h2> 
	
	<div class="inner-focus">
		<p>I have consided the possible UC activity outcomes and my advice is that the following applies:</p>
		<h2 class="heading-medium">LCWRA</h2>
		<p class="edit-report"><a href="#" class="button-secondary">Change LCWRA recommendation</a></p>
		
		<h4 class="heading-small">Activity</h4>
		<p>
		{% if data['lcwra']==='lcwra1'%}
		{% elif data['lcwra']==='lcwra6'%}
		Moving around and climbing steps without someone’s help
		{% elif data['lcwra']==='lcwra7'%}
		Standing, sitting and moving between the two
		{% elif data['lcwra']==='lcwra8'%}
		Reaching
		{% elif data['lcwra']==='lcwra9'%}
		Picking things up and moving them
		{% elif data['lcwra']==='lcwra10'%}
		Using your hands
		{% elif data['lcwra']==='lcwra11'%}
		Speaking, writing and typing
		{% elif data['lcwra']==='lcwra12'%}
		Hearing and reading
		{% elif data['lcwra']==='lcwra13'%}
		Controlling your bowels and bladder
		{% elif data['lcwra']==='lcwra14'%}
		Learning to do new tasks
		{% elif data['lcwra']==='lcwra15'%}
		Being aware of hazards and danger
		{% elif data['lcwra']==='lcwra16'%}
		Planning, starting and finishing everyday tasks
		{% elif data['lcwra']==='lcwra17'%}
		Coping with changes to your daily routine
		{% elif data['lcwra']==='lcwra18'%}
		Meeting and being with people
		{% elif data['lcwra']==='lcwra19'%}
		Behaving appropriately around other people
		{% elif data['lcwra']==='lcwra20'%}
		Eating and drinking
		{% endif %}
		</p>
		<p class="edit-report"><a href="#" class="button-secondary">Edit activity</a></p>


		<h4 class="heading-small">Relevant statements</h4>
				<p>{{ taggedstatement1 }}</p>
				<p>{{ taggedstatement2 }}</p>
				<p>{{ taggedstatement3 }}</p>
				<p>{{ taggedstatement4 }}</p>
				<p>{{ taggedstatement5 }}</p>
				<p>{{ taggedstatement6 }}</p>
				<p>{{ taggedstatement7 }}</p>
				<p>{{ taggedstatement8 }}</p>
				<p>{{ taggedstatement9 }}</p>
				<p>{{ taggedstatement10 }}</p>
				<p>{{ taggedstatement11 }}</p>
				<p>{{ taggedstatement12 }}</p>
				<p>{{ taggedstatement13 }}</p>
				<p>{{ taggedstatement14 }}</p>
				<p>{{ taggedstatement15 }}</p>
				<p>{{ taggedstatement16 }}</p>
				<p>{{ taggedstatement17 }}</p>
				<p>{{ taggedstatement18 }}</p>
		<!--<p>{{taggedstatement}}</p>-->
		<p class="edit-report"><a href="#" class="button-secondary">Edit relevant statements</a></p>


		<h4 class="heading-small">Justification</h4>
		<p>{{ justificationStatement }}</p>
		<p class="edit-report"><a href="#" class="button-secondary">Edit justification</a></p>


		<h4 class="heading-small">Practitioner consulted</h4>
		<p>{{ consultedPractitioner }}</p>

	</div>
	
	<!--<p class="edit-report"><a href="exceptionalCircumstances" class="button-secondary">Edit medical opinion</a></p>-->
	
</div>

{% endif %}		
<!-- / report item -->



<div class="report-item">

	<h2 class="heading-large">Recommended review period</h2> 
	
	<div class="inner-focus">

		<p>
		{% if data['reviewPeriod']==='reviewPeriod1'%}
		{% elif data['reviewPeriod']==='3months'%}
		3 months
		{% elif data['reviewPeriod']==='6months'%}
		6 months
		{% elif data['reviewPeriod']==='12months'%}
		12 months
		{% elif data['reviewPeriod']==='18months'%}
		18 months
		{% elif data['reviewPeriod']==='2years'%}
		2 years
		{% elif data['reviewPeriod']==='longerterm'%}
		in the longer term
		{% elif data['reviewPeriod']==='notrequired'%}
		not future assessment required
		{% endif %}
		</p>
	</div>
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit recommended review period</a></p>
	
</div>
<!-- / report item -->	




















<!--
<div class="report-item">

	<h2 class="heading-large">Illnesses, disabilities and medication</h2>  

	<table class="report-view-table">
	<caption class="heading-small">Illnesses and disabilities</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Source</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Diabetes</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Arthritis</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Liver disease</td>
				<td>Claimant</td>
			</tr>
			<tr>
				<td>Urine problems</td>
				<td>Claimant</td>
			</tr>
		</tbody>
	</table>
	
	
	<table class="report-view-table">
	<caption class="heading-small">Medication and side effects</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Dose</th>
				<th>Side effects</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td>Ibuprofen</td>
				<td>Twice daily</td>
				<td>None</td>
			</tr>
		</tbody>
	</table>
	
	
	
	
	
	<p class="edit-report"><a href="#" class="button-secondary">Edit illnesses, disabilities and medication</a></p>
	
	

</div>-->
<!-- / report item -->























  
   </div>
 <!-- / wrapper -->
  


	<p class="depart"><a href="/{{path}}/scenario-curtailment/curtailDeclaration" class="button">Finish &ndash; sign off report</a></p>



{% endblock %}