<div class="version">
  <div class="grid-row">

    {% set n = 5 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Referral</h3>
      <p><a href="/assess/v9a/" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">2.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">18 April 2018</h3>
    </div>

  </div><!-- .row -->
  
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-small mth">Changes:</h3>
      <ul class="list list-bullet changes mb1">
        <li>Ingestion of referral from UC and jSaps</li>
		<li>Status updated for UC50 form to claimant</li>
		<li>Ingestion of UC50 details once received</li>
      </ul>
    </div>
  </div>

</div><!-- version -->
