<div class="version">
  <div class="grid-row">

    {% set n = 1 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health Appointment Booking</h3>
      <p><a href="/appoint/v5/appointments" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">4.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">9th February 2018</h3>
     
    </div>

  </div><!-- .row -->

 <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-small mth">Changes Made</h3>
      <ul class="list list-bullet changes mb1">
        <li>Small goals (1) priority focus - Workflow list through to earliest appointment booking.</li>
        <li>Removal of case ownership functionality</li>
        <li>Focus on case special requirements in workflow list - colour coded</li>
      </ul>
    </div>
  </div><!-- row -->

</div><!-- version -->




