{% extends templatePath %}

{% block citizen_content %}

<div class="container">

  {# macro #}
    {{ nav.case_tabs("appointment-details",1,path1 + "/" + section, customer._id) }}{# macro #}
  
<div class="grid-row">
    <h1 class="heading-large mt20 visually-hidden">Appointment details</h1>
    <div class="column-half">
        <div class="evidence-panel">
            {% if customer.appointmentDate %}
            <h4 class="heading-small">Appointment Booked</h4>
            <p class="lede">{{customer.appointmentDate |formatDate('dddd D MMMM YYYY')}} <br> {{customer.appointmentTime |formatDate('h:mma')}}</p>
            <p>at {{customer.assessmentCentre}} assessment centre</p>
            {% else %}
            <p class="lede">Ready to book</p>
            <p>at {{customer.assessmentCentre}} assessment centre</p>
            {%endif%}
        </div>
    </div>
    <div class="column-three-quarters">
        <h2 class="heading-medium">Appointment history</h2>
        <div class="timeline">
            {% if customer.originalAppointmentDate %}
            <span class="line"></span>
            <div class="timeline__event">
                <h3 class="heading-small">Appointment booked</h3>
                <p class="mt20">Appointment details:
                    {{customer.originalAppointmentDate | formatDate("D MMMM YYYY")}} at {{customer.originalAppointmentDate | formatDate("hh:mma")}}</p>
                <p class="timeline_datetime">{{customer.receivedDate | formatDateAdd2Days("D MMMM YYYY")}}</p>
            </div>
            {% endif %}
            <span class="line"></span>
            <div class="timeline__event">
                <h3 class="heading-small">Referred for appointment</h3>
                <p class="timeline_datetime">{{customer.receivedDate | formatDate("D MMMM YYYY")}}</p>
            </div>
            <div style="clear:both"></div>
        </div><!-- timeline -->
    </div><!-- column -->
</div><!-- row -->
</div><!-- container -->
{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
