{% extends path+"/_layout-case-baseline.html" %}


{% block caselist_content %}

            <h2 class="heading-medium mt0"><span class="heading-xlarge">12</span><br/>Ready for review</h2>




            <hr />


<div class="filter-mimic">


          <h3 class="heading-small mt0">Filter by:</h3>

		  <div class="filter-choice">
                <a href="/{{path }}/scenario11/referrals-fme">All <span>(12)</span></a>
              </div>
          <div class="filter-choice">
                <a href="/{{path }}/scenario11/new-fme" class="selected">Ready for review <span>(10)</span></a>
              </div>
          <div class="filter-choice">
              <a href="/{{path }}/scenario11/dna-fme">DNA rereferals <span>(1)</span></a>
            </div>
           <div class="filter-choice">
              <a href="/{{path }}/scenario11/ocp-fme">New evidence recorded <span>(1)</span></a>
            </div>

     </div>

              <table class="referrals-layout">

                <thead>
                  <tr>
                    <th>Details</th>
                    <th>Status</th>
                  </tr>
                </thead>

                <tr>
                  <td><a href="/{{path }}/scenario11/timeline-review"><span class="visually-hidden">Name</span>Roberto Clyne</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>XX 41 54 60 Z</span></td>
                  <td>Ready for review</td>
                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Sherry Wooten</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>WW 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Marvin Hall</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>VV 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Brian Fredericks</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>UU 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Tony Jacobs</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>TT 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Lucas Ashton</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>SS 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Chris Rodgers</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>RR 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Karen Pennington</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>QQ 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Katie Woo</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>PP 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>

                <tr>
                  <td><a href="#"><span class="visually-hidden">Name</span>Alan Edwards</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>OO 41 54 60 Z</span></td>
                  <td>Ready for review</td>

                </tr>



                </tbody>

              </table>


{% endblock %}
