{% extends path+"/_layout-case-baseline.html" %}


{% block actioncolumn %}

 <!-- <p class="returnRef"><a href="/{{path }}/scenario11/referrals-fme" class="link-back">Return to case list</a></p> -->

 <div class="caseStatus">
	  <h2 class="main-status"><span>Current case status</span>Ready for review</h2>


</div>

{% endblock %}

{% block citizen_detail %}
Harvey Chamberlain
{% endblock %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">






    <div class="column-full">


    <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>



    <h1 class="heading-large">Make your recommendation</h1>




  <div class="portal-display">



  	 <div class="grid-row">

		  	<div class="column-third">



		<h3 class="heading-small">Request evidence
				</h3>

				<p>Further evidence is required to make an accurate recommendation</p>

			      <p><a href="/{{path }}/scenario14c/evidence-step2" class="button-secondary">Choose evidence</a></p>





			<!-- / portal card -->




		  	</div>


		  	<div class="column-third">
		  		<!---------------------------------- Card ---------------------------------->



					<h3 class="heading-small">Call for an assessment</h3>



				<p>A relevant appointment needs to be scheduled</p>

            <p> <a href="/{{path }}/scenario14c/evidence-step3" class="button-secondary">Add assessment details</a></p>



  	 </div>


  	 <div class="column-third">



					<h3 class="heading-small">Outcome</h3>

				<!-- / title -->



				<p>There is enough evidence to record an outcome</p>


            <p> <a href="/{{path }}/scenario14c/not-testing" class="button-secondary">Record outcome</a></p>




  	 </div>




  </div>



    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
