{% extends path+"/_layout-case-baseline.html" %}

{% block actioncolumn %}

 <!-- <p class="returnRef"><a href="/{{path }}/scenario6/referrals-fme" class="link-back">Return to case list</a></p> -->

 <div class="caseStatus">




{% if data['pbachoice']=='no'%}

	 <h2 class="main-status"><span>Current case status</span>Appointment booked</h2>


	 {% elif data['pbachoice']=='yes'%}

	 <h2 class="main-status"><span>Current case status</span>Paper based review</h2>
	 <!--<h3 class="primary-action"><span>Suggested case action</span><a href="/{{path }}/scenario6/not-testing" class="button">Start assessment</a></h3>-->


	 {% else %}



{% if data['evidencePath']=='ev-ftf'%}

	<h2 class="main-status"><span>Current case status</span>Ready to book</h2>

	{% if data['evidenceRecorded']=='record-yes'%}

	{% endif %}


	{% elif data['evidencePath']=='ev-pba'%}

	{% if data['evidenceRecorded']=='record-yes'%}
		<h2 class="main-status"><span>Current case status</span>Ready for review</h2>
		<!--<h3 class="primary-action"><span>Suggested case action</span><a href="/{{path }}/scenario6/rec-portal" class="button">Make recommendation</a></h3> -->
		{% else %}
		<h2 class="main-status"><span>Current case status</span>Medical evidence requested</h2>
	{% endif %}


	{% else %}

	<h2 class="main-status"><span>Current case status</span>Ready for review</h2>
	<!--<h3 class="primary-action"><span>Suggested case action</span><a href="/{{path }}/scenario6/rec-portal" class="button">Make recommendation</a></h3>-->



{% endif %}


{% endif %}


</div>

{% endblock %}

{% block citizen_detail %}
Harvey Chamberlain
{% endblock %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">






    <div class="column-full">

    <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>



  <div class="grid-row">

    <div class="column-two-thirds">



    	<h1 class="heading-large"><span class="heading-secondary">Step 1 of 2</span>Withdraw referral</h1>





		<div class="evidence-requests mt30">


			<form action="/{{path }}/scenario11/withdraw-case2" method="POST" class="form">


					<div class="form-group">
						<fieldset>

							  <legend class="heading-medium mb5">Reason for withdrawal:</legend>

							  			<div class="multiple-choice">
											<input id="claimDied" type="radio" name="withdrawReason" value="ClaimantDied">
											<label for="claimDied">Claimant has died</label>
										</div>


										<div class="multiple-choice">
											<input id="claimWork" type="radio" name="withdrawReason" value="ClaimantWork">
											<label for="claimWork">Claimant has returned to work</label>
										</div>

										<div class="multiple-choice" data-target="ucbDrop">
											<input id="claimUCB" type="radio" name="withdrawReason" value="UCB">
											<label for="claimUCB">Unacceptable claimant behaviour</label>
										</div>

										<div class="panel js-hidden" id="ucbDrop">
											<div>
												<label for="ucbDetail" class="heading-small mb10">Details:</label>
												<textarea id="ucbDetail" class="form-control form-control-3-4" rows="5" name="ucbDetailsText"></textarea>
											</div>
										</div>

										<div class="multiple-choice" data-target="otherDrop">
											<input id="other" type="radio" name="withdrawReason" value="other">
											<label for="other">Other</label>
										</div>

										<div class="panel js-hidden" id="otherDrop">
											<div class="form-group">
												<label for="otherReason" class="form-label-bold">Reason:</label>
												<input type="text" id="otherReason" class="form-control form-control-3-4" name="otherTitle">
											</div>
											<div>
												<label for="otherDetails" class="heading-small mb10">Details:</label>
												<textarea id="otherDetails" class="form-control form-control-3-4" rows="5" name="otherDetailsText"></textarea>
											</div>
										</div>


							</fieldset>
						</div>




				<p class="mt30"><input type="submit" class="button" value="Save and continue"></p>




				</form>
		</div>



    </div><!-- column-full -->
  </div>

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
