{% extends path+"/citizen/_layout.html" %}
{% import path+"/_macros_nav.html" as nav %}

{% block citizen_content %}

  <div class="container">

    {# macro #}
    {{ nav.case_tabs("app/conditions",1,path) }}

    <div class="grid-row">
      <div class="column-third">
          {% block case_nav_left %}
            <h2 class="heading-xlarge mt0 mb0" id="onlineapp">ESA50</h2>
            <p class="form-hint mb0">Recieved: {{ "Do MMMM YYYY" | daysAgo(12) }}</p>
            {% block app_nav %}{% endblock %}
          {% endblock %}
      </div><!-- column -->
      <div class="column-two-thirds">
          {% block case_content %}{% endblock %}
          {% block app_score %}
            <hr />
            <h3 class="heading-large">Decision</h3>
            <form class="form">
              <fieldset class="form-group">
                <label class="form-label">Score</label>
                <input type="text" class="form-control" name="score" placeholder="1-15" style="width:3em"/>
                &nbsp;
                <span class="font-xsmall help__handle">
                  <a href="#">help</a>
                  <div class="help__content">
                    <p>1 - 5 point - they can do this</p>
                    <p>5 - 10 points - they can do that</p>
                    <p>10 -15 points - they can do the other</p>
                  </div>
                </span>
              </fieldset>
              <fieldset class="form-group">
                <label class="form-label">Notes</label>
                <textarea class="form-control" name="justify" style="height:200px"></textarea>
              </fieldset>
              <div class="form-group">
                <input type="button" class="button" value="Continue"/>
              </div>
            </form>
          {% endblock %}
      </div><!-- column-full -->
    </div><!-- grid-row -->
  </div><!-- container -->
{% endblock %}
