{% extends path+"/citizen/app/_layout.html" %}

{% block app_nav %}{{ nav.app_nav('conscious',path) }}{% endblock %}

{% block case_content %}

  <h3 class="heading-large mt10">Losing consciousness</h3>
  <p>Tony can have a meltdown when he's out and something upsets or disrupts him. He doesn't really go out on his own so that helps to prevent it happening, but sometimes it does happen when we're with him. It usually happens if he's overwhelmed by something - usually if somewhere is busy or there are funny smells he's not used to. </p>

{% endblock %}
