{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
  
    
    
  <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  <h1 class="heading-large">Change of circumstances</h1>
    
    
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="panel panel-warning">
            <h3 class="heading-small">Advise {{customer.name.first}} that:</h3>
              <p>Further medical evidence will need to be sent to be assessed.
              </p>
    
            </div> 
        <form action="appointment" method="post">
      <div class="form-group">
        <fieldset>
            <legend class="visually-hidden">
                Change of circumstances
              </legend>
              
              
              <div class="multiple-choice">
                  <input type="radio" name="reasoncirc" id="reason-condition" value="Customers condition has changed">
                  <label for="reason-condition">Customer's condition has changed</label>
              </div>
              <div class="multiple-choice">
                  <input type="radio" name="reasoncirc" id="reason-terminal" value="Customer is now terminally ill">
                  <label for="reason-terminal">Customer is now terminally ill</label>
              </div>
              <div class="multiple-choice">
                  <input type="radio" name="reasoncirc" id="reason-new-evidence" value="New medical evidence is available">
                  <label for="reason-new-evidence">New medical evidence is available</label>
              </div>
              <div class="multiple-choice">
                  <input type="radio" name="reasoncirc" id="reason-taxi" value="Taxi requested">
                  <label for="reason-taxi">Customer has requested a taxi to the assessment centre</label>
              </div>
              <div class="multiple-choice">
                  <input type="radio" name="reasoncirc" id="reason-home-visit" value="Home visit requested">
                  <label for="reason-home-visit">Customer has requested a home visit</label>
              </div>

           </fieldset>
          </div>
          <p>
              <button class="button">Save and continue</button>
          </p>
          </form>
        </div>

  
</div> 
</div>
    </div><!-- column -->


{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
