{% extends path+"/scenario_03d/_layout-case-simple.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>



<div class="grid-row">
  <div class="column-two-thirds">

<p class="caption-large" class="mb0">Paper based assessment</p>
<h1 class="heading-large mt0">Time until Aaron's case needs considering</h1>

<form method="post" action="miniReport">

	<div class="form-group">
		 <fieldset>
		    
				    	<!--<legend class="heading-medium mb10">When should this case be reviewed?</legend>-->
		
					    <div class="multiple-choice">
					      <input id="3months" name="reviewPeriod" type="radio" value="3months">
					      <label for="3months">3 months</label>
					    </div>
							<div class="multiple-choice">
					      <input id="6months" name="reviewPeriod" type="radio" value="6months">
					      <label for="6months">6 months</label>
					    </div>
							<div class="multiple-choice">
					      <input id="12months" name="reviewPeriod" type="radio" value="12months">
					      <label for="12months">12 months</label>
					    </div>
							<div class="multiple-choice">
					      <input id="18months" name="reviewPeriod" type="radio" value="18months">
					      <label for="18months">18 months</label>
					    </div>
							<div class="multiple-choice">
					      <input id="2years" name="reviewPeriod" type="radio" value="2years">
					      <label for="2years">2 years</label>
					    </div>
							<div class="multiple-choice">
					      <input id="longerterm" name="reviewPeriod" type="radio" value="longerterm">
					      <label for="longerterm">in the longer term</label>
					    </div>
					    
				    </fieldset>

	</div>
	
<div class="form-group">
			<label class="form-label" for="justify">Give details</label>
			<textarea class="form-control form-control-3-4" name="reviewPeriodDetails" id="justify" rows="4"></textarea>
		</div>

    <p><input type="submit" class="button" value="Save and review" id="submitButton"></p>
		</form>	

  </div><!-- column -->

<div class="column-one-third">

<div class="portal-display mb20" style="margin-top:0px;">
	<div class="portal-card">
				<div class="portal-head">
					<h4>Overview</h4>
				</div>
				<!-- / title -->
				<div class="portal-inner">

				<p class="mb5 font-xsmall bold">Advice</p>
				<p class="font-xsmall">Treat as LCW: In residential rehab</p>

				<p class="mb5 font-xsmall bold">Evidence considered</p>
				<ul class="mb20 font-xsmall">
				<li class="mb5">Fit note (Med3)</li>
				<li class="mb5">Fit note (Med3)</li>
				<li class="mb5">GP report (113)</li>
				<li class="mb5">Medical report (UC85)</li>
				<li class="mb5">Questionnaire (UC50)</li>
				<li class="mb5">Specialist letter</li>
				</ul>

				<p class="mb5 font-xsmall bold">Justification</p>
				<p class="font-xsmall">{{ justifyAdvice }}</p>
				
				</div>
				<!-- / inner card -->
				
	</div>
</div>

  </div><!-- right hand column -->

</div><!-- row -->



{% endblock %}


