{% extends path+"/inc/layout.html" %}

{% block left_col %}

<h1 class="heading-large">Conditions that shouldn’t affect whether your patient could work</h1>

<form class="form" method="post" action="walkmove">

  <div class="form-group">
    <textarea class="form-control" name="" id="" style="width:100%;height:200px"></textarea>
  </div><!-- form-group -->

  <div class="form-group mth">
    <input type="submit" class="button" value="Continue" />
  </div><!-- form-group -->

</form>

{% endblock %}
