{% extends path+"/inc/layout.html" %}

{% block left_col %}

<h1 class="heading-large">Does your patient have a history of exhibiting threatening or violent behaviour?</h1>

<form class="form" method="post" action="travelling">

  <div class="form-group">
    <div class="multiple-choice" data-target="walkmove_yes_extra">
      <input id="walkmove_yes" name="walkmove" type="radio" value="Yes">
      <label for="walkmove_yes"> Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="walkmove_no" name="walkmove" type="radio" value="No, redirect(no_effect)">
      <label for="walkmove_no"> No</label>
    </div>
    <div class="multiple-choice">
      <input id="walkmove_dontknow" name="walkmove" type="radio" value="No, redirect(no_effect)">
      <label for="walkmove_dontknow"> I don't know </label>
    </div>
  </div>

  <div class="panel js-hidden" id="walkmove_yes_extra">
    <label class="form-label" for="textarea">
      What difficulties do they have?
    </label>
    <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
  </div>

  <div class="form-group mth">
    <input type="submit" class="button" value="Continue" />
  </div><!-- form-group -->

</form>

{% endblock %}
