<div class="version">
  <div class="grid-row">

    {% set n = 3 %}

    <div class="mt1"></div>

    <div class="column-two-thirds">
      <p class="mb0">Prototype</p>
      <h3 class="heading-medium mt0 mb0">Health Assessment Tool</h3>
      <p><a href="/assess/v{{n}}/" class="button button-start mth mb1">Launch prototype</a></p>
    </div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">{{n}}.0</h3>
      <p class="mb0">Last updated</p>
      <h3 class="heading-medium mt0 mb0">6th Decemeber 2017</h3>
    </div>

  </div><!-- .row -->

</div><!-- version -->
