{% extends path1+"/_layoutRecording.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
		<div class="evidence-requests">
				
				
			<form action="request-evidence2" method="POST" class="form">
			<fieldset>
				<legend><h1 class="heading-large mt0"><span class="heading-secondary">Step 1 of 2</span>Request evidence</h1></legend>
				
				<p class="form-hint mb5 mt10">Select the evidence you would like to request.</p>
				
				
				<div class="form-group">
							       
							      <div class="multiple-choice" data-target="113-view">
								      <input id="113" name="type[]" type="checkbox" value="113"  >
								      <label for="113">GP report (113)</label>
										</div>
										

						 <div class="panel panel-border-narrow js-hidden" id="113-view">
							<fieldset>
						  
							  <legend class="bold">
							
									Reason for requesting this evidence
							
							  </legend>
						  
							  <div class="multiple-choice" >
								<input id="insufficient-113" type="radio" name="scenario" value="insufficient-113" {{ 'checked' if data[ 'scenario']==='insufficient-113'
								else ''}}>
								<label for="insufficient-113">Insufficient evidence to support claimants statements</label>
							  </div>

						  
							  <div class="multiple-choice" data-target="113-reason">
								<input id="example-contact-by-phone" type="radio" name="scenario" value="No">
								<label for="example-contact-by-phone">Other reason</label>
							  </div>
							  <div class="panel panel-border-narrow js-hidden" id="113-reason">
								<label for="113-reason" class="bold">
									Add a reason for requesting this evidence
								</label>
								<textarea class="form-control form-control-2-4" name="reason-113" id="113-reason" rows="4"></textarea>
							  </div>
	
						  
							</fieldset>
						  </div>
								    
								    

					  
								    <div class="multiple-choice" data-target="frr-view">
								      <input id="FRR" name="type[]" type="checkbox" value="FRR"  >
								      <label for="frr">Factual report (FRR)</label>
								    </div>	
								    
								    <div class="panel panel-border-narrow js-hidden" id="frr-view">
									  <div class="form-group">	
										<label for="frr-evidence" class="bold">
										What information do you require?
										</label>
										<textarea class="form-control form-control-2-4" name="frrinformation" id="frr-info" rows="10"></textarea>
										 </div>	
										 
										 <div class="form-group">
												<fieldset>

														<legend class="bold">
															
																Who are you requesting this evidence off?
															
														</legend>
												
														<div class="multiple-choice">
															<input id="example-contact-by-email" type="radio" name="hcp-type" value="gp">
															<label for="example-contact-by-email">GP: Dr. Sheila Turner</label>
														</div>
										
														<div class="multiple-choice" >
																<input id="example-contact-by-email" type="radio" name="hcp-type" value="consultant">
																<label for="example-contact-by-email">Consultant: Mr. Nicholas Kent</label>
															</div>
												

									
													
												
													</fieldset>

										 </div>
										 <div class="form-group">
											<fieldset>
						  
												<legend class="bold">
											
													Reason for requesting this evidence
											
												</legend>
											
												<div class="multiple-choice" >
												<input id="insufficient-frr" type="radio" name="scenario-frr" value="insufficient-frr" {{ 'checked' if data[ 'scenario-frr']==='insufficient-frr'
												else ''}}>
												<label for="insufficient-frr">Insufficient evidence to support claimants statements</label>
												</div>
				
											
												<div class="multiple-choice" data-target="frr-reason-view">
												<input id="example-contact-by-phone" type="radio" name="scenario-frr" value="No">
												<label for="example-contact-by-phone">Other reason</label>
												</div>
												<div class="panel panel-border-narrow js-hidden" id="frr-reason-view">
												<label for="FRR-reason">
													Add a reason for requesting this evidence
												</label>
												<textarea class="form-control form-control-2-4" name="reason-frr" id="reason-frr" rows="4"></textarea>
												</div>
					
											
											</fieldset>
										 </div>
								    </div>	
						    
					</div>

				


				
				
			</fieldset>
				

				
		
					
				
				<p class="request"><input type="submit" class="button" value="Save and continue"></p>
				        <!-- hidden radio's for prototype scenarios -->

<div class="multiple-choice" style="display:none">
    <input id="radio-inline-4" type="radio" name="edit5678" value="editHand" checked>
      
    <label for="radio-4">hidden radio one</label>
	</div>

				
				</form>
		</div>


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
