{% extends path1+"/_layoutRecording.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
		<div class="evidence-requests">
				
				
			<form>
			<fieldset>
				<legend><h1 class="heading-large mt0"><span class="heading-secondary">Step 1 of 2</span>Request evidence</h1></legend>
				
				<p class="form-hint mb5 mt10">Select the evidence you would like to request.</p>
				
				
				<div class="form-group">
							       
							       <div class="multiple-choice" data-target="113-view">
								      <input id="113" name="type" type="checkbox" value="113">
								      <label for="113">113</label>
								    </div>	
								    
								    <div class="panel panel-border-narrow js-hidden" id="113-view">
										<label for="113-reason">
											Reason for requesting a 113:
										</label>
										<textarea class="form-control form-control-2-4" name="113Request" id="113-reason" rows="4"></textarea>
								    </div>							    

					  
								    <div class="multiple-choice" data-target="frr-view">
								      <input id="frr" name="type" type="checkbox" value="FRR">
								      <label for="frr">FRR</label>
								    </div>	
								    
								    <div class="panel panel-border-narrow js-hidden" id="frr-view">
										<label for="frr-reason">
											Reason for requesting an FRR:
										</label>
										<textarea class="form-control form-control-2-4" name="frrRequest" id="frr-reason" rows="4"></textarea>
								    </div>	
						    
					</div>

				
				
			</fieldset>
				

				
		
					
				
				<p class="request"><a href="request-evidence2" class="button">Continue</a></p>
				
				
				</form>
		</div>


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
