{% extends path+"/citizen3/_layout.html" %}
{% import path+"/_macros_nav.html" as nav %}

{% block citizen_content %}

  <div class="container">

    {# macro #}
    {{ nav.case_tabs("app/conditions",1,path) }}

    <div class="grid-row">
      <div class="column-third">
          {% block case_nav_left %}
            <p class="small_label">LAST UPDATE:</p>
            <h2 class="heading-xlarge mt0 mb0" id="onlineapp">Claimant statement</h2>
            <p class="form-hint mb0 font-xsmall">({{ "Do MMMM YYYY" | daysAgo(12) }})</p>
            {# {% block app_nav %}{% endblock %} #}
          {% endblock %}
      </div><!-- column -->
      <div class="column-two-thirds">
          {% block case_content %}{% endblock %}
          {# {% include path + "/citizen3/app/_form_ask.html" %} #}
      </div><!-- column-full -->
    </div><!-- grid-row -->
  </div><!-- container -->
{% endblock %}
