{% extends path+"/_layout-case-simple2.html" %}


{% block actioncolumn %}
   {% include path+"/scenario1/_actionColumn-action.html" %} 
{% endblock %}

{% block citizen_detail %}
Stevie Barnes
{% endblock %}

{% block citizen_content %}
<div class="container">
  <div class="grid-row">
  
    <div class="column-full">
    
  
    
    
  <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>



          
    
<form class="form" action="/{{path }}/scenario2/timeline" method="post">
<div class="grid-row">
  <div class="column-two-thirds">
<h1 class="heading-large">Record a good cause accepted decision</h1>

<div class="form-group">
              <fieldset>
            
                <legend>
                  <h2 class="heading-medium">What is the reason ?</h2>
                </legend>
            
                <div class="multiple-choice">
                  <input id="radio-1" type="radio" name="goodcause" value="Did not receive appointment invitation">
                  <label for="radio-1">Did not receive appointment invitation</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2" type="radio" name="goodcause" value="Client issues">
                  <label for="radio-2">Client issues</label>
                </div>
               
                <div class="multiple-choice">
                  <input id="radio-3" type="radio" name="goodcause" value="Mental health">
                  <label for="radio-3">Mental health case</label>
                </div>

                <div class="multiple-choice block" data-target="otherreason">
                    <input id="radio-3" type="radio" name="goodcause" value="Other reason" aria-controls="otherreason" aria-expanded="false">
                    <label for="radio-3">Other reason</label>
                  </div>
              
            
              </fieldset>
              <div class="panel js-hidden" id="otherreason" aria-hidden="true">
                
                      <label class="form-label" for="reason">Add a reason</label>
                      <textarea class="form-control form-control-1" name="otherreason" id="otherreason" rows="2"></textarea>
                
                </div>
            </div>
           
   
  
    
  


    <div class="form-group">
          <label class="form-label-bold" for="reason">Additional information</label>
          <textarea class="form-control form-control-1" name="reason" id="reason" rows="6"></textarea>
    </div>
    <div class="form-group">
      <button class="button">Confirm</button>
    </div><!-- form-group -->


  <div class="visually-hidden">
      <div class="multiple-choice">
          <input id="radio-inline-1" type="radio" name="record" value="yes" checked="">
          <label for="radio-inline-1">Yes</label>
        </div>
  </div>

      



</div>




          </div></form>

 

    


  
</div> 
  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
