{% extends path+"/scenario_03i/_layout-case-simple.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}



<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

<form action="miniReport2" method="post">

<div class="grid-row">
  <div class="column-two-thirds">

	<p class="caption-large" class="mb0">File report: LCWRA due to moving around and climbing steps</p>
	<h1 class="heading-large mt10">Your justification statement</h1>


<div class="form-group">
			<label class="form-label" for="editedJustificationStatement">You can edit any of these details before continuing</label>
			<textarea class="form-control form-control-1-1" name="editedJustificationStatement" id="editedJustificationStatement" rows="16">
The {{ keyEvidence }} GP report (113) and Questionnaire (UC50) suggest the client cannot mobilise unaided by another person, more than 50 metres without stopping because of significant discomfort or exhaustion due to {{ diagnosedConditions }}. This suggests the client has limited capability for work and work-related activity.

{{ evidenceKeyFacts }}

The evidence suggests that they would be unable to self-propel a manual wheelchair. {{ mobilityRestrictionsDetail }}

The available evidence suggests review in the medium term.

{{ reviewPeriodDetails }}
</textarea>
		</div>

<p class="font-small"></p>
<p></p>
<p></p>


<p><input type="submit" class="button" value="Save and continue" id="submitButton"></p>
      </form>


  </div><!-- column -->



{# <div class="column-one-third">

<div class="summary-panel">
<h4 class="bold mb10">Justification so far</h4>
<p class="font-small">The {{ keyEvidence }} LCWRA evidence suggests the client cannot mobilise unaided by another person, more than 50 metres without stopping because of significant discomfort or exhaustion due to {{ diagnosedConditions }}. This suggests the client has limited capability for work and work-related activity.</p>
</div>

</div> #}
<!-- right hand column -->



</div><!-- row -->



{% endblock %}


{% block page_scripts %}

{% include path+"/scenario_03i/autocomplete/_autocompletedata.html" %}
  
 
{% endblock %} 