{% extends path+"/gds-design-standards-review/_layout.html" %}


{% block assess_content %}

<style type="text/css">
.key-details-bar {
  background-color: #005ea5;
}

.key-details-bar .key-details-bar__key-details {
  margin: 0 auto;
  max-width: 990px;
  padding: 20px 30px 20px 60px;
  position: relative;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details {
    padding: 20px 15px;
  }
}

.key-details-bar .key-details-bar__key-details * {
  color: #fff;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__top-block::after,
.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block::after {
  clear: both;
  content: ' ';
  display: block;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  content: ' ';
  padding-top: 10px;
  margin-top: 6px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
    border: 0;
  }
}

.key-details-bar .key-details-bar__key-details dd,
.key-details-bar .key-details-bar__key-details dt {
  float: left;
  font-size: 19px;
  margin-right: 5px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details dd,
  .key-details-bar .key-details-bar__key-details dt {
    float: none;
    font-size: 16px;
    margin: 0;
  }
}

.key-details-bar .key-details-bar__key-details dd {
  margin-right: 20px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details dd {
    margin-bottom: 20px;
  }
  .key-details-bar .key-details-bar__key-details dd:last-of-type {
    margin-bottom: 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  margin-right: 10px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__name {
    font-size: 24px;
    line-height: 1.04167;
    float: left;
    margin: 0 5px 0 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__nino {
  font-size: 24px;
  line-height: 1;
  margin-top: 12px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__nino {
    font-size: 18px;
    float: left;
    margin: 5px 0 0 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__status {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  padding: 5px 8px 0;
  color: #005ea5;
  background-color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin: 5px 0 0;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__status {
    font-size: 14px;
    float: left;
    clear: both;
    margin-top: 5px;
  }
}

#global-header .header-wrapper{
max-width:1160px !important;}
</style>

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <dt class="visually-hidden">Name:</dt>
      <dd class="key-details-bar__name">John Smith</dd>

      <dt class="visually-hidden">National Insurance number:</dt>
      <dd class="key-details-bar__nino">AA 12 34 56 B</dd>

      <dt class="visually-hidden">Claim status:</dt>
      <dd class="key-details-bar__status">Outcome available</dd>
    </div>

    <div class="key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>31 December 1999</dd>

      {# <dt>Mobile:</dt>
      <dd>07771 900 900</dd>

      <dt>Language:</dt>
      <dd>Welsh speaker</dd> #}
    </div>
  </dl>
</section>


  <main id="content" role="main" class="main-content-inner" style="width:1020px; margin: 0 auto;">

    <div class="container">
      <div>
        <div class="main-area" style="padding-top:0px !important;">
                
          <div nunj-block="citizen_content" style="width:1020px; margin: 0 auto;">
            {% block citizen_content %}{% endblock %}
       
        </div><!-- column -->
        
        
      </div><!-- row -->
    </div><!-- container -->

  </main>

{% endblock %}

{% block page_scripts %}
{{ super }}

<script type="text/javascript">
  $( document ).ready(function() {
         $( ".panel-switch" ).click(function() {
             $( ".inner-panel" ).toggleClass( "panel-open" );
         });
     }); 
   
 </script>




{% endblock %}

{% block footer_top %}
{{ super() }}

{% endblock %}
