{% extends path1+"/_layout-booked.html" %}

{% block citizen_content %}

<div class="container">

  {# macro #}
  {{ nav.case_tabs("details3",1,path1) }}

  <div class="grid-row mt30">
  
  
  <div class="column-third">
  
     
    <h3 class="heading-medium mt0">Contact details</h3>
    <h4 class="heading-small">Phone</h4>
    <p>0151 924 2080</p>
    
    <h4 class="heading-small">Text</h4>
    <p>07979 000000</p>
    
    <h4 class="heading-small">Email</h4>
    <p>the.victor.castillo@madeup.com</p>
    
    <h4 class="heading-small">Postal address</h4>
    <p class="address-stack">
    	<span>27 Redhill Lane</span>
    	<span>Ainsdale</span>
    	<span>London</span>
    	<span>Merseyside</span>
    	<span>PR8 9UE</span>
    </p>

       
    
    </div><!-- column -->
    
    <div class="column-third">
    
 
  
     
    <h3 class="heading-medium mt0">Appointment history</h3>
    <h4 class="heading-small">12th July 2016</h4>
    <p class="appt-time">14:00pm</p>
    <p><span class="status red">SENT HOME UNSEEN - 15:30pm</span></p>
    
    <h4 class="heading-small">9th May 2015</h4>
    <p class="appt-time">14:00pm</p>
    <p><span class="status red">DID NOT ATTEND</span></p>
    
    <h4 class="heading-small">1st December 2014</h4>
    <p class="appt-time">14:00pm</p>
    <p><span class="status purple">ARRIVED - 13:50pm</span></p>
    
    <h4 class="heading-small">11th November 2014</h4>
    <p class="appt-time">14:00pm</p>
    <p><span class="status grey">CANCELLED</span></p>
    
    
    
    
    
    </div><!-- column -->

    
  
    
   <div class="column-one-third">
     
 	 	   <div class="case-status">	 
			  <p class="mt10 mb0 bold-small"><span class="circle purple"></span>Booked</p>
			 <!--  <p class="mt10">Assigned to Donald Robinson</p> -->
			<!-- <p class="mt20"><a href="#" class="button">Customer has arrived</a></p> -->
		  </div> 
	  
	  
	  
	  <hr>
	  
	  
	   <h3 class="heading-medium mt0">Appointment details</h3>
	    
	    <h4 class="heading-small">Date</h4>
	    <p>4th January 2018</p>
	    
	    <h4 class="heading-small">Time</h4>
	    <p>14:00</p>

	    
	    <p class="mt30"><a href="#" class="secondary">Cancel appointment</a></p>
	    <p><a href="#">Edit appointent</a></p>
    

	  
	  <hr>
	  
	  
	  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">
        <h1 class="heading-medium">Appointment status</h1>
      </legend>

      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="status-group" value="Customer assessed">
        <label for="radio-1">Customer arrived</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="status-group" value="Customer sent home unseen">
        <label for="radio-2">Customer sent home unseen</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-3" type="radio" name="status-group" value="Unable to attend">
        <label for="radio-3">Unable to attend</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-4" type="radio" name="status-group" value="Did not attend">
        <label for="radio-4">Did not attend</label>
      </div>


    </fieldset>
  </div>
  <div class="form-group">
  	<p><a href="confirm-app" class="button">Confirm</a></p>
  </div>
	  
	  
     
     
    </div><!-- column -->    
    
     
    
    
    
    
    
    
    
    
    
    
    
  </div><!-- row -->
</div><!-- container -->


<div class="modal">
	
	<div class="inner-modal">
	<h3 class="heading-medium">Tomas Fernandez</h3>

	<ul class="mt20">
		<li>Tresco House</li>
		<li>Thursday, 4th January 2018</li>
		
	</ul>
	
	<h3 class="heading-small mt20">Arrival time</h3>
	<p>13:50</p>

	<p class="mt30"><a href="../team-referrals3" class="button">Confirm arrival time</a></p>
	<p><a href="details3">Cancel</a></p>
	</div>
	
</div>


{% endblock %}

{% block footer_top %}
{{ super() }}
{# {% include path1+"/footer_links.html" %} #}
{% endblock %}
