{% extends path1+"/_addlayout.html" %}

{% block citizen_content %}

<div class="container">



  <div class="grid-row mt30">
  
  
  <div class="column-third">
  
     
    <h3 class="heading-medium mt0">Contact details</h3>
    <h4 class="heading-small">Phone</h4>
    <p>0121 626 3704</p>
    
    <h4 class="heading-small">Postal address</h4>
    <p class="address-stack">
    	<span>1st Floor Short Spur</span>
        <span>Fiveways House </span>
        <span>Islington Row </span>
        <span>Birmingham </span>
        <span>B15 1SL </span>

    </p>

       
    
    </div><!-- column -->
    
    <div class="column-third">
  
     
    <h3 class="heading-medium mt0">Opening hours</h3>
    <h4 class="heading-small">Monday</h4>
    <p class="appt-time">09:00am - 17:00pm</p>
    <h4 class="heading-small">Tuesday</h4>
    <p class="appt-time">09:00am - 17:00pm</p>
    <h4 class="heading-small">Wednesday</h4>
    <p class="appt-time">09:00am - 17:00pm</p>
    <h4 class="heading-small">Thursday</h4>
    <p class="appt-time">09:00am - 17:00pm</p>
    <h4 class="heading-small">Friday</h4>
    <p class="appt-time">09:00am - 17:00pm</p>
    <h4 class="heading-small">Saturday</h4>
    <p class="appt-time">Closed</p>
    <h4 class="heading-small">Sunday</h4>
    <p class="appt-time">Closed</p>
    
    
    
    
    
    </div><!-- column -->

    
  
    
    <div class="column-third">
    
    <h3 class="heading-medium mt0">Facilities</h3>
    
    <ul class="list-bullet">
    	<li>4 rooms</li>
    	<li>Ground floor access</li>
    	<li>Lift access</li>
    	<li>Wheelchair access</li>
    </ul>
    
    
    <p class="mt30"><a href="../capacity/fiveways" class="button">Manage Capacity</a></p>
 
    
    
    </div><!-- column -->
    
    
     
    
    
    
    
    
    
    
    
    
    
    
  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block footer_top %}
{{ super() }}
{# {% include path1+"/footer_links.html" %} #}
{% endblock %}
