{% extends path1+"/_addlayout.html" %}

{% block citizen_content %}

<div class="container">

<p><a href="fiveways" class="link-back">Back</a></p>

<h1 class="heading-large mt0">Appointment schedule</h1>


    <div class="grid-row mt30">
          
          
          <div class="column-half">
        <h3 class="heading-medium mt0">Choose a date</h3>
        
        <div class="calendar-book">
        <table>
        <caption>December 2017</caption>
        <thead>
            <tr>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="available"><a href="#">1</a></td>
                <td class="available"><a href="#">2</a></td>
                <td class="available"><a href="#">3</a></td>
                <td class="available"><a href="#" class="selected">4</a></td>
                <td class="available"><a href="#">5</a></td>
                <td class="available"><a href="#">6</a></td>
                <td class="available"><a href="#">7</a></td>
            </tr>
            <tr>
                <td class="available"><a href="#">8</a></td>
                <td class="available"><a href="#">9</a></td>
                <td class="available"><a href="#">10</a></td>
                <td class="available"><a href="#">11</a></td>
                <td class="available"><a href="#">12</a></td>
                <td class="available"><a href="#">13</a></td>
                <td class="available"><a href="#">14</a></td>
            </tr>
            <tr>
                <td class="available"><a href="#">15</a></td>
                <td class="available"><a href="#">16</a></td>
                <td class="available"><a href="#">17</a></td>
                <td class="available"><a href="#">18</a></td>
                <td class="available"><a href="#">19</a></td>
                <td class="available"><a href="#">20</a></td>
                <td class="available"><a href="#">21</a></td>
            </tr>
            <tr>
                <td class="available"><a href="#">22</a></td>
                <td class="available"><a href="#">23</a></td>
                <td class="available"><a href="#">24</a></td>
                <td class="available"><a href="#">25</a></td>
                <td class="available"><a href="#">26</a></td>
                <td class="available"><a href="#">27</a></td>
                <td class="available"><a href="#">28</a></td>
            </tr>
            <tr>
                <td class="available"><a href="#">29</a></td>
                <td class="available"><a href="#">30</a></td>
                <td class="available"><a href="#">31</a></td>
                <td class="available">1</td>
                <td class="available">2</td>
                <td class="available">3</td>
                <td class="available">4</td>
            </tr>
        </tbody>
        </table>
        

        
        
 
        </div>  
        
        
    </div><!-- column -->
    
    
    

    
    
    
    <div class="column-half">
   <h3 class="heading-medium mt0">Appointment slots</h3>
    
    
   <div class="time-select clearfix">
    <h4 class="heading-small">Thursday 4th June</h4>
    <ul class="time-slots time-slots-available">
        <li>
            <a href="#">
                9:00am
                <span>3 slots available</span>
            </a>
        </li>
        <li><a href="fiveways-scheduler-room">10:00am <span>3 slots available</span></a></li>
        <li><a href="#">11:00am <span>3 slots available</span></a></li>
        <li><a href="#">13:00pm <span>2 slots available</span></a></li>
        <li><a href="#">14:00pm <span>1 slot available</span></a></li>
        <li><a href="#" class="unavailable">15:00pm <span>No slots available</span></a></li>
        <li><a href="#">16:00pm <span>4 slots available</span></a></li>
    </ul>
   </div>
   
  
    
    
    </div>
    
    
  
  
  
    
  
          
          
        </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block footer_top %}
{{ super() }}
{# {% include path1+"/footer_links.html" %} #}
{% endblock %}
