{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}




<h1 class="heading-large no-kdBar">Make your recommendation</h1>

<div class="grid-row">
  <div class="column-two-thirds">

	<div class="exam-content">
	
		<table>
			
			<caption>Descriptors to review</caption>
			
			
			<thead>
				<tr>
					<th>Descriptor</th>
					<th>Score</th>
				</tr>
			</thead>
			
			<tbody>
			
			
			<tr class="complete">
				<td><a href="mobility">Moving around and climbing steps without someone’s help</a></td>
				<td><span>Scored</span></td>
			</tr>
			
			<tr>
				<td><a href="#">Standing, sitting and moving between the two</a></td>
				<td><span class="visually-hidden">Not scored</span></td>
			</tr>

			
			</tbody>

			
		</table>
		
	</div>
	





<p class="mt30"><a href="other" class="button">Continue</a></p>

 <!-- <p class="mt30"><a href="report-view" class="button">View report</a></p> -->
  
  



{% endblock %}

