{% extends path+"/_layout-case-action.html" %}

{% block citizen_content %}


<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
  
  
  <div class="grid-row">
  
  
    <div class="column-two-thirds">
    <h1 class="heading-large mt0"><span class="heading-secondary">Step 2 of 2</span>
      
      {% if customer.descriptor == "moving" %}
      Moving around and climbing steps without help
      {% elif customer.descriptor == 'standing'%}
      Standing, sitting and moving between the two
      {% elif customer.descriptor =='reaching'%}
      Reaching
      {% elif customer.descriptor =='picking'%}
      Picking things up and moving them
      {% elif customer.descriptor =='using'%}
      Using your hands
      {% elif customer.descriptor =='speaking'%}
      Speaking, writing and typing
      {% elif customer.descriptor =='hearing'%}
      Hearing and reading
      {% elif customer.descriptor =='seeing'%}
      Seeing well enough to get around safely
      {% elif customer.descriptor =='controlling'%}
      Controlling your bowels and bladder
      {% elif customer.descriptor =='staying'%}
      Staying conscious without fainting, seizures, or blackouts
      {% elif customer.descriptor =='learning'%}
      Learning to do new tasks
      {% elif customer.descriptor =='being'%}
      Being aware of hazards and danger
      {% elif customer.descriptor =='planning'%}
      Planning, starting and finishing everyday tasks
      {% elif customer.descriptor =='coping'%}
      Coping with changes to your daily routine
      {% elif customer.descriptor =='going'%}
      Going out on your own
      {% elif customer.descriptor =='meeting'%}
      Meeting and being with people
      {% elif customer.descriptor =='behaving'%}
      Behaving appropriately around other people
      {% elif customer.descriptor =='eating'%}
      Eating or drinking
      {% endif %}</h1>
    
  

  {% include path+"/includes/scoring/_mobility_score.html" %}



  </div>
  


  </div>


{% endblock %}

{% block page_scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('#change_score').on('click',function(e)
    {
      e.preventDefault();
      console.log('got here')
      $('#been_scored').addClass('js-hidden');
      $('#rescore').removeClass('js-hidden');
    });

    // highlight the right left nav link.
    $($(".nav")[0]).children(":nth-child(1)").addClass('active')
  });
</script>

<script>
  $(".gp-report-show td span").click(function(){
  $(".content-hide").toggleClass("content-show");
  $(".gp-report-show").toggleClass("active-show");
});
</script>
<script>
  $(".esa50-show td span").click(function(){
  $(".content-hide3").toggleClass("content-show3");
  $(".esa50-show").toggleClass("active-show");
});
</script>
<script>
  $(".med3-show td span").click(function(){
  $(".content-hide2").toggleClass("content-show2");
  $(".med3-show").toggleClass("active-show");
});
</script>
{% endblock %}
