{% extends path+"/inc/layout.html" %}

{% block left_col %}

  <h1 class="heading-large">Vouch for someone</h1>

  <p>A proposed way of dealing with the problem of corroborating the things that people tell us.</p>

  <p>This would allow citizens to describe their conditions or problems and then suggest the person who could best corroborate their story. We would then contact that person and give them a quick and simple way to confirm or deny the truth of what's been said.</p>

  <p>This might allow us to reduce burden on the NHS by widening the range of people who could perform this task for us.</p>

  <a href="question" class="button button-start">Start now</a>

  <h2 class="heading-medium">Assumptions to test</h2>
  <ul class="list list-bullet">
    <li>The department will accept trusting other people to verify the truth of what citizens are telling us.</li>
    <li>People will have a person who is best is to verify the truth of what they’re saying and will be able to identify them.</li>
    <li>The vast majority of applicants will be honest making the process quick and simple for the verifiers (that is, we’ll have far more “Yes, this is true” than “No this isn’t true... and here’s why”.</li>
    <li>People will be willing and feel able to judge the truth of things for us.</li>
    <li>People will be willing to go through Verify (or something) in order to do this for someone.</li>
    <li>That people would always feel free to honestly tell us whether something was true and that they couldn’t be coerced to do it.</li>
  </ul>

{% endblock %}
