<div class="full">

</div>
<div class="column-one-third">
    {% if customer.name.first == 'Mcconnell'%}
    <div class="panel panel-warning">
        <h3 class="heading-small">Previous rearangement</h3>
          <p>Mcconnell has previously re-arranged their appointment and earlier appointments are available
          </p>

        </div> 
   
    {% endif%}

    {% if customer.name.first == 'Deena'  and data['changedByCustomer']==="yes"%}
  
    {% elif customer.name.first == 'Deena'%}  
    <div class="panel panel-warning">
        <p>There are currently no alternative appointments available</p>
    </div>
    {% endif%}

    {% if customer.name.first == 'Christie' and data['reason']%}
    <div class="panel panel-warning">
        <h3 class="heading-small">Change of circumstances</h3>

          <p>
              {% if data['reason']==='Customers condition has changed' %}
              Customer's condition has changed
              {% endif %}
              {% if data['reason']==='Customer is now terminally ill' %}
              Customer is now terminally ill
              {% endif %}
              {% if data['reason']==='New medical evidence is available' %}
              New medical evidence is available
              {% endif %} {% if data['reason']==='Taxi requested' %}
              Customer has requested a taxi to the assessment centre
              {% endif %} {% if data['reason']==='Home visit requested' %}
              Customer has requested a home visit
              {% endif %}
          </p>

          <p>
          Advised {{customer.name.first}} that medical evidence will need to be sent to be assessed
      </p>
      <p class="date">{{customer | formatDate("D MMMM YYYY") }}</p>

        </div> 
    {% endif %}


    {% if customer.name.first == 'Deena' and data['changedByCustomer']==="yes" %}
    <h2 class="heading-small">{{customer.name.first}}'s currently doesn't have an appointment booked</h2>
    {% else %}
  <h2 class="heading-small">{{customer.name.first}}'s current appointment</h2>
  {% endif %}
  {% if customer.name.first == 'Deena' and data['changedByCustomer']==="yes" %}

  {% elif customer.name.first == 'Lowery' and data['changedByCustomer']==="no" %}
 <!-- <span class="badge">Updated</span> -->

  <ul class="list-bullet mt10 mb10">
    <li>Mon 18 February 2019</li>
    <li>11:00am</li>
    <li>Tresco House</li>
  </ul>

  <details class="mb10">
  
      <summary><span class="summary">Appointment preferences</span></summary>
    
    
      <h3 class="heading-small">Days {{customer.name.first}} is unavailable:</h3>
    
      <ul class="list-bullet pref-list">
    
    
        <li>Monday <span>afternoons</span>
        </li>
    
    
        <li>Tuesday's</li>
    
    
    
    
      </ul>
    
    
      <h3 class="heading-small">Dates {{customer.name.first}} is unavailable:</h3>
      <ul class="list-bullet pref-list">
    
        <li>11 Febuary 2019 – 17 Febuary 2019</li>
    
    
    
      </ul>
    
    
    
    </details>

  {% elif customer.name.first == 'Dominguez' and data['changedByCustomer']==="yes" %}
  <!--<span class="badge">Updated</span>-->

  <ul class="list-bullet mt10 mb10">
    <li>Tuesday 19 February 2019</li>
    <li>11:00am</li>
    <li>Tresco House</li>
  </ul>
  {% else %}
  <ul class="list-bullet mt10 mb10">
    <li>Tuesday 5 Feb 2018</li>
    <li>4:00pm</li>
    <li>Tresco House</li>
  </ul>
  {% if customer.name.first == 'Lowery'  %}
  <details class="mb10">
  
    <summary><span class="summary">Appointment preferences</span></summary>
  
  
    <h3 class="heading-small">Days {{customer.name.first}} is unavailable:</h3>
  
    <ul class="list-bullet pref-list">
  
  
      <li>Monday <span>afternoons</span>
      </li>
  
  
      <li>Tuesday's</li>
  
  
  
  
    </ul>
  
  
    <h3 class="heading-small">Dates {{customer.name.first}} is unavailable:</h3>
    <ul class="list-bullet pref-list">
  
      <li>11 Febuary 2019 – 17 Febuary 2019</li>
  
  
  
    </ul>
  
  
  
  </details>
  {% endif %}
  {% endif%}
  {% if customer.name.first == 'Deena' and data['changedByCustomer']==="yes" %}
  <p><a href="/{{path1}}/{{customer._id}}/request-rearrangement" class="button-secondary">Book appointment</a></p>
  {% else %}
  <p><a href="/{{path1}}/{{customer._id}}/request-rearrangement" class="button-secondary">Rearrange {% if customer.name.first == 'Mcconnell' %} , request {% endif %} or cancel appointment</a></p>
  {% endif %}
  <p><a href="/{{path1}}/{{customer._id}}/appointment-changeofcircumstances" class="">Record change of circumstances</a></p>


</div>
<div class="column-two-thirds">
  <div class="card-container">


    <div class="card">
      <a href="/fha/v6/booking/{{customer._id}}/appointment-history">

        <h2 class="heading-small">
						<span class="font-small card-header">Review </span> Appointment history
            {% if customer.name.first == 'Mcconnell' and data['appointments']==="no" or  customer.name.first == 'Dominguez' and data['changedByCustomer']==="yes" or  customer.name.first == 'Lowery' and data['changedByCustomer']==="no" or  customer.name.first == 'Deena' and data['changedByCustomer']==="yes" %}
            <span class="badge">Updated</span>
            {% endif %}
							
          </h2>
          <p>
              <span class="heading-xlarge mt0 mb0">
                  {% if customer.name.first == 'Dominguez' and data['changedByCustomer']==="yes" or customer.name.first == 'Mcconnell' or customer.name.first == 'Lowery' and data['changedByCustomer']==="no" or  customer.name.first == 'Deena' and data['changedByCustomer']==="yes" %}
                  2
                  {% else %}
                  1
                  {% endif %}
      
                </span>
          </p>
        <ul class="content">

            {% if customer.name.first == 'Deena' and data['changedByCustomer']==="yes" %}
            <li>
              <h3 class="bold mt0 small">Appointment cancelled</h3>
              <span class="badge alt">Unable to attend</span>
              <p class="small">{{changedByCustomerComments}}
              </p>
            </li>


            {% elif customer.name.first == 'Lowery' and data['changes']==="yes" %}

            <li>
                <h3 class="bold mt0 small">Rearranged appointment</h3>
                <span class="badge alt">We have had to change the appointment</span>
                <p class="small">Appointment conflicts with a appointment preference or special requirement
                </p>
              </li>
           
          {% elif customer.name.first == 'Dominguez' and data['changedByCustomer']==="yes" %}
          <li>
            <h3 class="bold mt0 small">Rearranged appointment</h3>
            <span class="badge alt">Unable to attend</span>
            <p class="small">{{changedByCustomerComments}}
            </p>
          </li>

          {% elif customer.name.first == 'Mcconnell' and data['appointments']==="no" %}

          
          <li>
              <h3 class="bold mt0 small">Rearranged appointment</h3>

              <span class="badge alt">Customer request</span>
           <p class="small">{{changedByCustomerComments}}
           </p>
       
            

            <span class="badge alt mt10">Unable to attend</span>
            <p class="small">Customer rearranged because they have another appointment with there specialist on the same day
            </p>
          </li>

          {% elif customer.name.first == 'Mcconnell' %}
          <li>
            <h3 class="bold mt0 small">Rearranged appointment</h3>


            <span class="badge alt">Unable to attend</span>
            <p class="small">Customer rearranged because they have another appointment with there specialist on the same day
            </p>
          </li>
          {% else %}
          <li>
              <h3 class="bold mt0 small">Appointment booked</h3>
            </li>
          {% endif %}

        </ul>



      </a>


    </div>


  </div>
</div>