{% extends path+"/_layout-case-simple11.html" %}


{% block actioncolumn %}
   


 <div class="caseStatus">
 	
	<h2 class="main-status"><span>Current case status</span>Questionnaire not returned</h2>

 </div>
{% endblock %}


{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
    
    
   
  <div class="grid-row">

    <div class="column-two-thirds">
        
    	<h1 class="heading-large">Details</h1>
    	
    	
		<div class="evidence-requests mt30">

<form method="POST" action="issue-second-uc50">	
<div class="form-group mb10">
  <label class="form-label heading-small mb0" for="postcode-search"><h4 class="heading-small">Forename(s)</h4></label>
  <input class="form-control" id="postcode-search" name="postcode-search" type="text" value="Jay">
</div>
<div class="form-group mb10">
  <label class="form-label heading-small mb0" for="postcode-search"><h4 class="heading-small">Last name</h4></label>
  <input class="form-control" id="postcode-search" name="postcode-search" type="text" value="Reynolds">
</div>
<div class="form-group mb10">
  <label class="form-label heading-small mb0" for="postcode-search"><h4 class="heading-small">Home telephone number</h4></label>
  <input class="form-control" id="postcode-search" name="postcode-search" type="text">
</div>
<div class="form-group mb10">
  <label class="form-label heading-small mb0" for="postcode-search"><h4 class="heading-small">Mobile telephone number</h4></label>
  <input class="form-control" id="postcode-search" name="postcode-search" type="text" value="07973123123">
</div>
<div class="form-group mb10">
  <label class="form-label heading-small mb0" for="postcode-search"><h4 class="heading-small">Email address</h4></label>
  <input class="form-control" id="postcode-search" name="postcode-search" type="text" value="doesntexist@fake.com">
</div>

<div class="form-group">

    <legend>
      <h4 class="heading-small">
        Preferred contact
      </h4>
    </legend>
    <div class="multiple-choice">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="SMS">
      <label for="radio-inline-1">SMS</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Email">
      <label for="radio-inline-2">Email</label>
    </div>

</div>

<div class="form-group">
  <label class="form-label heading-small" for="postcode-search"><h4 class="heading-small">Postcode search</h4></label>
  <input class="form-control form-control-1-4" id="postcode-search" name="postcode-search" type="text">
  <input type="submit" class="button secondary" value="Find address">
</div>
<div class="form-group">
  <input class="form-control" id="contact-address-1" name="contact-address-1" type="text" value="73 Pendwyallt Road">
</div>
<div class="form-group">
  <input class="form-control" id="contact-address-2" name="contact-address-2" type="text" value="Burscough">
</div>
<div class="form-group">
  <input class="form-control" id="contact-address-3" name="contact-address-3" type="text">
</div>
<div class="form-group">
  <input class="form-control" id="contact-address-4" name="contact-address-4" type="text">
</div>
<div class="form-group">
  <label class="form-label heading-small bold" for="postcode-search"><h4 class="heading-small">Postcode</h4></label>
  <input class="form-control" id="postcode-search" name="postcode-search" type="text" value="L40 1FE">
</div>



<div class="form-group">
  <fieldset class="inline">

    <legend>
      <h4 class="heading-small">
        Is this address used for correspondance?
      </h4>
    </legend>

    <div class="multiple-choice">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      <label for="radio-inline-1">Yes</label>
    </div>
    <div class="multiple-choice" data-target="correspondanceAddress">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      <label for="radio-inline-2">No</label>
    </div>

<div class="panel js-hidden" id="correspondanceAddress">
<h4 class="heading-small mt10">Correspondance address</h4>
<div class="form-group mt20">
  <label class="form-label heading-small" for="postcode-search"><h4 class="heading-small">Postcode search</h4></label>
  <input class="form-control form-control-1-4" id="postcode-search" name="postcode-search" type="text">
</div>
</div>

  </fieldset>
</div>

	
				<p class="mt30"><input type="submit" class="button" value="Save"></p>
				
				</form>
		</div>



    </div><!-- column-full -->
  </div>

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
