{% extends path+"/_layout-caselist.html" %}
 

{% block caselist_content %}

            <h2 class="heading-medium mt0"><span class="heading-xlarge">12</span><br/>Ready for review</h2>
            
            
            
            
            <hr />


<div class="filter-mimic">


          <h3 class="heading-small mt0">Filter by:</h3>

		  <div class="filter-choice">
                <a href="/{{path }}/scenario2/referrals-fme">All <span>(12)</span></a>
              </div>
          <div class="filter-choice">
                <a href="/{{path }}/scenario2/new-fme">Ready for review <span>(10)</span></a>
              </div>
          <div class="filter-choice">
              <a href="/{{path }}/scenario2/dna-fme">DNA rereferals <span>(1)</span></a>
            </div>
           <div class="filter-choice">
              <a href="/{{path }}/scenario2/ocp-fme" class="selected">New evidence recorded <span>(1)</span></a>
            </div> 

     </div>

              <table class="referrals-layout">

                <thead>
                  <tr>
                    <th>Details</th>
                    <th>Status</th>
                  </tr>
                </thead>
                

                <tr>
                  <td><a href="/{{path }}/scenario1/timeline-fme"><span class="visually-hidden">Name</span>Bobby Henderson</a><span class="text-secondary block"><span class="visually-hidden">Nino</span>ZZ 41 54 60 Z</span></td>
                  <td>New evidence recorded</td>
                                 </tr>
                             

                </tbody>

              </table>
          

{% endblock %}





