{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content">

      <div class="container">
        <div class="grid-row">
          <div class="column-full">
              <h1 class="heading-xlarge">
                Case list
                  <span class="heading-secondary">Birmingham fiveways</span>
                 
                </h1>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-one-quarter">
                         <hr class="mt0" />
                        <h2 class="heading-medium mt0">
                          <span class="heading-xlarge" style="font-size:80px;"> 450</span>
                          <br/>Current cases</h2>
          </div>
          <div class="column-three-quarters">
    	          <div class="grid-row">
                  <div class="card-container">

                    <section class="card">
                      <a href="referrals.html">
                    
                        <h2 class="bold-small">
                          <span class="heading-xlarge">133</span>
                          <br/>Referral's</h2>
                    
                      </a>
                      <a href="new-referrals.html">New referrals (35)</a>
                      <a href="uc50-posted.html">UC50 posted (78)</a>
                      <a href="uc50-recieved.html">UC50 recieved (20)</a>
                    </section>

                    <section class="card">
                        <a href="reviews.html">
                      
                          <h2 class="bold-small">
                            <span class="heading-xlarge">49</span>
                            <br/>Reviews</h2>
                      
                        </a>
                        <a href="">Ready for review (14)</a>
                        <a href="">Requested medical evidence (15)</a>
                        <a href="">Recieved medical evidence (20)</a>
                      </section>

                      <section class="card">
                          <a href="appointments.html">
                        
                            <h2 class="bold-small">
                              <span class="heading-xlarge">223</span>
                              <br/>Appointments</h2>
                        
                          </a>
                          <a href="">Ready to book (35)</a>
                          <a href="">Assessment booked (178)</a>
                        
                        </section>
                        <section class="card">
                            <a href="assessment.html">
                          
                              <h2 class="bold-small">
                                <span class="heading-xlarge">24</span>
                                <br/>Assessments today</h2>
                          
                            </a>
                            <a href="">9:00am (4)</a>
                            <a href="">10:00am (4)</a>
                            <a href="">11:00am (4)</a>
                            <a href="">12:00pm (4)</a>
                          
                          </section>
                    </div>
                </div>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
