{% extends path+"/_layout.html" %}



{% block assess_content %}

  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
 
        <li class="selected"><a href="appointments">Referrals</a></li>
        <li><a href="assessment-centres">Manage my centre</a></li>
		<li><a href="#">Daily schedule</a></li>
    </ul>
    
    
  </div>
</div>

<main id="content" role="main" class="main-content mt30">

      <div class="container">
      
   <h1 class="heading-large">Referrals</h1>
   
   
   <div class="section-tabs clearfix">
    <ul>

        <li class="active"><a href="#">Available referrals (<span id="available-refs-total">20</span>)</a></li>
        <li><a href="team-referrals">Team referrals (<span id="team-refs-total">4</span>)</a></li>
		<li><a href="myreferrals">My referrals (<span id="my-refs-total">0</span>)</a></li>

      
    </ul>
    
  </div>
      
      
        <div class="grid-row">
          <div class="column-full">
          
          <div class="table-filter-list">
          	<ul>
          		<li>Showing</li>
          		<li class="active">All</li>
          		<li><a href="#">UCB</a></li>
          		<li><a href="#">Requirements</a></li>
          	</ul>
          <!--	<div class="filter-search">
          		<label for="filterme" class="visually-hidden">Search</label>
		    	<input type="text" id="filterme" class="form-control form-control-1-4" placeholder="Type to filter">
		    </div>  -->
          </div>
          
          
              <table class="appointments-view">

                <thead>
                  <tr class="header-view">
                  	<th style="padding-left:15px;">Received</th>
                    <th>Customer</th>
                    <th>Benefit</th>
                    <th>Claim type</th>
                    <th>Requirements</th>
                    <th></th>
                  </tr>
                </thead>
				
				<tr role="row">
                  <td style="padding-left:15px;" class="date">6 Feb</td>
                  <td class="customer-detail"><a href="booking/open-timeline" class="col-heading">Tomas Fernandez</a> <span>QQ 53 12 35C</span></td>
                  <td>IB</td>
                  <td>New</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>

                <tr role="row">
                  <td style="padding-left:15px;" class="date">26 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Victor Castillo</a> <b>UCB</b><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>Reassessment</td>
                  <td class="status"><b>INTERPRETER NEEDED</b><b>TAXI NEEDED</b></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">24 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Mia Russell</a><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>New</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                 <tr role="row">
                  <td style="padding-left:15px;" class="date">24 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Bobby Henderson</a> <b>UCB</b><span>QQ 53 12 35C</span></td>
                  <td>UC</td>
                  <td>New</td>
                  <td class="status"><b>TAXI NEEDED</b></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">John Jones</a><span>QQ 53 12 35C</span></td>
                  <td>UC</td>
                  <td>Rereferral</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Alan Smith</a><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>New</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Stephen Field</a><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>Rereferral</td>
                  <td class="status"><b>TAXI NEEDED</b></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Katy Johnson</a><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>New</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Alvaro Lacazette</a><span>QQ 53 12 35C</span></td>
                  <td>IB</td>
                  <td>Reassessment</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">James Templeton</a><span>QQ 53 12 35C</span></td>
                  <td>IB</td>
                  <td>Rereferral</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Audrey Shelby</a><span>QQ 53 12 35C</span></td>
                  <td>UC</td>
                  <td>New</td>
                  <td class="status"><b>TAXI NEEDED</b></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Kevin Owens</a><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>New</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Samuel Christie</a><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>Rereferral</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Laura Codd</a><span>QQ 53 12 35C</span></td>
                  <td>UC</td>
                  <td>New</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Finton O'Reilly</a><span>QQ 53 12 35C</span></td>
                  <td>IB</td>
                  <td>Rereferral</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Lucaz Lewandowski</a><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>Rereferral</td>
                  <td class="status"><b>TAXI NEEDED</b></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Arthur Ash</a><span>QQ 53 12 35C</span></td>
                  <td>IB</td>
                  <td>New</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Winston Golding</a><span>QQ 53 12 35C</span></td>
                  <td>UC</td>
                 <td>Rereferral</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Britney Brown</a><span>QQ 53 12 35C</span></td>
                  <td>UC</td>
                  <td>New</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>
                
                <tr role="row">
                  <td style="padding-left:15px;" class="date">20 Jan</td>
                  <td class="customer-detail"><a href="#" class="col-heading">Sophie Simpson</a><span>QQ 53 12 35C</span></td>
                  <td>ESA</td>
                  <td>Reassessment</td>
                  <td class="status"></td>
                  <td class="numeric add"><a href="#" class="button">Own</a></td>
                </tr>




               
              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
