{% extends path2+"/_layout.html" %}

{% block scoring_content %}



 <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large mt10">Assessment review</h1>
  
  
  <dl class="assessment-overview">
  	
  	<dt>Date of assessment</dt>
  	<dd>{{ "Do MMM YYYY" | daysAgo }}</dd>
  	
  	<dt>Assessment centre</dt>
  	<dd>Fiveways, Birmingham</dd>
  	
  	<dt>Assessor</dt>
  	<dd>Heather Harrison</dd>
  	
  	<dt>Assessment start</dt>
  	<dd>{{ last_one.time | formatDate("H:mma") }}</dd>
  	
  	<dt>Assessment finish</dt>
  	<dd>{{ first_one.time | formatDate("H:mma") }}</dd>
  

  </dl>

   
 <div class="review-wrapper">
 
 
    
    
    
<div class="review-item">
	<h2 class="heading-medium">Illnesses and their effects</h2>
	
	
	<div class="whatweknow">

        
    <table>
    
    	
    	<thead>
					<tr>
						<th>Name</th>
						<th>Since</th>
						<th>Source</th>
					</tr>
				</thead>
				<tbody>

				<tr>
						<td>Depression</td>
						<td>February 2018</td>
						<td>Claimant</td>
					</tr>
					<tr>
						<td>Emergency fasciotomy</td>
						<td>August 2017</td>
						<td>Claimant</td>
					</tr>
					<tr>
						<td>Acute compartment syndrom</td>
						<td>August 2017</td>
						<td>Claimant</td>
					</tr>
					<tr>
						<td>Compound fracture - shinbone</td>
						<td>July 2017</td>
						<td>Claimant</td>
					</tr>
				</tbody>
    	
    </table>
        
        
	    
	</div> 
	<p><a href="#" class="button secondary">Edit Illnesses and their effects</a></p>
</div>

<div class="review-item">
	<h2 class="heading-medium">Social and work history</h2>
	<p>He is a single parent of 4 children 7, 8, 9, 16. Cares for their needs.</p>
	<p>He has a bath and shower upstairs and a separate shower en suite also.</p>
	<p>Has a toilet upstairs and downstairs.</p>
	<p>Showers, washes own hair and dresses himself.</p>
	<p>Using furniture in his bedroom as needed - no official adaptations.</p>
	<p>Got a lift today from his brother but attended alone. Attends all his appointments alone.</p>
	<p>Struggles to lie flat due to back pain. He sometimes sleeps on the couch propped with pillows due to pain.</p>
	<p>He walks 3 minutes to local shop with a crutch in right hand. He is able to manage his own shopping and carry this home.</p>
	<p>He does his own shopping at supermarket, gets taxi there as cannot carry all the bags home due to back pain. Able to walk around a supermarket holding onto trolley and get own purchases.</p>
	<p>Uses a landline for calls.</p>
	<p>Filled in his own ESA50.</p>
	<p>Manages his own post, finances and appointments.</p>
	<p><a href="#" class="button secondary">Edit social and work history</a></p>
</div>



<div class="review-item">
	<h2 class="heading-medium">Typical day</h2>
	    
	    <p>Usually sees same GP at the surgery but would see others if unavailable.</p>
	    
	    <p>Is liaising with social work team at moment as having issues with one of his children acting up since his mum died, struggling to cope with it.</p>
	    
	    <p>He coped with an 80 minute unexpected wait today sat in waiting room full.</p>
	    
	    <p>Able to liaise with reception staff.</p>
	    
	    <p>Doesn’t really have time for hobbies or sitting down with 4 children. When that are at school he is tidying the house and doing laundry for when they all get back.</p>
	    
	    <p>Repositions in the chair if he is sitting down due to back pain.</p>
	    
	    <p>Is going to collect food parcel due to his benefits being capped after assessment.</p>

		<p>Makes family meals just has to be careful not to fill pans too heavy due to back pain.</p>
	    
	    <p>Reports good road and kitchen safety awareness.</p>
	    
	    <p>No upper limb problems,  problems reported on ESA50 due to back pain.</p>
	    
	    <p>Able to use stairs with banister.</p>

	<p><a href="#" class="button secondary">Edit typical day</a></p>
</div>  

<div class="review-item">
	<h2 class="heading-medium">Physical assessments</h2>
	
	<p>Consent was given by Tomas to start the physical assessment.</p>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Lower back and legs</h3>
		
		<h4 class="heading-small">Lower back</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<h4 class="heading-small">Left leg</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<h4 class="heading-small">Right leg</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	
		
		<p><a href="#" class="button secondary">Edit lower back and legs</a></p>
	</div>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Upper body</h3>
		
		<h4 class="heading-small">Torso</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<h4 class="heading-small">Left arm</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<h4 class="heading-small">Right arm</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<p><a href="#" class="button secondary">Edit upper body</a></p>
	</div>
	
</div>  
 
 <div class="review-item">
	<h2 class="heading-medium">Mental health</h2>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Appearance <!-- <span class="edited">Edited</span> --></h3>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<p><a href="#" class="button secondary">Edit appearance</a></p>
	</div>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Speech</h3>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<p><a href="#" class="button secondary">Edit speech</a></p>
	</div>
	
</div>  

 <div class="review-item">
	<h2 class="heading-medium">Recommendation</h2>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Moving around and climbing steps without someone's help</h3>
				
		<h4 class="heading-small">How far can Tomas walk or move on level ground without help from someone, and without stopping due to severe pain or tiredness?</h4>
		
		<p>More than 200 metres</p>
		
		<h4 class="heading-small">Can Tomas go up or down 2 steps without help, if they use a handrail?</h4>
		
		<p>No</p>
		
		<h4 class="heading-small">Justification:</h4>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		
		<p><a href="#" class="button secondary">Edit moving around and using steps</a></p>
	</div>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Standing, sitting and moving between the two</h3>
				
		<h4 class="heading-small">How far can Tomas walk or move on level ground without help from someone, and without stopping due to severe pain or tiredness?</h4>
		
		<p>More than 200 metres</p>
		
		<h4 class="heading-small">Can Tomas go up or down 2 steps without help, if they use a handrail?</h4>
		
		<p>No</p>
		
		<h4 class="heading-small">Justification:</h4>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		
		<p><a href="#" class="button secondary">Edit moving around and using steps</a></p>
	</div>

	
</div>  


<div class="review-item">
 <h2 class="heading-medium">Outcome</h2>
 
 <div class="exam-content">
		<table>
			
			<caption>Descriptors to review</caption>
			
			
			<tr>
				<th>Moving around and climbing steps without someone's help</th>
				<td>0</td>
			</tr>
			<tr>
				<th>Standing, sitting and moving between the two</th>
				<td>0</td>
			</tr>

			
			<tr class="total-score">
				<th>Total score: </th>
				<td>0</td>
			</tr>
			
		</table>	
	</div>
	
 </div>


<div class="review-item">
	<h2 class="heading-medium">Exceptional circumstances</h2>

		<h3 class="heading-small">Circumstances why Tomas should be treated as LCW and LCWRA:</h3>
		<p>None</p>

		<h3 class="heading-small">Circumstances why Tomas should be treated as LCW:</h3>
		<p>None</p>

		
		<p><a href="#" class="button secondary">Edit exceptional circumstances</a></p>
</div>  

<div class="review-item">
	<h2 class="heading-medium">Prognosis</h2>

		<h3 class="heading-small">Time until Tomas's case needs reviewing:</h3>
		<p>12 months</p>		
		<p><a href="#" class="button secondary">Edit prognosis</a></p>
</div> 



  
  
   </div>
 <!-- / wrapper -->
  
  
  
 <p><a href="report-print" class="button">Finish - sign off report</a></p>




{% endblock %}

