{% extends path2+"/_layout.html" %}

{% block scoring_content %}



 <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>

  
<h1 class="heading-large mt10">Assessment review</h1>
  
  
  <dl class="assessment-overview">
  	
  	<dt>Date of assessment</dt>
  	<dd>{{ "Do MMM YYYY" | daysAgo }}</dd>
  	
  	<dt>Assessment centre</dt>
  	<dd>Fiveways, Birmingham</dd>
  	
  	<dt>Assessor</dt>
  	<dd>Heather Harrison</dd>
  	
  	<dt>Assessment start</dt>
  	<dd>{{ last_one.time | formatDate("H:mma") }}</dd>
  	
  	<dt>Assessment finish</dt>
  	<dd>{{ first_one.time | formatDate("H:mma") }}</dd>
  

  </dl>

   
 <div class="review-wrapper">
 
 
    
    
    
<div class="review-item">
	<h2 class="heading-medium">Illnesses and their effects</h2>
	
	
	<div class="whatweknow">

        
    <table>
    
    	
    	<thead>
					<tr>
						<th>Name</th>
						<th>Since</th>
						<th>Source</th>
					</tr>
				</thead>
				<tbody>

				<tr>
						<td>Depression</td>
						<td>February 2018</td>
						<td>Claimant</td>
					</tr>
					<tr>
						<td>Emergency fasciotomy</td>
						<td>August 2017</td>
						<td>Claimant</td>
					</tr>
					<tr>
						<td>Acute compartment syndrom</td>
						<td>August 2017</td>
						<td>Claimant</td>
					</tr>
					<tr>
						<td>Compound fracture - shinbone</td>
						<td>July 2017</td>
						<td>Claimant</td>
					</tr>
				</tbody>
    	
    </table>
        
        
	    
	</div> 
	<p><a href="#" class="button secondary">Edit Illnesses and their effects</a></p>
</div>

<div class="review-item">
	<h2 class="heading-medium">Social and work history</h2>
	{% for comment in socialWorkComments %}
	<p>{{comment.comment}}</p>
	{% endfor %}
	<p><a href="#" class="button secondary">Edit social and work history</a></p>
</div>



<div class="review-item">
	<h2 class="heading-medium">Typical day</h2>
	    
	{% for comment in typicalDayComments %}
	<p>{{comment.comment}}</p>
	{% endfor %}
	<p><a href="#" class="button secondary">Edit typical day</a></p>
</div>  

<div class="review-item">
	<h2 class="heading-medium">Physical assessments</h2>
	
	<p>Consent was given by Tomas to start the physical assessment.</p>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Lower back and legs</h3>
		
		<h4 class="heading-small">Lower back</h4>
		<p>{{physLowerbackObs}}</p>
		
		<h4 class="heading-small">Left leg</h4>
		<p>{{leftLowerbackObs}}</p>
		
		<h4 class="heading-small">Right leg</h4>
		<p>{{rightLowerbackObs}}</p>
	
		
		<p><a href="#" class="button secondary">Edit lower back and legs</a></p>
	</div>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Upper body</h3>
		
		<h4 class="heading-small">Torso</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<h4 class="heading-small">Left arm</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<h4 class="heading-small">Right arm</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<p><a href="#" class="button secondary">Edit upper body</a></p>
	</div>
	
</div>  
 
 <div class="review-item">
	<h2 class="heading-medium">Mental health</h2>
{% if data['Appearance'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Appearance <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhappearance}}</p>
	
	<p><a href="#" class="button secondary">Edit appearance</a></p>
</div>
{% endif %}

{% if data['Behaviour'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Behaviour <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhbehaviour}}</p>
	
	<p><a href="#" class="button secondary">Edit Behaviour</a></p>
</div>
{% endif %}

{% if data['Speech'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Speech <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhspeech}}</p>
	
	<p><a href="#" class="button secondary">Edit Speech</a></p>
</div>
{% endif %}

{% if data['Mood'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Mood <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhmood}}</p>
	
	<p><a href="#" class="button secondary">Edit Mood</a></p>
</div>
{% endif %}

{% if data['Cognition'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Cognition <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhcognition}}</p>
	
	<p><a href="#" class="button secondary">Edit Cognition</a></p>
</div>
{% endif %}

{% if data['General'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">General <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhgeneral}}</p>
	
	<p><a href="#" class="button secondary">Edit General</a></p>
</div>
{% endif %}



{% if data['Insight'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Insight <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhinsight}}</p>
	
	<p><a href="#" class="button secondary">Edit Insight</a></p>
</div>
{% endif %}

{% if data['Thoughts'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Thoughts <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhthoughts}}</p>
	
	<p><a href="#" class="button secondary">Edit Thoughts</a></p>
</div>
{% endif %}


{% if data['Perceptions'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Perceptions <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhperceptions}}</p>
	
	<p><a href="#" class="button secondary">Edit Perceptions</a></p>
</div>
{% endif %}

{% if data['Addiction'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Addiction <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhaddiction}}</p>
	
	<p><a href="#" class="button secondary">Edit Addiction</a></p>
</div>
{% endif %}

{% if data['Involentry-movements'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Involuntary movements <!-- <span class="edited">Edited</span> --></h3>
	
	<p>{{mhinvolentry}}</p>
	
	<p><a href="#" class="button secondary">Edit Involuntary movements</a></p>
</div>
{% endif %}


{% if data['Cognative-test'] %}    
<div class="review-inner">	
	<h3 class="heading-medium">Cognative tests <!-- <span class="edited">Edited</span> --></h3>
	<h4 class="heading-small">Serial sevens</h4>
<p>{{serialSeven}}</p>
<h4 class="heading-small">Calculating change</h4>
<p>{{Calculating}}</p>
<h4 class="heading-small">Follow commands</h4>
<p>{{follow}}</p>
<h4 class="heading-small">Attention</h4>
<p>{{attention}}</p>
<h4 class="heading-small">Registration</h4>
<p>{{registration}}</p>
<h4 class="heading-small">Recall</h4>
<p>{{recall}}</p>
<h4 class="heading-small">Informal tests</h4>
<p>{{mhcognativetests}}</p>
	
	<p><a href="#" class="button secondary">Edit appearance</a></p>
</div>
{% endif %}

	

	
</div>  

 <div class="review-item">
	<h2 class="heading-medium">Recommendation</h2>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Moving around and climbing steps without someone's help</h3>
				
		<h4 class="heading-small">How far can Tomas walk or move on level ground without help from someone, and without stopping due to severe pain or tiredness?</h4>
		
		{% if checked('mobilityDistance', 'morethan_200') %}
		<p>More than 200 metres</p>
		{% else %}
		<p>No more than {{mobilityDistance}} metres.</p>
		{% endif %}
		
		<h4 class="heading-small">Can Tomas go up or down 2 steps without help, if they use a handrail?</h4>
		
		{% if checked('mobilitySteps', 'yes') %}
		<p>Yes</p>
		{% else %}
		<p>No</p>
		{% endif %}
		
		<h4 class="heading-small">Justification:</h4>
		
		<p>{{mobilityDetails}}</p>
		
		<p><a href="#" class="button secondary">Edit moving around and using steps</a></p>
	</div>
	
	<div class="review-inner">	
		<h3 class="heading-medium">Standing, sitting and moving between the two</h3>
				
		<h4 class="heading-small">How far can Tomas walk or move on level ground without help from someone, and without stopping due to severe pain or tiredness?</h4>
		
		<p>More than 200 metres</p>
		
		<h4 class="heading-small">Can Tomas go up or down 2 steps without help, if they use a handrail?</h4>
		
		<p>No</p>
		
		<h4 class="heading-small">Justification:</h4>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		
		<p><a href="#" class="button secondary">Edit moving around and using steps</a></p>
	</div>

	
</div>  


<div class="review-item">
 <h2 class="heading-medium">Outcome</h2>
 
 <div class="exam-content">
		<table>
			
			<caption>Descriptors to review</caption>
			
			
			<tr>
				<th>Moving around and climbing steps without someone's help</th>
				<td>0</td>
			</tr>
			<tr>
				<th>Standing, sitting and moving between the two</th>
				<td>0</td>
			</tr>

			
			<tr class="total-score">
				<th>Total score: </th>
				<td>0</td>
			</tr>
			
		</table>	
	</div>
	
 </div>


<div class="review-item">
	<h2 class="heading-medium">Exceptional circumstances</h2>

		<h3 class="heading-small">Circumstances why Tomas should be treated as LCW and LCWRA:</h3>
		<p>None</p>

		<h3 class="heading-small">Circumstances why Tomas should be treated as LCW:</h3>
		<p>None</p>

		
		<p><a href="#" class="button secondary">Edit exceptional circumstances</a></p>
</div>  

<div class="review-item">
	<h2 class="heading-medium">Prognosis</h2>

		<h3 class="heading-small">Time until Tomas's case needs reviewing:</h3>
		<p>12 months</p>		
		<p><a href="#" class="button secondary">Edit prognosis</a></p>
</div> 



  
  
   </div>
 <!-- / wrapper -->
  
  
  
 <p><a href="report-print" class="button">Finish - sign off report</a></p>




{% endblock %}

