{% extends path+"/scenario_03i/_layout-case-simple.html" %}

{% block citizen_content %}

{{ data.nuggets | log }}




<p class="no-kdBar mb20"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>



<div class="grid-row">
  <div class="column-two-thirds">

<p class="caption-large" class="mb0">Paper-based assessment</p>
<h1 class="heading-large mt0">Summarise your findings</h1>


<form method="post" action="reviewPeriod">

	
<div class="form-group">
			<label class="form-label" for="justify">Write your justification.</label>
			<textarea class="form-control form-control-1-1" name="justifyAdvice" id="justify" rows="8"></textarea>
		</div>

    <p><input type="submit" class="button" value="Save and continue" id="submitButton"></p>
		</form>	

  </div><!-- column -->


<div class="column-one-third">

<div class="summary-panel">
<h4 class="bold mb10">Summary</h4>
<p class="font-small">LCWRA: moving around and climbing steps without someone’s help</p>
<p class="font-small bold mb10">Evidence considered</p>
<ul class="mb20">
	<li class="mb5">GP report (113)</li>
	<li class="mb5">Fit note (Med3)</li>
	<li class="mb5">Questionnaire (UC50)</li>
	<li>Basic medical report (UC85A)</li>
</ul>
<p class="font-small bold mb10">Previous reports seen</p>
<p class="font-small">{{ previousReportDates }}</p>
</div>

  </div><!-- right hand column -->


</div><!-- row -->



{% endblock %}


