{% extends path+"/_layout-case-simple6.html" %}


{% block actioncolumn %}
   
 <p class="returnRef"><a href="/{{path }}/scenario6/referrals-fme" class="link-back">Return to case list</a></p>
 <div class="caseStatus">
	 <h2 class="main-status"><span>Current case status</span>Ready for review</h2>


</div>
{% endblock %}

{% block citizen_detail %}
Jurgen Covault
{% endblock %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    <p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
    
    
   
  <div class="grid-row">

    <div class="column-two-thirds">
        

    	
    	<h1 class="heading-large">Request evidence</h1>
		
		
		<div class="evidence-requests mt30">


			<h2 class="heading-medium mb10">Requesting {% if data['evidenceChoice']=='ev-gp'%}GP report{% else %}Factual report{% endif %}</h2>
			
			
			{% if data['evidenceChoice']=='ev-fr'%}
			<h3 class="heading-small mb5">Information requested:</h3>
			<p>{{FactRequestReason}}</p>
			{% else %}
			{% endif %}
			
			
			<h3 class="heading-small mb5">Reason:</h3>
			
			{% if data['requestReason']=='insuff'%}
			<p>Insufficient evidence to support claimant's statements</p>
			{% else %}
			<p>{{evRequestReason}}</p>
			{% endif %}
			
			<hr>
			
			<div class="notice">
				<i class="icon icon-important">
					<span class="visually-hidden">Warning</span>
				</i>
				<strong class="bold-small">
					You need to print a {% if data['evidenceChoice']=='ev-gp'%}GP report request{% else %}factual report request{% endif %} and post it to the relevant person</strong>
			</div>
			
			<p class="mt20"><a href="#" class="secondary-invert">Print {% if data['evidenceChoice']=='ev-gp'%}GP report request{% else %}factual report request{% endif %}</a></p>
			
			

		</div>
		
		<hr>

				
				
				
				<p class="mt30"><a href="/{{path }}/scenario6/evidence-step1" class="button">Save and continue</a></p>
																		

				
				
				

		</div>



    </div><!-- column-full -->
  </div>

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
