{% extends "front_layout.html" %}

{% block content %}

<div class="index">

<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge"> {{ serviceName }}</h1>
    <h2 class="heading-large index-heading-large">Prototypes</h2>
  </div>
</div>

<main id="content" role="main">

    {% include "includes/prototype_banner.html" %}

    <p class="form-hint mt10" style="text-align:right">Edit these files on <a href="https://github.com/dwpdigitaltech/healthanddisability">GitHub</a>.</p>

    <div class="latest_version">
      {% include "assess/v1/_front.html" %}
      {% include "joint/front.html" %}
      {% include "ds1500/front.html" %}
      {% include "esa113/inc/front.html" %}
      {% include "vouch/inc/front.html" %}
    </div>

    <div class="grid-row">
      <div class="column-full">

        <h2 class="heading-medium">Older versions</h2>
        <p>Older versions will appear here.</p>

        {# <details>
          <summary><span class="summary">View older prototypes</span></summary>
          <div>

            <!--- START OF VERSIONS --->
            {% include "smits/v4/inc/index.html" %}
            {% include "smits/v3/inc/index.html" %}
            {% include "smits/v2/inc/index.html" %}
            {% include "smits/v1/inc/index.html" %}

            <!--- END OF VERSIONS --->
          </div>
        </details> #}

      </div><!-- column -->
    </div><!-- row -->

</main>

</><!-- .index -->
{% endblock %}
