<title>{% block page_title %}GOV.UK - The best place to find government services and information{% endblock %}</title>

<!--[if gt IE 8]><!--><link href="{{ asset_path }}stylesheets/govuk-template.css?0.19.0" media="screen" rel="stylesheet" /><!--<![endif]-->
<!--[if IE 6]><link href="{{ asset_path }}stylesheets/govuk-template-ie6.css?0.19.0" media="screen" rel="stylesheet" /><![endif]-->
<!--[if IE 7]><link href="{{ asset_path }}stylesheets/govuk-template-ie7.css?0.19.0" media="screen" rel="stylesheet" /><![endif]-->
<!--[if IE 8]><link href="{{ asset_path }}stylesheets/govuk-template-ie8.css?0.19.0" media="screen" rel="stylesheet" /><![endif]-->
<link href="{{ asset_path }}stylesheets/govuk-template-print.css?0.19.0" media="print" rel="stylesheet" />

<!--[if IE 8]><link href="{{ asset_path }}stylesheets/fonts-ie8.css?0.19.0" media="all" rel="stylesheet" /><![endif]-->
<!--[if gte IE 9]><!--><link href="{{ asset_path }}stylesheets/fonts.css?0.19.0" media="all" rel="stylesheet" /><!--<![endif]-->
<!--[if lt IE 9]><script src="{{ asset_path }}javascripts/ie.js?0.19.0"></script><![endif]-->
<link href="{{cssPath}}" media="screen" rel="stylesheet" type="text/css" />


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="{{ asset_path }}images/opengraph-image.png?0.19.0">

{% block head %}{% endblock %}
</head>


<style>
body{
    background:transparent;
}

.letterhead{
    background:url(/public/images/dwp.png) no-repeat right 0 ;
    background-size:10%;
    height:80px;
    font-size:1.5em;
    line-height: 80px;
    padding-bottom:20px;
    border-bottom:1px solid #bfc1c3;
}


.letterhead h1{
    margin:0px;
    line-height: 80px;
}

.factual-report{
    width:60%;
    max-width:880px;
    background:#fff;
    margin:60px auto;
    padding:20px 40px;
}

.formbox{
    border:1px solid #bfc1c3;
    height:600px;
    width:100%;
    position:relative;
    margin-bottom:30px;
}

.formbox p.statement{

    position:absolute;
    bottom:0px;
    right:20px;
}
.hcpdetails .titles{
    float:left;
}

.hcpdetails hr{

        margin-top: 35px;
    margin-bottom: 45px;

}
</style>


<div class="factual-report">
   <div class="letterhead">
    <h1 class="heading-medium">GP Report 113 Request form</h1>
  
   </div>
   <div class="notice mt30 mb30">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
                Don't worry you haven't broken it, this would be a view of the form
        </strong>
  </div>
 </div>