{% extends path1+"/_layout.html" %}



{% block citizen_content %}

  {{ nav2.case_tabs("bobby_timeline",1,path1) }}


<div class="container">

<div class="timeline">
        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Appointment cancelled</h3>
          <p class="timeline_datetime">{{ 'D MMMM YYYY' | randDaysAgo(0) }}</p>
        </div>


        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Appointment booked</h3>
          <p class="timeline_datetime">{{appointments.booked}}</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Referred for appointment</h3>
          <p class="timeline_datetime">{{appointments.referred}}</p>
        </div>

         <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">GP statement received (ESA113)</h3>
          <p class="timeline_datetime">29 April 2018</p>
        </div>
        
          <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Request for GP statement sent (ESA113)</h3>
          <p class="timeline_datetime">19 April 2018</p>
        </div>
        
          <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA50 form received at CHDA</h3>
          <p class="timeline_datetime">4 April 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA50 form sent out to Tomas</h3>
          <p class="timeline_datetime">12 March 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">FIT note (MED3) received </h3>
          <p class="timeline_datetime">5 March 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Entitlement letter sent to Tomas</h3>
          <p class="timeline_datetime">20 February 2018</p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">ESA application completed on the phone</h3>
          <p class="timeline_datetime">20 February 2018</p>
        </div>

        <div style="clear:both"></div>

      </div><!-- timeline -->

  </div><!-- row -->
  
{% endblock %}

{% block footer_top %}
{{ super() }}
{# {% include path1+"/footer_links.html" %} #}
{% endblock %}
_