{% extends path1+"/_manage-centre-layout.html" %} 


{% block citizen_content %}
<div class="containers">
    <div class="grid-row mt30">
            <div class="column-two-thirds">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Skills</th>
                        <th>Available Times</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in staff %}
                <tr>
                    <td><a href="manage-staff/staff-profile/{{ person.id }}?tab=details">{{ person.name }}</a></td>
                    <td>{{ person.skill }}{{ ", Scrutiny" if person.scrutinyPaperwork}}</td>
                    <td>
                      <ul>
                        {% for day, dayDetails in person.days %}
                            {% if dayDetails.available %}
                            <li class="time-list"><span class="capitalise time-list__day">{{day}}</span>  <span>{{dayDetails.start}} to {{dayDetails.end}}</span></li>
                            {% endif %}
                        {% endfor %}
                      </ul>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- column -->
        <div class="column-one-third">
            <div class="info-panel">
                <h3 class="heading-small">Staff totals</h3>

                <div class="grid-row mt10">
                    <div class="data column-half">
                      <span class="data-item bold-xlarge">
                          {{ staffTotals.complex }}
                      </span>
                      <span class="data-item bold-xsmall">Complex Neuro</span>
                    </div>
                    <div class="data column-half">
                      <span class="data-item bold-xlarge">{{staffTotals.neuro}}</span>
                      <span class="data-item bold-xsmall">Neuro</span>
                    </div>
                </div>
                <div class="grid-row mt10">
                    <div class="data column-half">
                      <span class="data-item bold-xlarge">
                          {{ staffTotals.total }}
                      </span>
                      <span class="data-item bold-xsmall">Total</span>
                    </div>
                    <div class="data column-half">
                      <span class="data-item bold-xlarge">{{staffTotals.scrutiny}}</span>
                      <span class="data-item bold-xsmall">Scrutiny</span>
                    </div>
                </div>
                <p><a href="/{{path2}}/{{centre.id}}/manage-staff/new-staff" class="button">Add staff</a></p>
            </div>
        </div>
    </div>
    <!-- row -->
</div>
<!-- container -->
{% endblock %} {% block footer_top %} {{ super() }} {# {% include path1+"/footer_links.html" %} #} {% endblock %}