{% extends path+"/_layout-case-simple.html" %}


{% block actioncolumn %}
   
<p class="returnRef"><a href="/fha/v8/ed-referrals">Return to case list</a></p>
<hr>
<div class="case-status">
<p class="mt10 mb0 bold-small">
  {% if data['whatcando']=='Yes'%}
  Ready for review
  {% elif data['whatcando']=='No'%}
  Ready to book
  
  {% else %}
  DNA re-referral
  {% endif %}
  

</p>
{% if data['whatcando']=='Yes'%}
<p class="mt10"><a href="/{{path }}/scrutiny/review-or-appointment" class="button">Make a recommendation</a></p>
{% elif data['whatcando']=='No'%}


{% else %}
<p class="mt10"><a href="/{{path }}/scrutiny/review-or-appointment" class="button">Make referral choice</a></p>
{% endif %}

<hr>
<ul class="secondary-actions">
<li><a href="/fha/v8/scrutiny/5bbf32d57bd22e18e6266974/evidence/request-evidence" class="">Request evidence</a></li>
<li><a href="/fha/v8/scrutiny/5bbf32d57bd22e18e6266974/evidence/request-evidence" class="">Record evidence</a></li>
</ul>
</div>

{% endblock %}

{% block citizen_detail %}
Bobby Henderson
{% endblock %}

{% block citizen_content %}




<div class="container">
  <div class="grid-row">
    <div class="column-full">
    
    {# macro #}
  {{ nav.case_tabs("details-referral",1,path1, customer._id) }}
    
  <div class="grid-row">
    <div class="column-third">
      
        <div class="details-nav">
      <ul>
      <li class="active_detail"><a href="">Illnesses disabilities and medication</a></li>
      <li><a href="">Contact details </a></li>
      <li><a href="">GP details</a></li>
      <li><a href="">Other healthcare professionals</a></li>
          </ul>
          
        </div>
      
    </div><!-- column -->
    <div class="column-two-thirds">

           <h1 class="heading-large mt10">Illnesses, disabilities and medication </h1>
          <h2 class="heading-medium">Recorded illnesses and disabilities</h2>
          <p class=""><a href="/fha/v8/scrutiny/5bbf32d5043f00fdd9b4a8b6/evidence/not-testing" class="button secondary">Add or edit illnesses and disabilities</a></p>
          <div class="table-layout">
          <table>
              <caption class="visually-hidden">List of illnesses and disabilities</caption>
              <thead>
                  <tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
                      <th>Name</th>
                      <th>Source</th>
                      <th>Since</th>
                  
                  </tr>
              </thead>
              <tbody>
                  
                  <tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
                      <td>Depression</td>
                      <td>Claimant</td>
                      <td class="text-secondary">January 2014</td>
                  
                  </tr>
                  
                  <tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
                      <td>Back spasms</td>
                      <td>Claimant</td>
                      <td class="text-secondary">January 2014</td>
                  
                  </tr>
                  
                  
              </tbody>
          </table>
          </div>
          
          <h2 class="heading-medium">Medication and side effects</h2>
          <p class=""><a href="/fha/v8/scrutiny/5bbf32d5043f00fdd9b4a8b6/evidence/not-testing" class="button secondary">Add or edit medication or side effects</a></p>			
      
          
              
                  <table>
                      <caption class="visually-hidden">List of medication and side effects</caption>
                      <thead>
                          <tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
                              <th>Name</th>
                              <th>Dose</th>
                              <th>Side effects</th>
                          
                          </tr>
                      </thead>
                      <tbody>
  
                          
                              <tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
                                  <td>Cithalopram</td>
                                  <td>40mg</td>
                                  <td></td>
                              
                              </tr>
                          
                              <tr class="done" style="display:none"><td colspan="6"> added to ‘my referrals’&nbsp;&nbsp;<a href="#" class="undo">Undo</a></td></tr><tr>
                                  <td>Muscle rub</td>
                                  <td>Three times a day</td>
                                  <td></td>
                              
                              </tr>
                          
                          
                          
                      </tbody>
                  </table>
                  
    </div><!-- column-full -->
  </div>
    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
