{% extends path+"/_layout-case-baseline-review.html" %}


{% block actioncolumn %}

  <p class="returnRef"><a href="/{{path }}/scenario2/referrals-fme" class="link-back">Return to case list</a></p>
  <hr>
 <div class="case-status">


 {% if data['pbachoice']=='yes'%}
<p class="mt10 mb0 bold-small">
Ready for paper based assessment
</p>
<p><a href="/{{path }}/scenario11/not-testing" class="button">Start assessment</a></p>
{% else %}
<p class="mt10 mb0 bold-small">
Appointment booked
</p>
{% endif %}






<hr>
<!--<ul class="secondary-actions">

  <li><a href="/{{path }}/scrutiny-scenarios/scenario11/recordFME" class="">Record evidence</a></li>


  </ul>-->
</div>

{% endblock %}

{% block citizen_detail %}
Harvey Chamberlain
{% endblock %}

{% block citizen_content %}


{% if data['pbachoice'] %}


{% else %}




	<div class="panel panel-info panel-instruction fme-warning"><h2 class="heading-small">New evidence recorded</h2>
	   <ul class="numeric" data-id="">
	       <li>
	         <span class="circle circle-step circle-white">1</span>
	         <h2 class="govuk-heading-m">Bobby's case should be reviewed before making a recommendation</h2>
	       </li>

	       <li>
	         <span class="circle circle-step circle-white">2</span>
	         <h2 class="govuk-heading-m"><a href="/{{path }}/scenario11/recordFMEdecision">Make recommendation</a></h2>
	       </li>
	     </ul>
	</div>


{% endif %}



<div class="container">


  <div class="grid-row">






    <div class="column-full">


    {# macro #}
  {{ nav.case_tabs("timeline-fme",1,path1, customer._id) }}


  <div class="timeline">



{% if data['pbachoice']=='yes'%}
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">Referred for paper based assessment</h3>
  <p class="timeline_datetime">24th June 2019</p>
</div>
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">Appointment cancelled</h3>
  <p class="timeline_datetime">24th June 2019</p>
</div>
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP Report - evidence reviewed</h3>
  <p class="timeline_datetime">24th June 2019</p>
</div>

{% elif data['pbachoice']=='no'%}
 <span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP Report - evidence reviewed</h3>
  <p class="timeline_datetime">24th June 2019</p>
</div>

{% endif %}




		 <span class="line"></span>
			<div class="timeline__event">
			  <h3 class="timeline__heading">GP Report - medical evidence recorded</h3>
			  <p class="timeline_datetime">24th June 2019</p>
			</div>


        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Appointment letter sent</h3>
          <p class="timeline_datetime">20th June 2019</p>
        </div>

        <span class="line"></span>
		<div class="timeline__event">
		  <h3 class="timeline__heading">GP Report - medical evidence overdue</h3>
		  <p class="timeline_datetime">19th June 2019</p>
		</div>


        <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Appointment booked</h3>
          <p class="timeline_datetime">8th June 2019</p>
        </div>

      <span class="line"></span>
        <div class="timeline__event">
          <h3 class="timeline__heading">Referred for appointment</h3>
          <p class="timeline_datetime">4th June 2019</p>
        </div>




<span class="line"></span>
<div class="timeline__event">
  <h3 class="timeline__heading">GP Report - medical evidence requested</h3>
  <p class="timeline_datetime">4th June 2019</p>
</div>





      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">Med 3 - medical evidence recorded </h3>
        <p class="timeline_datetime">2nd June 2019</p>
      </div>
      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">UC50 form recorded</h3>
        <p class="timeline_datetime">1st June 2019</p>
      </div>

      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">UC50 form posted</h3>
        <p class="timeline_datetime">25th May 2019</p>
      </div>



      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading">New referral created</h3>
        <p class="timeline_datetime">25th May 2019</p>
      </div>



      <div style="clear:both"></div>

    </div>

    </div><!-- column -->


  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
