{% extends path+"/_layout.html" %}
{% import path1+"/_macros_nav.html" as nav %}

{% block assess_content %}

  {#  This is the BIG BLUE BAR at the top - #jussayin #}
  {% include path1+"/_staff_heading.html" %}

  <main id="content" role="main" class="main-content-inner">

    <div class="container">
    
      <div class="grid-row main-row">
      
      <div class="column-one-quarter left-area">
      
      	<div class="left-panel">
      
      	
      	
      	
      	 <div class="case-status">
		 
 <p class="mt10 mb0 bold-small"><span class="circle red"></span>Ready for assessment</p>
		  <p class="mt10">Assigned to Heather Harrison</p>
		  <p><a href="/assess/v9d/victorcastillo/evidence/wca-index" class="button">Start assessment</a></p>
		  <hr>
		  <ul class="mt30">
		  	<!-- <li><a href="/assess/v6/victorcastillo/evidence/rec">Make a recommendation</a></li> -->
		    <!-- <li class="mt10"><a href="#">Record new evidence</a></li> -->
		   <!--  <li class="mt10"><a href="#">Request evidence</a></li>  -->
	    </ul>
		  </div>
      	
      	
      	</div>
      
      </div>
      
        <div class="column-three-quarters main-area">

          <div nunj-block="citizen_content">
            {% block citizen_content %}{% endblock %}
          </div>

        </div><!-- column -->
        
        
      </div><!-- row -->
    </div><!-- container -->

  </main>

{% endblock %}

{% block page_scripts %}
{{ super }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.function_link').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      console.log(href)
      $.ajax({
        url: href,
        method: "GET",
        complete:  function(data,status,xhr) {
          console.log(data)
          document.location.reload(true);
        }
      });
    });
  });
</script>
{% endblock %}

{% block footer_top %}
{{ super() }}
<p class="font-xsmall">
  <a href="/{{ path }}/clearSession" id="clear_data" class="function_link">clear data</a>
  | <a href="/{{ path }}/prefillAssessment" id="prefill" class="function_link">prefill</a>
</p>
{% endblock %}
