{% extends path1+"/_layoutRecording.html" %}

{% block citizen_content %}




<div class="container">


  <div class="grid-row">
  
  
 
  
  	

    <div class="column-full">
    
    
    	<p class="no-kdBar"><a href="javascript: history.go(-1)" class="link-back">Back</a></p>
		
		
	
				
				
	
				<h1 class="heading-large">OOPS! were not testing this funtionality today</h1></legend>
				
				<p class="lede">Dont worry just use the back button above and we'll just carry on with the test.</p>
				
				</div>

				

				

				
		
					



  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{# {% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %} #}
