{% extends path+"/_layout.html" %}



{% block assess_content %}

  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
 
        <li class="selected"><a href="#">Appointments</a></li>
        <li><a href="assessment-centres">Manage my centre</a></li>
    </ul>
  </div>
</div>

<main id="content" role="main" class="main-content mt30">
    <div class="container">
        <div class="grid-row">
            <div class="column-one-quarter">
                <div class="evidence__leftnav">
                    <a href="#" " class="evidence__item mb10 active_detail">
              <h3 class="heading-small mt10 mb5 ">Tresco House</h3>
            </a>
          <a href="#" class="evidence__item mb10 ">
              <h3 class="heading-small mt10 mb5 ">Fiveways</h3>
            </a>
           </div>
          </div>
          <div class="column-three-quarters">
          <section>
          <div class="column-full"><h1 class="heading-large mt0">Appointments</h1></div>
            <div class="column-one-quarter">
                <div class="data">
                    <span class="data-item bold-xxlarge">10</span>
                    <span class="data-item bold-xsmall">Appointments today</span>
                    <p><a href="todays_appointments" title="">View today's appointments</a></p>
                </div>
            </div>
            <div class="column-one-quarter ">
                <div class="data ">
                    <span class="data-item bold-xxlarge">3</span>
                    <span class="data-item bold-xsmall">Failed to attent yesterday</span>
                    <p><a href="appointments" title="">View details</a></p>
                </div>
            </div>
            <div class="column-one-quarter ">
                <div class="data ">
                    <span class="data-item bold-xxlarge">1</span>
                    <span class="data-item bold-xsmall">Sent home yesterday</span>
                    <p><a href="appointments" title="">View details</a></p>
                </div>
            </div>
          </section>
          <section>
          <div class="column-full">
            <h1 class="heading-large">Capacity management</h1>
          </div>

            <div class="column-one-quarter ">
                <div class="data ">
                    <span class="data-item bold-xxlarge">26</span>
                    <span class="data-item bold-xsmall">Appointments need scheduling</span>
                    <p><a href="appointments" title="">View scheduling</a></p>
                </div>
            </div>
            <div class="column-one-quarter">
                <div class="data">
                    <span class="data-item bold-xxlarge">54</span>
                    <span class="data-item bold-xsmall">Scrutiny cases outstandng</span>
                    <p><a href="todays_appointments" title="">View scrutiny case list</a></p>
                </div>
            </div>
          </section>
        </div>
        </div>
</main>
{% endblock %}
