{% extends path+"/_layout.html" %}

{% block assess_content %}

<main id="content" role="main" class="main-content">

      <div class="container">
          {% include path+"/caselist/_nav.html" %}
          <div class="grid-row">
            <div class="column-one-quarter">
                {% include path+"/caselist/_search-box.html" %}
  
              <div class="details-nav v2">
             <ul>
                <!-- <li>
                    <a href="caselist.html">All cases</a>
                  </li> -->
             <li>
             <a href="referrals">Referral's (28)</a>
           </li>
           <li>
              <a href="review">Review's (10)</a>

            </li>
              <li>
                  <a href="appointments">Appointments (10)</a>
                </li>
                <li class="active_detail">
                    <a href="assessment">Todays assessments (0)</a>
                  </li>
          </ul>
        </div>
          </div>
          <div class="column-three-quarters">
            <h2 class="heading-medium mt0"><span class="heading-xlarge">0</span><br/>Assessments</h2>
              <table class="zebra">

                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                   
                  </tr>
                </thead>
                
      

              </table>
          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

</main>

{% endblock %}
