{% macro scenario_tabs(selected,num,path, id) %}
  <div class="section-tabs js-tabs clearfix mb20">
    <ul>

      {% set navs = [
        {url:"timeline-review",label:"Timeline"},
        {url:"contact",label:"Contact"},
        {url:"details-fme",label:"Medical"},
        {url:"evidence-portal",label:"Evidence"},
		{url:"appointment-fme",label:"Appointment"}
        ] %} 
   
      {% for item in navs %}
        <li {% if item.url == selected %} class="active"{% endif %}><a href="/fha/scrutiny-scenarios/scenario8/{{ item.url }}/">{{ item.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
