{% extends path1+"/_layout.html" %}
{% import path1+"/_macros_nav.html" as nav %}
{% import path1+"/_macros_nav_fta.html" as navfta %}

{% block assess_content %}



  <main id="content" role="main" class="main-content-inner">

    <div class="container">
    
      <div class="grid-row main-row">
      
      <div class="column-one-quarter left-area">
      
      	<div class="left-panel">
      
      
            <p class="returnRef"><a href="">Return to case list</a></p>
            <hr>
            <p class="mt10 mb0 bold-small">{{ 'Did not attend' if customer.status == 'Failed to attend appointment' }}</p> 
           
            {% if data['whatcando']%}
            <p class="mt10 mb0 bold-small">DNA Re-referral</p> 
            {% endif %}
            {% if customer.status == 'good cause not accepted' %}
            <p class="mt10 mb0 bold-small">Good cause not accepted</p>
            <p><a href="" class="button">Do something maybe</a></p>
            {% else %}
          
            <p><a href="/{{path}}/decisionmaker/{{customer._id}}/decision/index" class="button">Record a decision</a></p>
             {% endif %}
      	    
      	</div>
      
      </div>
      
        <div class="column-three-quarters main-area">
        
 {% include path+"/includes/_staff_headingAlone.html" %}

          <div nunj-block="citizen_content">
            {% block citizen_content %}{% endblock %}
          </div>

        </div><!-- column -->
        
        
      </div><!-- row -->
    </div><!-- container -->

  </main>

{% endblock %}

{% block page_scripts %}
{{ super }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.function_link').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      console.log(href)
      $.ajax({
        url: href,
        method: "GET",
        complete:  function(data,status,xhr) {
          console.log(data)
          document.location.reload(true);
        }
      });
    });
  });
</script>
{% endblock %}

{% block footer_top %}
{{ super() }}

{% endblock %}
