.search-box-container{
    #nino { }
    #search-submit{
        background: $black  url('/public/images/search-button.png') no-repeat 2px 50%;
        height: 38px;
        width: 38px;
        border: 0;
        margin-left: -4px;
        text-indent: -5000px;
        position: relative;
        top: -1px;
    }
}
